<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/BDSN_ShipCrew_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](http://1.bp.blogspot.com/-nqAGzznZQNo/UwS8rxjfXeI/AAAAAAAABTA/nunmRLowpps/s1600/PraxisLogo.gif)<br>
[Data Science Program](http://praxis.ac.in/Programs/business-analytics/)

<hr>

[Prithwis Mukerjee](http://www.yantrajaal.com)<br>

# BDSN Ship Crews <br>
https://www.geeksforgeeks.org/pyspark-linear-regression-using-apache-mllib/

# Initialise

## Deprecated -- do not use

In [ ]:
#!apt-get update > /dev/null
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://apache.osuosl.org/spark/spark-2.2.2/spark-2.2.2-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
#wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
#
# if the current version of Spark is not used, there may be errors
# check here for current versions http://apache.osuosl.org/spark
#
#!tar xf spark-2.4.0-bin-hadoop2.7.tgz
#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!tar xf spark-2.4.6-bin-hadoop2.7.tgz
#!tar xf spark-3.0.1-bin-hadoop3.2.tgz
#!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark
#!pip install -q pyspark

In [ ]:
#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
#os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

## Install Spark, current version

In [ ]:
#import findspark
#findspark.init()
!pip3 install -q pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Praxis_Shipping').master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

     |████████████████████████████████| 281.4 MB 44 kB/s
     |████████████████████████████████| 199 kB 44.6 MB/s
  Building wheel for pyspark (setup.py) ... done

# Load Data <br>
Data is available at https://drive.google.com/file/d/1fLGDQjsnA3RzTzzEVDpHxyy5ERzcV9Qw/view?usp=sharing

In [ ]:
# Get Data
#!gdown https://drive.google.com/uc?id=1fLGDQjsnA3RzTzzEVDpHxyy5ERzcV9Qw
!wget -q 'https://raw.githubusercontent.com/Praxis-QR/BDSN/main/data/ML/ShippingCrewInfo.csv'

In [ ]:
!ls -al

total 28
drwxr-xr-x 1 root root 4096 Nov 22 04:44 .
drwxr-xr-x 1 root root 4096 Nov 22 04:41 ..
drwxr-xr-x 4 root root 4096 Nov 18 14:33 .config
drwxr-xr-x 1 root root 4096 Nov 18 14:34 sample_data
-rw-r--r-- 1 root root 8734 Nov 22 04:44 ShippingCrewInfo.csv

In [ ]:
crew_df=spark.read.csv('/content/ShippingCrewInfo.csv',inferSchema=True,header=True)
crew_df.show(10)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 10 rows

In [ ]:
#prints structure of dataframe along with datatype
crew_df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

# Pre Processing : Indexing, Vectorising

In [ ]:
#columns identified as features are as below:
#['Cruise_line','Age','Tonnage','passengers','length','cabins','passenger_density']
#to work on the features, spark MLlib expects every value to be in numeric form
#feature 'Cruise_line is string datatype
#using StringIndexer, string type will be typecast to numeric datatype
#import library strinindexer for typecasting
  
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCol='Cruise_line',outputCol='cruise_cat')
crew_df2 = indexer.fit(crew_df).transform(crew_df)                        # indexer.fit(crew_df) is a Transformer
  
#above code will convert string to numeric feature and create a new dataframe
#new dataframe contains a new feature 'cruise_cat' and can be used further
#feature cruise_cat is now vectorized and can be used to fed to model
crew_df2.head(10)

[Row(Ship_name='Journey', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55, cruise_cat=16.0),
 Row(Ship_name='Quest', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55, cruise_cat=16.0),
 Row(Ship_name='Celebration', Cruise_line='Carnival', Age=26, Tonnage=47.262, passengers=14.86, length=7.22, cabins=7.43, passenger_density=31.8, crew=6.7, cruise_cat=1.0),
 Row(Ship_name='Conquest', Cruise_line='Carnival', Age=11, Tonnage=110.0, passengers=29.74, length=9.53, cabins=14.88, passenger_density=36.99, crew=19.1, cruise_cat=1.0),
 Row(Ship_name='Destiny', Cruise_line='Carnival', Age=17, Tonnage=101.353, passengers=26.42, length=8.92, cabins=13.21, passenger_density=38.36, crew=10.0, cruise_cat=1.0),
 Row(Ship_name='Ecstasy', Cruise_line='Carnival', Age=22, Tonnage=70.367, passengers=20.52, length=8.55, cabins=10.2, passenger_density=34.29, crew=9.2, cruise_cat=1.0),
 Row(Ship_name='Elation', Cruise_line='Carnival', Age=15, Tonnage=70.367, passengers=20.52, length=8.55, cabins=10.2, passenger_density=34.29, crew=9.2, cruise_cat=1.0),
 Row(Ship_name='Fantasy', Cruise_line='Carnival', Age=23, Tonnage=70.367, passengers=20.56, length=8.55, cabins=10.22, passenger_density=34.23, crew=9.2, cruise_cat=1.0),
 Row(Ship_name='Fascination', Cruise_line='Carnival', Age=19, Tonnage=70.367, passengers=20.52, length=8.55, cabins=10.2, passenger_density=34.29, crew=9.2, cruise_cat=1.0),
 Row(Ship_name='Freedom', Cruise_line='Carnival', Age=6, Tonnage=110.23899999999999, passengers=37.0, length=9.51, cabins=14.87, passenger_density=29.79, crew=11.5, cruise_cat=1.0)]

In [ ]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
#creating vectors from features
#Apache MLlib takes input if vector form
assembler=VectorAssembler(inputCols=['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'cruise_cat'],outputCol='features')
crew_df3=assembler.transform(crew_df2)                              # assember is a Transformer
crew_df3.head(5)
#crew_df3.select('features','crew').show(10)

[Row(Ship_name='Journey', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55, cruise_cat=16.0, features=DenseVector([6.0, 30.277, 6.94, 5.94, 3.55, 42.64, 16.0])),
 Row(Ship_name='Quest', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55, cruise_cat=16.0, features=DenseVector([6.0, 30.277, 6.94, 5.94, 3.55, 42.64, 16.0])),
 Row(Ship_name='Celebration', Cruise_line='Carnival', Age=26, Tonnage=47.262, passengers=14.86, length=7.22, cabins=7.43, passenger_density=31.8, crew=6.7, cruise_cat=1.0, features=DenseVector([26.0, 47.262, 14.86, 7.22, 7.43, 31.8, 1.0])),
 Row(Ship_name='Conquest', Cruise_line='Carnival', Age=11, Tonnage=110.0, passengers=29.74, length=9.53, cabins=14.88, passenger_density=36.99, crew=19.1, cruise_cat=1.0, features=DenseVector([11.0, 110.0, 29.74, 9.53, 14.88, 36.99, 1.0])),
 Row(Ship_name='Destiny', Cruise_line='Carnival', Age=17, Tonnage=101.353, passengers=26.42, length=8.92, cabins=13.21, passenger_density=38.36, crew=10.0, cruise_cat=1.0, features=DenseVector([17.0, 101.353, 26.42, 8.92, 13.21, 38.36, 1.0]))]

In [ ]:
#final data consist of features and label which is crew.
data=crew_df3.select('features','crew')
#splitting data into train and test
train_data,test_data=data.randomSplit([0.7,0.3])
train_data.describe().show()

+-------+------------------+
|summary|              crew|
+-------+------------------+
|  count|               105|
|   mean|  7.75695238095239|
| stddev|3.5848495633626496|
|    min|              0.59|
|    max|              21.0|
+-------+------------------+

# Regression
Read this https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.regression.LinearRegression.html

In [ ]:
#import LinearRegression library
from pyspark.ml.regression import LinearRegression
#creating an object of class LinearRegression
#object takes features and label as input arguments
ship_lr=LinearRegression(featuresCol='features',labelCol='crew')
#pass train_data to train model
trained_ship_model=ship_lr.fit(train_data)                     # trained_ship_model, a TRAINED model, is a Transformer
#evaluating model trained for Rsquared error
ship_results=trained_ship_model.evaluate(train_data)
  
print('Rsquared Error :',ship_results.r2)
#R2 value shows accuracy of model is 92%
#model accuracy is very good and can be use for predictive analysis

Rsquared Error : 0.9192159502756561

## Prediction

### With Unlabelled Data

In [ ]:
#testing Model on unlabeled data
#create unlabeled data from test_data
#testing model on unlabeled data
unlabeled_data=test_data.select('features')
unlabeled_data.show(5)

+--------------------+
|            features|
+--------------------+
|[5.0,122.0,28.5,1...|
|[5.0,133.5,39.59,...|
|[6.0,30.276999999...|
|[6.0,93.0,23.94,9...|
|[6.0,112.0,38.0,9...|
+--------------------+
only showing top 5 rows

In [ ]:
predictions=trained_ship_model.transform(unlabeled_data)      # the Transformer, trained_ship_model, is transforming data, unlabelled_data
predictions.show()
#below are the results of output from test data

+--------------------+------------------+
|            features|        prediction|
+--------------------+------------------+
|[5.0,122.0,28.5,1...|5.2654149648965785|
|[5.0,133.5,39.59,...|13.003852753573979|
|[6.0,30.276999999...|4.3399871892639155|
|[6.0,93.0,23.94,9...|10.568567059857878|
|[6.0,112.0,38.0,9...|11.371416184827538|
|[6.0,113.0,37.82,...|11.808737448270891|
|[6.0,158.0,43.7,1...|13.692251918749726|
|[7.0,116.0,31.0,9...|12.746900707434175|
|[7.0,158.0,43.7,1...|13.628000233912626|
|[9.0,81.0,21.44,9...| 9.565180375404008|
|[9.0,88.5,21.24,9...| 9.517955467747617|
|[9.0,90.09,25.01,...| 9.217653776924353|
|[9.0,105.0,27.2,8...|11.283958733542041|
|[9.0,116.0,26.0,9...|11.001800344772224|
|[10.0,58.825,15.6...| 7.298518135024919|
|[10.0,77.0,20.16,...| 8.748080833748046|
|[10.0,81.76899999...| 8.689860387522549|
|[10.0,151.4,26.2,...| 10.38511754175572|
|[11.0,58.6,15.66,...| 7.445291827036618|
|[11.0,86.0,21.24,...| 9.492782265173357|
+--------------------+------------------+
only showing top 20 rows

### With Labelled Data

In [ ]:
# Generate predictions
predicted2 = trained_ship_model.transform(test_data)          # the Transformer, trained_ship_model, is transforming data, test_data
predicted2.show()

+--------------------+-----+------------------+
|            features| crew|        prediction|
+--------------------+-----+------------------+
|[5.0,122.0,28.5,1...|  6.7|5.2654149648965785|
|[5.0,133.5,39.59,...|13.13|13.003852753573979|
|[6.0,30.276999999...| 3.55|4.3399871892639155|
|[6.0,93.0,23.94,9...|11.09|10.568567059857878|
|[6.0,112.0,38.0,9...| 10.9|11.371416184827538|
|[6.0,113.0,37.82,...| 12.0|11.808737448270891|
|[6.0,158.0,43.7,1...| 13.6|13.692251918749726|
|[7.0,116.0,31.0,9...| 12.0|12.746900707434175|
|[7.0,158.0,43.7,1...| 13.6|13.628000233912626|
|[9.0,81.0,21.44,9...| 10.0| 9.565180375404008|
|[9.0,88.5,21.24,9...| 10.3| 9.517955467747617|
|[9.0,90.09,25.01,...| 8.69| 9.217653776924353|
|[9.0,105.0,27.2,8...|10.68|11.283958733542041|
|[9.0,116.0,26.0,9...| 11.0|11.001800344772224|
|[10.0,58.825,15.6...|  7.0| 7.298518135024919|
|[10.0,77.0,20.16,...|  9.0| 8.748080833748046|
|[10.0,81.76899999...| 8.42| 8.689860387522549|
|[10.0,151.4,26.2,...|12.53| 10.38511754175572|
|[11.0,58.6,15.66,...|  7.6| 7.445291827036618|
|[11.0,86.0,21.24,...|  9.3| 9.492782265173357|
+--------------------+-----+------------------+
only showing top 20 rows

In [ ]:
trained_ship_model.setPredictionCol("PraxisPredictions!")

LinearRegressionModel: uid=LinearRegression_4f1060ddd350, numFeatures=7

In [ ]:
# Generate predictions
predicted3 = trained_ship_model.transform(test_data)
predicted3.show()

+--------------------+-----+------------------+
|            features| crew|PraxisPredictions!|
+--------------------+-----+------------------+
|[5.0,122.0,28.5,1...|  6.7|5.2654149648965785|
|[5.0,133.5,39.59,...|13.13|13.003852753573979|
|[6.0,30.276999999...| 3.55|4.3399871892639155|
|[6.0,93.0,23.94,9...|11.09|10.568567059857878|
|[6.0,112.0,38.0,9...| 10.9|11.371416184827538|
|[6.0,113.0,37.82,...| 12.0|11.808737448270891|
|[6.0,158.0,43.7,1...| 13.6|13.692251918749726|
|[7.0,116.0,31.0,9...| 12.0|12.746900707434175|
|[7.0,158.0,43.7,1...| 13.6|13.628000233912626|
|[9.0,81.0,21.44,9...| 10.0| 9.565180375404008|
|[9.0,88.5,21.24,9...| 10.3| 9.517955467747617|
|[9.0,90.09,25.01,...| 8.69| 9.217653776924353|
|[9.0,105.0,27.2,8...|10.68|11.283958733542041|
|[9.0,116.0,26.0,9...| 11.0|11.001800344772224|
|[10.0,58.825,15.6...|  7.0| 7.298518135024919|
|[10.0,77.0,20.16,...|  9.0| 8.748080833748046|
|[10.0,81.76899999...| 8.42| 8.689860387522549|
|[10.0,151.4,26.2,...|12.53| 10.38511754175572|
|[11.0,58.6,15.66,...|  7.6| 7.445291827036618|
|[11.0,86.0,21.24,...|  9.3| 9.492782265173357|
+--------------------+-----+------------------+
only showing top 20 rows

In [ ]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2022-11-22 10:17:07.362939+05:30

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)