<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/BDSN_OLAP_Cubes_with_Spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

OLAP Cubes <br>
https://docs.google.com/presentation/d/1rx_ek2E1F5MNberY2bxeRuEfPOeuVM_WcdAKyAbF_EQ/edit?usp=sharing <br>
[Bigger Slide Deck](https://docs.google.com/presentation/d/1wQzZoHFo3NVk-dMTebHA4LH7B4KYmOfiSammjsSRGL0/edit?usp=sharing)

In [1]:
from datetime import datetime
import pytz
print('Tested',datetime.now(pytz.timezone('Asia/Calcutta')))

Tested 2023-05-24 11:27:50.235497+05:30

#Install Spark

## Manual Approach - Deprecated

In [ ]:
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://apache.osuosl.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz 
!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
#
# if the current version of Spark is not used, there may be errors
# check here for current versions http://apache.osuosl.org/spark
#

#!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark
!pip install -q pyspark
# -------------------------------------------------
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

#os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"
# ----------------------
#import findspark
#findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
# ----------------------------------------
sc = spark.sparkContext
sc

     |████████████████████████████████| 281.3 MB 42 kB/s
     |████████████████████████████████| 198 kB 46.4 MB/s
  Building wheel for pyspark (setup.py) ... done

## Direct PIP Approach

In [2]:
#!pip3 -q install pyspark==3.0.3
!pip3 -q install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
# ----------------------------------------
sc = spark.sparkContext
sc

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

#Car Sales Data ( Small )

##Load Data

In [3]:
# https://drive.google.com/file/d/1JBGx9yMxpHrUO5BUmr12TpDDwLGLmal-/view
#!gdown "https://drive.google.com/uc?id=1JBGx9yMxpHrUO5BUmr12TpDDwLGLmal-"
!wget -q 'https://raw.githubusercontent.com/Praxis-QR/BDSN/main/data/OLAP/carsales2-noHeader.txt'
#!cat carsales2-noHeader.txt

##Process

In [4]:
data_file = "./carsales2-noHeader.txt" 
# data imported without headers
raw_data = sc.textFile(data_file).cache()                           # Create a Spark RDD

In [ ]:
#from pyspark.sql import SQLContext
#sqlContext = SQLContext(sc)

In [5]:
from pyspark.sql import Row
csv_data = raw_data.map(lambda l: l.split(","))
row_data = csv_data.map(lambda p: Row(                              #  Convert the RDD into a collection of Rows
    Make = p[0],                                                    #  names of columns
    Style = p[1],
    Colour = p[2],
    Sales = int(p[3])
  ))

##Inner SQL Temp Table / First Dataframe

In [6]:
#CarSales_df = sqlContext.createDataFrame(row_data)
#CarSales_df.registerTempTable("CarSales2")
CarSales_df = spark.createDataFrame(row_data)                       # Create a Spark Dataframe
CarSales_df.createOrReplaceTempView("CarSales2")                    # Create a Spark Table

In [7]:
CarSales_df.show()

+------+-------+------+-----+
|  Make|  Style|Colour|Sales|
+------+-------+------+-----+
| Honda|    SUV|   Red|   31|
| Honda|    SUV|  Blue|   46|
| Honda|    SUV| Green|   48|
| Honda|  Sedan|   Red|   25|
| Honda|  Sedan|  Blue|   41|
| Honda|  Sedan| Green|   34|
| Honda|Compact|   Red|   48|
| Honda|Compact|  Blue|   26|
| Honda|Compact| Green|   32|
|Toyota|    SUV|   Red|   39|
|Toyota|    SUV|  Blue|   45|
|Toyota|    SUV| Green|   50|
|Toyota|  Sedan|   Red|   41|
|Toyota|  Sedan|  Blue|   28|
|Toyota|  Sedan| Green|   21|
|Toyota|Compact|   Red|   44|
|Toyota|Compact|  Blue|   50|
|Toyota|Compact| Green|   26|
| Mazda|    SUV|   Red|   29|
| Mazda|    SUV|  Blue|   28|
+------+-------+------+-----+
only showing top 20 rows

In [8]:
#sqlContext.sql("SELECT * FROM CarSales2").show()
spark.sql("SELECT * FROM CarSales2").show()

+------+-------+------+-----+
|  Make|  Style|Colour|Sales|
+------+-------+------+-----+
| Honda|    SUV|   Red|   31|
| Honda|    SUV|  Blue|   46|
| Honda|    SUV| Green|   48|
| Honda|  Sedan|   Red|   25|
| Honda|  Sedan|  Blue|   41|
| Honda|  Sedan| Green|   34|
| Honda|Compact|   Red|   48|
| Honda|Compact|  Blue|   26|
| Honda|Compact| Green|   32|
|Toyota|    SUV|   Red|   39|
|Toyota|    SUV|  Blue|   45|
|Toyota|    SUV| Green|   50|
|Toyota|  Sedan|   Red|   41|
|Toyota|  Sedan|  Blue|   28|
|Toyota|  Sedan| Green|   21|
|Toyota|Compact|   Red|   44|
|Toyota|Compact|  Blue|   50|
|Toyota|Compact| Green|   26|
| Mazda|    SUV|   Red|   29|
| Mazda|    SUV|  Blue|   28|
+------+-------+------+-----+
only showing top 20 rows

In [9]:
#sums_df = sqlContext.sql("""          
                                                        # Spark DF from output of Spark SQL
sums_df = spark.sql("""                                 
  SELECT                                    
    Make,
    SUM(IF(Style='SUV',Sales,0)) SUV,
    SUM(IF(Style='Sedan',Sales,0)) Sedan,
    SUM(IF(Style='Compact',Sales,0)) Compact
  FROM CarSales2
  GROUP BY Make WITH ROLLUP
""")
sums_df.show()

+------+---+-----+-------+
|  Make|SUV|Sedan|Compact|
+------+---+-----+-------+
|  null|356|  323|    362|
|Toyota|134|   90|    120|
| Honda|125|  100|    106|
| Mazda| 97|  133|    136|
+------+---+-----+-------+

##Outer SQL

In [10]:
#sums_df.registerTempTable("sums")
sums_df.createOrReplaceTempView("sums")                     # Spark DF to Spark Table


#CrossTab = sqlContext.sql("""
CrossTab = spark.sql("""
 SELECT
  IFNULL(Make,'#Totals') AS Dims,       
  SUV, Sedan, Compact,   
  SUV + Sedan + Compact AS Totals
 from sums
 order by Dims desc
""")
CrossTab.show()

+-------+---+-----+-------+------+
|   Dims|SUV|Sedan|Compact|Totals|
+-------+---+-----+-------+------+
| Toyota|134|   90|    120|   344|
|  Mazda| 97|  133|    136|   366|
|  Honda|125|  100|    106|   331|
|#Totals|356|  323|    362|  1041|
+-------+---+-----+-------+------+

#Super Store Data ( Large)

##Load Data
Super Store Order Data https://drive.google.com/file/d/13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ/view?usp=sharing <br>
Original Data from [Tableau](https://community.tableau.com/docs/DOC-1236)

In [11]:
#!wget -q -O SS_Orders2.csv 'https://drive.google.com/uc?export=download&id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ'
!wget -q -O SS_Orders2.csv 'https://github.com/Praxis-QR/BDSN/raw/main/data/OLAP/SS_Orders.csv'
!head SS_Orders2.csv

Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0,41.9136
2,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,3,0,219.582
3,CA-2016-138688,12/06/2016,16/06/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.62,2,0,6.8714
4,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031
5,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
6,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,"Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood",48.86,7,0,14.1694
7,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0,1.9656
8,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
9,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by Samsill,18.504,3,0.2,5.7825

##Clean Up

In [12]:
data_file = 'SS_Orders2.csv'
raw_data = sc.textFile(data_file)
print ("Data Size", raw_data.count())
#eCommerce_df = spark.read.csv(data_file,inferSchema=True, header=True)
Orders_df = spark.read.csv(data_file,inferSchema=True, header=True)

Data Size 9995

In [ ]:
#Orders2_df = spark.read.csv(data_file,inferSchema=True, header=True)

In [13]:
#eCommerce_df.printSchema()
Orders_df.printSchema()
# NOTE that everything is read as string ... this will not do!
# There are " and , in the data which is causing the problem

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

In [ ]:
#!head SS_Orders2.csv

### Using Pandas and Regex to clean up the data

In [14]:
#we remove the CRLF character from the end of the row if it exists
!sed 's/\r//g' /content/SS_Orders2.csv > datafile.csv

# remove the first line containing headers from the file
#!sed -i -e "1d" datafile.csv     

!head datafile.csv

Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0,41.9136
2,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,3,0,219.582
3,CA-2016-138688,12/06/2016,16/06/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.62,2,0,6.8714
4,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031
5,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
6,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,"Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood",48.86,7,0,14.1694
7,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0,1.9656
8,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
9,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by Samsill,18.504,3,0.2,5.7825

In [15]:
# remove , and " from data
import pandas as pd
p_df = pd.read_csv('datafile.csv')

p_df2 = p_df.replace(',', ' ', regex=True)
p_df3 = p_df2.replace('"', '', regex=True)
p_df3.to_csv('datafile2.csv',index=False,sep=',')

!head datafile2.csv

Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
2,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs  Rounded Back,731.94,3,0.0,219.582
3,CA-2016-138688,12/06/2016,16/06/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.62,2,0.0,6.8714
4,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031
5,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
6,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Accessories  Cherry Wood,48.86,7,0.0,14.1694
7,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0.0,1.9656
8,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
9,CA-2014-115812,09/06/2014,14/06/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by Samsill,18.504,3,0.2,5.7825

In [16]:
data_file = 'datafile2.csv'
Orders2_df = spark.read.csv(data_file,inferSchema=True, header=True)

In [17]:
Orders2_df.printSchema()
# NOTE ... Sales, Quantity, Discount, Profit are now numeric

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [18]:
#Now convert dataframe into table called Orders
Orders2_df.createOrReplaceTempView("Orders")

In [19]:
Orders = spark.sql("SELECT * FROM Orders limit 10")
Orders.show()

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156|08/11/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156|08/11/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688|12/06/2016|16/06/2016|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|11/10/2015|18/10/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|11/10/2015|18/10/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|09/06/2014|14/06/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|09/06/2014|14/06/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|09/06/2014|14/06/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|09/06/2014|14/06/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|09/06/2014|14/06/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+

#Super Store Data Processing

##Simple Queries

In [20]:
spark.sql("SELECT * FROM Orders limit 5").show()

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156|08/11/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156|08/11/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688|12/06/2016|16/06/2016|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|11/10/2015|18/10/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|11/10/2015|18/10/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+

In [21]:
spark.sql("select count(Quantity) from Orders").show()

+---------------+
|count(Quantity)|
+---------------+
|           9994|
+---------------+

In [22]:
#spark.sql("select Category, Sum(Sales), Sum(Profit) from Orders group by Category").show()
spark.sql("select Category, Round(Sum(Sales),2) Sales, Round(Sum(Profit),2) Profit  from Orders group by Category").show()

+---------------+---------+---------+
|       Category|    Sales|   Profit|
+---------------+---------+---------+
|Office Supplies|719047.03| 122490.8|
|      Furniture| 741999.8| 18451.27|
|     Technology|836154.03|145454.95|
+---------------+---------+---------+

In [23]:
#spark.sql("select Region, Sum(Sales), Sum(Profit) from Orders group by Region").show()
spark.sql("select Region, Round(Sum(Sales)) Sales, round(Sum(Profit)) Profit from Orders group by Region").show()

+-------+--------+--------+
| Region|   Sales|  Profit|
+-------+--------+--------+
|  South|391722.0| 46749.0|
|Central|501240.0| 39706.0|
|   East|678781.0| 91523.0|
|   West|725458.0|108418.0|
+-------+--------+--------+

In [24]:
#spark.sql("select Segment, Sum(Sales), Sum(Profit) from Orders group by Segment").show()
spark.sql("select Segment, Round(Sum(Sales)) Sales, Round(Sum(Profit)) Profit from Orders group by Segment").show()

+-----------+---------+--------+
|    Segment|    Sales|  Profit|
+-----------+---------+--------+
|   Consumer|1161401.0|134119.0|
|Home Office| 429653.0| 60299.0|
|  Corporate| 706146.0| 91979.0|
+-----------+---------+--------+

In [25]:
#spark.sql("select Segment, Region, Sum(Sales) Sales from Orders group by Segment, Region").show()
spark.sql("select Segment, Region, round(Sum(Sales)) Sales from Orders group by Segment, Region").show()

+-----------+-------+--------+
|    Segment| Region|   Sales|
+-----------+-------+--------+
|Home Office|   West|136722.0|
|  Corporate|   West|225855.0|
|   Consumer|   West|362881.0|
|   Consumer|   East|350908.0|
|Home Office|Central| 91213.0|
|  Corporate|Central|157996.0|
|  Corporate|  South|121886.0|
|Home Office|  South| 74255.0|
|   Consumer|  South|195581.0|
|  Corporate|   East|200409.0|
|Home Office|   East|127464.0|
|   Consumer|Central|252031.0|
+-----------+-------+--------+

In [26]:
#spark.sql("select Segment, Region, Sum(Sales) Sales from Orders group by Segment, Region with Rollup").show()
spark.sql("select Segment, Region, round(Sum(Sales)) Sales from Orders group by Segment, Region with Rollup").show()

+-----------+-------+---------+
|    Segment| Region|    Sales|
+-----------+-------+---------+
|  Corporate|   null| 706146.0|
|Home Office|Central|  91213.0|
|   Consumer|Central| 252031.0|
|   Consumer|   West| 362881.0|
|Home Office|   West| 136722.0|
|  Corporate|  South| 121886.0|
|  Corporate|   West| 225855.0|
|       null|   null|2297201.0|
|Home Office|   East| 127464.0|
|Home Office|  South|  74255.0|
|  Corporate|Central| 157996.0|
|   Consumer|  South| 195581.0|
|   Consumer|   East| 350908.0|
|   Consumer|   null|1161401.0|
|  Corporate|   East| 200409.0|
|Home Office|   null| 429653.0|
+-----------+-------+---------+

##Cross Tabs

###Inner Table

In [27]:
sums_df = spark.sql("""   
    SELECT 
        Segment,
        SUM(IF(Region='Central',Sales,0)) As Central,
        SUM(IF(Region='East',Sales,0)) As East,
        SUM(IF(Region='West',Sales,0)) As West,
        SUM(IF(Region='South',Sales,0)) As South
    FROM Orders 
        GROUP BY Segment WITH ROLLUP 
""")
sums_df.show()

+-----------+------------------+------------------+------------------+------------------+
|    Segment|           Central|              East|              West|             South|
+-----------+------------------+------------------+------------------+------------------+
|Home Office| 91212.64399999994|127463.72599999998| 136721.7769999999| 74255.00150000004|
|  Corporate|       157995.8128|200409.34699999995|225855.27449999977|121885.93250000005|
|       null| 501239.8908000005| 678781.2399999979| 725457.8245000006| 391721.9050000003|
|   Consumer|252031.43400000007|350908.16700000066| 362880.7730000003|195580.97100000017|
+-----------+------------------+------------------+------------------+------------------+

###Outer Query

In [28]:
#sums_df.registerTempTable("sums")
sums_df.createOrReplaceTempView("sums")
#CrossTab = sqlContext.sql("""
CrossTab = spark.sql("""
 SELECT 
  IFNULL(Segment,'#Totals') Dims, 
  sums.Central, sums.East, sums.West,sums.South,
  sums.Central + sums.East + sums.West + sums.South Totals 
FROM sums
order by Dims desc
""")
CrossTab.show()

+-----------+------------------+------------------+------------------+------------------+------------------+
|       Dims|           Central|              East|              West|             South|            Totals|
+-----------+------------------+------------------+------------------+------------------+------------------+
|Home Office| 91212.64399999994|127463.72599999998| 136721.7769999999| 74255.00150000004| 429653.1484999999|
|  Corporate|       157995.8128|200409.34699999995|225855.27449999977|121885.93250000005| 706146.3667999997|
|   Consumer|252031.43400000007|350908.16700000066| 362880.7730000003|195580.97100000017|1161401.3450000011|
|    #Totals| 501239.8908000005| 678781.2399999979| 725457.8245000006| 391721.9050000003|2297200.8602999994|
+-----------+------------------+------------------+------------------+------------------+------------------+

In [29]:
CrossTab = spark.sql("""
 SELECT 
  IFNULL(Segment,'#Totals') Dims, 
  round(sums.Central,2) Central,
  round(sums.East,2) East,
  round(sums.West,2) West,
  round(sums.South,2) South,
  round(sums.Central + sums.East + sums.West + sums.South,2) Totals 
FROM sums
order by Dims desc
""")
CrossTab.show()

+-----------+---------+---------+---------+---------+----------+
|       Dims|  Central|     East|     West|    South|    Totals|
+-----------+---------+---------+---------+---------+----------+
|Home Office| 91212.64|127463.73|136721.78|  74255.0| 429653.15|
|  Corporate|157995.81|200409.35|225855.27|121885.93| 706146.37|
|   Consumer|252031.43|350908.17|362880.77|195580.97|1161401.35|
|    #Totals|501239.89|678781.24|725457.82|391721.91|2297200.86|
+-----------+---------+---------+---------+---------+----------+

## Auto Cleanup !
Bypassing Pandas, Using SPARK features

In [30]:
data_file = 'SS_Orders2.csv'
raw_dataNC = sc.textFile(data_file)
print ("Data Size", raw_dataNC.count())
#eCommerce_df = spark.read.csv(data_file,inferSchema=True, header=True)
Orders_dfNC = spark.read.csv(data_file,inferSchema=True, header=True, escape="\"",quote="\"")

Data Size 9995

In [31]:
#eCommerce_df.printSchema()
Orders_dfNC.printSchema()
# NOTE that everything is NOT read as string ... numeric data has been read correctly

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [32]:
#Now convert dataframe into table called OrdersNC
Orders_dfNC.createOrReplaceTempView("OrdersNC")

In [33]:
sums_dfNC = spark.sql("""   
    SELECT 
        Segment,
        SUM(IF(Region='Central',Sales,0)) As Central,
        SUM(IF(Region='East',Sales,0)) As East,
        SUM(IF(Region='West',Sales,0)) As West,
        SUM(IF(Region='South',Sales,0)) As South
    FROM OrdersNC 
        GROUP BY Segment WITH ROLLUP 
""")
sums_dfNC.show()

+-----------+------------------+------------------+------------------+------------------+
|    Segment|           Central|              East|              West|             South|
+-----------+------------------+------------------+------------------+------------------+
|Home Office| 91212.64399999994|127463.72599999998| 136721.7769999999| 74255.00150000004|
|  Corporate|       157995.8128|200409.34699999995|225855.27449999977|121885.93250000005|
|       null| 501239.8908000005| 678781.2399999979| 725457.8245000006| 391721.9050000003|
|   Consumer|252031.43400000007|350908.16700000066| 362880.7730000003|195580.97100000017|
+-----------+------------------+------------------+------------------+------------------+

In [34]:
#sums_df.registerTempTable("sums")
sums_dfNC.createOrReplaceTempView("sumsNC")
#CrossTab = sqlContext.sql("""
CrossTabNC = spark.sql("""
 SELECT 
  IFNULL(Segment,'#Totals') Dims, 
  sumsNC.Central, sumsNC.East, sumsNC.West, sumsNC.South,
  sumsNC.Central + sumsNC.East + sumsNC.West + sumsNC.South Totals 
FROM sumsNC
order by Dims desc
""")
CrossTabNC.show()

+-----------+------------------+------------------+------------------+------------------+------------------+
|       Dims|           Central|              East|              West|             South|            Totals|
+-----------+------------------+------------------+------------------+------------------+------------------+
|Home Office| 91212.64399999994|127463.72599999998| 136721.7769999999| 74255.00150000004| 429653.1484999999|
|  Corporate|       157995.8128|200409.34699999995|225855.27449999977|121885.93250000005| 706146.3667999997|
|   Consumer|252031.43400000007|350908.16700000066| 362880.7730000003|195580.97100000017|1161401.3450000011|
|    #Totals| 501239.8908000005| 678781.2399999979| 725457.8245000006| 391721.9050000003|2297200.8602999994|
+-----------+------------------+------------------+------------------+------------------+------------------+

In [35]:
#sums_df.registerTempTable("sums")
sums_dfNC.createOrReplaceTempView("sumsNC")
#CrossTab = sqlContext.sql("""
CrossTabNC = spark.sql("""
 SELECT 
  IFNULL(Segment,'#Totals') Dims, 
  round(sumsNC.Central,0) Central, round(sumsNC.East,0) East, round(sumsNC.West,0) West, round(sumsNC.South,0) South,
  round(sumsNC.Central + sumsNC.East + sumsNC.West + sumsNC.South,0) Totals 
FROM sumsNC
order by Dims desc
""")
CrossTabNC.show()


# Compare the output with Crosstabs generated with 
# MySQL https://github.com/Praxis-QR/RDWH/blob/main/Cross_Tab_with_OLAP_Cube_SQL_Superstore.ipynb
# Postgres https://github.com/Praxis-QR/RDWH/blob/main/CrossTab_Olap_Cube_Postgres_Superstore_Data.ipynb

+-----------+--------+--------+--------+--------+---------+
|       Dims| Central|    East|    West|   South|   Totals|
+-----------+--------+--------+--------+--------+---------+
|Home Office| 91213.0|127464.0|136722.0| 74255.0| 429653.0|
|  Corporate|157996.0|200409.0|225855.0|121886.0| 706146.0|
|   Consumer|252031.0|350908.0|362881.0|195581.0|1161401.0|
|    #Totals|501240.0|678781.0|725458.0|391722.0|2297201.0|
+-----------+--------+--------+--------+--------+---------+

In [36]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2023-05-24 11:33:06.893785+05:30

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)