<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/BDSN_SparkSQL_OLAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2023-09-13 21:14:17.373527+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.2 LTS
Release:	22.04
Codename:	jammy

In [2]:
#import numpy as np
import pandas as pd
#import pyarrow.csv as pv
#import pyarrow.parquet as pq

#SuperStore Data
Super Store Order Data https://drive.google.com/file/d/13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ/view?usp=sharing <br>
Original Data from [Tableau](https://community.tableau.com/docs/DOC-1236)

In [3]:
#!wget -O SS_Orders2.csv 'https://drive.google.com/uc?export=download&id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ'
#!gdown https://drive.google.com/uc?id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ
#!wget -q -O Orders.csv 'https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/SS_Orders.csv'
!wget -q -O Orders.zip 'https://github.com/Praxis-QR/PythonForManagers/raw/main/Data/SuperStoreSalesKaggle.zip'

#Data Cleaning with Pandas

In [4]:
df = pd.read_csv('Orders.zip', delimiter = ',')
df.info()

# order_date, ship_date, sales have been incorrectly formatted as string
# year has been incorrectly formatted as integer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  object
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 8.2+ MB

## Sales, year needs to be fixed

In [5]:

# df.sales has been automatically interpreted as string because of the presence of commma,
# so replace comma and convert to numeric
# convert year to string
#

df['sales'] = df['sales'].str.replace(',', '')    # replace , with blank
df['sales'] = pd.to_numeric(df['sales'])          # convert column to numeric
df['year'] = df['year'].astype(str)          # convert column to string

In [ ]:
#df.info()

##Date looks Bad, need to be fixed

In [6]:
# what is the first and last order date ?
# we have four years of data, but date format changes ...
#
df['order_date'].describe
#df['ship_date'].describe

<bound method NDFrame.describe of 0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    31-12-2014
51286    31-12-2014
51287    31-12-2014
51288    31-12-2014
51289    31-12-2014
Name: order_date, Length: 51290, dtype: object>

In [7]:
# Some of the dates are string like dd/mm/yyyy while others are dd-mm-yyyy
# this will cause problems in converting string to real dates
# So we move all dd-mm-yyyy to dd/mm/yyyy -- could have been the other way round also
#

df['order_date'] = df['order_date'].str.replace('-','/')
df['ship_date'] = df['ship_date'].str.replace('-','/')

# convert all dates to dd/mm/yyyy format
#
df['ship_date'] = pd.to_datetime(df['ship_date'],format='%d/%m/%Y')
df['order_date'] = pd.to_datetime(df['order_date'],format='%d/%m/%Y')
#df['order_date'].describe

In [8]:
# product_name contains comma, doesnt really matter
#df['product_name'] = df['product_name'].str.replace('"','')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  int64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(14)
memory usage: 8.2+ MB

In [10]:
df.to_csv('Orders.csv', index=False)

#Pandas Pivot

In [11]:
pd.pivot_table(df, index = 'segment', columns = 'year', values = 'sales', aggfunc = 'sum', margins = True)

year            2011     2012     2013     2014       All
segment
Consumer     1173701  1463804  1729284  2141352   6508141
Corporate     691685   774450  1065033  1293640   3824808
Home Office   394125   439239   611543   865049   2309956
All          2259511  2677493  3405860  4300041  12642905

In [12]:
pd.pivot_table(df, index = 'segment', columns = 'category', values = 'quantity', aggfunc = 'sum', margins = True)

category     Furniture  Office Supplies  Technology     All
segment
Consumer         18002            56025       18130   92157
Corporate        10735            32236       10594   53565
Home Office       6217            19921        6452   32590
All              34954           108182       35176  178312

#Spark
https://davidadrian.cc/python-hadoop/

In [13]:
!pip3 -q install pyspark
from pyspark.sql import SparkSession

#https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html
from pyspark.sql.functions import col, to_date
from pyspark.sql.functions import regexp_replace

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [16]:
#spark9 = SparkSession.builder.master("local[*]").getOrCreate()
# note UI port switched from default 4040 to 4050 to avoid clash with ngrok
spark9 = SparkSession.builder.master("local[*]").config('spark.ui.port', '4050').getOrCreate()

In [18]:
!unzip Orders.zip

Archive:  Orders.zip
  inflating: SuperStoreOrders.csv

In [19]:
#Inferred INCORRECTLY, from CSV file

sdf = spark9.read.csv('SuperStoreOrders.csv', inferSchema=True,header = True, quote = '"', escape = '"')
#sdf9A = spark9.read.csv('Orders3.csv', inferSchema=True,header = True, quote = '"')
#sdf9A = spark9.read.csv('SuperStoreOrders.csv', inferSchema=True,header = True)

sdf.dtypes

[('order_id', 'string'),
 ('order_date', 'string'),
 ('ship_date', 'string'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'string'),
 ('quantity', 'int'),
 ('discount', 'double'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'int')]

In [20]:
#sdf9A.filter(df['sales'].rlike('[\!\@\$\^\&\-\_\;\:\?\.\#\*]')).count()
#sdf9A.filter(df['sales'].like('[\!\@\$\^\&\-\_\;\:\?\.\#\*\,]')).show()
sdf.filter(col('sales').contains(",")).show()

+---------------+----------+----------+--------------+-----------------+-----------+------------+--------------+------+----------+----------------+---------------+------------+--------------------+-----+--------+--------+---------+-------------+--------------+----+
|       order_id|order_date| ship_date|     ship_mode|    customer_name|    segment|       state|       country|market|    region|      product_id|       category|sub_category|        product_name|sales|quantity|discount|   profit|shipping_cost|order_priority|year|
+---------------+----------+----------+--------------+-----------------+-----------+------------+--------------+------+----------+----------------+---------------+------------+--------------------+-----+--------+--------+---------+-------------+--------------+----+
| MX-2011-111255|  4/1/2011|  9/1/2011|  Second Class|Russell Applegate|   Consumer|      Parana|        Brazil| LATAM|     South| FUR-BO-10001498|      Furniture|   Bookcases|Dania Classic Boo...|1,648|       6|     0.0|   609.84|       109.13|        Medium|2011|
| MX-2011-109267|  5/1/2011|  9/1/2011|Standard Class|Jennifer Halladay|   Consumer|    Veracruz|        Mexico| LATAM|     North| OFF-AP-10004245|Office Supplies|  Appliances| Hoover Stove, Black|3,029|       8|     0.0|   999.36|        191.2|        Medium|2011|
| CA-2011-167199|  7/1/2011| 11/1/2011|Standard Class|    Maria Etezadi|Home Office|    Kentucky| United States|    US|     South| FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|2,574|       9|     0.0| 746.4078|       258.99|          High|2011|
|   AO-2011-1670|  8/1/2011|13-01-2011|Standard Class|      Henia Zydlo|   Consumer|    Benguela|        Angola|Africa|    Africa|FUR-IKE-10001539|      Furniture|   Bookcases|Ikea Classic Book...|2,479|       6|     0.0|     49.5|       349.87|          High|2011|
|  IN-2011-19330|  8/1/2011| 12/1/2011|  Second Class|     Nicole Fjeld|Home Office|      Yunnan|         China|  APAC|North Asia| TEC-MA-10002468|     Technology|    Machines|Panasonic Inkjet,...|2,174|       7|     0.0|   260.82|       275.52|        Medium|2011|
|  IN-2011-61302| 10/1/2011| 11/1/2011|   First Class|       Dan Lawera|   Consumer|  Queensland|     Australia|  APAC|   Oceania| TEC-PH-10004664|     Technology|      Phones|Nokia Smart Phone...|2,875|       5|     0.1|  511.095|       665.27|        Medium|2011|
|ES-2011-5158390| 11/1/2011| 11/1/2011|      Same Day|      Roy Collins|   Consumer|     England|United Kingdom|    EU|     North| FUR-CH-10004255|      Furniture|      Chairs|SAFCO Executive L...|1,384|       3|     0.0|    13.77|       178.98|        Medium|2011|
| US-2011-163874| 11/1/2011| 12/1/2011|   First Class|       Philip Fox|   Consumer|      México|        Mexico| LATAM|     North| OFF-ST-10003741|Office Supplies|     Storage| Smead Lockers, Blue|1,323|      10|     0.0|    238.0|       103.84|        Medium|2011|
|   EG-2011-4270|13-01-2011|18-01-2011|Standard Class|      Roger Demir|   Consumer|       Aswan|         Egypt|Africa|    Africa|TEC-HP -10001574|     Technology|     Copiers|HP Fax Machine, L...|1,200|       4|     0.0|   479.88|        55.62|        Medium|2011|
| CA-2011-157147|14-01-2011|19-01-2011|Standard Class|     Brian Dahlen|   Consumer|  California| United States|    US|      West| OFF-ST-10000078|Office Supplies|     Storage|Tennsco 6- and 18...|1,326|       5|     0.0|  238.653|       187.65|          High|2011|
| MX-2011-145765|17-01-2011|22-01-2011|Standard Class|      Alan Haines|  Corporate|San Salvador|   El Salvador| LATAM|   Central| TEC-CO-10003142|     Technology|     Copiers|Hewlett Fax and C...|1,412|      11|   0.002|251.71124|       159.52|          High|2011|
| MX-2011-146584|21-01-2011|27-01-2011|Standard Class|     Hunter Lopez|   Consumer|     Managua|     Nicaragua| LATAM|   Central| FUR-TA-10001285|      Furniture|      Tables|Chromcraft Confer...|2,797|       6|     0.2|   -0.072|       320.38|           Low|2011|
|   MG-2011-9660|21-01-2011|27-01-2011|Standard Class|    Sally Hughsby|  Corporate| Ulaanbaatar|      Mongolia|  EMEA|      EMEA|OFF-FEL-10002867|Office Supplies|     Storage|Fellowes Lockers,...|1,244|       6|     0.0|    211.5|        88.66|        Medium|2011|
| US-2011-147627|21-01-2011|27-01-2011|Standard Class|     Hunter Lopez|   Consumer|    Arkansas| United States|    US|     South| FUR-CH-10002331|      Furniture|      Chairs|Hon 4700 Series M...|1,068|       3|     0.0| 224.2674|        85.72|        Medium|2011|
| MX-2011-116393|23-01-2011|23-01-2011|      Same Day|       Larry Tron|   Consumer|     Managua|     Nicaragua| LATAM|   Central| FUR-BO-10001739|      Furniture|   Bookcases|Dania Classic Boo...|1,102|       4|     0.0|   198.32|       146.12|        Medium|2011|
|     EN-2011-70|24-01-2011|24-01-2011|      Same Day|        Ann Blume|  Corporate|    Harjumaa|       Estonia|  EMEA|      EMEA|TEC-CIS-10002344|     Technology|      Phones|Cisco Smart Phone...|1,303|       2|     0.0|   286.56|       234.73|        Medium|2011|
|   TU-2011-5460|26-01-2011|31-01-2011|Standard Class|         Jay Fein|   Consumer|       Izmir|        Turkey|  EMEA|      EMEA|FUR-SAF-10004252|      Furniture|      Chairs|SAFCO Executive L...|1,113|       6|     0.6|-1475.352|        47.35|        Medium|2011|
|  IN-2011-81833|31-01-2011|  6/2/2011|Standard Class|     Troy Staebel|   Consumer|  Wellington|   New Zealand|  APAC|   Oceania| TEC-PH-10004575|     Technology|      Phones|Motorola Smart Ph...|2,571|       4|     0.0|   102.84|        129.0|        Medium|2011|
|  IN-2011-81833|31-01-2011|  6/2/2011|Standard Class|     Troy Staebel|   Consumer|  Wellington|   New Zealand|  APAC|   Oceania| FUR-TA-10002341|      Furniture|      Tables|Barricks Computer...|1,917|       4|     0.0|   517.56|       104.29|        Medium|2011|
|  IN-2011-56990|  2/2/2011|  5/2/2011|   First Class|       Erin Smith|  Corporate|       Henan|         China|  APAC|North Asia| FUR-BO-10003913|      Furniture|   Bookcases|Safco Stackable B...|1,052|       7|     0.0|   105.21|        154.4|        Medium|2011|
+---------------+----------+----------+--------------+-----------------+-----------+------------+--------------+------+----------+----------------+---------------+------------+--------------------+-----+--------+--------+---------+-------------+--------------+----+
only showing top 20 rows

In [21]:
#https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html
#from pyspark.sql.functions import col, to_date
#from pyspark.sql.functions import regexp_replace
sdf = sdf.\
        withColumn('order_date',regexp_replace('order_date','/','-')).\
        withColumn('ship_date',regexp_replace('order_date','/','-')).\
        withColumn('order_date',to_date(col('order_date'), "d-M-y")).\
        withColumn('ship_date',to_date(col('ship_date'), "d-M-y")).\
        withColumn('sales',regexp_replace('sales',',','')).\
        withColumn('sales',col('sales').cast('int')).\
        withColumn('quantity',col('quantity').cast('int')).\
        withColumn('year',col('year').cast('string'))

sdf.dtypes

[('order_id', 'string'),
 ('order_date', 'date'),
 ('ship_date', 'date'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'int'),
 ('quantity', 'int'),
 ('discount', 'double'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'string')]

In [22]:
#sdf9A.tail(10)

In [23]:
#sdf9A.show()

In [24]:
sdf.groupBy('segment').pivot('year').sum('sales').show()

+-----------+-------+-------+-------+-------+
|    segment|   2011|   2012|   2013|   2014|
+-----------+-------+-------+-------+-------+
|   Consumer|1173701|1463804|1729284|2141352|
|Home Office| 394125| 439239| 611543| 865049|
|  Corporate| 691685| 774450|1065033|1293640|
+-----------+-------+-------+-------+-------+

In [25]:
sdf.groupBy('segment').pivot('category').sum('quantity').show()

+-----------+---------+---------------+----------+
|    segment|Furniture|Office Supplies|Technology|
+-----------+---------+---------------+----------+
|   Consumer|    18002|          56025|     18130|
|Home Office|     6217|          19921|      6452|
|  Corporate|    10735|          32236|     10594|
+-----------+---------+---------------+----------+

In [ ]:
sdf9A.select('sales','quantity').show(20)

+-----+--------+
|sales|quantity|
+-----+--------+
|  408|       2|
|  120|       3|
|   66|       4|
|   45|       3|
|  114|       5|
|   55|       2|
|  314|       1|
|  276|       1|
|  912|       4|
|  667|       4|
|  338|       3|
|  211|       1|
|  854|       7|
|  193|       1|
|  159|       2|
|  195|       4|
|  123|       2|
|   69|       2|
|   69|       2|
|  135|       2|
+-----+--------+
only showing top 20 rows

In [ ]:
sdf9B = spark9.read.csv('Orders2.csv', inferSchema=True,header = True)
sdf9B.dtypes

[('order_id', 'string'),
 ('order_date', 'date'),
 ('ship_date', 'date'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'string'),
 ('quantity', 'string'),
 ('discount', 'string'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'string')]

In [ ]:
#Inferred CORRECTLY, from parquet file
sdf9B = spark9.read.parquet('Orders2.parquet', inferSchema=True,header = True, quote = '"')
sdf9B.dtypes

[('order_id', 'string'),
 ('order_date', 'timestamp_ntz'),
 ('ship_date', 'timestamp_ntz'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'bigint'),
 ('quantity', 'bigint'),
 ('discount', 'double'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'string')]

In [ ]:
# Reduced Data
#selCols = ['Order ID','Order Date','Segment','Region','Category','Sales','Quantity','Profit']
selCols = ['year','segment','region','category','sales','quantity','profit']
#df9C = spark9.read.parquet('Orders2.parquet',inferSchema=True,header = True, quote = '"').select('Order ID','Order Date','Segment','Region','Category','Sales','Quantity','Profit')
sdf9C = spark9.read.parquet('Orders2.parquet',inferSchema=True,header = True, quote = '"').select(selCols)
#df9.dtypes
sdf9C.dtypes

[('year', 'string'),
 ('segment', 'string'),
 ('region', 'string'),
 ('category', 'string'),
 ('sales', 'bigint'),
 ('quantity', 'bigint'),
 ('profit', 'double')]

In [ ]:
# remove , and " from data
#import pandas as pd
#p_df = pd.read_csv('SSdatafile.csv')
#p_df = pd.read_csv('datafile.csv')
#p_df2 = p_df.replace(',', ' ', regex=True)
#p_df3 = p_df2.replace('"', '', regex=True)
#p_df3.to_csv('SSdatafile2.csv',index=False,sep=',')
#!head SSdatafile2.csv

##Spark SQL

In [ ]:
spark9.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [ ]:
#air_quality_sdf.createOrReplaceTempView("air_quality_sdf")
sdf9C.createOrReplaceTempView("orders_temp")

In [ ]:
spark9.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |orders_temp|       true|
+---------+-----------+-----------+

In [ ]:
spark9.sql("desc orders_temp").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|    year|   string|   null|
| segment|   string|   null|
|  region|   string|   null|
|category|   string|   null|
|   sales|   bigint|   null|
|quantity|   bigint|   null|
|  profit|   double|   null|
+--------+---------+-------+

In [ ]:
spark9.sql('select * from Orders_Temp limit 5').show()

+----+-----------+-------+---------------+-----+--------+-------+
|year|    segment| region|       category|sales|quantity| profit|
+----+-----------+-------+---------------+-----+--------+-------+
|2011|   Consumer| Africa|Office Supplies|  408|       2| 106.14|
|2011|   Consumer|Oceania|Office Supplies|  120|       3| 36.036|
|2011|   Consumer|   EMEA|Office Supplies|   66|       4|  29.64|
|2011|Home Office|  North|Office Supplies|   45|       3|-26.055|
|2011|   Consumer|Oceania|      Furniture|  114|       5|  37.77|
+----+-----------+-------+---------------+-----+--------+-------+

In [ ]:
sql_drop_table = """
drop table if exists praxisdb.sh_orders
"""

sql_drop_database = """
drop database if exists praxisdb cascade
"""

sql_create_database = """
create database if not exists praxisdb
location '/content/praxisdb/'
"""

sql_create_table = """
create table if not exists praxisdb.sh_orders
using parquet
as select  * from Orders_Temp
"""

#as select to_timestamp(date) as date_parsed, *

print("dropping database...")
result_drop_db = spark9.sql(sql_drop_database)

print("creating database...")
result_create_db = spark9.sql(sql_create_database)

print("dropping table...")
result_droptable = spark9.sql(sql_drop_table)

print("creating table...")
result_create_table = spark9.sql(sql_create_table)

dropping database...
creating database...
dropping table...
creating table...

In [ ]:
spark9.sql("use praxisdb")
spark9.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
| praxisdb|  sh_orders|      false|
|         |orders_temp|       true|
+---------+-----------+-----------+

In [ ]:
spark9.sql("select * from praxisdb.sh_orders").show(5)
#.select("date_parsed", "O_3").show(5)

+----+-----------+-------+---------------+-----+--------+-------+
|year|    segment| region|       category|sales|quantity| profit|
+----+-----------+-------+---------------+-----+--------+-------+
|2011|   Consumer| Africa|Office Supplies|  408|       2| 106.14|
|2011|   Consumer|Oceania|Office Supplies|  120|       3| 36.036|
|2011|   Consumer|   EMEA|Office Supplies|   66|       4|  29.64|
|2011|Home Office|  North|Office Supplies|   45|       3|-26.055|
|2011|   Consumer|Oceania|      Furniture|  114|       5|  37.77|
+----+-----------+-------+---------------+-----+--------+-------+
only showing top 5 rows

In [ ]:
spark9.sql("select distinct(region) from praxisdb.sh_orders").show()

+--------------+
|        region|
+--------------+
|        Africa|
|    North Asia|
|  Central Asia|
|         South|
|     Caribbean|
|       Central|
|          East|
|       Oceania|
|        Canada|
|          West|
|          EMEA|
|Southeast Asia|
|         North|
+--------------+

##CrossTab

###Inner Query

In [ ]:
sums_df = spark9.sql("""
    SELECT
        Segment,
        SUM(IF(Region='Africa',Sales,0)) As Africa,
        SUM(IF(Region='North Asia',Sales,0)) As North_Asia,
        SUM(IF(Region='Central Asia',Sales,0)) As Central_Asia,
        SUM(IF(Region='Caribbean',Sales,0)) As Caribbean,
        SUM(IF(Region='Oceania',Sales,0)) As Oceania,
        SUM(IF(Region='Canada',Sales,0)) As Canada,
        SUM(IF(Region='EMEA',Sales,0)) As EMEA,
        SUM(IF(Region='South East Asia',Sales,0)) As SE_Asia,
        SUM(IF(Region='Central',Sales,0)) As Central,
        SUM(IF(Region='East',Sales,0)) As East,
        SUM(IF(Region='West',Sales,0)) As West,
        SUM(IF(Region='North',Sales,0)) As North,
        SUM(IF(Region='South',Sales,0)) As South
    FROM praxisdb.sh_orders
        GROUP BY Segment WITH ROLLUP
""")
sums_df.show()

+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+-------+
|    Segment|Africa|North_Asia|Central_Asia|Caribbean|Oceania|Canada|  EMEA|SE_Asia|Central|  East|  West|  North|  South|
+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+-------+
|Home Office|155077|    175177|      148235|    57395| 197812| 11896|148862|      0| 491961|127465|136736| 209996| 280016|
|  Corporate|204948|    265762|      235552|   104535| 322831| 19319|250559|      0| 850405|200422|225870| 394220| 496029|
|       null|783776|    848349|      752839|   324281|1100207| 66932|806184|      0|2822399|678834|725514|1248192|1600960|
|   Consumer|423751|    407410|      369052|   162351| 579564| 35717|406763|      0|1480033|350947|362908| 643976| 824915|
+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+-------+

###Outer Query

In [ ]:
#sums_df.registerTempTable("sums")
sums_df.createOrReplaceTempView("sums_T")
#CrossTab = sqlContext.sql("""
CrossTab = spark9.sql("""
 SELECT
  IFNULL(Segment,'#Totals') Dims,
  Africa,North_Asia,Central_Asia,Caribbean,
  Oceania,Canada,EMEA,SE_Asia,
  Central,East,West,South,
  Africa +North_Asia + Central_Asia+ Caribbean + Oceania + Canada+EMEA + SE_Asia + Central + East + West + South Totals
FROM sums_t
order by Dims desc
""")
CrossTab.show()

+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+--------+
|       Dims|Africa|North_Asia|Central_Asia|Caribbean|Oceania|Canada|  EMEA|SE_Asia|Central|  East|  West|  South|  Totals|
+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+--------+
|Home Office|155077|    175177|      148235|    57395| 197812| 11896|148862|      0| 491961|127465|136736| 280016| 1930632|
|  Corporate|204948|    265762|      235552|   104535| 322831| 19319|250559|      0| 850405|200422|225870| 496029| 3176232|
|   Consumer|423751|    407410|      369052|   162351| 579564| 35717|406763|      0|1480033|350947|362908| 824915| 5403411|
|    #Totals|783776|    848349|      752839|   324281|1100207| 66932|806184|      0|2822399|678834|725514|1600960|10510275|
+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+--------+

###Using Subquery

In [ ]:
CrossTab2 = spark9.sql("""
 SELECT
  IFNULL(Segment,'#Totals') Dims,
  Africa,North_Asia,Central_Asia,Caribbean,
  Oceania,Canada,EMEA,SE_Asia,
  Central,East,West,South,
  Africa +North_Asia + Central_Asia+ Caribbean + Oceania + Canada+EMEA + SE_Asia + Central + East + West + South Totals
FROM (
SELECT
        Segment,
        SUM(IF(Region='Africa',Sales,0)) As Africa,
        SUM(IF(Region='North Asia',Sales,0)) As North_Asia,
        SUM(IF(Region='Central Asia',Sales,0)) As Central_Asia,
        SUM(IF(Region='Caribbean',Sales,0)) As Caribbean,
        SUM(IF(Region='Oceania',Sales,0)) As Oceania,
        SUM(IF(Region='Canada',Sales,0)) As Canada,
        SUM(IF(Region='EMEA',Sales,0)) As EMEA,
        SUM(IF(Region='South East Asia',Sales,0)) As SE_Asia,
        SUM(IF(Region='Central',Sales,0)) As Central,
        SUM(IF(Region='East',Sales,0)) As East,
        SUM(IF(Region='West',Sales,0)) As West,
        SUM(IF(Region='North',Sales,0)) As North,
        SUM(IF(Region='South',Sales,0)) As South
    FROM praxisdb.sh_orders
        GROUP BY Segment WITH ROLLUP
    )
as sums
order by Dims desc
""")
CrossTab2.show()

+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+--------+
|       Dims|Africa|North_Asia|Central_Asia|Caribbean|Oceania|Canada|  EMEA|SE_Asia|Central|  East|  West|  South|  Totals|
+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+--------+
|Home Office|155077|    175177|      148235|    57395| 197812| 11896|148862|      0| 491961|127465|136736| 280016| 1930632|
|  Corporate|204948|    265762|      235552|   104535| 322831| 19319|250559|      0| 850405|200422|225870| 496029| 3176232|
|   Consumer|423751|    407410|      369052|   162351| 579564| 35717|406763|      0|1480033|350947|362908| 824915| 5403411|
|    #Totals|783776|    848349|      752839|   324281|1100207| 66932|806184|      0|2822399|678834|725514|1600960|10510275|
+-----------+------+----------+------------+---------+-------+------+------+-------+-------+------+------+-------+--------+

In [ ]:
spark9.sql("select distinct(year) from praxisdb.sh_orders").show()

+----+
|year|
+----+
|2012|
|2014|
|2013|
|2011|
+----+

In [ ]:
CrossTab2 = spark9.sql("""
 SELECT
  IFNULL(Category,'#Totals') Dims,
  Y2011,Y2012,Y2013,Y2014,Y2011+Y2012+Y2013+Y2014 Totals
FROM (
SELECT
        Category,
        SUM(IF(Year='2011',Sales,0)) As Y2011,
        SUM(IF(Year='2012',Sales,0)) As Y2012,
        SUM(IF(Year='2013',Sales,0)) As Y2013,
        SUM(IF(Year='2014',Sales,0)) As Y2014
    FROM praxisdb.sh_orders
        GROUP BY Category WITH ROLLUP
    )
as sums
order by Dims desc
""")
CrossTab2.show()

+---------------+-------+-------+-------+-------+--------+
|           Dims|  Y2011|  Y2012|  Y2013|  Y2014|  Totals|
+---------------+-------+-------+-------+-------+--------+
|     Technology| 827698|1023467|1277328|1616198| 4744691|
|Office Supplies| 675642| 795113|1010793|1305782| 3787330|
|      Furniture| 756171| 858913|1117739|1378061| 4110884|
|        #Totals|2259511|2677493|3405860|4300041|12642905|
+---------------+-------+-------+-------+-------+--------+

#Parquet to Pandas again

In [ ]:
!ls /content/praxisdb/sh_orders

part-00000-2a504e60-1ed6-4c94-8178-34ffdb8e914a-c000.snappy.parquet  _SUCCESS

In [ ]:
df7 = pd.read_parquet('/content/praxisdb/sh_orders/part-00000-2a504e60-1ed6-4c94-8178-34ffdb8e914a-c000.snappy.parquet')
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      51290 non-null  object
 1   segment   51290 non-null  object
 2   region    51290 non-null  object
 3   category  51290 non-null  object
 4   sales     51290 non-null  int64
 5   quantity  51290 non-null  int64
 6   profit    51290 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.7+ MB

#Second Spark

In [ ]:
spark39 = SparkSession.builder.master("local[*]").config('spark.ui.port', '4050').getOrCreate()
target_parquet = 'Orders2.parquet'
sdf39B = spark39.read.parquet(target_parquet, inferSchema=True,header = True, quote = '"')
sdf39B.dtypes

[('order_id', 'string'),
 ('order_date', 'timestamp_ntz'),
 ('ship_date', 'timestamp_ntz'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'bigint'),
 ('quantity', 'bigint'),
 ('discount', 'double'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'string')]

In [ ]:
sdf39B.repartition(2).write.mode('overwrite').parquet('wpart/Orders239')

In [ ]:
spark39.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
| praxisdb|
+---------+

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself.
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)