<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/BDSN_DataFrame_AnalyticsVidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

# Data Frame <br>
Analytics Vidhya https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/ <br>
Alternate https://www.analyticsvidhya.com/blog/2016/09/comprehensive-introduction-to-apache-spark-rdds-dataframes-using-pyspark/ <br>

Data Bricks https://docs.databricks.com/spark/latest/data-sources/read-csv.html

# Initialise

In [1]:
#!apt-get update > /dev/null
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://apache.osuosl.org/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
#wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz

#!tar xf spark-2.4.0-bin-hadoop2.7.tgz
#!tar xf spark-2.4.4-bin-hadoop2.7.tgz
#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!tar xf spark-3.0.1-bin-hadoop3.2.tgz
#!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark

In [ ]:
#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
#os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [ ]:
#import findspark
#findspark.init()

In [2]:
!pip3 install -q pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
#from pyspark.sql import SQLContext
#sqlContext = SQLContext(sc)

# Data Load

In [6]:
#https://drive.google.com/file/d/1o-WzYvxfIXxvghazTLu3iuNqFE9IxGbw/view?usp=sharing
#!wget -q -O BDSDF_train.zip 'https://drive.google.com/uc?export=download&id=1o-WzYvxfIXxvghazTLu3iuNqFE9IxGbw'
!wget -q 'https://github.com/Praxis-QR/BDSN/raw/main/data/blackfriday/BDSDF_train.zip'

#https://drive.google.com/file/d/1UF5HGE3NGtQ9goeSvhsTnMMTUZiv7fhE/view?usp=sharing
#!wget -q -O BDSDF_test.zip 'https://drive.google.com/uc?export=download&id=1UF5HGE3NGtQ9goeSvhsTnMMTUZiv7fhE'
!wget -q 'https://github.com/Praxis-QR/BDSN/raw/main/data/blackfriday/BDSDF_test.zip'

!unzip BDSDF_test.zip
!unzip BDSDF_train.zip

!ls -al

Archive:  BDSDF_test.zip
  inflating: test.csv
Archive:  BDSDF_train.zip
  inflating: train.csv
total 40724
drwxr-xr-x 1 root root     4096 Jan 22 00:08 .
drwxr-xr-x 1 root root     4096 Jan 22 00:00 ..
-rw-r--r-- 1 root root  1827545 Jan 22 00:08 BDSDF_test.zip
-rw-r--r-- 1 root root  4720668 Jan 22 00:08 BDSDF_train.zip
drwxr-xr-x 4 root root     4096 Jan 18 14:20 .config
drwxr-xr-x 2 root root     4096 Jan 22 00:07 .ipynb_checkpoints
drwxr-xr-x 1 root root     4096 Jan 18 14:21 sample_data
-rw-rw-r-- 1 root root  9598228 Nov 20  2015 test.csv
-rw-rw-r-- 1 root root 25525678 Nov 20  2015 train.csv

In [7]:
import pandas as pd
pTest = pd.read_csv("./test.csv")
pTest.head(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN

In [9]:
#test = sqlContext.read.format("csv").option("header", "true").option("inferSchema", "true").load("./test.csv")
test = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("./test.csv")
#train = sqlContext.read.format("csv").option("header", "true").option("inferSchema", "true").load("./train.csv")
train = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("./train.csv")

#train.printSchema()
test.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)

# Dataframe Manipulations

In [10]:
test.head(3)

[Row(User_ID=1000004, Product_ID='P00128942', Gender='M', Age='46-50', Occupation=7, City_Category='B', Stay_In_Current_City_Years='2', Marital_Status=1, Product_Category_1=1, Product_Category_2=11, Product_Category_3=None),
 Row(User_ID=1000009, Product_ID='P00113442', Gender='M', Age='26-35', Occupation=17, City_Category='C', Stay_In_Current_City_Years='0', Marital_Status=0, Product_Category_1=3, Product_Category_2=5, Product_Category_3=None),
 Row(User_ID=1000010, Product_ID='P00288442', Gender='F', Age='36-45', Occupation=1, City_Category='B', Stay_In_Current_City_Years='4+', Marital_Status=1, Product_Category_1=5, Product_Category_2=14, Product_Category_3=None)]

In [11]:
test.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|1000004| P00128942|     M|46-50|         7|            B|                         2|             1|                 1|                11|              NULL|
|1000009| P00113442|     M|26-35|        17|            C|                         0|             0|                 3|                 5|              NULL|
|1000010| P00288442|     F|36-45|         1|            B|                        4+|             1|                 5|                14|              NULL|
|1000010| P00145342|     F|36-45|         1|            B|                        4+|             1|                 4|                 9|              NULL|
|1000011| P00053842|     F|26-35|         1|            C|                         1|             0|                 4|                 5|                12|
|1000013| P00350442|     M|46-50|         1|            C|                         3|             1|                 2|                 3|                15|
|1000013| P00155442|     M|46-50|         1|            C|                         3|             1|                 1|                11|                15|
|1000013|  P0094542|     M|46-50|         1|            C|                         3|             1|                 2|                 4|                 9|
|1000015| P00161842|     M|26-35|         7|            A|                         1|             0|                10|                13|                16|
|1000022| P00067942|     M|18-25|        15|            A|                        4+|             0|                 5|                14|              NULL|
|1000026| P00046742|     M|26-35|         7|            B|                         2|             1|                 1|                 2|                15|
|1000026| P00040042|     M|26-35|         7|            B|                         2|             1|                 5|              NULL|              NULL|
|1000026| P00196542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|                14|
|1000026| P00004542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|              NULL|
|1000028| P00159542|     F|26-35|         1|            C|                         2|             1|                10|                15|                16|
|1000029| P00111542|     M|36-45|         7|            C|                         1|             0|                 2|                17|              NULL|
|1000033| P00121042|     M|46-50|         3|            A|                         1|             1|                15|              NULL|              NULL|
|1000033| P00344442|     M|46-50|         3|            A|                         1|             1|                 5|                 8|                14|
|1000034| P00265242|     F|18-25|         0|            A|                         0|             0|                 5|                 8|              NULL|
|1000035|  P0096642|     M|46-50|         1|            C|                        4+|             1|                 2|                 3|                 4|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
only showing top 20 rows

In [12]:
train.count(),test.count()

(550068, 233599)

In [13]:
len(train.columns), train.columns

(12,
 ['User_ID',
  'Product_ID',
  'Gender',
  'Age',
  'Occupation',
  'City_Category',
  'Stay_In_Current_City_Years',
  'Marital_Status',
  'Product_Category_1',
  'Product_Category_2',
  'Product_Category_3',
  'Purchase'])

In [14]:
len(test.columns), test.columns

(11,
 ['User_ID',
  'Product_ID',
  'Gender',
  'Age',
  'Occupation',
  'City_Category',
  'Stay_In_Current_City_Years',
  'Marital_Status',
  'Product_Category_1',
  'Product_Category_2',
  'Product_Category_3'])

In [15]:
train.describe().show()

+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|   Age|       Occupation|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|  count|            550068|    550068|550068|550068|           550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|
|   mean|1003028.8424013031|      NULL|  NULL|  NULL|8.076706879876669|         NULL|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|
| stddev|1727.5915855313747|      NULL|  NULL|  NULL|6.522660487341741|         NULL|        0.9890866807573103| 0.4917701263173315| 3.936211369201365| 5.086589648693497| 4.125337631575274|5023.065393820575|
|    min|           1000001| P00000142|     F|  0-17|                0|            A|                         0|                  0|                 1|                 2|                 3|               12|
|    max|           1006040|  P0099942|     M|   55+|               20|            C|                        4+|                  1|                20|                18|                18|            23961|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

In [16]:
train.describe('Product_ID').show()

+-------+----------+
|summary|Product_ID|
+-------+----------+
|  count|    550068|
|   mean|      NULL|
| stddev|      NULL|
|    min| P00000142|
|    max|  P0099942|
+-------+----------+

In [17]:
train.select('User_ID','Age').show(5)

+-------+----+
|User_ID| Age|
+-------+----+
|1000001|0-17|
|1000001|0-17|
|1000001|0-17|
|1000001|0-17|
|1000002| 55+|
+-------+----+
only showing top 5 rows

In [18]:
train.select('Product_ID').distinct().count(), test.select('Product_ID').distinct().count()

(3631, 3491)

In [19]:
diff_cat_in_train_test=test.select('Product_ID').subtract(train.select('Product_ID'))
diff_cat_in_train_test.distinct().count()# For distict count

46

In [22]:
train.crosstab('Age', 'Gender').show()

+----------+-----+------+
|Age_Gender|    F|     M|
+----------+-----+------+
|     18-25|24628| 75032|
|     26-35|50752|168835|
|      0-17| 5083| 10019|
|     46-50|13199| 32502|
|     51-55| 9894| 28607|
|     36-45|27170| 82843|
|       55+| 5083| 16421|
+----------+-----+------+

In [24]:
train.cube("Age", "Gender").count().orderBy("Age", "Gender").show(50)

+-----+------+------+
|  Age|Gender| count|
+-----+------+------+
| NULL|  NULL|550068|
| NULL|     F|135809|
| NULL|     M|414259|
| 0-17|  NULL| 15102|
| 0-17|     F|  5083|
| 0-17|     M| 10019|
|18-25|  NULL| 99660|
|18-25|     F| 24628|
|18-25|     M| 75032|
|26-35|  NULL|219587|
|26-35|     F| 50752|
|26-35|     M|168835|
|36-45|  NULL|110013|
|36-45|     F| 27170|
|36-45|     M| 82843|
|46-50|  NULL| 45701|
|46-50|     F| 13199|
|46-50|     M| 32502|
|51-55|  NULL| 38501|
|51-55|     F|  9894|
|51-55|     M| 28607|
|  55+|  NULL| 21504|
|  55+|     F|  5083|
|  55+|     M| 16421|
+-----+------+------+

In [ ]:
#train.crosstab('Age', 'Gender').describe().show()

In [25]:
train.select('Age','Gender').dropDuplicates().show()

+-----+------+
|  Age|Gender|
+-----+------+
|51-55|     F|
|18-25|     M|
| 0-17|     F|
|46-50|     M|
|18-25|     F|
|  55+|     M|
|  55+|     F|
|36-45|     M|
|26-35|     F|
| 0-17|     M|
|36-45|     F|
|51-55|     M|
|26-35|     M|
|46-50|     F|
+-----+------+

In [26]:
train.dropna().count()

166821

In [ ]:
#train.dropna().show(2)

In [27]:
train.fillna(-1).count()
#train.fillna('x').show(3)

550068

In [ ]:
train.fillna(-1).show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                -1|                -1|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 2 rows

In [28]:
train.filter(train.Purchase > 15000).count()

110523

In [29]:
train.groupby('Age').agg({'Purchase': 'mean'}).show()

+-----+-----------------+
|  Age|    avg(Purchase)|
+-----+-----------------+
|18-25|9169.663606261289|
|26-35|9252.690632869888|
| 0-17|8933.464640444974|
|46-50|9208.625697468327|
|51-55|9534.808030960236|
|36-45|9331.350694917874|
|  55+|9336.280459449405|
+-----+-----------------+

In [30]:
train.groupby('Age').agg({'Purchase': 'max'}).show()

+-----+-------------+
|  Age|max(Purchase)|
+-----+-------------+
|18-25|        23958|
|26-35|        23961|
| 0-17|        23955|
|46-50|        23960|
|51-55|        23960|
|36-45|        23960|
|  55+|        23960|
+-----+-------------+

In [31]:
train.groupby('Age').count().show()

+-----+------+
|  Age| count|
+-----+------+
|18-25| 99660|
|26-35|219587|
| 0-17| 15102|
|46-50| 45701|
|51-55| 38501|
|36-45|110013|
|  55+| 21504|
+-----+------+

In [32]:
t1 = train.sample(False, 0.2, 42)
t2 = train.sample(False, 0.2, 43)
t1.count(),t2.count()

(110465, 110180)

In [33]:
t1 = train.sample(False, 0.2, 1142)
t2 = train.sample(False, 0.2, 2243)
t1.count(),t2.count()

(110001, 109453)

In [34]:
#train.select('User_ID').rdd.map(lambda x:(x,1)).take(5)
train.select('Product_ID').rdd.map(lambda x:(x,1)).take(5)

[(Row(Product_ID='P00069042'), 1),
 (Row(Product_ID='P00248942'), 1),
 (Row(Product_ID='P00087842'), 1),
 (Row(Product_ID='P00085442'), 1),
 (Row(Product_ID='P00285442'), 1)]

In [35]:
train.orderBy(train.Purchase.desc()).show(10)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1003160| P00052842|     M|26-35|        17|            C|                         3|             0|                10|                15|              NULL|   23961|
|1001474| P00052842|     M|26-35|         4|            A|                         2|             1|                10|                15|              NULL|   23961|
|1002272| P00052842|     M|26-35|         0|            C|                         1|             0|                10|                15|              NULL|   23961|
|1001577| P00052842|     M|  55+|         0|            C|                         1|             1|                10|                15|              NULL|   23960|
|1003045| P00052842|     M|46-50|         1|            B|                         2|             1|                10|                15|              NULL|   23960|
|1005848| P00119342|     M|51-55|        20|            A|                         0|             1|                10|                13|              NULL|   23960|
|1005596| P00117642|     M|36-45|        12|            B|                         1|             0|                10|                16|              NULL|   23960|
|1003947| P00116142|     M|26-35|         0|            C|                         3|             0|                10|                13|                16|   23959|
|1001387| P00086242|     F|51-55|        13|            B|                         1|             1|                10|              NULL|              NULL|   23959|
|1001178| P00116142|     M|  55+|         0|            C|                         1|             1|                10|                13|                16|   23958|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 10 rows

In [36]:
train.select('User_ID').rdd.map(lambda x:(x,1)).take(5)

[(Row(User_ID=1000001), 1),
 (Row(User_ID=1000001), 1),
 (Row(User_ID=1000001), 1),
 (Row(User_ID=1000001), 1),
 (Row(User_ID=1000002), 1)]

# SQL Query with Dataframe

In [ ]:
#train.registerAsTable('train_table')
#train.registerTempTable("train_table")
train.createOrReplaceTempView("train_table")

In [ ]:
#SQLContext is deprecated
# --- not to be used
#sqlContext.sql('select Product_ID from train_table').show(5)
#sqlContext.sql('select Product_ID, Product_Category_1 from train_table').show(5)
spark.sql('select Product_ID, Product_Category_1 from train_table').show(5)

+----------+------------------+
|Product_ID|Product_Category_1|
+----------+------------------+
| P00069042|                 3|
| P00248942|                 1|
| P00087842|                12|
| P00085442|                12|
| P00285442|                 8|
+----------+------------------+
only showing top 5 rows

In [ ]:
#sqlContext.sql('select Age, max(Purchase) from train_table group by Age').show()
spark.sql('select Age, max(Purchase) from train_table group by Age').show()

+-----+-------------+
|  Age|max(Purchase)|
+-----+-------------+
|18-25|        23958|
|26-35|        23961|
| 0-17|        23955|
|46-50|        23960|
|51-55|        23960|
|36-45|        23960|
|  55+|        23960|
+-----+-------------+

In [37]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2024-01-22 05:51:55.806819+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)