<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/Containers_Structures_Methods_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

# Examples of working with containers

In [ ]:
#
# Praxis Business School
# Prithwis Mukerjee
#
# Data Structures in Python
#

print("Hello to Data Structures")

Hello to Data Structures

In [ ]:
pList1 = [1,"This is a list"]
print(pList1)

[1, 'This is a list']

In [ ]:
pInt = 2
pReal = 2.318281828
pString = "some Test String"
pList2 = [ pInt, pReal, pString, pList1]
print(pList2)

[2, 2.318281828, 'some Test String', [1, 'This is a list']]

In [ ]:
print("Members ---------------------")

print(pList2[0])
print(pList2[1])
print(pList2[2])
print(pList2[3])

print(pList2[3][0])
print(pList2[3][1])

Members ---------------------
2
2.318281828
some Test String
[1, 'This is a list']
1
This is a list

In [ ]:
print(pList2[3][1][2])

i

In [ ]:
print(pList2)
print(pList2[3])
print(pList2[3][1])
print(pList2[3][1][3])
print(pList2[3][1][3:6])
print(pList2[3][1][6:])

[2, 2.318281828, 'some Test String', [1, 'This is a list']]
[1, 'This is a list']
This is a list
s
s i
s a list

In [ ]:
print(pList2[2][0])
print(pList2[2][1])

s
o

In [ ]:
# Methods operating on Lists

print("Methods ---------------------")
print(pList1)
pList1.append(pInt)
print(pList1)
pList1.insert(1,pReal)
print(pList1)
pList1.remove(pReal)
print(pList1)
pList1.extend(pList2)
print(pList1)

Methods ---------------------
[1, 'This is a list']
[1, 'This is a list', 2]
[1, 2.318281828, 'This is a list', 2]
[1, 'This is a list', 2]
[1, 'This is a list', 2, 2, 2.318281828, 'some Test String', [...]]

In [ ]:
# More Methods

print("More Methods ---------------------")

print(pList1.count("some Test String"), pList1.count(pInt))
print(pList1.index(pInt), pList1.index("some Test String"))
pList1.reverse()
print(pList1)
#pList1.sort()
print(pList1)

More Methods ---------------------
1 2
2 5
[[...], 'some Test String', 2.318281828, 2, 2, 'This is a list', 1]
[[...], 'some Test String', 2.318281828, 2, 2, 'This is a list', 1]

In [ ]:
# List as Stack

print("Stack ---------------------")

pStack1 = [12, 20, 7]
pStack1.append(45)
print(pStack1)
pPopped = pStack1.pop()
print(pPopped, pStack1)

Stack ---------------------
[12, 20, 7, 45]
45 [12, 20, 7]

In [ ]:
pPopped = pStack1.pop()
print(pPopped, pStack1)

7 [12, 20]

In [ ]:
# List as Q
from collections import deque
print("Q ---------------------")

from collections import deque
pList3 = ["Ram", "Shyam", "Jadu"]
pQ = deque(["Ram", "Shyam", "Jadu"])
print(pQ)
a = pQ.popleft()
print(a)
print(pQ)
pQ.append("Sita")
print(pQ)

Q ---------------------
deque(['Ram', 'Shyam', 'Jadu'])
Ram
deque(['Shyam', 'Jadu'])
deque(['Shyam', 'Jadu', 'Sita'])

In [ ]:
# Sets

print("Sets ---------------------")

pList10 = ["Apple", "Orange", "Pear", "Mango", "Apple", "Orange", "Pineapple"]
print(pList10)

pSet = set(pList10)
print(pSet)

Sets ---------------------
['Apple', 'Orange', 'Pear', 'Mango', 'Apple', 'Orange', 'Pineapple']
{'Orange', 'Apple', 'Mango', 'Pineapple', 'Pear'}

In [ ]:
# Tuples

print("Tuples ---------------------")

pTuple1 = 1, 34, "king", "queen"
print(pTuple1)
print(pTuple1[0], pTuple1[3])
pTuple2 = 23, "new fellow", pTuple1
print(pTuple2)

Tuples ---------------------
(1, 34, 'king', 'queen')
1 queen
(23, 'new fellow', (1, 34, 'king', 'queen'))

In [ ]:
# Dictionaries

print("Dictionaries ---------------------")

dTel = { "prithwis": 2066, "charan" : 8077, "govind" : 9234, "jaydeep" : 9324}
print(dTel)
print(dTel.keys())
print(dTel.values())
dTel['SDG'] = 9056
print(dTel)
dTel['prithwis'] = 6602
print(dTel)
print("prithwis" in dTel)
print("Prithwis" in dTel)

Dictionaries ---------------------
{'prithwis': 2066, 'charan': 8077, 'govind': 9234, 'jaydeep': 9324}
dict_keys(['prithwis', 'charan', 'govind', 'jaydeep'])
dict_values([2066, 8077, 9234, 9324])
{'prithwis': 2066, 'charan': 8077, 'govind': 9234, 'jaydeep': 9324, 'SDG': 9056}
{'prithwis': 6602, 'charan': 8077, 'govind': 9234, 'jaydeep': 9324, 'SDG': 9056}
True
False

In [ ]:
# Looping

print("Looping ..........................")
print(dTel.items())

for key, val in dTel.items():
    print (val, val*2, key)

Looping ..........................
dict_items([('prithwis', 6602), ('charan', 8077), ('govind', 9234), ('jaydeep', 9324), ('SDG', 9056)])
6602 13204 prithwis
8077 16154 charan
9234 18468 govind
9324 18648 jaydeep
9056 18112 SDG

In [ ]:
for x, y in dTel.items():
    x = x+'ss'
    y = y*2
    print (x,y)

prithwisss 13204
charanss 16154
govindss 18468
jaydeepss 18648
SDGss 18112

In [ ]:
for y, x in dTel.items():
    x = x+'ss'
    y = y*2
    print (x,y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
pList9 = [[[['a','b','c'],'a','b','c'],'a','b','c'],'a','b','c']
for ix, val in enumerate(pList9):
    print(ix, val)

0 [[['a', 'b', 'c'], 'a', 'b', 'c'], 'a', 'b', 'c']
1 a
2 b
3 c

In [ ]:
print("Enumerate ..........................")

print(pList1)
for ix, val in enumerate(pList1):
    print (ix,val)

#for ix, val in enumerate(pTuple1):
#    print (ix,val)

for ix, val in enumerate(dTel):
    print (ix,val)

#for ix, k, val in enumerate(dTel):
#    print (ix,k,val)

Enumerate ..........................
[[...], 'some Test String', 2.318281828, 2, 2, 'This is a list', 1]
0 [[...], 'some Test String', 2.318281828, 2, 2, 'This is a list', 1]
1 some Test String
2 2.318281828
3 2
4 2
5 This is a list
6 1
0 prithwis
1 charan
2 govind
3 jaydeep
4 SDG

In [ ]:
print("Zip ..........................")

teachers = ["prithwis","charan","jaydeep","subhasis"]
subjects = ["bigdata", "communications", "stats", "datamining"]

for t,s in zip(teachers,subjects):
    print(t," teaches ",s)

Zip ..........................
prithwis  teaches  bigdata
charan  teaches  communications
jaydeep  teaches  stats
subhasis  teaches  datamining

In [ ]:
print(pList2)

[2, 2.318281828, 'some Test String', [[...], 'some Test String', 2.318281828, 2, 2, 'This is a list', 1]]

In [ ]:
# Membership

print(pInt in pList2)
print(2 in pList2)
print(33  not in pList2)

fruit1 = ["apple", "pear", "orange", "mango"]
fruit2 = ["apple", "grape", "banana","mango"]

print("pear" in fruit1)
print("pear" in fruit2)
print (set(fruit1).intersection(fruit2))
print (set(fruit1).union(fruit2))

True
True
True
True
False
{'apple', 'mango'}
{'pear', 'mango', 'apple', 'orange', 'grape', 'banana'}

#Map Reduce

In [ ]:
# Praxis Business School
# Prithwis Mukerjee
#
# Data Structures in Python
# there are some changes that are necessary for these codes to work in Python 3
# range, filter, map return objects that are not lists â€¦ hence we need to cast them into lists
# reduce has been replaced with functools.reduce
# these changes are shown in red

#http://stackoverflow.com/questions/12319025/filters-in-python
#http://stackoverflow.com/questions/13638898/how-to-use-filter-map-and-reduce-in-python-3
print("Hello to Data Structues")

Hello to Data Structues

In [ ]:
print("Filter Functions ................................")

print('range', range(1,10))

pList1 = list(range(1,10))
print('plist1',pList1)

def pEven(x) : return x%2 == 0
pList2 = list(filter(pEven,pList1))
print(pList2)

pList3 = ["Ram", "RamPM", "Shyam", "PMShyam", "Sita", "SiPMMta"]
print(pList3)

def hasPM(x) : return "PM" in x
pList4 = list(filter(hasPM, pList3))
print(pList4)

Filter Functions ................................
range range(1, 10)
plist1 [1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
['Ram', 'RamPM', 'Shyam', 'PMShyam', 'Sita', 'SiPMMta']
['RamPM', 'PMShyam', 'SiPMMta']

In [ ]:
# Lambda functions
print("Lambda Functions ................................")

pList2a = list(filter (lambda x : x%2 == 0, pList1))
print(pList2a)

pList4a = list(filter(lambda x: "PM" in x, pList3))
print(pList4a)

Lambda Functions ................................
[2, 4, 6, 8]
['RamPM', 'PMShyam', 'SiPMMta']

In [ ]:
# Map
print("Map Functions ................................")
print(pList1)
pList5 = list(map(lambda x : x*x, pList1))            # square each number in the list
print(pList5)

print(pList3)
pList6 = list(map(lambda x : "WW"+x, pList3))          # appends the char Y to each string in the list
print(pList6)

pList7 = list(map(lambda x : len(x), pList3)  )       # returns the number of characters in each string of the list
print(pList7)

print('pList3 > ',pList3)
pList8 = list(map(lambda x : (x,len(x)),pList3) )    # returns a list of tuples
print(pList8)

Map Functions ................................
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
['Ram', 'RamPM', 'Shyam', 'PMShyam', 'Sita', 'SiPMMta']
['WWRam', 'WWRamPM', 'WWShyam', 'WWPMShyam', 'WWSita', 'WWSiPMMta']
[3, 5, 5, 7, 4, 7]
pList3 >  ['Ram', 'RamPM', 'Shyam', 'PMShyam', 'Sita', 'SiPMMta']
[('Ram', 3), ('RamPM', 5), ('Shyam', 5), ('PMShyam', 7), ('Sita', 4), ('SiPMMta', 7)]

In [ ]:
# Reduce
print("Reduce Functions ................................")

import functools
print(pList1)
pVal1 = functools.reduce(lambda x,y: x+y, pList1)         #   adding the numbers in a list
print(pVal1)

print(pList3)
pVal2 = functools.reduce(lambda x,y: x+y, pList3)         # concatenating string in a list
print(pVal2)

print(pList8)
pVal3 = functools.reduce(lambda x,y: (x[0]+y[0], x[1]+y[1]), pList8)  #   adding and concatenating elements in a list
print(pVal3)
#pVal4 = functools.reduce(lambda x,y: (x[1]+y[1], x[0]+y[0]), pList8)  #   adding and concatenating elements in a list
#print(pVal4)

Reduce Functions ................................
[1, 2, 3, 4, 5, 6, 7, 8, 9]
45
['Ram', 'RamPM', 'Shyam', 'PMShyam', 'Sita', 'SiPMMta']
RamRamPMShyamPMShyamSitaSiPMMta
[('Ram', 3), ('RamPM', 5), ('Shyam', 5), ('PMShyam', 7), ('Sita', 4), ('SiPMMta', 7)]
('RamRamPMShyamPMShyamSitaSiPMMta', 31)

In [ ]:
pList20 = ["Ram", "RamPM", "Shyam", "PMShyam", "Sita", "SiPMMta"]
print(pList20)
pList21A = list(map(lambda x : (x,len(x)),pList20) )    # returns a list of tuples
print(pList21A)
pList21B = list(map(lambda x : (len(x),x),pList20) )    # returns a list of tuples
print(pList21B)
print('----')
print(pList21A)
pVal22A = functools.reduce(lambda x,y: (x[0]+y[0], x[1]+y[1]), pList21A)  #   adding and concatenating elements in a list
print(pVal22A)
print(pList21B)
pVal22B = functools.reduce(lambda x,y: (x[0]+y[0], x[1]+y[1]), pList21B)  #   adding and concatenating elements in a list
print(pVal22B)
print('----')
#print(pList21A)
#pVal22C = functools.reduce(lambda x,y: (x[1]+y[1], x[0]+y[0]), pList21A)  #   adding and concatenating elements in a list
#print(pVal22C)
print(pList21B)
# following statement will throw an error
#pVal22D = functools.reduce(lambda x,y: (x[1]+y[1], x[0]+y[0]), pList21B)  #   adding and concatenating elements in a list
#print(pVal22D)

['Ram', 'RamPM', 'Shyam', 'PMShyam', 'Sita', 'SiPMMta']
[('Ram', 3), ('RamPM', 5), ('Shyam', 5), ('PMShyam', 7), ('Sita', 4), ('SiPMMta', 7)]
[(3, 'Ram'), (5, 'RamPM'), (5, 'Shyam'), (7, 'PMShyam'), (4, 'Sita'), (7, 'SiPMMta')]
----
[('Ram', 3), ('RamPM', 5), ('Shyam', 5), ('PMShyam', 7), ('Sita', 4), ('SiPMMta', 7)]
('RamRamPMShyamPMShyamSitaSiPMMta', 31)
[(3, 'Ram'), (5, 'RamPM'), (5, 'Shyam'), (7, 'PMShyam'), (4, 'Sita'), (7, 'SiPMMta')]
(31, 'RamRamPMShyamPMShyamSitaSiPMMta')
----
[(3, 'Ram'), (5, 'RamPM'), (5, 'Shyam'), (7, 'PMShyam'), (4, 'Sita'), (7, 'SiPMMta')]

for an explanation on why we are getting an error in the previous code, see this link in stackoverflow https://stackoverflow.com/questions/62298383/python-reduce-order-of-arguments-cause-error/62298679?noredirect=1#comment110247133_62298679

In [ ]:
E1 = [ 'PM', 'M', 30]
E2 = [ 'CP', 'M', 40]
E3 = ['SRC','F', 50]

L1 = [E1,E2,E3]
print(E1, E2, E3, L1)

['PM', 'M', 30] ['CP', 'M', 40] ['SRC', 'F', 50] [['PM', 'M', 30], ['CP', 'M', 40], ['SRC', 'F', 50]]

In [ ]:
L2 = list(filter(lambda x:  x[1] == 'M', L1))
print(L2)

[['PM', 'M', 30], ['CP', 'M', 40]]

In [ ]:
def f(x):
    if x[1] == 'M':
        x[1] = 1
    else :
        x[1] = 0
    return(x)
print(f(E1))

['PM', 1, 30]

In [ ]:
print(L1)
L3 = list(map(f,L1))
print(L3)

[['PM', 1, 30], ['CP', 'M', 40], ['SRC', 'F', 50]]
[['PM', 0, 30], ['CP', 1, 40], ['SRC', 0, 50]]

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself.
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)