<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_B3_Hadoop_HBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Hadoop 
Install and Test

In [1]:
# The default JVM available at /usr/lib/jvm/java-11-openjdk-amd64/  works for Hadoop
# But gives errors with Hive https://stackoverflow.com/questions/54037773/hive-exception-class-jdk-internal-loader-classloadersappclassloader-cannot
# Hence this JVM needs to be installed
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Download the latest version of Hadoop
!wget -q https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
# Unzip it
# the tar command with the -x flag to extract, -z to uncompress, -v for verbose output, and -f to specify that weâ€™re extracting from a file
!tar -xzf hadoop-3.3.3.tar.gz
#copy  hadoop file to user/local
!mv  hadoop-3.3.3/ /usr/local/

In [ ]:
#To find the default Java path
#!readlink -f /usr/bin/java | sed "s:bin/java::"
#!ls /usr/lib/jvm/

## Set Hadoop Environment

In [3]:
#To set java path, go to /usr/local/hadoop-3.3.0/etc/hadoop/hadoop-env.sh then
#. . . export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/ . . .
#we have used a simpler alternative route using os.environ - it works

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"   # default is changed
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.3/"

In [4]:
# Add Hadoop BIN to PATH
# current_path taken from last command
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin'
#new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
#os.environ["PATH"] = new_path

current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/

In [6]:
# Testing Hadoop with PI generating sample program, should calculate value of pi = 3.14157500000000000000
# pi example
#Uncomment the following line if  you want to test Hadoop with pi example
#!hadoop jar /usr/local/hadoop-3.3.3/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.3.jar pi 16 100000

#Install HBase

In [5]:
# Get the latest HBase download site from here https://www.apache.org/dyn/closer.lua/hbase/
# or even better check here for latest downloads >>> https://downloads.apache.org/hbase/
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.5/hbase-2.4.5-bin.tar.gz
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.8/hbase-2.4.8-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.4.9/hbase-2.4.9-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.4.12/hbase-2.4.12-bin.tar.gz
#!wget -q https://downloads.apache.org/hbase/2.5.0/hbase-2.5.0-bin.tar.gz
!wget -q https://downloads.apache.org/hbase/2.5.2/hbase-2.5.2-bin.tar.gz
#!tar xzf hbase-2.4.5-bin.tar.gz
#!tar xzf hbase-2.4.8-bin.tar.gz
#!tar xzf hbase-2.4.9-bin.tar.gz
#!tar xzf hbase-2.4.12-bin.tar.gz
#!tar xzf hbase-2.5.0-bin.tar.gz
!tar xzf hbase-2.5.2-bin.tar.gz

## Set HBase Environment

In [6]:
#os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.2-bin"
#!echo $HIVE_HOME
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.5/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.8/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.9/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.12/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.5.0/"
os.environ["HBASE_HOME"] = "/content/hbase-2.5.2/"
!echo $HBASE_HOME

/content/hbase-2.5.2/

In [7]:
# current_path taken from command in previous cell
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/'
current_path = os.getenv('PATH')
#new_path = current_path+':/content/hbase-2.4.5/bin'
#new_path = current_path+':/content/hbase-2.4.8/bin'
#new_path = current_path+':/content/hbase-2.4.9/bin'
#new_path = current_path+':/content/hbase-2.4.12/bin'
#new_path = current_path+':/content/hbase-2.5.0/bin'
new_path = current_path+':/content/hbase-2.5.2/bin'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/:/content/hbase-2.5.2/bin

In [8]:
!echo $JAVA_HOME
!echo $HADOOP_HOME
!echo $HBASE_HOME

/usr/lib/jvm/java-8-openjdk-amd64
/usr/local/hadoop-3.3.3/
/content/hbase-2.5.2/

In [ ]:
# the file hbase-site.xml may need to be updated ...
# however the default file works well in the simple stand-alone HBase mode
# so no need to touch it
#!cat $HBASE_HOME/conf/hbase-site.xml

## Some Clean UP
Otherwise we get ugly warnings

In [9]:
#!find /content/hbase-2.5.0/lib -name slf4j*
!find /content/hbase-2.5.2/lib -name slf4j*

/content/hbase-2.5.2/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar

In [10]:
#!ls /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar
!ls /content/hbase-2.5.2/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar

/content/hbase-2.5.2/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar

In [11]:
!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/jul-to-slf4j-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar

In [15]:
!ls /usr/local/hadoop-3.3.3//share/hadoop/common/lib/sl*

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar.disable
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar

In [12]:
# locate multiple instances of slf4j ...
#!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*
#!ls $HADOOP_HOME/share/hadoop/common/lib/
#!ls $HBASE_HOME/lib//*slf4j*
#!ls /content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar
#!ls /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar
#!ls /content/hbase-2.5.2/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar

In [21]:
# remove the Hadoop logger out of the path
# without this you will get ugly warnings every time
#
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar .
#!mv /content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar .
#!mv /content/hbase-2.5.0/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar .
#!mv /content/hbase-2.5.2/lib/client-facing-thirdparty/slf4j-api-1.7.33.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar .
#
!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar.disable
!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar.disable

mv: cannot stat '/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar': No such file or directory

In [22]:
!ls /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j*

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar.disable
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar.disable

## Start HBase server

In [23]:
!stop-hbase.sh

no hbase master found

In [24]:
!start-hbase.sh

running master, logging to /content/hbase-2.5.2//logs/hbase--master-f9af5af4f073.out

In [25]:
!jps

4917 Jps
4719 HMaster

# Run Hbase Shell

In [26]:
# you can enter hbase shell commands at the prompt. Double click on the prompt to open up a input box
!hbase shell

HBase Shell
Use "help" to get list of supported commands.
Use "exit" to quit this interactive shell.
For Reference, please visit: http://hbase.apache.org/2.0/book.html#shell
Version 2.5.2, r3e28acf0b819f4b4a1ada2b98d59e05b0ef94f96, Thu Nov 24 02:06:40 UTC 2022
Took 0.0062 seconds
hbase:001:0> exit

shell commands  <br>
https://www.tutorialspoint.com/hbase/hbase_shell.htm <br>
https://www.guru99.com/hbase-shell-general-commands.html <br>
better way of passing shell commands are given here

In [19]:
!echo 'status' | hbase shell -n

hbase:001:0> status
1 active master, 0 backup masters, 1 servers, 0 dead, 2.0000 average load
Took 0.7754 seconds
hbase:002:0>

In [ ]:
#!echo "status 'detail'" | hbase shell -n

In [20]:
!echo "whoami" | hbase shell -n

hbase:001:0> whoami
root (auth:SIMPLE)
    groups: root
Took 0.0901 seconds
hbase:002:0>

## Simple Tutorial
command line tutorial https://akbarahmed.com/2012/08/13/hbase-command-line-tutorial/

In [21]:
!echo "create 'table1', 'columnfamily1'" | hbase shell -n

hbase:001:0> create 'table1', 'columnfamily1'
Created table table1
Took 1.3809 seconds
=> Hbase::Table - table1
hbase:002:0>

In [22]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
table1
1 row(s)
Took 0.7692 seconds
=> ["table1"]
hbase:002:0>

In [27]:
!echo "create 'cars', 'vi'" | hbase shell -n

hbase:001:0> create 'cars', 'vi'
Created table cars
Took 1.5541 seconds
=> Hbase::Table - cars
hbase:002:0>

In [24]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
cars
table1
2 row(s)
Took 0.7104 seconds
=> ["cars", "table1"]
hbase:002:0>

In [28]:
# add ONE row
# nearly THREE seconds per row ... what will you do with a million rows? wait for bulk loader
!echo "put 'cars', 'row1', 'vi:make', 'bmw'" | hbase shell -n
!echo "put 'cars', 'row1', 'vi:model', '5 series'" | hbase shell -n
!echo "put 'cars', 'row1', 'vi:year', '2012'" | hbase shell -n

hbase:001:0> put 'cars', 'row1', 'vi:make', 'bmw'
Took 0.9043 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row1', 'vi:model', '5 series'
Took 1.1347 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row1', 'vi:year', '2012'
Took 0.9061 seconds
hbase:002:0>

In [29]:
%%time
# add ONE row
!echo "put 'cars', 'row2', 'vi:make', 'mercedes'" | hbase shell -n
!echo "put 'cars', 'row2', 'vi:model', 'e class'" | hbase shell -n
!echo "put 'cars', 'row2', 'vi:year', '2012'" | hbase shell -n

hbase:001:0> put 'cars', 'row2', 'vi:make', 'mercedes'
Took 0.9542 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row2', 'vi:model', 'e class'
Took 1.0611 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row2', 'vi:year', '2012'
Took 0.8398 seconds
hbase:002:0>
CPU times: user 716 ms, sys: 111 ms, total: 828 ms
Wall time: 1min 14s

In [30]:
%%time
!echo "scan 'cars'" | hbase shell -n

hbase:001:0> scan 'cars'
ROW                   COLUMN+CELL
 row1                 column=vi:make, timestamp=2023-01-08T05:32:26.464, value=b
                      mw
 row1                 column=vi:model, timestamp=2023-01-08T05:32:52.160, value=
                      5 series
 row1                 column=vi:year, timestamp=2023-01-08T05:33:17.594, value=2
                      012
 row2                 column=vi:make, timestamp=2023-01-08T05:33:52.137, value=m
                      ercedes
 row2                 column=vi:model, timestamp=2023-01-08T05:34:17.887, value=
                      e class
 row2                 column=vi:year, timestamp=2023-01-08T05:34:42.512, value=2
                      012
2 row(s)
Took 0.9818 seconds
hbase:002:0>
CPU times: user 238 ms, sys: 34 ms, total: 272 ms
Wall time: 25.4 s

In [ ]:
!echo "scan 'cars', {COLUMNS => ['vi:make']}" | hbase shell -n

ROW                   COLUMN+CELL
 row1                 column=vi:make, timestamp=2021-11-24T04:18:12.087, value=b
                      mw
 row2                 column=vi:make, timestamp=2021-11-24T04:21:58.589, value=m
                      ercedes
2 row(s)
Took 0.8018 seconds

In [ ]:
!echo "get 'cars', 'row1'"| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:11:02.984, value=bmw
 vi:model             timestamp=2022-01-14T04:12:17.633, value=5 series
 vi:year              timestamp=2022-01-14T04:13:32.015, value=2012
1 row(s)
Took 1.0586 seconds

In [ ]:
!echo "get 'cars', 'row1', 'vi:make' "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:11:02.984, value=bmw
1 row(s)
Took 1.0870 seconds

### Versioning

In [ ]:
# add the same row a second time
!echo "put 'cars', 'row1', 'vi:make', 'bmw-v2'" | hbase shell -n

Took 0.9879 seconds

In [ ]:
!echo "get 'cars', 'row1', 'vi:make' "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:37:03.533, value=bmw-v2
1 row(s)
Took 1.0824 seconds

In [ ]:
!echo "get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2} "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:37:03.533, value=bmw-v2
1 row(s)
Took 0.8776 seconds

In [ ]:
# versioning is not setup by default
! echo "alter 'cars', NAME=>'vi', VERSIONS=>3" | hbase shell -n

Updating all regions with the new schema...
1/1 regions updated.
Done.
Took 2.7625 seconds

In [ ]:
# add the same row a third time
!echo "put 'cars', 'row1', 'vi:make', 'bmw-v3'" | hbase shell -n

Took 0.9044 seconds

In [ ]:
!echo "get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2} "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:59:31.830, value=bmw-v3
 vi:make              timestamp=2022-01-14T04:37:03.533, value=bmw-v2
1 row(s)
Took 0.9090 seconds

In [ ]:
!echo "disable 'cars'" | hbase shell -n
!echo "drop 'cars'" | hbase shell -n

Took 1.2346 seconds

Took 1.1423 seconds

#Bulk Data Load
https://people.apache.org/~stack/site/bulk-loads.html

In [32]:
#Data as CSV file
#!gdown https://drive.google.com/uc?id=1B6szzHNG7BCToKOktRiGUfFblrp1f_GC  # cars2.csv
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/main/data/hbase/cars2.csv
# see the data
!cat cars2.csv

Ford,Ecosport,2019
Hyundai,i20,2015
Maruti,Omni,2007

In [ ]:
#!echo "disable 'cars2'" | hbase shell -n
#!echo "drop 'cars2'" | hbase shell -n

In [33]:
#create 'sensor','temp','vibration','pressure'
!echo "create 'cars2', 'make','model','year'" | hbase shell -n

hbase:001:0> create 'cars2', 'make','model','year'
Created table cars2
Took 1.6989 seconds
=> Hbase::Table - cars2
hbase:002:0>

In [34]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
cars
cars2
2 row(s)
Took 0.7559 seconds
=> ["cars", "cars2"]
hbase:002:0>

In [36]:
!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar.disable /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar
!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar.disable /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar

In [37]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal cars2.csv /tmp

In [38]:
!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar.disable
!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar.disable

In [39]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,make,model,year" cars2 /tmp/cars2.csv

2023-01-08T05:41:43,581 INFO  [main] Configuration.deprecation: hbase.client.pause.cqtbe is deprecated. Instead, use hbase.client.pause.server.overloaded
2023-01-08T05:41:43,699 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:zookeeper.version=3.5.7-f0fdd52973d373ffd9c86b81d99842dc2c7f660e, built on 02/10/2020 11:30 GMT
2023-01-08T05:41:43,700 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:host.name=f9af5af4f073
2023-01-08T05:41:43,700 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:java.version=1.8.0_352
2023-01-08T05:41:43,700 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:java.vendor=Private Build
2023-01-08T05:41:43,700 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:java.home=/usr/lib/jvm/java-8-openjdk-amd64/jre
2023-01-08T05:41:43,700 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: ar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-resourcemanager-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-tests-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-applicationhistoryservice-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-web-proxy-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-unmanaged-am-launcher-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-timeline-pluginstorage-3.3.3.jar:/content/hbase-2.5.2//lib/client-facing-thirdparty/log4j-1.2-api-2.17.2.jar:/content/hbase-2.5.2//lib/client-facing-thirdparty/log4j-api-2.17.2.jar:/content/hbase-2.5.2//lib/client-facing-thirdparty/log4j-core-2.17.2.jar:/content/hbase-2.5.2//lib/client-facing-thirdparty/log4j-slf4j-impl-2.17.2.jar
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:java.library.path=/usr/local/hadoop-3.3.3//lib/native
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:java.io.tmpdir=/tmp
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:java.compiler=<NA>
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:os.name=Linux
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:os.arch=amd64
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:os.version=5.10.147+
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:user.name=root
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:user.home=/root
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:user.dir=/content
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:os.memory.free=153MB
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:os.memory.max=3231MB
2023-01-08T05:41:43,701 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Client environment:os.memory.total=197MB
2023-01-08T05:41:43,708 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$44/1137246978@41524ae6
2023-01-08T05:41:43,728 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] common.X509Util: Setting -D jdk.tls.rejectClientInitiatedRenegotiation=true to disable client-initiated TLS renegotiation
2023-01-08T05:41:43,739 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2023-01-08T05:41:43,752 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2023-01-08T05:41:43,774 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2023-01-08T05:41:43,781 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:42912, server: localhost/127.0.0.1:2181
2023-01-08T05:41:43,793 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x100000911c7000d, negotiated timeout = 40000
2023-01-08T05:41:46,219 INFO  [main] Configuration.deprecation: session.id is deprecated. Instead, use dfs.metrics.session-id
2023-01-08T05:41:46,220 INFO  [main] jvm.JvmMetrics: Initializing JVM Metrics with processName=JobTracker, sessionId=
2023-01-08T05:41:46,278 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$44/1137246978@41524ae6
2023-01-08T05:41:46,279 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2023-01-08T05:41:46,280 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2023-01-08T05:41:46,285 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2023-01-08T05:41:46,287 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:43286, server: localhost/127.0.0.1:2181
2023-01-08T05:41:46,291 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x100000911c7000e, negotiated timeout = 40000
2023-01-08T05:41:46,297 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f] zookeeper.ZooKeeper: Session: 0x100000911c7000d closed
2023-01-08T05:41:46,298 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x673be18f-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x100000911c7000d
2023-01-08T05:41:46,430 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5] zookeeper.ZooKeeper: Session: 0x100000911c7000e closed
2023-01-08T05:41:46,430 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4925f4f5-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x100000911c7000e
2023-01-08T05:41:46,610 INFO  [main] input.FileInputFormat: Total input files to process : 1
2023-01-08T05:41:46,656 INFO  [main] mapreduce.JobSubmitter: number of splits:1
2023-01-08T05:41:46,997 INFO  [main] mapreduce.JobSubmitter: Submitting tokens for job: job_local2133718102_0001
2023-01-08T05:41:47,461 INFO  [main] mapred.LocalDistributedCacheManager: Creating symlink: /tmp/hadoop-root/mapred/local/1673156507208/libjars <- /content/libjars/*
2023-01-08T05:41:47,477 WARN  [main] fs.FileUtil: Command 'ln -s /tmp/hadoop-root/mapred/local/1673156507208/libjars /content/libjars/*' failed 1 with: ln: failed to create symbolic link '/content/libjars/*': No such file or directory

2023-01-08T05:41:47,478 WARN  [main] mapred.LocalDistributedCacheManager: Failed to create symlink: /tmp/hadoop-root/mapred/local/1673156507208/libjars <- /content/libjars/*
2023-01-08T05:41:47,478 INFO  [main] mapred.LocalDistributedCacheManager: Localized file:/tmp/hadoop-root/mapred/staging/root2133718102/.staging/job_local2133718102_0001/libjars as file:/tmp/hadoop-root/mapred/local/1673156507208/libjars
2023-01-08T05:41:47,585 INFO  [main] mapreduce.Job: The url to track the job: http://localhost:8080/
2023-01-08T05:41:47,586 INFO  [main] mapreduce.Job: Running job: job_local2133718102_0001
2023-01-08T05:41:47,594 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter set in config null
2023-01-08T05:41:47,640 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter is org.apache.hadoop.hbase.mapreduce.TableOutputCommitter
2023-01-08T05:41:47,692 INFO  [Thread-7] mapred.LocalJobRunner: Waiting for map tasks
2023-01-08T05:41:47,693 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Starting task: attempt_local2133718102_0001_m_000000_0
2023-01-08T05:41:47,813 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task:  Using ResourceCalculatorProcessTree : [ ]
2023-01-08T05:41:47,850 INFO  [LocalJobRunner Map Task Executor #0] mapred.MapTask: Processing split: file:/tmp/cars2.csv:0+52
2023-01-08T05:41:47,870 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$44/1137246978@41524ae6
2023-01-08T05:41:47,871 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2023-01-08T05:41:47,872 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2023-01-08T05:41:47,873 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2023-01-08T05:41:47,874 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:43290, server: localhost/127.0.0.1:2181
2023-01-08T05:41:47,878 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x100000911c7000f, negotiated timeout = 40000
2023-01-08T05:41:47,887 INFO  [LocalJobRunner Map Task Executor #0] mapreduce.TableOutputFormat: Created table instance for cars2
2023-01-08T05:41:47,913 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$44/1137246978@41524ae6
2023-01-08T05:41:47,913 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2023-01-08T05:41:47,917 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2023-01-08T05:41:47,918 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2023-01-08T05:41:47,920 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:43300, server: localhost/127.0.0.1:2181
2023-01-08T05:41:47,925 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x100000911c70010, negotiated timeout = 40000
2023-01-08T05:41:48,052 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner:
2023-01-08T05:41:48,148 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7] zookeeper.ZooKeeper: Session: 0x100000911c70010 closed
2023-01-08T05:41:48,148 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4f90fee7-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x100000911c70010
2023-01-08T05:41:48,258 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task:attempt_local2133718102_0001_m_000000_0 is done. And is in the process of committing
2023-01-08T05:41:48,283 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: map
2023-01-08T05:41:48,283 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task 'attempt_local2133718102_0001_m_000000_0' done.
2023-01-08T05:41:48,293 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Final Counters for attempt_local2133718102_0001_m_000000_0: Counters: 19
	File System Counters
		FILE: Number of bytes read=430789
		FILE: Number of bytes written=1016247
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=3
		Map output records=3
		Input split bytes=84
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=740
		Physical memory (bytes) snapshot=288325632
		Virtual memory (bytes) snapshot=5111697408
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=72
	File Output Format Counters
		Bytes Written=0
2023-01-08T05:41:48,293 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Finishing task: attempt_local2133718102_0001_m_000000_0
2023-01-08T05:41:48,294 INFO  [Thread-7] mapred.LocalJobRunner: map task executor complete.
2023-01-08T05:41:48,366 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x100000911c7000f
2023-01-08T05:41:48,365 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0fe20a8f] zookeeper.ZooKeeper: Session: 0x100000911c7000f closed
2023-01-08T05:41:48,592 INFO  [main] mapreduce.Job: Job job_local2133718102_0001 running in uber mode : false
2023-01-08T05:41:48,594 INFO  [main] mapreduce.Job:  map 100% reduce 0%
2023-01-08T05:41:48,596 INFO  [main] mapreduce.Job: Job job_local2133718102_0001 completed successfully
2023-01-08T05:41:48,602 INFO  [main] mapreduce.Job: Counters: 19
	File System Counters
		FILE: Number of bytes read=430789
		FILE: Number of bytes written=1016247
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=3
		Map output records=3
		Input split bytes=84
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=740
		Physical memory (bytes) snapshot=288325632
		Virtual memory (bytes) snapshot=5111697408
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=72
	File Output Format Counters
		Bytes Written=0

In [40]:
!echo "scan 'cars2'" | hbase shell -n

hbase:001:0> scan 'cars2'
ROW                   COLUMN+CELL
 Ford                 column=make:, timestamp=2023-01-08T05:41:43.111, value=Eco
                      sport
 Ford                 column=model:, timestamp=2023-01-08T05:41:43.111, value=20
                      19
 Hyundai              column=make:, timestamp=2023-01-08T05:41:43.111, value=i20
 Hyundai              column=model:, timestamp=2023-01-08T05:41:43.111, value=20
                      15
 Maruti               column=make:, timestamp=2023-01-08T05:41:43.111, value=Omn
                      i
 Maruti               column=model:, timestamp=2023-01-08T05:41:43.111, value=20
                      07
3 row(s)
Took 1.1266 seconds
hbase:002:0>

#Stop HBase

In [41]:
!stop-hbase.sh

stopping hbase...............

In [42]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2023-01-08 11:16:18.680577+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)