<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_B3A_Hadoop_HBase_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Hadoop 
Install and Test

In [1]:
# The default JVM available at /usr/lib/jvm/java-11-openjdk-amd64/  works for Hadoop
# But gives errors with Hive https://stackoverflow.com/questions/54037773/hive-exception-class-jdk-internal-loader-classloadersappclassloader-cannot
# Hence this JVM needs to be installed
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Download the latest version of Hadoop
#!wget https://downloads.apache.org/hadoop/common/hadoop-3.3.0/hadoop-3.3.0.tar.gz
!wget https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
# Unzip it
# the tar command with the -x flag to extract, -z to uncompress, -v for verbose output, and -f to specify that we’re extracting from a file
#!tar -xzf hadoop-3.3.0.tar.gz
!tar -xzf hadoop-3.3.3.tar.gz
#copy  hadoop file to user/local
#!mv  hadoop-3.3.0/ /usr/local/
!mv  hadoop-3.3.3/ /usr/local/

--2022-06-24 00:05:18--  https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.95.219, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 645040598 (615M) [application/x-gzip]
Saving to: ‘hadoop-3.3.3.tar.gz’

hadoop-3.3.3.tar.gz 100%[===================>] 615.16M  85.1MB/s    in 7.5s

2022-06-24 00:05:25 (81.6 MB/s) - ‘hadoop-3.3.3.tar.gz’ saved [645040598/645040598]

In [ ]:
#To find the default Java path
#!readlink -f /usr/bin/java | sed "s:bin/java::"
#!ls /usr/lib/jvm/

## Set Hadoop Environment

In [3]:
#To set java path, go to /usr/local/hadoop-3.3.0/etc/hadoop/hadoop-env.sh then
#. . . export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/ . . .
#we have used a simpler alternative route using os.environ - it works

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"   # default is changed
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
#os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.0/"
os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.3/"

In [4]:
# Add Hadoop BIN to PATH
# current_path taken from last command
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin'
current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
os.environ["PATH"] = new_path

In [ ]:
# Testing Hadoop with PI generating sample program, should calculate value of pi = 3.14157500000000000000
# pi example
#Uncomment the following line if  you want to test Hadoop with pi example
#!hadoop jar /usr/local/hadoop-3.3.0/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.0.jar pi 16 100000
#!hadoop jar /usr/local/hadoop-3.3.3/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.3.jar pi 16 100000

#Install HBase

In [5]:
# Get the latest HBase download site from here https://www.apache.org/dyn/closer.lua/hbase/
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.5/hbase-2.4.5-bin.tar.gz
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.8/hbase-2.4.8-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.4.9/hbase-2.4.9-bin.tar.gz
!wget https://downloads.apache.org/hbase/2.4.12/hbase-2.4.12-bin.tar.gz
#!tar xzf hbase-2.4.5-bin.tar.gz
#!tar xzf hbase-2.4.8-bin.tar.gz
#!tar xzf hbase-2.4.9-bin.tar.gz
!tar xzf hbase-2.4.12-bin.tar.gz

--2022-06-24 00:06:21--  https://downloads.apache.org/hbase/2.4.12/hbase-2.4.12-bin.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 135.181.214.104, 2a01:4f9:3a:2c57::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 283605397 (270M) [application/x-gzip]
Saving to: ‘hbase-2.4.12-bin.tar.gz’

hbase-2.4.12-bin.ta 100%[===================>] 270.47M  84.2MB/s    in 3.5s

2022-06-24 00:06:25 (77.1 MB/s) - ‘hbase-2.4.12-bin.tar.gz’ saved [283605397/283605397]

## Set HBase Environment

In [6]:
#os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.2-bin"
#!echo $HIVE_HOME
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.5/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.8/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.9/"
os.environ["HBASE_HOME"] = "/content/hbase-2.4.12/"
!echo $HBASE_HOME

/content/hbase-2.4.12/

In [7]:
# current_path taken from command in previous cell
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin:/usr/local/hadoop-3.3.0/bin/'
#new_path = current_path+':/content/hbase-2.4.5/bin'
current_path = os.getenv('PATH')
#new_path = current_path+':/content/hbase-2.4.8/bin'
#new_path = current_path+':/content/hbase-2.4.9/bin'
new_path = current_path+':/content/hbase-2.4.12/bin'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/:/content/hbase-2.4.12/bin

In [8]:
!echo $JAVA_HOME
!echo $HADOOP_HOME
!echo $HBASE_HOME

/usr/lib/jvm/java-8-openjdk-amd64
/usr/local/hadoop-3.3.3/
/content/hbase-2.4.12/

In [ ]:
# the file hbase-site.xml may need to be updated ...
# however the default file works well in the simple stand-alone HBase mode
# so no need to touch it
#!cat $HBASE_HOME/conf/hbase-site.xml

## Some Clean UP
Otherwise we get ugly warnings

In [ ]:
# locate multiple instances of slf4j ...
!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*
!ls $HBASE_HOME/lib/*slf4j*
!ls /content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/jul-to-slf4j-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar
/content/hbase-2.4.12//lib/jcl-over-slf4j-1.7.33.jar
/content/hbase-2.4.12//lib/jul-to-slf4j-1.7.33.jar
/content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar

In [9]:
# remove the Hadoop logger out of the path
# without this you will get ugly warnings every time
#!mv /usr/local/hadoop-3.3.0//share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar .
!mv /content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar .

## Start HBase server

In [10]:
!start-hbase.sh
!jps

running master, logging to /content/hbase-2.4.12//logs/hbase--master-ee3c957a6bdf.out
1234 HMaster
1388 Jps

# Run Hbase Shell
do not skip these two shell commands

In [ ]:
# you can enter hbase shell commands at the prompt. Double click on the prompt to open up a input box
#!hbase shell

shell commands  <br>
https://www.tutorialspoint.com/hbase/hbase_shell.htm <br>
https://www.guru99.com/hbase-shell-general-commands.html <br>
better way of passing shell commands are given here

In [11]:
!echo 'status' | hbase shell -n
#!echo "status 'detail'" | hbase shell -n

hbase:001:0> status
1 active master, 0 backup masters, 1 servers, 0 dead, 2.0000 average load
Took 0.6159 seconds
hbase:002:0>

In [ ]:
!echo "whoami" | hbase shell -n

hbase:001:0> whoami
root (auth:SIMPLE)
    groups: root
Took 0.0179 seconds
hbase:002:0>

#Install HappyBase / Thrift <br>
https://happybase.readthedocs.io/en/latest/

In [12]:
!stop-hbase.sh

stopping hbase...........

In [13]:
!pip -qq install happybase

     |████████████████████████████████| 40 kB 5.4 MB/s
     |████████████████████████████████| 361 kB 20.8 MB/s
     |████████████████████████████████| 49 kB 7.5 MB/s
  Building wheel for happybase (setup.py) ... done
  Building wheel for thriftpy2 (setup.py) ... done

In [14]:
import happybase
#https://happybase.readthedocs.io/en/latest/

In [15]:
#!ls hbase-2.4.8/bin
#!hbase-2.4.8/bin/hbase-daemon.sh start thrift
!hbase-daemon.sh start thrift

running thrift, logging to /content/hbase-2.4.12//logs/hbase--thrift-ee3c957a6bdf.out

In [16]:
!start-hbase.sh
!jps

running master, logging to /content/hbase-2.4.12//logs/hbase--master-ee3c957a6bdf.out
2841 Jps
2319 ThriftServer
2687 HMaster

In [49]:
#connection = happybase.Connection('localhost',9090, transport='framed',protocol='compact')
#if this connection suddenly closes, you may get errors. in that case, re-run this cell again
kxn = happybase.Connection('localhost',9090,autoconnect=False)

#Create Tables

In [50]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp', b'EmpDept', b'EmpDept2']

##Create Dept Table, Insert Data

In [19]:
kxn.open()
#Drop Table
#kxn.disable_table('Dept')
#kxn.delete_table('Dept')
#Create Table
kxn.create_table(
    'Dept',
    {'DeptID': dict(max_versions=10),
     'DeptName': dict(max_versions=1, block_cache_enabled=False),
     'ManagerID': dict(),  # use defaults
     'Location': dict(),  # use defaults
    }
)
kxn.close()

In [20]:
kxn.open()
tDept = kxn.table('Dept')
kxn.close()

In [21]:
#Insert one row
kxn.open()
tDept.put('10',{'DeptName:': 'Corporate', 'ManagerID:': '123456','Location:':'Calcutta'})
kxn.close()

In [22]:
kxn.open()
for key, data in tDept.scan():
    print(key, data)
kxn.close()

b'10' {b'DeptName:': b'Corporate', b'Location:': b'Calcutta', b'ManagerID:': b'123456'}

In [23]:
#Insert 3 more rows in Batch
kxn.open()
b = tDept.batch()
b.put(b'20', { b'DeptName:': b'Sales', b'ManagerID:': b'234567', b'Location:': b'Calcutta'})
b.put(b'30', { b'DeptName:': b'Accounts', b'ManagerID:': b'567234', b'Location:': b'Calcutta'})
b.put(b'40', { b'DeptName:': b'Production', b'ManagerID:': b'345876', b'Location:': b'Bombay'})
b.send()
kxn.close()

In [24]:
#show all four ROWS
kxn.open()
#tDept = kxn.table('Dept')
for key, value in tDept.scan():
    print(key, value)
kxn.close()

b'10' {b'DeptName:': b'Corporate', b'Location:': b'Calcutta', b'ManagerID:': b'123456'}
b'20' {b'DeptName:': b'Sales', b'Location:': b'Calcutta', b'ManagerID:': b'234567'}
b'30' {b'DeptName:': b'Accounts', b'Location:': b'Calcutta', b'ManagerID:': b'567234'}
b'40' {b'DeptName:': b'Production', b'Location:': b'Bombay', b'ManagerID:': b'345876'}

##Create Emp Table, LOAD data <br>
https://people.apache.org/~stack/site/bulk-loads.html

In [25]:
kxn.open()
#Drop Table
#kxn.disable_table('Emp')
#kxn.delete_table('Emp')
#Create Table
kxn.create_table(
    'Emp',
    {'EmpID': dict(max_versions=10),
     'LastName': dict(),  # use defaults
     'FirstName': dict(),  # use defaults
     'Role': dict(),  # use defaults
     'DoJ': dict(),  # use defaults
     'Salary': dict(),  # use defaults
     'Comm': dict(),  # use defaults
     'DeptID': dict(),  # use defaults
    }
)
kxn.close()

In [26]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp']

In [27]:
#Download txt file with Employee Data
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/main/Documents/Employee.csv

In [ ]:
#!cat Employee.csv

In [28]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal Employee.csv /tmp

In [29]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,LastName:,FirstName:,Role:,DoJ:,Salary:,Comm:,DeptID:" Emp /tmp/Employee.csv

2022-06-24 00:09:44,503 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:zookeeper.version=3.5.7-f0fdd52973d373ffd9c86b81d99842dc2c7f660e, built on 02/10/2020 11:30 GMT
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:host.name=ee3c957a6bdf
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.version=1.8.0_312
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.vendor=Private Build
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.home=/usr/lib/jvm/java-8-openjdk-amd64/jre
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: managed-am-launcher-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-web-proxy-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-mawo-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-client-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-resourcemanager-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-router-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-distributedshell-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-tests-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-common-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-sharedcachemanager-3.3.3.jar
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.library.path=/usr/local/hadoop-3.3.3//lib/native
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.io.tmpdir=/tmp
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.compiler=<NA>
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.name=Linux
2022-06-24 00:09:44,504 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.arch=amd64
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.version=5.4.188+
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.name=root
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.home=/root
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.dir=/content
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.free=178MB
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.max=3231MB
2022-06-24 00:09:44,505 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.total=197MB
2022-06-24 00:09:44,508 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:09:44,512 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] common.X509Util: Setting -D jdk.tls.rejectClientInitiatedRenegotiation=true to disable client-initiated TLS renegotiation
2022-06-24 00:09:44,520 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:09:44,526 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:09:44,533 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:09:44,539 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:53692, server: localhost/127.0.0.1:2181
2022-06-24 00:09:44,548 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c0006, negotiated timeout = 40000
2022-06-24 00:09:45,617 INFO  [main] Configuration.deprecation: session.id is deprecated. Instead, use dfs.metrics.session-id
2022-06-24 00:09:45,618 INFO  [main] jvm.JvmMetrics: Initializing JVM Metrics with processName=JobTracker, sessionId=
2022-06-24 00:09:45,682 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:09:45,687 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Session: 0x1000004060c0006 closed
2022-06-24 00:09:45,687 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c0006
2022-06-24 00:09:45,689 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:09:45,690 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:09:45,690 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:09:45,690 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:53700, server: localhost/127.0.0.1:2181
2022-06-24 00:09:45,698 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c0007, negotiated timeout = 40000
2022-06-24 00:09:45,846 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ZooKeeper: Session: 0x1000004060c0007 closed
2022-06-24 00:09:45,846 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c0007
2022-06-24 00:09:45,907 INFO  [main] input.FileInputFormat: Total input files to process : 1
2022-06-24 00:09:45,935 INFO  [main] mapreduce.JobSubmitter: number of splits:1
2022-06-24 00:09:46,128 INFO  [main] mapreduce.JobSubmitter: Submitting tokens for job: job_local2024322990_0001
2022-06-24 00:09:46,345 INFO  [main] mapred.LocalDistributedCacheManager: Creating symlink: /tmp/hadoop-root/mapred/local/1656029386206/libjars <- /content/libjars/*
2022-06-24 00:09:46,353 WARN  [main] fs.FileUtil: Command 'ln -s /tmp/hadoop-root/mapred/local/1656029386206/libjars /content/libjars/*' failed 1 with: ln: failed to create symbolic link '/content/libjars/*': No such file or directory

2022-06-24 00:09:46,353 WARN  [main] mapred.LocalDistributedCacheManager: Failed to create symlink: /tmp/hadoop-root/mapred/local/1656029386206/libjars <- /content/libjars/*
2022-06-24 00:09:46,354 INFO  [main] mapred.LocalDistributedCacheManager: Localized file:/tmp/hadoop-root/mapred/staging/root2024322990/.staging/job_local2024322990_0001/libjars as file:/tmp/hadoop-root/mapred/local/1656029386206/libjars
2022-06-24 00:09:46,433 INFO  [main] mapreduce.Job: The url to track the job: http://localhost:8080/
2022-06-24 00:09:46,433 INFO  [main] mapreduce.Job: Running job: job_local2024322990_0001
2022-06-24 00:09:46,439 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter set in config null
2022-06-24 00:09:46,461 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter is org.apache.hadoop.hbase.mapreduce.TableOutputCommitter
2022-06-24 00:09:46,487 INFO  [Thread-7] mapred.LocalJobRunner: Waiting for map tasks
2022-06-24 00:09:46,487 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Starting task: attempt_local2024322990_0001_m_000000_0
2022-06-24 00:09:46,552 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task:  Using ResourceCalculatorProcessTree : [ ]
2022-06-24 00:09:46,561 INFO  [LocalJobRunner Map Task Executor #0] mapred.MapTask: Processing split: file:/tmp/Employee.csv:0+661
2022-06-24 00:09:46,571 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:09:46,571 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:09:46,571 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:09:46,571 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:09:46,572 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:53710, server: localhost/127.0.0.1:2181
2022-06-24 00:09:46,575 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c0008, negotiated timeout = 40000
2022-06-24 00:09:46,581 INFO  [LocalJobRunner Map Task Executor #0] mapreduce.TableOutputFormat: Created table instance for Emp
2022-06-24 00:09:46,607 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:09:46,607 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:09:46,608 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:09:46,608 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:09:46,608 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:53712, server: localhost/127.0.0.1:2181
2022-06-24 00:09:46,613 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c0009, negotiated timeout = 40000
2022-06-24 00:09:46,683 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner:
2022-06-24 00:09:46,781 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598] zookeeper.ZooKeeper: Session: 0x1000004060c0009 closed
2022-06-24 00:09:46,781 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4d877598-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c0009
2022-06-24 00:09:46,886 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task:attempt_local2024322990_0001_m_000000_0 is done. And is in the process of committing
2022-06-24 00:09:46,905 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: map
2022-06-24 00:09:46,905 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task 'attempt_local2024322990_0001_m_000000_0' done.
2022-06-24 00:09:46,912 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Final Counters for attempt_local2024322990_0001_m_000000_0: Counters: 19
	File System Counters
		FILE: Number of bytes read=432722
		FILE: Number of bytes written=1005110
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=12
		Map output records=12
		Input split bytes=87
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=520
		Physical memory (bytes) snapshot=281198592
		Virtual memory (bytes) snapshot=5157236736
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=685
	File Output Format Counters
		Bytes Written=0
2022-06-24 00:09:46,913 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Finishing task: attempt_local2024322990_0001_m_000000_0
2022-06-24 00:09:46,913 INFO  [Thread-7] mapred.LocalJobRunner: map task executor complete.
2022-06-24 00:09:46,990 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf] zookeeper.ZooKeeper: Session: 0x1000004060c0008 closed
2022-06-24 00:09:46,991 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x11f5f9cf-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c0008
2022-06-24 00:09:47,438 INFO  [main] mapreduce.Job: Job job_local2024322990_0001 running in uber mode : false
2022-06-24 00:09:47,439 INFO  [main] mapreduce.Job:  map 100% reduce 0%
2022-06-24 00:09:47,440 INFO  [main] mapreduce.Job: Job job_local2024322990_0001 completed successfully
2022-06-24 00:09:47,445 INFO  [main] mapreduce.Job: Counters: 19
	File System Counters
		FILE: Number of bytes read=432722
		FILE: Number of bytes written=1005110
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=12
		Map output records=12
		Input split bytes=87
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=520
		Physical memory (bytes) snapshot=281198592
		Virtual memory (bytes) snapshot=5157236736
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=685
	File Output Format Counters
		Bytes Written=0

In [30]:
kxn.open()
tEmp = kxn.table('Emp')
kxn.close()

In [31]:
kxn.open()
#tDept = kxn.table('Dept')
for key, data in tEmp.scan():
    print(key, data)
kxn.close()

b'123980' {b'Comm:': b'0.02', b'DeptID:': b'40', b'DoJ:': b'2004-10-09', b'FirstName:': b'Mahender', b'LastName:': b'Dhoni', b'Role:': b'Clerk', b'Salary:': b'9000'}
b'223112' {b'Comm:': b'0.04', b'DeptID:': b'30', b'DoJ:': b'2001-11-19', b'FirstName:': b'Sania', b'LastName:': b'Mirza', b'Role:': b'Cus_Rep', b'Salary:': b'25000'}
b'239456' {b'Comm:': b'0.07', b'DeptID:': b'20', b'DoJ:': b'2004-01-03', b'FirstName:': b'Shahrukh', b'LastName:': b'Khan', b'Role:': b'Manager', b'Salary:': b'30000'}
b'299034' {b'Comm:': b'0.11', b'DeptID:': b'10', b'DoJ:': b'2002-10-10', b'FirstName:': b'Rekha', b'LastName:': b'Ganesan', b'Role:': b'Director', b'Salary:': b'60000'}
b'349870' {b'Comm:': b'0.06', b'DeptID:': b'40', b'DoJ:': b'2005-05-04', b'FirstName:': b'Rani', b'LastName:': b'Mukherjee', b'Role:': b'Manager', b'Salary:': b'25000'}
b'546223' {b'Comm:': b'0.09', b'DeptID:': b'10', b'DoJ:': b'2005-12-04', b'FirstName:': b'Narayan', b'LastName:': b'Karthikeyan', b'Role:': b'Secretary', b'Salary:': b'40000'}
b'742866' {b'Comm:': b'0.1', b'DeptID:': b'10', b'DoJ:': b'2003-03-10', b'FirstName:': b'Amitabh', b'LastName:': b'Bacchan', b'Role:': b'Executive', b'Salary:': b'50000'}
b'822134' {b'Comm:': b'0.08', b'DeptID:': b'30', b'DoJ:': b'2000-06-04', b'FirstName:': b'Rahul', b'LastName:': b'Dravid', b'Role:': b'Sr Manager', b'Salary:': b'40000'}
b'865477' {b'Comm:': b'0.02', b'DeptID:': b'20', b'DoJ:': b'2002-04-04', b'FirstName:': b'Madhuri', b'LastName:': b'Dikshit', b'Role:': b'Clerk', b'Salary:': b'10000'}
b'897889' {b'Comm:': b'0.05', b'DeptID:': b'20', b'DoJ:': b'2005-01-02', b'FirstName:': b'Virender', b'LastName:': b'Sehwag', b'Role:': b'Cus_Rep', b'Salary:': b'15000'}
b'989007' {b'Comm:': b'0.03', b'DeptID:': b'40', b'DoJ:': b'2002-01-01', b'FirstName:': b'Sourav', b'LastName:': b'Ganguly', b'Role:': b'Cus_Rep', b'Salary:': b'20000'}
b'997445' {b'Comm:': b'0.02', b'DeptID:': b'30', b'DoJ:': b'2001-07-01', b'FirstName:': b'Jagmohan', b'LastName:': b'Dalmia', b'Role:': b'Clerk', b'Salary:': b'12000'}

## Creating, INSERTing Denormalised EmpDept Table

In [32]:
kxn.open()
#Drop Table
#kxn.disable_table('EmpDept')
#kxn.delete_table('EmpDept')
#Create Table
kxn.create_table(
    'EmpDept',
    {'EmpID': dict(max_versions=10),
     'Emp': dict(),  # use defaults
     'Dept': dict(),  # use defaults
    }
)
kxn.close()

In [33]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp', b'EmpDept']

In [34]:
kxn.open()
tEmpDept = kxn.table('EmpDept')
b = tEmpDept.batch()
b.put(b'742866', { b'Emp:FirstName': b'Amitabh', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta'})
b.put(b'349870', { b'Emp:LastName': b'Mukheree', b'Dept:ManagerID': b'567234', b'Dept:Location:': b'Bombay'})
b.send()
kxn.close()

In [35]:
kxn.open()
#tDept = kxn.table('Dept')
for key, data in tEmpDept.scan():
    print(key, data)
kxn.close()

b'349870' {b'Dept:Location:': b'Bombay', b'Dept:ManagerID': b'567234', b'Emp:LastName': b'Mukheree'}
b'742866' {b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Emp:FirstName': b'Amitabh'}

##Creating and LOADing denormalised tables EmpDept2

In [36]:
kxn.open()
#Drop Table
#kxn.disable_table('EmpDept2')
#kxn.delete_table('EmpDept2')
#Create Table
kxn.create_table(
    'EmpDept2',
    {'EmpID': dict(max_versions=10),
     'Emp': dict(),  # use defaults
     'Dept': dict(),  # use defaults
    }
)
kxn.close()

In [37]:
kxn.open()
kxn.tables()

[b'Dept', b'Emp', b'EmpDept', b'EmpDept2']

In [38]:
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/main/Documents/EmployeeDept2.txt

In [ ]:
!cat EmployeeDept2.txt

742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10,Corporate,299034,Calcutta
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40,Production,349870,Bombay
865477,Dikshit,Madhuri,Clerk,2002-04-04,10000,0.02,20,Sales,239456,Calcutta
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20,Sales,239456,Calcutta
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20,Sales,239456,Calcutta
123980,Dhoni,Mahender,Clerk,2004-10-09,9000,0.02,40,Production,349870,Bombay
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30,Accounts,822134,Calcutta
997445,Dalmia,Jagmohan,Clerk,2001-07-01,12000,0.02,30,Accounts,822134,Calcutta
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40,Production,349870,Bombay
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10,Corporate,299034,Calcutta
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10,Corporate,299034,Calcutta
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30,Accounts,822134,Calcutta

In [39]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal EmployeeDept2.txt /tmp

In [40]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,Emp:LastName,Emp:FirstName,Emp:Role,Emp:DoJ,Emp:Salary,Emp:Comm,Dept:DeptID,Dept:DeptName,Dept:ManagerID,Dept:Location" EmpDept2 /tmp/EmployeeDept2.txt

2022-06-24 00:11:49,444 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:zookeeper.version=3.5.7-f0fdd52973d373ffd9c86b81d99842dc2c7f660e, built on 02/10/2020 11:30 GMT
2022-06-24 00:11:49,444 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:host.name=ee3c957a6bdf
2022-06-24 00:11:49,444 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.version=1.8.0_312
2022-06-24 00:11:49,444 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.vendor=Private Build
2022-06-24 00:11:49,444 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.home=/usr/lib/jvm/java-8-openjdk-amd64/jre
2022-06-24 00:11:49,444 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: managed-am-launcher-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-web-proxy-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-mawo-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-client-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-resourcemanager-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-router-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-distributedshell-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-tests-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-common-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-sharedcachemanager-3.3.3.jar
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.library.path=/usr/local/hadoop-3.3.3//lib/native
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.io.tmpdir=/tmp
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.compiler=<NA>
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.name=Linux
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.arch=amd64
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.version=5.4.188+
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.name=root
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.home=/root
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.dir=/content
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.free=178MB
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.max=3231MB
2022-06-24 00:11:49,445 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.total=197MB
2022-06-24 00:11:49,448 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/1988862565@3c815732
2022-06-24 00:11:49,453 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] common.X509Util: Setting -D jdk.tls.rejectClientInitiatedRenegotiation=true to disable client-initiated TLS renegotiation
2022-06-24 00:11:49,459 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:11:49,465 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:11:49,471 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:11:49,478 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:54128, server: localhost/127.0.0.1:2181
2022-06-24 00:11:49,486 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c000a, negotiated timeout = 40000
2022-06-24 00:11:50,597 INFO  [main] Configuration.deprecation: session.id is deprecated. Instead, use dfs.metrics.session-id
2022-06-24 00:11:50,598 INFO  [main] jvm.JvmMetrics: Initializing JVM Metrics with processName=JobTracker, sessionId=
2022-06-24 00:11:50,657 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/1988862565@3c815732
2022-06-24 00:11:50,657 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:11:50,657 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:11:50,658 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:11:50,659 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:54140, server: localhost/127.0.0.1:2181
2022-06-24 00:11:50,659 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Session: 0x1000004060c000a closed
2022-06-24 00:11:50,660 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c000a
2022-06-24 00:11:50,662 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c000b, negotiated timeout = 40000
2022-06-24 00:11:50,788 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744] zookeeper.ZooKeeper: Session: 0x1000004060c000b closed
2022-06-24 00:11:50,788 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x34a97744-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c000b
2022-06-24 00:11:50,811 INFO  [main] input.FileInputFormat: Total input files to process : 1
2022-06-24 00:11:50,857 INFO  [main] mapreduce.JobSubmitter: number of splits:1
2022-06-24 00:11:51,050 INFO  [main] mapreduce.JobSubmitter: Submitting tokens for job: job_local1172448443_0001
2022-06-24 00:11:51,334 INFO  [main] mapred.LocalDistributedCacheManager: Creating symlink: /tmp/hadoop-root/mapred/local/1656029511199/libjars <- /content/libjars/*
2022-06-24 00:11:51,339 WARN  [main] fs.FileUtil: Command 'ln -s /tmp/hadoop-root/mapred/local/1656029511199/libjars /content/libjars/*' failed 1 with: ln: failed to create symbolic link '/content/libjars/*': No such file or directory

2022-06-24 00:11:51,339 WARN  [main] mapred.LocalDistributedCacheManager: Failed to create symlink: /tmp/hadoop-root/mapred/local/1656029511199/libjars <- /content/libjars/*
2022-06-24 00:11:51,339 INFO  [main] mapred.LocalDistributedCacheManager: Localized file:/tmp/hadoop-root/mapred/staging/root1172448443/.staging/job_local1172448443_0001/libjars as file:/tmp/hadoop-root/mapred/local/1656029511199/libjars
2022-06-24 00:11:51,429 INFO  [main] mapreduce.Job: The url to track the job: http://localhost:8080/
2022-06-24 00:11:51,430 INFO  [main] mapreduce.Job: Running job: job_local1172448443_0001
2022-06-24 00:11:51,440 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter set in config null
2022-06-24 00:11:51,464 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter is org.apache.hadoop.hbase.mapreduce.TableOutputCommitter
2022-06-24 00:11:51,491 INFO  [Thread-7] mapred.LocalJobRunner: Waiting for map tasks
2022-06-24 00:11:51,491 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Starting task: attempt_local1172448443_0001_m_000000_0
2022-06-24 00:11:51,544 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task:  Using ResourceCalculatorProcessTree : [ ]
2022-06-24 00:11:51,552 INFO  [LocalJobRunner Map Task Executor #0] mapred.MapTask: Processing split: file:/tmp/EmployeeDept2.txt:0+955
2022-06-24 00:11:51,561 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/1988862565@3c815732
2022-06-24 00:11:51,561 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:11:51,562 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:11:51,562 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:11:51,563 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:54150, server: localhost/127.0.0.1:2181
2022-06-24 00:11:51,566 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c000c, negotiated timeout = 40000
2022-06-24 00:11:51,571 INFO  [LocalJobRunner Map Task Executor #0] mapreduce.TableOutputFormat: Created table instance for EmpDept2
2022-06-24 00:11:51,592 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/1988862565@3c815732
2022-06-24 00:11:51,592 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:11:51,592 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:11:51,592 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:11:51,593 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:54152, server: localhost/127.0.0.1:2181
2022-06-24 00:11:51,596 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000004060c000d, negotiated timeout = 40000
2022-06-24 00:11:51,665 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner:
2022-06-24 00:11:51,747 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task:attempt_local1172448443_0001_m_000000_0 is done. And is in the process of committing
2022-06-24 00:11:51,760 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9] zookeeper.ZooKeeper: Session: 0x1000004060c000d closed
2022-06-24 00:11:51,760 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x4e0355b9-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c000d
2022-06-24 00:11:51,764 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: map
2022-06-24 00:11:51,764 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task 'attempt_local1172448443_0001_m_000000_0' done.
2022-06-24 00:11:51,771 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Final Counters for attempt_local1172448443_0001_m_000000_0: Counters: 19
	File System Counters
		FILE: Number of bytes read=433021
		FILE: Number of bytes written=1005275
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=12
		Map output records=12
		Input split bytes=92
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=260
		Physical memory (bytes) snapshot=272797696
		Virtual memory (bytes) snapshot=5150056448
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=979
	File Output Format Counters
		Bytes Written=0
2022-06-24 00:11:51,775 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Finishing task: attempt_local1172448443_0001_m_000000_0
2022-06-24 00:11:51,775 INFO  [Thread-7] mapred.LocalJobRunner: map task executor complete.
2022-06-24 00:11:51,853 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48] zookeeper.ZooKeeper: Session: 0x1000004060c000c closed
2022-06-24 00:11:51,853 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1cfeec48-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000004060c000c
2022-06-24 00:11:52,439 INFO  [main] mapreduce.Job: Job job_local1172448443_0001 running in uber mode : false
2022-06-24 00:11:52,441 INFO  [main] mapreduce.Job:  map 100% reduce 0%
2022-06-24 00:11:52,443 INFO  [main] mapreduce.Job: Job job_local1172448443_0001 completed successfully
2022-06-24 00:11:52,451 INFO  [main] mapreduce.Job: Counters: 19
	File System Counters
		FILE: Number of bytes read=433021
		FILE: Number of bytes written=1005275
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=12
		Map output records=12
		Input split bytes=92
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=260
		Physical memory (bytes) snapshot=272797696
		Virtual memory (bytes) snapshot=5150056448
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=979
	File Output Format Counters
		Bytes Written=0

In [41]:
tEmpDept2 = kxn.table('EmpDept2')

In [42]:
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan():
    print(key, data)
kxn.close()

b'123980' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2004-10-09', b'Emp:FirstName': b'Mahender', b'Emp:LastName': b'Dhoni', b'Emp:Role': b'Clerk', b'Emp:Salary': b'9000'}
b'223112' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.04', b'Emp:DoJ': b'2001-11-19', b'Emp:FirstName': b'Sania', b'Emp:LastName': b'Mirza', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'25000'}
b'239456' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.07', b'Emp:DoJ': b'2004-01-03', b'Emp:FirstName': b'Shahrukh', b'Emp:LastName': b'Khan', b'Emp:Role': b'Manager', b'Emp:Salary': b'30000'}
b'299034' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.11', b'Emp:DoJ': b'2002-10-10', b'Emp:FirstName': b'Rekha', b'Emp:LastName': b'Ganesan', b'Emp:Role': b'Director', b'Emp:Salary': b'60000'}
b'349870' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.06', b'Emp:DoJ': b'2005-05-04', b'Emp:FirstName': b'Rani', b'Emp:LastName': b'Mukherjee', b'Emp:Role': b'Manager', b'Emp:Salary': b'25000'}
b'546223' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.09', b'Emp:DoJ': b'2005-12-04', b'Emp:FirstName': b'Narayan', b'Emp:LastName': b'Karthikeyan', b'Emp:Role': b'Secretary', b'Emp:Salary': b'40000'}
b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'822134' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.08', b'Emp:DoJ': b'2000-06-04', b'Emp:FirstName': b'Rahul', b'Emp:LastName': b'Dravid', b'Emp:Role': b'Sr Manager', b'Emp:Salary': b'40000'}
b'865477' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2002-04-04', b'Emp:FirstName': b'Madhuri', b'Emp:LastName': b'Dikshit', b'Emp:Role': b'Clerk', b'Emp:Salary': b'10000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}
b'989007' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.03', b'Emp:DoJ': b'2002-01-01', b'Emp:FirstName': b'Sourav', b'Emp:LastName': b'Ganguly', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'20000'}
b'997445' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2001-07-01', b'Emp:FirstName': b'Jagmohan', b'Emp:LastName': b'Dalmia', b'Emp:Role': b'Clerk', b'Emp:Salary': b'12000'}

#Data Retrieval <br>
https://happybase.readthedocs.io/en/latest/user.html

In [43]:
#Retreive One Row
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
prow = tEmpDept2.row(b'123980')
print(prow)   # prints the value of cf1:col1

{b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2004-10-09', b'Emp:FirstName': b'Mahender', b'Emp:LastName': b'Dhoni', b'Emp:Role': b'Clerk', b'Emp:Salary': b'9000'}

In [44]:
#Retreive More than one Row
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
listOfrows = [b'742866', b'897889']
rows = tEmpDept2.rows(listOfrows)
for key, data in rows:
    print(key, data)

b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}

In [45]:
#Retreive More than one Row
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rowsDict = dict(tEmpDept2.rows([b'742866', b'897889']))
for k,v in rowsDict.items():
    print(k,v)

b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}

In [46]:
#Retreive More than one Row, but only one column family
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rows = tEmpDept2.rows([b'742866', b'897889'],columns=[b'Emp'])
for key, data in rows:
    print(key, data)

b'742866' {b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'897889' {b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}

In [47]:
#Retreive More than one Row, but only one column family
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rows = tEmpDept2.rows([b'742866', b'897889'],columns=[b'Dept'])
for key, data in rows:
    print(key, data)

b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456'}

In [51]:
#Retreive More than one Row, but only one column family
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
rows = tEmpDept2.rows([b'742866', b'897889'],columns=[b'Emp:LastName',b'Dept:Location'])
for key, data in rows:
    print(key, data)

b'742866' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Bacchan'}
b'897889' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Sehwag'}

In [52]:
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan():
    print(key, data)
kxn.close()

b'123980' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2004-10-09', b'Emp:FirstName': b'Mahender', b'Emp:LastName': b'Dhoni', b'Emp:Role': b'Clerk', b'Emp:Salary': b'9000'}
b'223112' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.04', b'Emp:DoJ': b'2001-11-19', b'Emp:FirstName': b'Sania', b'Emp:LastName': b'Mirza', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'25000'}
b'239456' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.07', b'Emp:DoJ': b'2004-01-03', b'Emp:FirstName': b'Shahrukh', b'Emp:LastName': b'Khan', b'Emp:Role': b'Manager', b'Emp:Salary': b'30000'}
b'299034' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.11', b'Emp:DoJ': b'2002-10-10', b'Emp:FirstName': b'Rekha', b'Emp:LastName': b'Ganesan', b'Emp:Role': b'Director', b'Emp:Salary': b'60000'}
b'349870' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.06', b'Emp:DoJ': b'2005-05-04', b'Emp:FirstName': b'Rani', b'Emp:LastName': b'Mukherjee', b'Emp:Role': b'Manager', b'Emp:Salary': b'25000'}
b'546223' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.09', b'Emp:DoJ': b'2005-12-04', b'Emp:FirstName': b'Narayan', b'Emp:LastName': b'Karthikeyan', b'Emp:Role': b'Secretary', b'Emp:Salary': b'40000'}
b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'822134' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.08', b'Emp:DoJ': b'2000-06-04', b'Emp:FirstName': b'Rahul', b'Emp:LastName': b'Dravid', b'Emp:Role': b'Sr Manager', b'Emp:Salary': b'40000'}
b'865477' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2002-04-04', b'Emp:FirstName': b'Madhuri', b'Emp:LastName': b'Dikshit', b'Emp:Role': b'Clerk', b'Emp:Salary': b'10000'}
b'897889' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.05', b'Emp:DoJ': b'2005-01-02', b'Emp:FirstName': b'Virender', b'Emp:LastName': b'Sehwag', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'15000'}
b'989007' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.03', b'Emp:DoJ': b'2002-01-01', b'Emp:FirstName': b'Sourav', b'Emp:LastName': b'Ganguly', b'Emp:Role': b'Cus_Rep', b'Emp:Salary': b'20000'}
b'997445' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2001-07-01', b'Emp:FirstName': b'Jagmohan', b'Emp:LastName': b'Dalmia', b'Emp:Role': b'Clerk', b'Emp:Salary': b'12000'}

In [53]:
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan(row_start=b'230000', row_stop=b'870000'):
    print(key, data)
kxn.close()

b'239456' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.07', b'Emp:DoJ': b'2004-01-03', b'Emp:FirstName': b'Shahrukh', b'Emp:LastName': b'Khan', b'Emp:Role': b'Manager', b'Emp:Salary': b'30000'}
b'299034' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.11', b'Emp:DoJ': b'2002-10-10', b'Emp:FirstName': b'Rekha', b'Emp:LastName': b'Ganesan', b'Emp:Role': b'Director', b'Emp:Salary': b'60000'}
b'349870' {b'Dept:DeptID': b'40', b'Dept:DeptName': b'Production', b'Dept:Location': b'Bombay', b'Dept:ManagerID': b'349870', b'Emp:Comm': b'0.06', b'Emp:DoJ': b'2005-05-04', b'Emp:FirstName': b'Rani', b'Emp:LastName': b'Mukherjee', b'Emp:Role': b'Manager', b'Emp:Salary': b'25000'}
b'546223' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.09', b'Emp:DoJ': b'2005-12-04', b'Emp:FirstName': b'Narayan', b'Emp:LastName': b'Karthikeyan', b'Emp:Role': b'Secretary', b'Emp:Salary': b'40000'}
b'742866' {b'Dept:DeptID': b'10', b'Dept:DeptName': b'Corporate', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'299034', b'Emp:Comm': b'0.1', b'Emp:DoJ': b'2003-03-10', b'Emp:FirstName': b'Amitabh', b'Emp:LastName': b'Bacchan', b'Emp:Role': b'Executive', b'Emp:Salary': b'50000'}
b'822134' {b'Dept:DeptID': b'30', b'Dept:DeptName': b'Accounts', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'822134', b'Emp:Comm': b'0.08', b'Emp:DoJ': b'2000-06-04', b'Emp:FirstName': b'Rahul', b'Emp:LastName': b'Dravid', b'Emp:Role': b'Sr Manager', b'Emp:Salary': b'40000'}
b'865477' {b'Dept:DeptID': b'20', b'Dept:DeptName': b'Sales', b'Dept:Location': b'Calcutta', b'Dept:ManagerID': b'239456', b'Emp:Comm': b'0.02', b'Emp:DoJ': b'2002-04-04', b'Emp:FirstName': b'Madhuri', b'Emp:LastName': b'Dikshit', b'Emp:Role': b'Clerk', b'Emp:Salary': b'10000'}

In [54]:
#kxn = happybase.Connection('localhost',9090,autoconnect=False)
kxn.open()
tEmpDept2 = kxn.table('EmpDept2')
for key, data in tEmpDept2.scan(row_start=b'230000', row_stop=b'870000',columns=[b'Emp:LastName',b'Dept:Location']):
    print(key, data)
kxn.close()

b'239456' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Khan'}
b'299034' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Ganesan'}
b'349870' {b'Dept:Location': b'Bombay', b'Emp:LastName': b'Mukherjee'}
b'546223' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Karthikeyan'}
b'742866' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Bacchan'}
b'822134' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Dravid'}
b'865477' {b'Dept:Location': b'Calcutta', b'Emp:LastName': b'Dikshit'}

#Stop HBase

In [55]:
!stop-hbase.sh

stopping hbase............