<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_B3_Hadoop_HBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Hadoop 
Install and Test

In [1]:
# The default JVM available at /usr/lib/jvm/java-11-openjdk-amd64/  works for Hadoop
# But gives errors with Hive https://stackoverflow.com/questions/54037773/hive-exception-class-jdk-internal-loader-classloadersappclassloader-cannot
# Hence this JVM needs to be installed
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Download the latest version of Hadoop
!wget https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
# Unzip it
# the tar command with the -x flag to extract, -z to uncompress, -v for verbose output, and -f to specify that we’re extracting from a file
!tar -xzf hadoop-3.3.3.tar.gz
#copy  hadoop file to user/local
!mv  hadoop-3.3.3/ /usr/local/

--2022-06-23 23:53:05--  https://downloads.apache.org/hadoop/common/hadoop-3.3.3/hadoop-3.3.3.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 135.181.214.104, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 645040598 (615M) [application/x-gzip]
Saving to: ‘hadoop-3.3.3.tar.gz’

hadoop-3.3.3.tar.gz 100%[===================>] 615.16M  26.3MB/s    in 23s

2022-06-23 23:53:28 (26.8 MB/s) - ‘hadoop-3.3.3.tar.gz’ saved [645040598/645040598]

In [3]:
#To find the default Java path
!readlink -f /usr/bin/java | sed "s:bin/java::"
!ls /usr/lib/jvm/

/usr/lib/jvm/java-11-openjdk-amd64/
default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

## Set Hadoop Environment

In [4]:
#To set java path, go to /usr/local/hadoop-3.3.0/etc/hadoop/hadoop-env.sh then
#. . . export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/ . . .
#we have used a simpler alternative route using os.environ - it works

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"   # default is changed
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.3/"

In [5]:
# Get the value of current_path
#!echo $PATH

In [6]:
# Add Hadoop BIN to PATH
# current_path taken from last command
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin'
#new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
#os.environ["PATH"] = new_path

current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
new_path = current_path+':/usr/local/hadoop-3.3.3/bin/'
os.environ["PATH"] = new_path

In [8]:
# Testing Hadoop with PI generating sample program, should calculate value of pi = 3.14157500000000000000
# pi example
#Uncomment the following line if  you want to test Hadoop with pi example
#!hadoop jar /usr/local/hadoop-3.3.3/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.3.jar pi 16 100000

#Install HBase

In [9]:
# Get the latest HBase download site from here https://www.apache.org/dyn/closer.lua/hbase/
# or even better check here for latest downloads >>> https://downloads.apache.org/hbase/
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.5/hbase-2.4.5-bin.tar.gz
#!wget https://mirrors.estointernet.in/apache/hbase/2.4.8/hbase-2.4.8-bin.tar.gz
#!wget https://downloads.apache.org/hbase/2.4.9/hbase-2.4.9-bin.tar.gz
!wget https://downloads.apache.org/hbase/2.4.12/hbase-2.4.12-bin.tar.gz
#!tar xzf hbase-2.4.5-bin.tar.gz
#!tar xzf hbase-2.4.8-bin.tar.gz
#!tar xzf hbase-2.4.9-bin.tar.gz
!tar xzf hbase-2.4.12-bin.tar.gz

--2022-06-23 23:56:13--  https://downloads.apache.org/hbase/2.4.12/hbase-2.4.12-bin.tar.gz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 135.181.214.104, 2a01:4f8:10a:201a::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 283605397 (270M) [application/x-gzip]
Saving to: ‘hbase-2.4.12-bin.tar.gz’

hbase-2.4.12-bin.ta 100%[===================>] 270.47M  29.7MB/s    in 9.7s

2022-06-23 23:56:23 (28.0 MB/s) - ‘hbase-2.4.12-bin.tar.gz’ saved [283605397/283605397]

## Set HBase Environment

In [10]:
#os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.2-bin"
#!echo $HIVE_HOME
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.5/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.8/"
#os.environ["HBASE_HOME"] = "/content/hbase-2.4.9/"
os.environ["HBASE_HOME"] = "/content/hbase-2.4.12/"
!echo $HBASE_HOME

/content/hbase-2.4.12/

In [11]:
#!echo $PATH

In [12]:
# current_path taken from command in previous cell
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/'
current_path = os.getenv('PATH')
#new_path = current_path+':/content/hbase-2.4.5/bin'
#new_path = current_path+':/content/hbase-2.4.8/bin'
#new_path = current_path+':/content/hbase-2.4.9/bin'
new_path = current_path+':/content/hbase-2.4.12/bin'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.3/bin/:/content/hbase-2.4.12/bin

In [13]:
!echo $JAVA_HOME
!echo $HADOOP_HOME
!echo $HBASE_HOME

/usr/lib/jvm/java-8-openjdk-amd64
/usr/local/hadoop-3.3.3/
/content/hbase-2.4.12/

In [ ]:
# the file hbase-site.xml may need to be updated ...
# however the default file works well in the simple stand-alone HBase mode
# so no need to touch it
#!cat $HBASE_HOME/conf/hbase-site.xml

## Some Clean UP
Otherwise we get ugly warnings

In [ ]:
# locate multiple instances of slf4j ...
!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*
!ls $HBASE_HOME/lib/*slf4j*
!ls /content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar

/usr/local/hadoop-3.3.3//share/hadoop/common/lib/jul-to-slf4j-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar
/usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar
/content/hbase-2.4.12//lib/jcl-over-slf4j-1.7.33.jar
/content/hbase-2.4.12//lib/jul-to-slf4j-1.7.33.jar
/content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar

In [14]:
# remove the Hadoop logger out of the path
# without this you will get ugly warnings every time
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-api-1.7.36.jar .
#!mv /usr/local/hadoop-3.3.3//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar .
!mv /content/hbase-2.4.12/lib/client-facing-thirdparty/slf4j-reload4j-1.7.33.jar .

## Start HBase server

In [ ]:
#!stop-hbase.sh

In [15]:
!start-hbase.sh

running master, logging to /content/hbase-2.4.12//logs/hbase--master-c51431f48b01.out

In [16]:
!jps

1352 HMaster
1582 Jps

# Run Hbase Shell

In [17]:
# you can enter hbase shell commands at the prompt. Double click on the prompt to open up a input box
!hbase shell

HBase Shell
Use "help" to get list of supported commands.
Use "exit" to quit this interactive shell.
For Reference, please visit: http://hbase.apache.org/2.0/book.html#shell
Version 2.4.12, r8382f55b15be6ae190f8d202a5e6a40af177ec76, Fri Apr 29 19:34:27 PDT 2022
Took 0.0032 seconds
hbase:001:0> help
HBase Shell, version 2.4.12, r8382f55b15be6ae190f8d202a5e6a40af177ec76, Fri Apr 29 19:34:27 PDT 2022
Type 'help "COMMAND"', (e.g. 'help "get"' -- the quotes are necessary) for help on a specific command.
Commands are grouped. Type 'help "COMMAND_GROUP"', (e.g. 'help "general"') for help on a command group.

COMMAND GROUPS:
  Group name: general
  Commands: processlist, status, table_help, version, whoami

  Group name: ddl
  Commands: alter, alter_async, alter_status, clone_table_schema, create, describe, disable, disable_all, drop, drop_all, enable, enable_all, exists, get_table, is_disabled, is_enabled, list, list_regions, locate_region, show_filters

  Group name: namespace
  Commands: alter_namespace, create_namespace, describe_namespace, drop_namespace, list_namespace, list_namespace_tables

  Group name: dml
  Commands: append, count, delete, deleteall, get, get_counter, get_splits, incr, put, scan, truncate, truncate_preserve

  Group name: tools
  Commands: assign, balance_switch, balancer, balancer_enabled, catalogjanitor_enabled, catalogjanitor_run, catalogjanitor_switch, cleaner_chore_enabled, cleaner_chore_run, cleaner_chore_switch, clear_block_cache, clear_compaction_queues, clear_deadservers, clear_slowlog_responses, close_region, compact, compact_rs, compaction_state, compaction_switch, decommission_regionservers, flush, get_balancer_decisions, get_balancer_rejections, get_largelog_responses, get_slowlog_responses, hbck_chore_run, is_in_maintenance_mode, list_deadservers, list_decommissioned_regionservers, major_compact, merge_region, move, normalize, normalizer_enabled, normalizer_switch, recommission_regionserver, regioninfo, rit, snapshot_cleanup_enabled, snapshot_cleanup_switch, split, splitormerge_enabled, splitormerge_switch, stop_master, stop_regionserver, trace, unassign, wal_roll, zk_dump

  Group name: replication
  Commands: add_peer, append_peer_exclude_namespaces, append_peer_exclude_tableCFs, append_peer_namespaces, append_peer_tableCFs, disable_peer, disable_table_replication, enable_peer, enable_table_replication, get_peer_config, list_peer_configs, list_peers, list_replicated_tables, remove_peer, remove_peer_exclude_namespaces, remove_peer_exclude_tableCFs, remove_peer_namespaces, remove_peer_tableCFs, set_peer_bandwidth, set_peer_exclude_namespaces, set_peer_exclude_tableCFs, set_peer_namespaces, set_peer_replicate_all, set_peer_serial, set_peer_tableCFs, show_peer_tableCFs, update_peer_config

  Group name: snapshots
  Commands: clone_snapshot, delete_all_snapshot, delete_snapshot, delete_table_snapshots, list_snapshots, list_table_snapshots, restore_snapshot, snapshot

  Group name: configuration
  Commands: update_all_config, update_config

  Group name: quotas
  Commands: disable_exceed_throttle_quota, disable_rpc_throttle, enable_exceed_throttle_quota, enable_rpc_throttle, list_quota_snapshots, list_quota_table_sizes, list_quotas, list_snapshot_sizes, set_quota

  Group name: security
  Commands: grant, list_security_capabilities, revoke, user_permission

  Group name: procedures
  Commands: list_locks, list_procedures

  Group name: visibility labels
  Commands: add_labels, clear_auths, get_auths, list_labels, set_auths, set_visibility

  Group name: rsgroup
  Commands: add_rsgroup, alter_rsgroup_config, balance_rsgroup, get_namespace_rsgroup, get_rsgroup, get_server_rsgroup, get_table_rsgroup, list_rsgroups, move_namespaces_rsgroup, move_servers_namespaces_rsgroup, move_servers_rsgroup, move_servers_tables_rsgroup, move_tables_rsgroup, remove_rsgroup, remove_servers_rsgroup, rename_rsgroup, show_rsgroup_config

SHELL USAGE:
Quote all names in HBase Shell such as table and column names.  Commas delimit
command parameters.  Type <RETURN> after entering a command to run it.
Dictionaries of configuration used in the creation and alteration of tables are
Ruby Hashes. They look like this:

  {'key1' => 'value1', 'key2' => 'value2', ...}

and are opened and closed with curley-braces.  Key/values are delimited by the
'=>' character combination.  Usually keys are predefined constants such as
NAME, VERSIONS, COMPRESSION, etc.  Constants do not need to be quoted.  Type
'Object.constants' to see a (messy) list of all constants in the environment.

If you are using binary keys or values and need to enter them in the shell, use
double-quote'd hexadecimal representation. For example:

  hbase> get 't1', "key\x03\x3f\xcd"
  hbase> get 't1', "key\003\023\011"
  hbase> put 't1', "test\xef\xff", 'f1:', "\x01\x33\x40"

The HBase shell is the (J)Ruby IRB with the above HBase-specific commands added.
For more on the HBase Shell, see http://hbase.apache.org/book.html
hbase:002:0> exit

shell commands  <br>
https://www.tutorialspoint.com/hbase/hbase_shell.htm <br>
https://www.guru99.com/hbase-shell-general-commands.html <br>
better way of passing shell commands are given here

In [18]:
!echo 'status' | hbase shell -n

hbase:001:0> status
1 active master, 0 backup masters, 1 servers, 0 dead, 2.0000 average load
Took 1.2135 seconds
hbase:002:0>

In [ ]:
#!echo "status 'detail'" | hbase shell -n

In [ ]:
!echo "whoami" | hbase shell -n

hbase:001:0> whoami
root (auth:SIMPLE)
    groups: root
Took 0.0184 seconds
hbase:002:0>

## Simple Tutorial
command line tutorial https://akbarahmed.com/2012/08/13/hbase-command-line-tutorial/

In [ ]:
!echo "create 'table1', 'columnfamily1'" | hbase shell -n

hbase:001:0> create 'table1', 'columnfamily1'
Created table table1
Took 1.5436 seconds
=> Hbase::Table - table1
hbase:002:0>

In [ ]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
table1
1 row(s)
Took 0.7780 seconds
=> ["table1"]
hbase:002:0>

In [ ]:
!echo "create 'cars', 'vi'" | hbase shell -n

hbase:001:0> create 'cars', 'vi'
Created table cars
Took 1.9734 seconds
=> Hbase::Table - cars
hbase:002:0>

In [ ]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
cars
table1
2 row(s)
Took 0.7593 seconds
=> ["cars", "table1"]
hbase:002:0>

In [ ]:
# add ONE row
# nearly THREE seconds per row ... what will you do with a million rows? wait for bulk loader
!echo "put 'cars', 'row1', 'vi:make', 'bmw'" | hbase shell -n
!echo "put 'cars', 'row1', 'vi:model', '5 series'" | hbase shell -n
!echo "put 'cars', 'row1', 'vi:year', '2012'" | hbase shell -n

hbase:001:0> put 'cars', 'row1', 'vi:make', 'bmw'
Took 1.0632 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row1', 'vi:model', '5 series'
Took 0.9659 seconds
hbase:002:0>
hbase:001:0> put 'cars', 'row1', 'vi:year', '2012'
Took 0.8001 seconds
hbase:002:0>

In [ ]:
%%time
# add ONE row
!echo "put 'cars', 'row2', 'vi:make', 'mercedes'" | hbase shell -n
!echo "put 'cars', 'row2', 'vi:model', 'e class'" | hbase shell -n
!echo "put 'cars', 'row2', 'vi:year', '2012'" | hbase shell -n

Took 0.9319 seconds

Took 0.7347 seconds

Took 0.9142 seconds

In [ ]:
%%time
!echo "scan 'cars'" | hbase shell -n

hbase:001:0> scan 'cars'
ROW                   COLUMN+CELL
 row1                 column=vi:make, timestamp=2022-06-09T09:16:52.392, value=b
                      mw
 row1                 column=vi:model, timestamp=2022-06-09T09:18:11.887, value=
                      5 series
 row1                 column=vi:year, timestamp=2022-06-09T09:19:31.849, value=2
                      012
1 row(s)
Took 0.7886 seconds
hbase:002:0>
CPU times: user 541 ms, sys: 79.1 ms, total: 620 ms
Wall time: 1min 19s

In [ ]:
!echo "scan 'cars', {COLUMNS => ['vi:make']}" | hbase shell -n

ROW                   COLUMN+CELL
 row1                 column=vi:make, timestamp=2021-11-24T04:18:12.087, value=b
                      mw
 row2                 column=vi:make, timestamp=2021-11-24T04:21:58.589, value=m
                      ercedes
2 row(s)
Took 0.8018 seconds

In [ ]:
!echo "get 'cars', 'row1'"| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:11:02.984, value=bmw
 vi:model             timestamp=2022-01-14T04:12:17.633, value=5 series
 vi:year              timestamp=2022-01-14T04:13:32.015, value=2012
1 row(s)
Took 1.0586 seconds

In [ ]:
!echo "get 'cars', 'row1', 'vi:make' "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:11:02.984, value=bmw
1 row(s)
Took 1.0870 seconds

### Versioning

In [ ]:
# add the same row a second time
!echo "put 'cars', 'row1', 'vi:make', 'bmw-v2'" | hbase shell -n

Took 0.9879 seconds

In [ ]:
!echo "get 'cars', 'row1', 'vi:make' "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:37:03.533, value=bmw-v2
1 row(s)
Took 1.0824 seconds

In [ ]:
!echo "get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2} "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:37:03.533, value=bmw-v2
1 row(s)
Took 0.8776 seconds

In [ ]:
# versioning is not setup by default
! echo "alter 'cars', NAME=>'vi', VERSIONS=>3" | hbase shell -n

Updating all regions with the new schema...
1/1 regions updated.
Done.
Took 2.7625 seconds

In [ ]:
# add the same row a third time
!echo "put 'cars', 'row1', 'vi:make', 'bmw-v3'" | hbase shell -n

Took 0.9044 seconds

In [ ]:
!echo "get 'cars', 'row1',  {COLUMN => 'vi:make', VERSIONS => 2} "| hbase shell -n

COLUMN                CELL
 vi:make              timestamp=2022-01-14T04:59:31.830, value=bmw-v3
 vi:make              timestamp=2022-01-14T04:37:03.533, value=bmw-v2
1 row(s)
Took 0.9090 seconds

In [ ]:
!echo "disable 'cars'" | hbase shell -n
!echo "drop 'cars'" | hbase shell -n

Took 1.2346 seconds

Took 1.1423 seconds

#Bulk Data Load
https://people.apache.org/~stack/site/bulk-loads.html

In [19]:
#Data as CSV file
!gdown https://drive.google.com/uc?id=1B6szzHNG7BCToKOktRiGUfFblrp1f_GC  # cars2.csv

Downloading...
From: https://drive.google.com/uc?id=1B6szzHNG7BCToKOktRiGUfFblrp1f_GC
To: /content/cars2.csv
100% 54.0/54.0 [00:00<00:00, 67.8kB/s]

In [20]:
# see the data
!cat cars2.csv

Ford,Ecosport,2019
Hyundai,i20,2015
Maruti,Omni,2007

In [ ]:
#!echo "disable 'cars2'" | hbase shell -n
#!echo "drop 'cars2'" | hbase shell -n

In [21]:
#create 'sensor','temp','vibration','pressure'
!echo "create 'cars2', 'make','model','year'" | hbase shell -n

hbase:001:0> create 'cars2', 'make','model','year'
Created table cars2
Took 1.5112 seconds
=> Hbase::Table - cars2
hbase:002:0>

In [22]:
!echo "list" | hbase shell -n

hbase:001:0> list
TABLE
cars2
1 row(s)
Took 0.9683 seconds
=> ["cars2"]
hbase:002:0>

In [ ]:
!cat cars2.csv

Ford,Ecosport,2019
Hyundai,i20,2015
Maruti,Omni,2007

In [23]:
# input file has to be moved from regular file system to HDFS file system
!hdfs dfs -copyFromLocal cars2.csv /tmp

In [24]:
# https://community.cloudera.com/t5/Community-Articles/Import-CSV-data-into-HBase-using-importtsv/ta-p/244842
#hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=,  -Dimporttsv.columns="HBASE_ROW_KEY,id,temp:in,temp:out,vibration,pressure:in,pressure:out" sensor hdfs://sandbox.hortonworks.com:/tmp/hbase.csv
!hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=','  -Dimporttsv.columns="HBASE_ROW_KEY,make,model,year" cars2 /tmp/cars2.csv

2022-06-24 00:00:25,019 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:zookeeper.version=3.5.7-f0fdd52973d373ffd9c86b81d99842dc2c7f660e, built on 02/10/2020 11:30 GMT
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:host.name=c51431f48b01
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.version=1.8.0_312
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.vendor=Private Build
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.home=/usr/lib/jvm/java-8-openjdk-amd64/jre
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: managed-am-launcher-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-web-proxy-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-mawo-core-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-client-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-resourcemanager-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-router-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-applications-distributedshell-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-tests-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-services-api-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-common-3.3.3.jar:/usr/local/hadoop-3.3.3//share/hadoop/yarn/hadoop-yarn-server-sharedcachemanager-3.3.3.jar
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.library.path=/usr/local/hadoop-3.3.3//lib/native
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.io.tmpdir=/tmp
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:java.compiler=<NA>
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.name=Linux
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.arch=amd64
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.version=5.4.188+
2022-06-24 00:00:25,020 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.name=root
2022-06-24 00:00:25,021 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.home=/root
2022-06-24 00:00:25,021 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:user.dir=/content
2022-06-24 00:00:25,021 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.free=178MB
2022-06-24 00:00:25,021 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.max=3231MB
2022-06-24 00:00:25,021 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Client environment:os.memory.total=197MB
2022-06-24 00:00:25,027 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:00:25,034 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] common.X509Util: Setting -D jdk.tls.rejectClientInitiatedRenegotiation=true to disable client-initiated TLS renegotiation
2022-06-24 00:00:25,044 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:00:25,057 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:00:25,076 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:00:25,082 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:56312, server: localhost/127.0.0.1:2181
2022-06-24 00:00:25,093 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000005ef5a0009, negotiated timeout = 40000
2022-06-24 00:00:26,904 INFO  [main] Configuration.deprecation: session.id is deprecated. Instead, use dfs.metrics.session-id
2022-06-24 00:00:26,905 INFO  [main] jvm.JvmMetrics: Initializing JVM Metrics with processName=JobTracker, sessionId=
2022-06-24 00:00:26,963 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091] zookeeper.ZooKeeper: Session: 0x1000005ef5a0009 closed
2022-06-24 00:00:26,963 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x1ce24091-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000005ef5a0009
2022-06-24 00:00:27,022 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:00:27,023 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:00:27,023 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:00:27,024 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:00:27,025 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:56318, server: localhost/127.0.0.1:2181
2022-06-24 00:00:27,029 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000005ef5a000a, negotiated timeout = 40000
2022-06-24 00:00:27,179 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18] zookeeper.ZooKeeper: Session: 0x1000005ef5a000a closed
2022-06-24 00:00:27,179 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x5ddabb18-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000005ef5a000a
2022-06-24 00:00:27,361 INFO  [main] input.FileInputFormat: Total input files to process : 1
2022-06-24 00:00:27,436 INFO  [main] mapreduce.JobSubmitter: number of splits:1
2022-06-24 00:00:27,714 INFO  [main] mapreduce.JobSubmitter: Submitting tokens for job: job_local1471181186_0001
2022-06-24 00:00:28,217 INFO  [main] mapred.LocalDistributedCacheManager: Creating symlink: /tmp/hadoop-root/mapred/local/1656028827925/libjars <- /content/libjars/*
2022-06-24 00:00:28,225 WARN  [main] fs.FileUtil: Command 'ln -s /tmp/hadoop-root/mapred/local/1656028827925/libjars /content/libjars/*' failed 1 with: ln: failed to create symbolic link '/content/libjars/*': No such file or directory

2022-06-24 00:00:28,225 WARN  [main] mapred.LocalDistributedCacheManager: Failed to create symlink: /tmp/hadoop-root/mapred/local/1656028827925/libjars <- /content/libjars/*
2022-06-24 00:00:28,226 INFO  [main] mapred.LocalDistributedCacheManager: Localized file:/tmp/hadoop-root/mapred/staging/root1471181186/.staging/job_local1471181186_0001/libjars as file:/tmp/hadoop-root/mapred/local/1656028827925/libjars
2022-06-24 00:00:28,376 INFO  [main] mapreduce.Job: The url to track the job: http://localhost:8080/
2022-06-24 00:00:28,377 INFO  [main] mapreduce.Job: Running job: job_local1471181186_0001
2022-06-24 00:00:28,382 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter set in config null
2022-06-24 00:00:28,428 INFO  [Thread-7] mapred.LocalJobRunner: OutputCommitter is org.apache.hadoop.hbase.mapreduce.TableOutputCommitter
2022-06-24 00:00:28,469 INFO  [Thread-7] mapred.LocalJobRunner: Waiting for map tasks
2022-06-24 00:00:28,470 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Starting task: attempt_local1471181186_0001_m_000000_0
2022-06-24 00:00:28,566 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task:  Using ResourceCalculatorProcessTree : [ ]
2022-06-24 00:00:28,579 INFO  [LocalJobRunner Map Task Executor #0] mapred.MapTask: Processing split: file:/tmp/cars2.csv:0+54
2022-06-24 00:00:28,606 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:00:28,606 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:00:28,607 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:00:28,614 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:00:28,615 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:56336, server: localhost/127.0.0.1:2181
2022-06-24 00:00:28,620 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000005ef5a000b, negotiated timeout = 40000
2022-06-24 00:00:28,629 INFO  [LocalJobRunner Map Task Executor #0] mapreduce.TableOutputFormat: Created table instance for cars2
2022-06-24 00:00:28,673 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317] zookeeper.ZooKeeper: Initiating client connection, connectString=127.0.0.1:2181 sessionTimeout=90000 watcher=org.apache.hadoop.hbase.zookeeper.ReadOnlyZKClient$$Lambda$15/895446950@3ac1a97a
2022-06-24 00:00:28,673 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317] zookeeper.ClientCnxnSocket: jute.maxbuffer value is 4194304 Bytes
2022-06-24 00:00:28,674 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317] zookeeper.ClientCnxn: zookeeper.request.timeout value is 0. feature enabled=
2022-06-24 00:00:28,679 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Opening socket connection to server localhost/127.0.0.1:2181. Will not attempt to authenticate using SASL (unknown error)
2022-06-24 00:00:28,680 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Socket connection established, initiating session, client: /127.0.0.1:56338, server: localhost/127.0.0.1:2181
2022-06-24 00:00:28,685 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317-SendThread(127.0.0.1:2181)] zookeeper.ClientCnxn: Session establishment complete on server localhost/127.0.0.1:2181, sessionid = 0x1000005ef5a000c, negotiated timeout = 40000
2022-06-24 00:00:28,800 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner:
2022-06-24 00:00:28,893 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317] zookeeper.ZooKeeper: Session: 0x1000005ef5a000c closed
2022-06-24 00:00:28,894 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x0f0e6317-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000005ef5a000c
2022-06-24 00:00:29,086 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task:attempt_local1471181186_0001_m_000000_0 is done. And is in the process of committing
2022-06-24 00:00:29,111 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: map
2022-06-24 00:00:29,113 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Task 'attempt_local1471181186_0001_m_000000_0' done.
2022-06-24 00:00:29,123 INFO  [LocalJobRunner Map Task Executor #0] mapred.Task: Final Counters for attempt_local1471181186_0001_m_000000_0: Counters: 19
	File System Counters
		FILE: Number of bytes read=432106
		FILE: Number of bytes written=1005031
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=3
		Map output records=3
		Input split bytes=84
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=590
		Physical memory (bytes) snapshot=276144128
		Virtual memory (bytes) snapshot=5152628736
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=74
	File Output Format Counters
		Bytes Written=0
2022-06-24 00:00:29,123 INFO  [LocalJobRunner Map Task Executor #0] mapred.LocalJobRunner: Finishing task: attempt_local1471181186_0001_m_000000_0
2022-06-24 00:00:29,124 INFO  [Thread-7] mapred.LocalJobRunner: map task executor complete.
2022-06-24 00:00:29,192 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d] zookeeper.ZooKeeper: Session: 0x1000005ef5a000b closed
2022-06-24 00:00:29,192 INFO  [ReadOnlyZKClient-127.0.0.1:2181@0x712d035d-EventThread] zookeeper.ClientCnxn: EventThread shut down for session: 0x1000005ef5a000b
2022-06-24 00:00:29,387 INFO  [main] mapreduce.Job: Job job_local1471181186_0001 running in uber mode : false
2022-06-24 00:00:29,388 INFO  [main] mapreduce.Job:  map 100% reduce 0%
2022-06-24 00:00:29,392 INFO  [main] mapreduce.Job: Job job_local1471181186_0001 completed successfully
2022-06-24 00:00:29,400 INFO  [main] mapreduce.Job: Counters: 19
	File System Counters
		FILE: Number of bytes read=432106
		FILE: Number of bytes written=1005031
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
	Map-Reduce Framework
		Map input records=3
		Map output records=3
		Input split bytes=84
		Spilled Records=0
		Failed Shuffles=0
		Merged Map outputs=0
		GC time elapsed (ms)=0
		CPU time spent (ms)=590
		Physical memory (bytes) snapshot=276144128
		Virtual memory (bytes) snapshot=5152628736
		Total committed heap usage (bytes)=206831616
	ImportTsv
		Bad Lines=0
	File Input Format Counters
		Bytes Read=74
	File Output Format Counters
		Bytes Written=0

In [25]:
!echo "scan 'cars2'" | hbase shell -n

hbase:001:0> scan 'cars2'
ROW                   COLUMN+CELL
 Ford                 column=make:, timestamp=2022-06-24T00:00:24.251, value=Eco
                      sport
 Ford                 column=model:, timestamp=2022-06-24T00:00:24.251, value=20
                      19
 Hyundai              column=make:, timestamp=2022-06-24T00:00:24.251, value=i20
 Hyundai              column=model:, timestamp=2022-06-24T00:00:24.251, value=20
                      15
 Maruti               column=make:, timestamp=2022-06-24T00:00:24.251, value=Omn
                      i
 Maruti               column=model:, timestamp=2022-06-24T00:00:24.251, value=20
                      07
3 row(s)
Took 1.1442 seconds
hbase:002:0>

#Stop HBase

In [26]:
!stop-hbase.sh

stopping hbase................