<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_B2_Hadoop_and_Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [33]:
from datetime import datetime
import pytz
print('Tested',datetime.now(pytz.timezone('Asia/Calcutta')))

Tested 2023-05-03 07:26:18.007230+05:30

#Hive with Hadoop
This notebook has all the codes / commands required to install Hadoop and Hive <br>

##Acknowledgements
Hadoop Installation from [Anjaly Sam's Github Repository](https://github.com/anjalysam/Hadoop) <br>
Hive Installation from [PhoenixNAP](https://phoenixnap.com/kb/install-hive-on-ubuntu) website

#1 Hadoop
Hadoop is a pre-requisite for Hive <br>

## 1.1 Download, Install Hadoop

In [1]:
# The default JVM available at /usr/lib/jvm/java-11-openjdk-amd64/  works for Hadoop
# But gives errors with Hive https://stackoverflow.com/questions/54037773/hive-exception-class-jdk-internal-loader-classloadersappclassloader-cannot
# Hence this JVM needs to be installed
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# If there is an error in this cell, it is very likely that the version of hadoop has changed
# Download the latest version of Hadoop and change the version numbers accordingly
#wget -q https://downloads.apache.org/hadoop/common/hadoop-3.3.0/hadoop-3.3.0.tar.gz
#!wget -q https://downloads.apache.org/hadoop/common/hadoop-3.3.2/hadoop-3.3.2.tar.gz
#!wget  https://downloads.apache.org/hadoop/common/hadoop-3.3.2/hadoop-3.3.2.tar.gz
!wget -q https://downloads.apache.org/hadoop/common/hadoop-3.3.5/hadoop-3.3.5.tar.gz
# Unzip it
# the tar command with the -x flag to extract, -z to uncompress, -v for verbose output, and -f to specify that weâ€™re extracting from a file
#!tar -xzf hadoop-3.3.2.tar.gz
!tar -xzf hadoop-3.3.5.tar.gz
#copy  hadoop file to user/local
#!mv  hadoop-3.3.2/ /usr/local/
!mv  hadoop-3.3.5/ /usr/local/

## 1.2 Set Environment Variables

In [ ]:
#To find the default Java path
#!readlink -f /usr/bin/java | sed "s:bin/java::"
#!ls /usr/lib/jvm/

In [3]:
#To set java path, go to /usr/local/hadoop-3.3.0/etc/hadoop/hadoop-env.sh then
#. . . export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/ . . .
#we have used a simpler alternative route using os.environ - it works

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"   # default is changed
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
# make sure that the version number is as downloaded 
#os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.0/"
#os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.2/"
os.environ["HADOOP_HOME"] = "/usr/local/hadoop-3.3.5/"

In [4]:
# Add Hadoop BIN to PATH
# Get the current_path from output of previous command
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin'
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin'
#new_path = current_path+':/usr/local/hadoop-3.3.2/bin/'
#os.environ["PATH"] = new_path
#!echo $PATH

current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
#new_path = current_path+':/usr/local/hadoop-3.3.2/bin/'
new_path = current_path+':/usr/local/hadoop-3.3.5/bin/'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.5/bin/

## 1.3 Test Hadoop Installation

In [ ]:
#Running Hadoop - Test RUN, not doing anything at all
#!/usr/local/hadoop-3.3.0/bin/hadoop
# UNCOMMENT the following line if you want to make sure that Hadoop is alive!
#!hadoop

In [ ]:
# Testing Hadoop with PI generating sample program, should calculate value of pi = 3.14157500000000000000
# pi example
#Uncomment the following line if  you want to test Hadoop with pi example
#!hadoop jar /usr/local/hadoop-3.3.0/share/hadoop/mapreduce/hadoop-mapreduce-examples-3.3.0.jar pi 16 100000

#2 Hive

## 2.1 Download, Install HIVE

In [5]:
# Download and Unzip the correct version and unzip
#!wget https://downloads.apache.org/hive/hive-3.1.2/apache-hive-3.1.2-bin.tar.gz
!wget -q https://downloads.apache.org/hive/hive-3.1.3/apache-hive-3.1.3-bin.tar.gz

#!tar xzf apache-hive-3.1.2-bin.tar.gz
!tar xzf apache-hive-3.1.3-bin.tar.gz

## 2.2 Set Environment *Variables*

In [6]:
# Make sure that the version number is correct and is as downloaded
#os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.2-bin"
os.environ["HIVE_HOME"] = "/content/apache-hive-3.1.3-bin"
!echo $HIVE_HOME

/content/apache-hive-3.1.3-bin

In [7]:
# current_path is set from output of previous command
#current_path = '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin:/usr/local/hadoop-3.3.0/bin/'
#current_path = '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.2/bin/'
#new_path = current_path+':/content/apache-hive-3.1.2-bin/bin'
#os.environ["PATH"] = new_path
!echo $PATH


current_path = os.getenv('PATH')
#new_path = current_path+':/usr/local/hadoop-3.3.0/bin/'
#new_path = current_path+':/content/apache-hive-3.1.2-bin/bin'
new_path = current_path+':/content/apache-hive-3.1.3-bin/bin'
os.environ["PATH"] = new_path
!echo $PATH

/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.5/bin/
/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/usr/local/hadoop-3.3.5/bin/:/content/apache-hive-3.1.3-bin/bin

In [ ]:
!echo $JAVA_HOME
!echo $HADOOP_HOME
!echo $HIVE_HOME

/usr/lib/jvm/java-8-openjdk-amd64
/usr/local/hadoop-3.3.5/
/content/apache-hive-3.1.3-bin

## 2.3 Set up HDFS Directories

In [8]:
!hdfs dfs -mkdir /tmp
!hdfs dfs -chmod g+w /tmp
#!hdfs dfs -ls /
!hdfs dfs -mkdir -p /content/warehouse
!hdfs dfs -chmod g+w /content/warehouse
#!hdfs dfs -ls /content/

mkdir: `/tmp': File exists

## 2.4 Initialise HIVE - note and fix errors

In [ ]:
# TYPE this command, do not copy and paste. Non printing characters cause havoc 
# There will be two errors, that we will fix
# UNCOMMENT the following line if you WISH TO SEE the errors
#!schematool -initSchema -dbType derby

### 2.4.1 Fix One Warning, One Error 
SLF4J is duplicate, need to locate them and remove one <br>
Guava jar version is low

In [ ]:
# locate multiple instances of slf4j ...
!ls $HADOOP_HOME/share/hadoop/common/lib/*slf4j*
!ls $HIVE_HOME/lib/*slf4j*

/usr/local/hadoop-3.3.5//share/hadoop/common/lib/jul-to-slf4j-1.7.36.jar
/usr/local/hadoop-3.3.5//share/hadoop/common/lib/slf4j-api-1.7.36.jar
/usr/local/hadoop-3.3.5//share/hadoop/common/lib/slf4j-reload4j-1.7.36.jar
/content/apache-hive-3.1.3-bin/lib/log4j-slf4j-impl-2.17.1.jar

In [9]:
# removed the logging jar from Hive, retaining the Hadoop jar
#!mv /content/apache-hive-3.1.2-bin/lib/log4j-slf4j-impl-2.10.0.jar ./
!mv /content/apache-hive-3.1.3-bin/lib/log4j-slf4j-impl-2.17.1.jar ./

In [ ]:
# guava jar needs to above v 20
# https://stackoverflow.com/questions/45247193/nosuchmethoderror-com-google-common-base-preconditions-checkargumentzljava-lan
!ls $HIVE_HOME/lib/gu*

/content/apache-hive-3.1.3-bin/lib/guava-19.0.jar

In [ ]:
# the one available with Hadoop is better, v 27
!ls $HADOOP_HOME/share/hadoop/hdfs/lib/gu*

/usr/local/hadoop-3.3.5//share/hadoop/hdfs/lib/guava-27.0-jre.jar

In [10]:
# Remove the Hive Guava and replace with Hadoop Guava
!mv $HIVE_HOME/lib/guava-19.0.jar ./

!cp $HADOOP_HOME/share/hadoop/hdfs/lib/guava-27.0-jre.jar $HIVE_HOME/lib/

##2.5 Initialize HIVE

In [11]:
#Type this command, dont copy-paste
# Non printing characters inside the command will give totally illogical errors
!schematool -initSchema -dbType derby

Metastore connection URL:	 jdbc:derby:;databaseName=metastore_db;create=true
Metastore Connection Driver :	 org.apache.derby.jdbc.EmbeddedDriver
Metastore connection User:	 APP
Starting metastore schema initialization to 3.1.0
Initialization script hive-schema-3.1.0.derby.sql

































































































































































































































Initialization script completed
schemaTool completed

## 2.6 Test HIVE 
1. Create database
2. Create table
3. Insert data
4. Retrieve data

using command line options as [given here](https://cwiki.apache.org/confluence/display/hive/languagemanual+cli#).

In [12]:
!hive -e "create database if not exists praxisDB;"

Hive Session ID = 99ca3df5-716c-4874-9a80-099c0e449007

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = fe4f4587-7dda-4428-88f4-494453b44645
OK
Time taken: 1.0 seconds

In [ ]:
!hive -e "show databases"

Hive Session ID = bf703046-34dd-49dc-a4c7-51223495f503

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = 4dbd6625-a315-4b09-a482-5e3fe1032b01
OK
default
praxisdb
Time taken: 2.721 seconds, Fetched: 2 row(s)

In [ ]:
!hive -database praxisdb -e "create table if not exists emp (name string, age int)"

Hive Session ID = 5874cf8e-aeaf-4612-9382-4780ac76d2cc

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = 44654d03-e6d9-49c5-8bbe-b566bef4dc62
OK
Time taken: 1.362 seconds
OK
Time taken: 0.954 seconds

In [ ]:
!hive -database praxisdb -e "show tables"

Hive Session ID = e7b7f810-010e-407d-98f3-acb04778a629

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = cd9836be-6c7e-48bb-a598-6217d3cca883
OK
Time taken: 1.414 seconds
OK
emp
Time taken: 0.362 seconds, Fetched: 1 row(s)

In [ ]:
!hive -database praxisdb -e "insert into emp values ('naren', 70)"

Hive Session ID = 22932464-24fc-4f23-8e00-bff687f8bc7e

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = 2eca6c3a-63df-4e87-8be5-a80ba576f566
OK
Time taken: 1.259 seconds
Query ID = root_20230501071118_225aaaac-49a5-4d54-a5d9-97dba3ba7d2c
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2023-05-01 07:11:25,430 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local90500994_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/user/hive/warehouse/praxisdb.db/emp/.hive-staging_hive_2023-05-01_07-11-18_604_4169937773008107532-1/-ext-10000
Loading data to table praxisdb.emp
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 8.039 seconds

In [ ]:
!hive -database praxisdb -e "insert into emp values ('aditya', 49)"

Hive Session ID = 098ff99a-dd2a-4b52-85b5-43c9172037d4

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = 4081ee04-500c-4054-98db-1561c8943329
OK
Time taken: 2.35 seconds
Query ID = root_20230501071148_f69a8f5b-c661-4797-ae4e-05e5afb9f097
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2023-05-01 07:11:54,623 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1373658441_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/user/hive/warehouse/praxisdb.db/emp/.hive-staging_hive_2023-05-01_07-11-48_738_3179129714884317827-1/-ext-10000
Loading data to table praxisdb.emp
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 6.881 seconds

In [ ]:
!hive -database praxisdb -e "select * from emp"

Hive Session ID = 04974e93-63fa-4011-864e-2b934ebe3f15

Logging initialized using configuration in jar:file:/content/apache-hive-3.1.3-bin/lib/hive-common-3.1.3.jar!/hive-log4j2.properties Async: true
Hive Session ID = e00d744b-e1c4-43e8-9430-441d8e5aacf6
OK
Time taken: 1.974 seconds
OK
naren	70
aditya	49
Time taken: 2.416 seconds, Fetched: 2 row(s)

In [ ]:
# Silent Mode
!hive -S -database praxisdb -e "select * from emp where name = 'aditya'"

Hive Session ID = 30b12b5c-661a-47cf-9f2b-8025b6bd5cb6
Hive Session ID = b88fddc6-f515-474a-a3a0-a6d02331dcdc
aditya	49

## 2.7 Bulk Data Load from CSV file

In [13]:
#drop table
!hive -S -database praxisDB -e 'DROP table if exists eCommerce'
#create table
# Invoice Date is being treated as a STRING because input data is not correctly formatted
!hive -S -database praxisDB -e " \
CREATE TABLE eCommerce ( \
InvoiceNo varchar(10), \
StockCode varchar(10), \
Description varchar(50), \
Quantity int, \
InvoiceDate string, \
UnitPrice decimal(6,2), \
CustomerID varchar(10), \
Country varchar(15) \
) row format delimited fields terminated by ','; \
"

Hive Session ID = b9227da9-7609-486a-bb7f-0debd4a8e1d6
Hive Session ID = 30444605-8cd2-4cca-9791-bd26125acadb
Hive Session ID = 3b314e76-6a5b-4b7d-9b36-2e1b77048500
Hive Session ID = 3c2375d2-5abc-42b7-b78e-d0445aff4f91

In [14]:
!hive -S -database praxisdb -e "describe eCommerce"

Hive Session ID = dcf29f40-0f81-4f50-9218-147432133515
Hive Session ID = e4154167-d5d1-4687-b17f-f5c4e180c725
invoiceno           	varchar(10)
stockcode           	varchar(10)
description         	varchar(50)
quantity            	int
invoicedate         	string
unitprice           	decimal(6,2)
customerid          	varchar(10)
country             	varchar(15)

This data may not be clean and may have commas embedded in the CSV file. To see how clearn this look at this notebook : [Spark SQLContext HiveContext](https://github.com/prithwis/KKolab/blob/main/KK_C1_SparkSQL_SQLContext_HiveContext.ipynb)

In [15]:
#Data as CSV file
!gdown https://drive.google.com/uc?id=1JJH24ZZaiJrEKValD--UtyFcWl7UanwV  # 2% data ~ 10K rows
!gdown https://drive.google.com/uc?id=1g7mJ0v4fkERW0HWc1eq-SHs_jvQ0N2Oe  # 100% data ~ 500K rows

Downloading...
From: https://drive.google.com/uc?id=1JJH24ZZaiJrEKValD--UtyFcWl7UanwV
To: /content/eCommerce_02PC_2021.csv
100% 917k/917k [00:00<00:00, 52.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1g7mJ0v4fkERW0HWc1eq-SHs_jvQ0N2Oe
To: /content/eCommerce_Full_2021.csv
100% 45.6M/45.6M [00:01<00:00, 29.8MB/s]

In [16]:
#remove the CRLF character from the end of the row if it exists
!sed 's/\r//' /content/eCommerce_Full_2021.csv > datafile.csv
#!sed 's/\r//' /content/eCommerce_02PC_2021.csv > datafile.csv
# remove the first line containing headers from the file
!sed -i -e "1d" datafile.csv    
!head datafile.csv

536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850,United Kingdom
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850,United Kingdom
536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850,United Kingdom
536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850,United Kingdom
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047,United Kingdom

In [17]:
# delete all rows from table
!hive -S -database praxisdb -e 'TRUNCATE TABLE eCommerce'
# LOAD
!hive -S -database praxisdb -e "LOAD DATA LOCAL INPATH 'datafile.csv' INTO TABLE eCommerce"

Hive Session ID = a3e91fda-5904-42ac-889d-ac0d02000b49
Hive Session ID = 5b901127-c07e-49af-85d4-1fe64c672c63
Hive Session ID = eca44311-c432-4702-8815-da6ce5a080fd
Hive Session ID = de578a87-de8d-4fba-8589-e81fd94bba0e

In [18]:
!hive -S -database praxisdb -e "select count(*) from eCommerce"

Hive Session ID = 7170492c-4b8e-4e24-ad4b-dfc1d0509d2f
Hive Session ID = b0e0193e-cf5e-48d7-9277-0512e8913806
541909

In [19]:
!hive -S -database praxisdb -e "select invoiceno, customerid, country from eCommerce limit 30"

Hive Session ID = 515e415e-f29f-4680-b16e-07932b483fef
Hive Session ID = 8e00911b-658d-4435-a50a-708141688a8a
536365	17850	United Kingdom
536365	17850	United Kingdom
536365	17850	United Kingdom
536365	17850	United Kingdom
536365	17850	United Kingdom
536365	17850	United Kingdom
536365	17850	United Kingdom
536366	17850	United Kingdom
536366	17850	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536367	13047	United Kingdom
536368	13047	United Kingdom
536368	13047	United Kingdom
536368	13047	United Kingdom
536368	13047	United Kingdom
536369	13047	United Kingdom
536370	12583	France
536370	12583	France
536370	12583	France
536370	12583	France

In [20]:
!hive -S -database praxisdb -e "select  distinct(country) from eCommerce"

Hive Session ID = d33646b5-2b07-4539-86e4-e24c866589a6
Hive Session ID = 9b42e731-27ba-4fdb-8533-dd4328a66d2c

0.36
0.42
0.72
0.83
0.85
1
1.25
1.63
1.65
1.66
1.95
10.79
11.02
12347
12357
12359
12360
12364
12370
12377
12378
12383
12391
12412
12415
12428
12433
12451
12457
12465
12473
12474
12484
12494
12501
12502
12518
12520
12540
12553
12556
12567
12577
12589
12613
12619
12630
12633
12638
12652
12668
12673
12681
12688
12710
12713
12714
12718
12720
12727
12734
12743
12744
12748
12749
12758
12762
12763
12824
12828
12838
12839
12842
12843
12847
12854
12856
12867
12868
12877
12909
12947
12949
12957
12970
12977
12982
12985
13.29
13001
13004
13012
13018
13021
13026
13037
13044
13046
13047
13064
13069
13077
13078
13080
13081
13089
13091
13093
13097
13098
13109
13116
13124
13126
13137
13146
13148
13155
13158
13162
13167
13168
13170
13174
13183
13184
13186
13189
13192
13196
13203
13208
13209
13212
13213
13225
13230
13233
13263
13265
13267
13268
13269
13314
13316
13319
13334
13357
13379
13381
13396
13402
13408
13411
13419
13426
13428
13430
13437
13447
13448
13451
13458
13468
13471
13474
13488
13491
13496
13510
13515
13521
13523
13532
13533
13563
13564
13565
13568
13569
13588
13599
13601
13607
13610
13611
13618
13637
13642
13644
13652
13654
13659
13668
13694
13700
13709
13715
13735
13736
13742
13755
13756
13760
13764
13798
13810
13815
13823
13835
13838
13842
13869
13875
13876
13897
13941
13959
13963
13969
13975
13994
13995
14.95
14005
14016
14030
14048
14049
14056
14060
14071
14081
14083
14085
14088
14096
14099
14105
14107
14125
14128
14135
14156
14157
14159
14165
14171
14176
14178
14179
14180
14189
14191
14194
14210
14215
14221
14232
14234
14235
14243
14245
14257
14271
14272
14286
14298
14305
14312
14321
14334
14341
14382
14390
14395
14396
14400
14401
14404
14408
14410
14414
14418
14422
14426
14431
14432
14439
14449
14450
14451
14456
14460
14461
14462
14472
14499
14502
14504
14505
14507
14524
14527
14534
14535
14546
14547
14552
14553
14561
14565
14572
14573
14576
14577
14583
14587
14592
14606
14620
14626
14629
14631
14638
14640
14643
14646
14649
14659
14662
14676
14684
14688
14696
14698
14704
14711
14715
14719
14729
14730
14755
14758
14759
14766
14769
14784
14790
14794
14796
14800
14801
14810
14815
14824
14852
14854
14861
14880
14893
14895
14896
14901
14903
14911
14912
14913
14916
14921
14930
14936
14944
14948
14960
14963
14965
14966
14972
14978
14984
14988
14998
15000
15002
15004
15005
15006
15009
15012
15021
15023
15024
15033
15036
15038
15039
15054
15059
15061
15065
15066
15088
15089
15093
15099
15104
15114
15122
15150
15154
15156
15157
15159
15194
15203
15214
15220
15225
15230
15235
15237
15252
15271
15275
15276
15277
15290
15298
15301
15306
15311
15330
15334
15351
15356
15358
15365
15376
15379
15388
15407
15415
15427
15429
15436
15437
15443
15452
15453
15456
15457
15480
15483
15484
15485
15489
15493
15498
15502
15506
15508
15512
15513
15529
15531
15532
15533
15535
15541
15547
15555
15570
15582
15601
15607
15608
15630
15632
15639
15640
15641
15644
15646
15660
15665
15707
15719
15721
15722
15737
15750
15756
15757
15759
15764
15795
15796
15799
15800
15805
15825
15826
15834
15854
15856
15858
15861
15865
15867
15870
15880
15881
15883
15891
15899
15903
15906
15907
15910
15912
15916
15919
15951
15967
15974
15976
15984
15985
15987
15993
15998
16005
16007
16011
16014
16015
16031
16033
16036
16049
16062
16081
16083
16102
16121
16147
16179
16186
16222
16224
16244
16255
16261
16265
16268
16270
16274
16297
16324
16332
16340
16345
16347
16348
16350
16356
16360
16365
16367
16374
16383
16393
16395
16402
16409
16423
16426
16433
16442
16444
16446
16447
16448
16449
16456
16460
16464
16466
16469
16495
16497
16504
16511
16518
16523
16526
16533
16535
16549
16570
16592
16593
16600
16614
16638
16648
16655
16666
16667
16670
16674
16676
16678
16684
16686
16700
16710
16713
16725
16728
16729
16730
16744
16753
16764
16771
16773
16775
16776
16777
16779
16794
16801
16805
16813
16814
16818
16869
16880
16887
16895
16898
16900
16904
16906
16907
16910
16916
16918
16919
16921
16923
16924
16930
16931
16938
16947
16952
16984
17007
17015
17019
17042
17043
17050
17054
17059
17071
17073
17078
17085
17092
17101
17107
17109
17124
17128
17159
17162
17180
17189
17191
17198
17201
17221
17223
17228
17231
17243
17252
17255
17265
17272
17282
17288
17289
17290
17293
17297
17298
17303
17314
17337
17338
17340
17341
17348
17358
17364
17368
17372
17375
17377
17385
17389
17400
17404
17405
17416
17428
17429
17433
17434
17442
17444
17449
17451
17486
17491
17499
17503
17504
17507
17511
17515
17516
17522
17528
17545
17551
17555
17557
17561
17566
17572
17576
17589
17590
17593
17596
17602
17611
17613
17618
17631
17634
17658
17667
17677
17678
17686
17690
17692
17700
17706
17716
17725
17730
17744
17750
17757
17758
17783
17797
17799
17802
17806
17809
17811
17813
17827
17829
17832
17835
17838
17841
17858
17865
17870
17873
17886
17888
17891
17897
17920
17947
17954
17965
17974
17975
17997
17999
18005
18022
18034
18035
18041
18044
18055
18059
18061
18069
18079
18095
18096
18109
18114
18116
18117
18118
18122
18123
18125
18126
18127
18130
18139
18180
18183
18204
18221
18225
18226
18245
18273
3.29
3.36
4.25
4.4
4.95
5.72
6.35
6.75
9.95
Australia
Austria
Bahrain
Belgium
Brazil
Canada
Channel Islands
Cyprus
Czech Republic
Denmark
EIRE
European Commun
Finland
France
Germany
Greece
Hong Kong
Iceland
Israel
Italy
Japan
Lebanon
Lithuania
Malta
Netherlands
Norway
Poland
Portugal
RSA
Saudi Arabia
Singapore
Spain
Sweden
Switzerland
USA
United Arab Emi
United Kingdom
Unspecified

### Data Cleaning
Quick way to clean data using Pandas

In [24]:
import pandas as pd
#p_df = pd.read_csv('datafile.csv',header=None)   # throws errors because of non utf-encoding 
                                                  # https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python
p_df = pd.read_csv('datafile.csv',encoding = "ISO-8859-1",header=None)
#p_df = pd.read_csv('datafile.csv',encoding = "latin",header=None)
#p_df = pd.read_csv('datafile.csv',encoding = "latin")
p_df2 = p_df.replace(',', ' ', regex=True)
p_df2.to_csv('datafile2.csv',index=False,sep=',',header=False)
p_df2.shape

(541909, 8)

In [25]:
#drop table
!hive -S -database praxisDB -e 'DROP table if exists eCommerce2'
#create table
# Invoice Date is being treated as a STRING because input data is not correctly formatted
!hive -S -database praxisDB -e " \
CREATE TABLE eCommerce2 ( \
InvoiceNo varchar(10), \
StockCode varchar(10), \
Description varchar(50), \
Quantity int, \
InvoiceDate string, \
UnitPrice decimal(6,2), \
CustomerID varchar(10), \
Country varchar(15) \
) row format delimited fields terminated by ','; \
"

Hive Session ID = d965a42c-8abf-43f8-85fd-dd4e85671398
Hive Session ID = 3111eee1-6df4-4999-91d2-5cf5641f0437
Hive Session ID = f6040b06-1c8b-488e-9be5-8a1ed56752da
Hive Session ID = d3049dc7-46ed-47c8-85c1-a31d40754246

In [26]:
# delete all rows from table
!hive -S -database praxisdb -e 'TRUNCATE TABLE eCommerce2'
# LOAD
!hive -S -database praxisdb -e "LOAD DATA LOCAL INPATH 'datafile2.csv' INTO TABLE eCommerce2"

Hive Session ID = f080401e-380b-4a51-b0bb-9c63140662e1
Hive Session ID = b879b923-716d-465a-9ca9-419cab98e76e
Hive Session ID = 087197dc-6357-4cd9-b728-d6ceb611ddd4
Hive Session ID = cc3c140d-aaf6-4b25-bd01-50800e747dfb

In [27]:
!hive -S -database praxisdb -e "select  distinct(country) from eCommerce2"

Hive Session ID = a6004f30-f7b0-445d-adec-e826989eae7c
Hive Session ID = 2baded0e-4e6f-43bf-95b5-7b81e8065bba
Australia
Austria
Bahrain
Belgium
Brazil
Canada
Channel Islands
Cyprus
Czech Republic
Denmark
EIRE
European Commun
Finland
France
Germany
Greece
Hong Kong
Iceland
Israel
Italy
Japan
Lebanon
Lithuania
Malta
Netherlands
Norway
Poland
Portugal
RSA
Saudi Arabia
Singapore
Spain
Sweden
Switzerland
USA
United Arab Emi
United Kingdom
Unspecified

In [32]:
!hive -S -database praxisdb -e "select  count(InvoiceNo), sum(Quantity), country from eCommerce2 group by country"

Hive Session ID = f483e65a-699d-4180-858e-f5e316f883c7
Hive Session ID = 1c1c0d75-df7c-4282-b028-bf3d9627615e
1259	83653	Australia
401	4827	Austria
19	260	Bahrain
2069	23152	Belgium
32	356	Brazil
151	2763	Canada
758	9479	Channel Islands
622	6317	Cyprus
30	592	Czech Republic
389	8188	Denmark
8196	142637	EIRE
61	497	European Commun
695	10666	Finland
8557	110480	France
9495	117448	Germany
146	1556	Greece
288	4769	Hong Kong
182	2458	Iceland
297	4353	Israel
803	7999	Italy
358	25218	Japan
45	386	Lebanon
35	652	Lithuania
127	944	Malta
2371	200128	Netherlands
1086	19247	Norway
341	3653	Poland
1519	16180	Portugal
58	352	RSA
10	75	Saudi Arabia
229	5234	Singapore
2533	26824	Spain
462	35637	Sweden
2002	30325	Switzerland
291	1034	USA
68	982	United Arab Emi
495478	4263829	United Kingdom
446	3300	Unspecified

In [34]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2023-05-03 07:26:24.672123+05:30

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)