<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_C4_Spark_RDD_Dataframe_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

# Basic Data Analysis | Supermarket | Netflix | IMDB
Demonstrate the usage of RDD, Spark Dataframe and Spark SQL to explore the same datafile. <br>
More detailed tutorial available at https://github.com/Praxis-QR/BDSN/blob/main/Complex_Complete_Spark_Tutorial.ipynb
<hr>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))

!python --version
!lsb_release -a

#check which version of MongoDB  is available
#!apt-cache policy mongodb

#check which versions of software are available
#!pip3 index versions pyspark
#!pip3 index versions pyngrok

ॐ श्री सरस्वत्यै नमः 2024-01-21 11:57:26.347567+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.3 LTS
Release:	22.04
Codename:	jammy

# Download Sample Data as CSV files
Sourced from https://github.com/search?q=owner%3Ajigsawlabs-student%20pyspark&type=repositories

In [18]:
import pandas as pd
import re

In [2]:

#!wget -O netflix.csv "https://raw.githubusercontent.com/jigsawlabs-student/pyspark-cluster-lab/main/netflix_titles.csv"
!wget -q "https://github.com/Praxis-QR/BDSN/raw/main/Data2/NetFlix.csv"
#df = pd.read_csv('s3://jigsaw-labs-student/supermarket_sales.csv')
df1 = pd.read_csv('NetFlix.csv')

!wget -q 'https://github.com/Praxis-QR/BDSN/raw/main/Data2/SuperMarketSales.csv'
df2 = pd.read_csv('SuperMarketSales.csv')

#df2 = pd.read_csv("s3://jigsaw-labs-student/imdb_movies.csv")
!wget -q 'https://github.com/Praxis-QR/BDSN/raw/main/Data2/IMDBmovies.csv'
df3 = pd.read_csv('IMDBmovies.csv')
df1.shape, df2.shape, df3.shape

((7787, 12), (1000, 17), (2000, 7))

# Spark Installation

## Full Installation - Skip, not required

In [ ]:
#!apt update > /dev/null
#!apt install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
# Get latest and correct version of Spark
#
# if the current version of Spark is not used, there may be errors
# check here for current versions http://apache.osuosl.org/spark
#
#!wget -q http://apache.osuosl.org/spark/spark-2.2.2/spark-2.2.2-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz

#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!tar xf spark-3.0.1-bin-hadoop3.2.tgz
#!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark
#!pip install -q pyspark

#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
#os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [ ]:
# findspark route is no more required
#import findspark
#findspark.init()
#
#findspark.init('/content/spark-2.2.2-bin-hadoop2.7')
#
# https://stackoverflow.com/questions/42223498/findspark-init-indexerror-list-index-out-of-range-error
#

## Direct Install with pip

In [3]:
!pip3 -q install pyspark
!pip3 -q install pyngrok
#!pip3 -q install s3fs

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [4]:
#from pyspark.sql.functions import col, to_date, to_timestamp
#from pyspark.sql.functions import regexp_replace
#from pyspark.sql.types import StructType,StructField, StringType, DateType, TimestampType, IntegerType,DoubleType, FloatType,NumericType, DecimalType
#
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
#

In [5]:
# spark = SparkSession.builder.master("local[*]").getOrCreate()
# note UI port switched from default 4040 to 4050 to avoid clash with ngrok
#
spark39 = SparkSession.builder.master("local[*]").\
            config('spark.ui.port', '4050').\
            appName("Yantrajaal").\
            getOrCreate()
#
sc = spark39.sparkContext
#
# The spark Console UI is available in the link that will be displayed in this cell.
# If you do not wish to use the Console, you may skip the Tunnel part
sc

##Build Tunnel with ngrok <br>
This part required ONLY if you need to access Spark Console<br>
To get your ngrok token please visit https://dashboard.ngrok.com/login <br>
and create a free account

###Load ngrok token from GDrive<br>
this part may be skipped if ngrok can be placed directly in one of the two next steps

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#
#!ls /content/drive/'My Drive'/Praxis/WebCredentials/
#
!cp /content/drive/'My Drive'/Praxis/WebCredentials/ngrokToken.py .

Mounted at /content/drive

In [ ]:
# credential file for Prithwis Mukerjee
# this file needs to be uploaded into the VM

from ngrokToken import ngrokToken

#for the sake of privacy the following credentials need to be stored in a text file called ngrokToken.py
#in the Colab VM in the format given below
#

#otherwise, the values can be directly placed here

#ngrokToken = 'xxxxxxxxxxxxxxx'   # uncomment this line and place your own credentials here
#token is available at https://dashboard.ngrok.com/get-started/setup


#print(ngrokToken)
ngrokTokenCmd = 'ngrok authtoken '+ngrokToken

this code adapted from https://towardsdatascience.com/quickly-share-ml-webapps-from-google-colab-using-ngrok-for-free-ae899ca2661a

In [ ]:
from pyngrok import ngrok

# you may place the token directly here
#!ngrok authtoken xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
get_ipython().system_raw(ngrokTokenCmd)

# Open a HTTP tunnel on the default port 80
#
public_url = ngrok.connect(4050)
#This is where the Spark Console UI will be visible
public_url

The next four cells are not required. Mainly used to check on the status of the Tunnel

In [ ]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

https://ba7a-34-23-247-21.ngrok-free.app

In [ ]:
#!ps

In [ ]:
#!kill -9 1219

### S3 Access ( Optional )
This data is not used, kept for reference

In [ ]:
!pip3 -q install s3fs           # error does not seem to matter

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.8/75.8 kB 3.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.0/169.0 kB 7.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 23.6 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gcsfs 2023.6.0 requires fsspec==2023.6.0, but you have fsspec 2023.12.2 which is incompatible.

In [ ]:
df = pd.read_csv('s3://jigsaw-labs-student/supermarket_sales.csv')
df.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [ ]:
df = pd.read_csv("s3://jigsaw-labs-student/imdb_movies.csv")
df.head(2)

,title,genre,budget,runtime,year,month,revenue
0,Avatar,Action,237000000,162.0,2009,12,2787965087
1,Pirates of the Caribbean: At World's End,Adventure,300000000,169.0,2007,5,961000000

# Supermarket Sales Data

In [ ]:
!head SuperMarketSales.csv

Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1
226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6
631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761904762,16.2155,7.4
123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761904762,23.288,8.4
373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761904762,30.2085,5.3
699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761904762,29.8865,4.1
355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.652,433.692,2/25/2019,14:36,Ewallet,413.04,4.761904762,20.652,5.8
315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.78,772.38,2/24/2019,11:38,Ewallet,735.6,4.761904762,36.78,8.0
665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.626,76.146,1/10/2019,17:15,Credit card,72.52,4.761904762,3.626,7.2

## RDD Operations

### Read CSV into RDD

In [ ]:
sales_RDD1 = sc.textFile("SuperMarketSales.csv")
sales_RDD2 = spark39.read.text("SuperMarketSales.csv").rdd
# for an explanation of the alternate way to read text files
# see this https://stackoverflow.com/questions/52665353/reading-a-text-file-in-spark/52669632#52669632

In [ ]:
sales_RDD1.take(5)

['Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating',
 '750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1',
 '226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6',
 '631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761904762,16.2155,7.4',
 '123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761904762,23.288,8.4']

In [ ]:
sales_RDD2.take(5)

[Row(value='Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating'),
 Row(value='750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1'),
 Row(value='226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6'),
 Row(value='631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761904762,16.2155,7.4'),
 Row(value='123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761904762,23.288,8.4')]

In [ ]:
# Delete the first, header row
#
!sed '1d' SuperMarketSales.csv > Headless_SuperMarketSales.csv
#!sed -i '1d' SuperMarketSales.csv
sales_RDD1 = sc.textFile("Headless_SuperMarketSales.csv")
sales_RDD2 = spark39.read.text("Headless_SuperMarketSales.csv").rdd
sales_RDD1.take(5)
#sales_RDD2.take(5)

['750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1',
 '226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6',
 '631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761904762,16.2155,7.4',
 '123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761904762,23.288,8.4',
 '373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761904762,30.2085,5.3']

In [ ]:
sales_RDD2.take(5)

[Row(value='750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1'),
 Row(value='226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6'),
 Row(value='631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761904762,16.2155,7.4'),
 Row(value='123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761904762,23.288,8.4'),
 Row(value='373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761904762,30.2085,5.3')]

### Data Analysis with RDD

In [ ]:
# Total Number of Rows
sales_RDD1.count()

1000

#### Filter Data

In [ ]:
# Filter, or segregate the data, based on payment method
#
sales_wallet = sales_RDD1.filter(lambda x: ",Ewallet," in x)
sales_cash = sales_RDD1.filter(lambda x: ",Cash," in x)
sales_card = sales_RDD1.filter(lambda x: ",Credit card," in x)
#
wallet_count = sales_wallet.count()
cash_count = sales_cash.count()
card_count = sales_card.count()
print(wallet_count, cash_count, card_count)

345 344 311

#### Set Operations

In [ ]:
# Another way to segregate the data
#
sales_wallet = sales_RDD1.filter(lambda x: ",Ewallet," in x)
wallet_count = sales_wallet.count()
#
sales_non_wallet = sales_RDD1.subtract(sales_wallet)
non_wallet_count = sales_non_wallet.count()
print(wallet_count, non_wallet_count)

345 655

In [ ]:
# Get Unique Values of field City
#
sales_RDD_csv = sales_RDD1.map(lambda x: x.split(","))
cities = sales_RDD_csv.map(lambda x: x[2]).distinct()
cities.collect()

['Naypyitaw', 'Yangon', 'Mandalay']

In [ ]:
sales_RDD_csv = sales_RDD1.map(lambda x: x.split(","))
product_lines = sales_RDD_csv.map(lambda x: x[5]).distinct()
product_lines.collect()

['Health and beauty',
 'Home and lifestyle',
 'Electronic accessories',
 'Sports and travel',
 'Food and beverages',
 'Fashion accessories']

#### Aggregation
Calculating Count, Sum, Average etc

In [ ]:
# Element 7 in the dataset is Quantity
# Convert str to int
#
def x4m1(text):
    elements = text.split(",")
    return(int(elements[7]))

In [ ]:
# Extract Quantity from dataset
#
sales_wallet_Qty = sales_wallet.map(lambda x: x4m1(x))
sales_wallet_Qty.take(3)

[7, 8, 7]

In [ ]:
# Calculate sum of all Quantity
#
wallet_total_Qty = sales_wallet_Qty.reduce(lambda x,y : x+y)
print('wallet total quantity = ',wallet_total_Qty, '\nwallet average quantity =', wallet_total_Qty/wallet_count)

wallet total quantity =  1892
wallet average quantity = 5.484057971014493

#### Accumulators
Reduce the number of passes through the data

In [ ]:
wallet_data = sales_wallet_Qty.aggregate(
    (0,0), # the initial value
    (lambda acc, value: (acc[0] + value, acc[1] + 1)), # combine value with acc
    (lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1])) # combine accumulators
    )

print('Wallet Quantity Total',wallet_data[0],\
      '\nWallet Quantity Count',wallet_data[1],\
      '\nWallet Quantity Average', wallet_data[0]/wallet_data[1])

Wallet Quantity Total 1892
Wallet Quantity Count 345
Wallet Quantity Average 5.484057971014493

#### Aggregation on Multiple (two) Data Elements

In [ ]:
# Element 7 in the dataset is Quantity
# Element 15 is Gross Income
#
def x4m2(text):
    elements = text.split(",")
    return(int(elements[7]), float(elements[15]))

In [ ]:
sales_wallet_Qty_Inc = sales_wallet.map(lambda x: x4m2(x))
sales_wallet_Qty_Inc.take(3)

[(7, 26.1415), (8, 23.288), (7, 30.2085)]

In [ ]:
wallet_data = sales_wallet_Qty_Inc.aggregate(
    (0,0,0), # the initial value
    (lambda acc, value: (acc[0] + value[0], acc[1] + value[1], acc[2] + 1)), # combine value with acc
    (lambda acc1, acc2 : (acc1[0] + acc2[0], acc1[1] + acc2[1], acc1[2] + acc2[2])) # combine accumulators
    )

print('Wallet Quantity Total',wallet_data[0],\
      '\nWallet Income Total',wallet_data[1],\
      '\nWallet Count',wallet_data[2],\
      '\nWallet Quantity Average',wallet_data[0]/wallet_data[2],\
      '\nWallet Income Average', wallet_data[1]/wallet_data[2]\
      )
#print('Wallet Quantity Average = ', wallet_data[0]/wallet_data[2],'\nWallet Gross Income Average = ', wallet_data[1]/wallet_data[2])

Wallet Quantity Total 1892
Wallet Income Total 5237.767
Wallet Count 345
Wallet Quantity Average 5.484057971014493
Wallet Income Average 15.181933333333333

#### Chained Operations
Eliminate intermediate RDD creation

In [ ]:
wallet_data = sc.textFile("Headless_SuperMarketSales.csv").\
    filter(lambda x: ",Ewallet," in x).\
    map(lambda x: x4m2(x)).\
    aggregate(                                                                      # Perform Aggregation on multiple fields
    (0,0,0),                                                                        # the initial value
    (lambda acc, value: (acc[0] + value[0], acc[1] + value[1], acc[2] + 1)),        # combine value with acc
    (lambda acc1, acc2 : (acc1[0] + acc2[0], acc1[1] + acc2[1], acc1[2] + acc2[2])) # combine accumulators
    )

print('Wallet Quantity Total',wallet_data[0],\
      '\nWallet Income Total',wallet_data[1],\
      '\nWallet Count',wallet_data[2],\
      '\nWallet Quantity Average',wallet_data[0]/wallet_data[2],\
      '\nWallet Income Average', wallet_data[1]/wallet_data[2]\
      )

#print(wallet_data[0],wallet_data[1],wallet_data[2])
#print('Wallet Quantity Average = ', wallet_data[0]/wallet_data[2],'\nWallet Gross Income Average = ', wallet_data[1]/wallet_data[2])

Wallet Quantity Total 1892
Wallet Income Total 5237.767
Wallet Count 345
Wallet Quantity Average 5.484057971014493
Wallet Income Average 15.181933333333333

In [ ]:
# For all three type of payment options
#
for pType in ['Ewallet','Cash','Credit card']:
    _pType = ","+pType+","
    payment_data = sc.textFile("Headless_SuperMarketSales.csv").\
        filter(lambda x: _pType in x).\
        map(lambda x: x4m2(x)).\
        aggregate(                                                                      # Perform Aggregation on multiple fields
        (0,0,0),                                                                        # the initial value
        (lambda acc, value: (acc[0] + value[0], acc[1] + value[1], acc[2] + 1)),        # combine value with acc
        (lambda acc1, acc2 : (acc1[0] + acc2[0], acc1[1] + acc2[1], acc1[2] + acc2[2])) # combine accumulators
        )

    print('Payment Type', pType,\
          '\nQuantity Total',payment_data[0],\
        'Income Total',payment_data[1],\
        'Count',payment_data[2],\
        '\nQuantity Average',payment_data[0]/payment_data[2],\
        'Income Average', payment_data[1]/payment_data[2],\
        '\n............................................',\
        )

Payment Type Ewallet
Quantity Total 1892 Income Total 5237.767 Count 345
Quantity Average 5.484057971014493 Income Average 15.181933333333333
............................................
Payment Type Cash
Quantity Total 1896 Income Total 5343.170000000001 Count 344
Quantity Average 5.511627906976744 Income Average 15.532470930232561
............................................
Payment Type Credit card
Quantity Total 1722 Income Total 4798.432000000001 Count 311
Quantity Average 5.536977491961415 Income Average 15.42904180064309
............................................

### Convert RDD to Spark DataFrame

In [ ]:
# Split string data on "," and convert string to relevant datatypes
#
#sales_RDD1_split1 = sales_RDD1.map(lambda l: l.split(","))
#sales_RDD1_split1.take(1)
#sales_RDD1_split2 = sales_RDD1_split1.map(lambda l: [l[0],l[1],l[2],l[3],l[4],l[5],float(l[6]),int(l[7]),float(l[8]),float(l[9]),l[10],l[11],l[12],float(l[13]),float(l[14]),float(l[15]),float(l[16])])
#sales_RDD1_split2.take(1)

def x4m3(text):
    l = text.split(",")
    return([l[0],l[1],l[2],l[3],l[4],l[5],float(l[6]),int(l[7]),float(l[8]),float(l[9]),l[10],l[11],l[12],float(l[13]),float(l[14]),float(l[15]),float(l[16])])

sales_RDD1_csv = sales_RDD1.map(lambda x: x4m3(x))
#sales_RDD1_split.take(1)

In [ ]:
# Convert to dataframe
# Date, Time does not convert correctly
#
SalesDataSchema = StructType([
    StructField('Invoice ID', StringType(), True),
    StructField('Branch', StringType(), True),
    StructField('City', StringType(), True),
    StructField('Customer Type', StringType(), True),
    StructField('Gender', StringType(), True),
    StructField('Product Line', StringType(), True),
    StructField('Unit Price', FloatType(), True),
    StructField('Quantity', IntegerType(), True),
    StructField('Tax 5%', DoubleType(), True),
    StructField('Total', DoubleType(), True),
    StructField('Date', StringType(), True),
    StructField('Time', StringType(), True),
    StructField('Payment', StringType(), True),
    StructField('cogs', DoubleType(), True),
    StructField('gross margin percentage', DoubleType(), True),
    StructField('gross income', DoubleType(), True),
    StructField('Rating', DoubleType(), True)
])

#sales_df1 = spark39.createDataFrame(data = sales_RDD1_split2, schema = colSchema)
sales_df1 = spark39.createDataFrame(data = sales_RDD1_csv, schema = SalesDataSchema)

#sales_df1.printSchema()
#sales_df1.show(5)

In [ ]:
# Fix Date, Time datatype
#
#sales_df1 = sales_df1.withColumn('Date',to_date(col('Date'), "M/d/y"))
#sales_df1 = sales_df1.withColumn('Time',to_timestamp(col('Time'), "HH:mm"))

sales_df1 = sales_df1.\
    withColumn('Date',to_date(col('Date'), "M/d/y")).\
    withColumn('Time',to_timestamp(col('Time'), "HH:mm"))

#sales_df1 = sales_df1.

sales_df1.printSchema()
sales_df1.show(5)

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer Type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product Line: string (nullable = true)
 |-- Unit Price: float (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Tax 5%: double (nullable = true)
 |-- Total: double (nullable = true)
 |-- Date: date (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross margin percentage: double (nullable = true)
 |-- gross income: double (nullable = true)
 |-- Rating: double (nullable = true)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer Type|Gender|        Product Line|Unit Price|Quantity| Tax 5%|   Total|      Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|2019-01-05|1970-01-01 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|2019-03-08|1970-01-01 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|2019-03-03|1970-01-01 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|2019-01-27|1970-01-01 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|2019-02-08|1970-01-01 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

## Dataframe Operations

### Read CSV into Spark Dataframe

In [ ]:
# Relaod Supermarket Sales Data WITH HEADERS
# Original File has had its header line deleted
#
#!wget -O SuperMarketSales.csv -q 'https://github.com/Praxis-QR/BDSN/raw/main/Data2/SuperMarketSales.csv'

In [ ]:
# Date is not inferred correctly
# Needs to be fixed in next step
#
sales_df2 = spark39.read.format("csv").option("header", "true").option("inferSchema", "true").load("./SuperMarketSales.csv")
#sales_df2.printSchema()
#sales_df2.show(5)

In [ ]:
sales_df2 = sales_df2.withColumn('Date',to_date(col('Date'), "M/d/y"))
sales_df2.printSchema()
sales_df2.show(5)

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Tax 5%: double (nullable = true)
 |-- Total: double (nullable = true)
 |-- Date: date (nullable = true)
 |-- Time: timestamp (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross margin percentage: double (nullable = true)
 |-- gross income: double (nullable = true)
 |-- Rating: double (nullable = true)

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|2019-01-05|2024-01-20 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|2019-03-08|2024-01-20 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|2019-03-03|2024-01-20 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|2019-01-27|2024-01-20 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|2019-02-08|2024-01-20 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
only showing top 5 rows

### Display a subset of columns

In [ ]:
# All three works
#
#sales_df2.select(sales_df2['Invoice ID'], sales_df2['gross income'],sales_df2['City'],sales_df2['Payment']).show(truncate=False)
#sales_df2.select(['Invoice ID','gross income','City','Payment']).show(truncate=False)
sales_df2['Invoice ID','gross income','City','Payment'].show(truncate=False)

+-----------+------------+---------+-----------+
|Invoice ID |gross income|City     |Payment    |
+-----------+------------+---------+-----------+
|750-67-8428|26.1415     |Yangon   |Ewallet    |
|226-31-3081|3.82        |Naypyitaw|Cash       |
|631-41-3108|16.2155     |Yangon   |Credit card|
|123-19-1176|23.288      |Yangon   |Ewallet    |
|373-73-7910|30.2085     |Yangon   |Ewallet    |
|699-14-3026|29.8865     |Naypyitaw|Ewallet    |
|355-53-5943|20.652      |Yangon   |Ewallet    |
|315-22-5665|36.78       |Naypyitaw|Ewallet    |
|665-32-9167|3.626       |Yangon   |Credit card|
|692-92-5582|8.226       |Mandalay |Credit card|
|351-62-0822|2.896       |Mandalay |Ewallet    |
|529-56-3974|5.102       |Mandalay |Cash       |
|365-64-0515|11.7375     |Yangon   |Ewallet    |
|252-56-2699|21.595      |Yangon   |Ewallet    |
|829-34-3910|35.69       |Yangon   |Cash       |
|299-46-1805|28.116      |Mandalay |Cash       |
|656-95-9349|24.1255     |Yangon   |Credit card|
|765-26-6951|21.783      |Yangon   |Credit card|
|329-62-1586|8.2005      |Yangon   |Credit card|
|319-50-3348|4.03        |Mandalay |Ewallet    |
+-----------+------------+---------+-----------+
only showing top 20 rows

In [ ]:
sales_df2['Invoice ID','gross income','City','Payment'].orderBy('City','gross income',ascending=False).show(truncate=False)

+-----------+------------+------+-----------+
|Invoice ID |gross income|City  |Payment    |
+-----------+------------+------+-----------+
|687-47-8271|49.49       |Yangon|Credit card|
|325-77-6186|45.325      |Yangon|Ewallet    |
|384-59-6655|44.397      |Yangon|Cash       |
|704-48-3927|44.335      |Yangon|Ewallet    |
|827-77-7633|44.1405     |Yangon|Cash       |
|139-32-4183|43.866      |Yangon|Ewallet    |
|805-86-0265|42.282      |Yangon|Cash       |
|698-98-5964|40.605      |Yangon|Credit card|
|138-17-5109|40.1445     |Yangon|Credit card|
|638-60-7125|39.824      |Yangon|Credit card|
|232-11-3025|39.385      |Yangon|Cash       |
|652-43-6591|38.916      |Yangon|Credit card|
|880-46-5796|38.46       |Yangon|Ewallet    |
|746-94-0204|37.458      |Yangon|Credit card|
|453-33-6436|37.248      |Yangon|Cash       |
|243-55-8457|37.22       |Yangon|Ewallet    |
|416-17-9926|37.11       |Yangon|Credit card|
|884-80-6021|36.735      |Yangon|Ewallet    |
|742-04-5161|36.39       |Yangon|Cash       |
|817-48-8732|36.175      |Yangon|Cash       |
+-----------+------------+------+-----------+
only showing top 20 rows

### Display a subset of rows
"where" Condition in SQL

In [ ]:
sales_df2['Invoice ID','gross income','City','Payment'][sales_df2['City'] == 'Yangon'].show(truncate=False)

+-----------+------------+------+-----------+
|Invoice ID |gross income|City  |Payment    |
+-----------+------------+------+-----------+
|750-67-8428|26.1415     |Yangon|Ewallet    |
|631-41-3108|16.2155     |Yangon|Credit card|
|123-19-1176|23.288      |Yangon|Ewallet    |
|373-73-7910|30.2085     |Yangon|Ewallet    |
|355-53-5943|20.652      |Yangon|Ewallet    |
|665-32-9167|3.626       |Yangon|Credit card|
|365-64-0515|11.7375     |Yangon|Ewallet    |
|252-56-2699|21.595      |Yangon|Ewallet    |
|829-34-3910|35.69       |Yangon|Cash       |
|656-95-9349|24.1255     |Yangon|Credit card|
|765-26-6951|21.783      |Yangon|Credit card|
|329-62-1586|8.2005      |Yangon|Credit card|
|636-48-8204|8.64        |Yangon|Ewallet    |
|549-59-1358|13.2945     |Yangon|Ewallet    |
|227-03-5010|21.036      |Yangon|Credit card|
|189-17-4241|8.767       |Yangon|Credit card|
|848-62-7243|11.2005     |Yangon|Cash       |
|595-11-5460|9.658       |Yangon|Credit card|
|129-29-8530|15.655      |Yangon|Ewallet    |
|272-65-1806|27.396      |Yangon|Ewallet    |
+-----------+------------+------+-----------+
only showing top 20 rows

#### AND | OR

In [ ]:
sales_df2['Invoice ID','gross income','City','Payment'][(sales_df2['City'] == 'Yangon') & (sales_df2['Payment'] == 'Ewallet')].\
    show(truncate=False)

+-----------+------------+------+-------+
|Invoice ID |gross income|City  |Payment|
+-----------+------------+------+-------+
|750-67-8428|26.1415     |Yangon|Ewallet|
|123-19-1176|23.288      |Yangon|Ewallet|
|373-73-7910|30.2085     |Yangon|Ewallet|
|355-53-5943|20.652      |Yangon|Ewallet|
|365-64-0515|11.7375     |Yangon|Ewallet|
|252-56-2699|21.595      |Yangon|Ewallet|
|636-48-8204|8.64        |Yangon|Ewallet|
|549-59-1358|13.2945     |Yangon|Ewallet|
|129-29-8530|15.655      |Yangon|Ewallet|
|272-65-1806|27.396      |Yangon|Ewallet|
|635-40-6220|35.84       |Yangon|Ewallet|
|287-21-9091|33.6015     |Yangon|Ewallet|
|873-51-0671|7.693       |Yangon|Ewallet|
|594-34-4444|4.858       |Yangon|Ewallet|
|865-92-6136|7.9125      |Yangon|Ewallet|
|704-48-3927|44.335      |Yangon|Ewallet|
|645-44-1170|26.1315     |Yangon|Ewallet|
|642-32-2990|5.48        |Yangon|Ewallet|
|575-30-8091|29.0        |Yangon|Ewallet|
|239-10-7476|23.385      |Yangon|Ewallet|
+-----------+------------+------+-------+
only showing top 20 rows

In [ ]:
sales_df2['Invoice ID','gross income','City','Payment'][(sales_df2['City'] == 'Yangon') | (sales_df2['Payment'] == 'Ewallet')].\
    show(truncate=False)

+-----------+------------+---------+-----------+
|Invoice ID |gross income|City     |Payment    |
+-----------+------------+---------+-----------+
|750-67-8428|26.1415     |Yangon   |Ewallet    |
|631-41-3108|16.2155     |Yangon   |Credit card|
|123-19-1176|23.288      |Yangon   |Ewallet    |
|373-73-7910|30.2085     |Yangon   |Ewallet    |
|699-14-3026|29.8865     |Naypyitaw|Ewallet    |
|355-53-5943|20.652      |Yangon   |Ewallet    |
|315-22-5665|36.78       |Naypyitaw|Ewallet    |
|665-32-9167|3.626       |Yangon   |Credit card|
|351-62-0822|2.896       |Mandalay |Ewallet    |
|365-64-0515|11.7375     |Yangon   |Ewallet    |
|252-56-2699|21.595      |Yangon   |Ewallet    |
|829-34-3910|35.69       |Yangon   |Cash       |
|656-95-9349|24.1255     |Yangon   |Credit card|
|765-26-6951|21.783      |Yangon   |Credit card|
|329-62-1586|8.2005      |Yangon   |Credit card|
|319-50-3348|4.03        |Mandalay |Ewallet    |
|300-71-4605|21.51       |Naypyitaw|Ewallet    |
|371-85-5789|13.197      |Mandalay |Ewallet    |
|636-48-8204|8.64        |Yangon   |Ewallet    |
|549-59-1358|13.2945     |Yangon   |Ewallet    |
+-----------+------------+---------+-----------+
only showing top 20 rows

### Aggregation | Group By

In [ ]:
sales_df2.groupBy('Payment','City').count().show()

+-----------+---------+-----+
|    Payment|     City|count|
+-----------+---------+-----+
|Credit card| Mandalay|  109|
|Credit card|Naypyitaw|   98|
|       Cash|Naypyitaw|  124|
|       Cash|   Yangon|  110|
|    Ewallet| Mandalay|  113|
|Credit card|   Yangon|  104|
|    Ewallet|Naypyitaw|  106|
|       Cash| Mandalay|  110|
|    Ewallet|   Yangon|  126|
+-----------+---------+-----+

In [ ]:
sales_df2['Payment','City','Quantity'].groupBy('Payment','City').sum().show()

+-----------+---------+-------------+
|    Payment|     City|sum(Quantity)|
+-----------+---------+-------------+
|Credit card| Mandalay|          599|
|Credit card|Naypyitaw|          543|
|       Cash|Naypyitaw|          696|
|       Cash|   Yangon|          572|
|    Ewallet| Mandalay|          593|
|Credit card|   Yangon|          580|
|    Ewallet|Naypyitaw|          592|
|       Cash| Mandalay|          628|
|    Ewallet|   Yangon|          707|
+-----------+---------+-------------+

In [ ]:
sales_df2['Payment','Quantity','gross income'].groupBy('Payment').mean().show()

+-----------+-----------------+------------------+
|    Payment|    avg(Quantity)| avg(gross income)|
+-----------+-----------------+------------------+
|    Ewallet|5.484057971014493|15.181933333333335|
|       Cash|5.511627906976744|15.532470930232577|
|Credit card|5.536977491961415| 15.42904180064309|
+-----------+-----------------+------------------+

In [ ]:
# This is REALLY CLEVER
#
groupBy51 = ['Payment']
aggregate51 = ['gross income','Quantity']
#funs = [mean, sum, max]
funs = [count,mean, sum]

exprs51 = [f(col(c)) for f in funs for c in aggregate51]

sales_df2['Payment','Quantity','gross income'].groupBy(groupBy51).agg(*exprs51).show()

+-----------+-------------------+---------------+------------------+-----------------+-----------------+-------------+
|    Payment|count(gross income)|count(Quantity)| avg(gross income)|    avg(Quantity)|sum(gross income)|sum(Quantity)|
+-----------+-------------------+---------------+------------------+-----------------+-----------------+-------------+
|    Ewallet|                345|            345|15.181933333333335|5.484057971014493|5237.767000000001|         1892|
|       Cash|                344|            344|15.532470930232577|5.511627906976744|5343.170000000006|         1896|
|Credit card|                311|            311| 15.42904180064309|5.536977491961415|4798.432000000001|         1722|
+-----------+-------------------+---------------+------------------+-----------------+-----------------+-------------+

### SQL Table Operations

#### Dataframe to Temporary Table

In [ ]:
sales_df2.createOrReplaceTempView("tSales")
spark39.sql("describe tSales").show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          Invoice ID|   string|   NULL|
|              Branch|   string|   NULL|
|                City|   string|   NULL|
|       Customer type|   string|   NULL|
|              Gender|   string|   NULL|
|        Product line|   string|   NULL|
|          Unit price|   double|   NULL|
|            Quantity|      int|   NULL|
|              Tax 5%|   double|   NULL|
|               Total|   double|   NULL|
|                Date|     date|   NULL|
|                Time|timestamp|   NULL|
|             Payment|   string|   NULL|
|                cogs|   double|   NULL|
|gross margin perc...|   double|   NULL|
|        gross income|   double|   NULL|
|              Rating|   double|   NULL|
+--------------------+---------+-------+

In [ ]:
spark39.sql("show tables").show()
spark39.sql("select * from tsales limit 3").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |   tsales|       true|
+---------+---------+-----------+

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|2019-01-05|2024-01-20 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|2019-03-08|2024-01-20 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|2019-03-03|2024-01-20 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+

#### SQL Based Analysis

In [ ]:
# NOTE backtick ` used to enclose column names with spaces inside!
spark39.sql("select payment, count(*), sum(quantity), avg(quantity), sum(`gross income`), avg(`gross income`) from tsales group by payment ").show()

+-----------+--------+-------------+-----------------+-----------------+------------------+
|    payment|count(1)|sum(quantity)|    avg(quantity)|sum(gross income)| avg(gross income)|
+-----------+--------+-------------+-----------------+-----------------+------------------+
|    Ewallet|     345|         1892|5.484057971014493|5237.767000000001|15.181933333333335|
|       Cash|     344|         1896|5.511627906976744|5343.170000000006|15.532470930232577|
|Credit card|     311|         1722|5.536977491961415|4798.432000000001| 15.42904180064309|
+-----------+--------+-------------+-----------------+-----------------+------------------+

#### Temporary to Permanent Table

In [ ]:
#sql_drop_table = """drop table if exists praxisdb.sales_T"""
#sql_drop_database = """drop database if exists praxisdb cascade"""
#sql_create_database = """create database if not exists praxisdb location '/content/praxisdb/'"""
#sql_create_table = """create table if not exists praxisdb.sales_T using parquet as select  * from tSales"""

spark39.sql("drop table if exists praxisdb.sales_T")
spark39.sql("drop database if exists praxisdb cascade")
spark39.sql("create database if not exists praxisdb location '/content/praxisdb/'")
spark39.sql("create table if not exists praxisdb.sales_T using parquet as select  * from tSales")

DataFrame[]

In [ ]:
spark39.sql("use praxisdb")
spark39.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
| praxisdb|  sales_t|      false|
|         |   tsales|       true|
+---------+---------+-----------+

In [ ]:
#spark39.sql("select `gross income` from praxisdb.sales_t").show()

In [ ]:
spark39.sql("select * from praxisdb.sales_t limit 5").show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|      Date|               Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715|2019-01-05|2024-01-20 13:08:00|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22|2019-03-08|2024-01-20 10:29:00|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255|2019-03-03|2024-01-20 13:23:00|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|2019-01-27|2024-01-20 20:33:00|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785|2019-02-08|2024-01-20 10:37:00|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+----------+-------------------+-----------+------+-----------------------+------------+------+

# NetFlix Data

In [6]:
!head NetFlix.csv

show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
s1,TV Show,3%,,"João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi & Fantasy","In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor."
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies","After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive."
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence Koh, Tommy Kuan, Josh Lai, Mark Lee, Susan Leong, Benjamin Lim",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly, Christopher Plummer, Crispin Glover, Martin Landau, Fred Tatasciore, Alan Oppenheimer, Tom Kane",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi & Fantasy","In a postapocalyptic world, rag-doll robots hide in fear from dangerous machines out to exterminate them, until a brave newcomer joins the group."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aaron Yoo, Liza Lapira, Jacob Pitts, Laurence Fishburne, Jack McGee, Josh Gad, Sam Golzari, Helen Carey, Jack Gilpin",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-counting experts with the intent of swindling millions out of Las Vegas casinos by playing blackjack.
s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan, Saygın Soysal, Berkan Şal, Metin Belgin, Ayça Eren, Selin Uludoğan, Özay Fecht, Suna Yıldızoğlu",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries","A genetics professor experiments with a treatment for his comatose sister that blends medical and shamanic cures, but unlocks a shocking side effect."
s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed El Fishawy, Mahmoud Hijazi, Jihane Khalil, Asmaa Galal, Tara Emad",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to a grisly hospital are separated and must find each other to escape — before death finds them."
s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Clifton Collins Jr., Tony Plana",United States,"November 1, 2019",1997,R,119 min,Dramas,"After one of his high school students attacks him, dedicated teacher Trevor Garfield grows weary of the gang warfare in the New York City school system and moves to California to teach there, thinking it must be a less hostile environment."
s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anupam Shyam, Raayo S. Bakhirta, Yashvit Sancheti, Greeva Kansara, Archan Trivedi, Rajiv Pathak",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist wife treats the bizarre medical condition of a psychic patient, who knows much more than he's leading on."

## Dataframe Operations

In [7]:
netflix_df1 = spark39.read.format("csv").option("header", "true").option("inferSchema", "true").load("/content/NetFlix.csv")
#netflix_df1.printSchema()
#netflix_df1.show(10, truncate=False)

In [8]:
netflix_df1 = netflix_df1.withColumn('date_added',to_date(col('date_added'), "MMMM d, yyyy"))
netflix_df1.printSchema()
netflix_df1.show(10, truncate=False)

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: date (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

+-------+-------+-----+-----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+----------+------------+------+---------+--------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|show_id|type   |title|director         |cast                                                                                                                                                                      |country      |date_added|release_year|rating|duration |listed_in                                               |description                                                                                                                                                                                                                                    |
+-------+-------+-----+-----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+----------+------------+------+---------+--------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|s1     |TV Show|3%   |NULL             |João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi|Brazil       |2020-08-14|2020        |TV-MA |4 Seasons|International TV Shows, TV Dramas, TV Sci-Fi & Fantasy  |In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.                                                                                                       |
|s2     |Movie  |7:19 |Jorge Michel Grau|Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato                                                                                  |Mexico       |2016-12-23|2016        |TV-MA |93 min   |Dramas, International Movies                            |After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.                                                                                           |
|s3     |Movie  |23:59|Gilbert Chan     |Tedd Chan, Stella Chung, Henley Hii, Lawrence Koh, Tommy Kuan, Josh Lai, Mark Lee, Susan Leong, Benjamin Lim                                                              |Singapore    |2018-12-20|2011        |R     |78 min   |Horror Movies, International Movies                     |When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp.                                                                                          |
|s4     |Movie  |9    |Shane Acker      |Elijah Wood, John C. Reilly, Jennifer Connelly, Christopher Plummer, Crispin Glover, Martin Landau, Fred Tatasciore, Alan Oppenheimer, Tom Kane                           |United States|2017-11-16|2009        |PG-13 |80 min   |Action & Adventure, Independent Movies, Sci-Fi & Fantasy|In a postapocalyptic world, rag-doll robots hide in fear from dangerous machines out to exterminate them, until a brave newcomer joins the group.                                                                                              |
|s5     |Movie  |21   |Robert Luketic   |Jim Sturgess, Kevin Spacey, Kate Bosworth, Aaron Yoo, Liza Lapira, Jacob Pitts, Laurence Fishburne, Jack McGee, Josh Gad, Sam Golzari, Helen Carey, Jack Gilpin           |United States|2020-01-01|2008        |PG-13 |123 min  |Dramas                                                  |A brilliant group of students become card-counting experts with the intent of swindling millions out of Las Vegas casinos by playing blackjack.                                                                                                |
|s6     |TV Show|46   |Serdar Akar      |Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan, Saygın Soysal, Berkan Şal, Metin Belgin, Ayça Eren, Selin Uludoğan, Özay Fecht, Suna Yıldızoğlu                           |Turkey       |2017-07-01|2016        |TV-MA |1 Season |International TV Shows, TV Dramas, TV Mysteries         |A genetics professor experiments with a treatment for his comatose sister that blends medical and shamanic cures, but unlocks a shocking side effect.                                                                                          |
|s7     |Movie  |122  |Yasir Al Yasiri  |Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed El Fishawy, Mahmoud Hijazi, Jihane Khalil, Asmaa Galal, Tara Emad                                                          |Egypt        |2020-06-01|2019        |TV-MA |95 min   |Horror Movies, International Movies                     |After an awful accident, a couple admitted to a grisly hospital are separated and must find each other to escape — before death finds them.                                                                                                    |
|s8     |Movie  |187  |Kevin Reynolds   |Samuel L. Jackson, John Heard, Kelly Rowan, Clifton Collins Jr., Tony Plana                                                                                               |United States|2019-11-01|1997        |R     |119 min  |Dramas                                                  |After one of his high school students attacks him, dedicated teacher Trevor Garfield grows weary of the gang warfare in the New York City school system and moves to California to teach there, thinking it must be a less hostile environment.|
|s9     |Movie  |706  |Shravan Kumar    |Divya Dutta, Atul Kulkarni, Mohan Agashe, Anupam Shyam, Raayo S. Bakhirta, Yashvit Sancheti, Greeva Kansara, Archan Trivedi, Rajiv Pathak                                 |India        |2019-04-01|2019        |TV-14 |118 min  |Horror Movies, International Movies                     |When a doctor goes missing, his psychiatrist wife treats the bizarre medical condition of a psychic patient, who knows much more than he's leading on.                                                                                         |
|s10    |Movie  |1920 |Vikram Bhatt     |Rajneesh Duggal, Adah Sharma, Indraneil Sengupta, Anjori Alagh, Rajendranath Zutshi, Vipin Sharma, Amin Hajee, Shri Vallabh Vyas                                          |India        |2017-12-15|2008        |TV-MA |143 min  |Horror Movies, International Movies, Thrillers          |An architect and his wife move into a castle that is slated to become a luxury hotel. But something inside is determined to stop the renovation.                                                                                               |
+-------+-------+-----+-----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------+----------+------------+------+---------+--------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

### SQL Table

In [9]:
netflix_df1.createOrReplaceTempView("tNetFlix")
#spark39.sql("describe tNetFlix").show()
spark39.sql("select * from tnetflix limit 10").show()

+-------+-------+-----+-----------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|show_id|   type|title|         director|                cast|      country|date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+-----+-----------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+
|     s1|TV Show|   3%|             NULL|João Miguel, Bian...|       Brazil|2020-08-14|        2020| TV-MA|4 Seasons|International TV ...|In a future where...|
|     s2|  Movie| 7:19|Jorge Michel Grau|Demián Bichir, Hé...|       Mexico|2016-12-23|        2016| TV-MA|   93 min|Dramas, Internati...|After a devastati...|
|     s3|  Movie|23:59|     Gilbert Chan|Tedd Chan, Stella...|    Singapore|2018-12-20|        2011|     R|   78 min|Horror Movies, In...|When an army recr...|
|     s4|  Movie|    9|      Shane Acker|Elijah Wood, John...|United States|2017-11-16|        2009| PG-13|   80 min|Action & Adventur...|In a postapocalyp...|
|     s5|  Movie|   21|   Robert Luketic|Jim Sturgess, Kev...|United States|2020-01-01|        2008| PG-13|  123 min|              Dramas|A brilliant group...|
|     s6|TV Show|   46|      Serdar Akar|Erdal Beşikçioğlu...|       Turkey|2017-07-01|        2016| TV-MA| 1 Season|International TV ...|A genetics profes...|
|     s7|  Movie|  122|  Yasir Al Yasiri|Amina Khalil, Ahm...|        Egypt|2020-06-01|        2019| TV-MA|   95 min|Horror Movies, In...|After an awful ac...|
|     s8|  Movie|  187|   Kevin Reynolds|Samuel L. Jackson...|United States|2019-11-01|        1997|     R|  119 min|              Dramas|After one of his ...|
|     s9|  Movie|  706|    Shravan Kumar|Divya Dutta, Atul...|        India|2019-04-01|        2019| TV-14|  118 min|Horror Movies, In...|When a doctor goe...|
|    s10|  Movie| 1920|     Vikram Bhatt|Rajneesh Duggal, ...|        India|2017-12-15|        2008| TV-MA|  143 min|Horror Movies, In...|An architect and ...|
+-------+-------+-----+-----------------+--------------------+-------------+----------+------------+------+---------+--------------------+--------------------+

In [ ]:
spark39.sql("select distinct(director) from tnetflix").show()

+--------------------+
|            director|
+--------------------+
|       Neeraj Pandey|
|          Manish Jha|
|        April Mullen|
|Harry Elfont, Deb...|
|  Alejandro Hartmann|
|   Abdul Aziz Hashad|
|      Aleksey German|
|   Wash Westmoreland|
|          Will Gluck|
|          Bobby Roth|
|   Jennifer Westcott|
|       Patricia Font|
|Jesús Magaña Vázquez|
|      Gail Willumsen|
|Jacques Perrin, J...|
|         John Milius|
| Rhiannon Bannenberg|
|         Erol Özlevi|
|          John Wells|
|      Elizabeth Wood|
+--------------------+
only showing top 20 rows

In [ ]:
spark39.sql("select title, director from tnetflix where director like '%,%'").show(truncate=False)

+------------------------------------+--------------------------------------------------+
|title                               |director                                          |
+------------------------------------+--------------------------------------------------+
|(T)ERROR                            |Lyric R. Cabral, David Felix Sutcliffe            |
|#AnneFrank - Parallel Stories       |Sabina Fedeli, Anna Migotto                       |
|14 Cameras                          |Scott Hussion, Seth Fuller                        |
|14 Minutes from Earth               |Adam Davis, Jerry Kolber, Trey Nelson, Erich Sturm|
|2 Alone in Paris                    |Ramzy Bedia, Éric Judor                           |
|21 & Over                           |Jon Lucas, Scott Moore                            |
|365 Days                            |Barbara Białowąs, Tomasz Mandes                   |
|48 Christmas Wishes                 |Marco Deufemia, Justin G. Dyck                    |
|7 Din Mohabbat In                   |Meenu Gaur, Farjad Nabi                           |
|A Bad Moms Christmas                |Jon Lucas, Scott Moore                            |
|A Choo                              |Kevin Ko, Peter Tsi                               |
|A Go! Go! Cory Carson Christmas     |Stanley Moore, Alex Woo                           |
|A Go! Go! Cory Carson Halloween     |Alex Woo, Stanley Moore                           |
|A Go! Go! Cory Carson Summer Camp   |Stanley Moore, Alex Woo                           |
|A Kid from Coney Island             |Coodie, Chike                                     |
|A Lion in the House                 |Steven Bognar, Julia Reichert                     |
|A Murder in the Park                |Christopher S. Rech, Brandon Kimber               |
|A Serious Man                       |Ethan Coen, Joel Coen                             |
|A Shaun the Sheep Movie: Farmageddon|Richard Phelan, Will Becher                       |
|A StoryBots Christmas               |Evan Spiridellis, Jeff Gill                       |
+------------------------------------+--------------------------------------------------+
only showing top 20 rows

## RDD Operations

In [45]:
!sed '1d' NetFlix.csv > Headless_NetFlix.csv
netflix_RDD1 = sc.textFile("Headless_NetFlix.csv")
netflix_RDD1.sample(False,0.02,None).take(3)

['s17,TV Show,Feb-09,,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-Kandari, Salma Salem, Ibrahim Al-Harbi, Mahmoud Boushahri, Yousef Al Balushi, Ghorour, Abdullah Al-bloshi",,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer\'s, his daughter and her three close female friends experience romance, marriage, heartbreak and tragedy."',
 's63,Movie,13 Cameras,Victor Zarcoff,"PJ McCabe, Brianne Moncrief, Sarah Baldwin, Jim Cummings, Heidi Niedermeyer, Neville Archambault",United States,"August 13, 2016",2015,NR,90 min,"Horror Movies, Independent Movies, Thrillers","Young parents-to-be Claire and Ryan move into a suburban rental home, unaware that someone is secretly watching their every move via hidden cameras."',
 's97,Movie,3 Days to Kill,McG,"Kevin Costner, Amber Heard, Hailee Steinfeld, Connie Nielsen, Tómas Lemarquis, Richard Sammel, Marc Andréoni, Bruno Ricci, Jonas Bloquet, Eriq Ebouaney","United States, France, Serbia","December 1, 2020",2014,PG-13,117 min,Action & Adventure,A terminally ill secret agent accepts a risky mission in exchange for an experimental drug that might save him – if he can survive its side effects.']

In [129]:
# Two Extra Lines here ... WHY? WHY?
netflix_RDD1.count()

7789

In [115]:
def split_11(text):
    t1 = re.sub(r'(?!(([^"]*"){2})*[^"]*$),', '@', text)        # https://stackoverflow.com/questions/38336518/remove-all-commas-between-quotes
                                                                # commas within quotes are replaced by @
    t2 = re.sub(r'"', '', t1)                                   # quotes removed
    l = t2.split(",")
    #l4 = l[4]
    l3 = re.sub(r'@', ',', l[3])                                # @ restored to commas
    l4 = re.sub(r'@', ',', l[4])
    l5 = re.sub(r'@', ',', l[5])
    l6 = re.sub(r'@', ',', l[6])
    l10 = re.sub(r'@', ',', l[10])
    l11 = re.sub(r'@', ',', l[11])
    return(l[0],l[1],l[2],l3,l4,l5,l6,l[7],l[8],l[9],l10,l11)

In [117]:
# Parse Netflix data
#
netflix_RDD1.sample(False,0.02,None).map(lambda x: split_11(x)).take(3)
#netflix_RDD2

[('s121',
  'Movie',
  '5 to 7',
  'Victor Levin',
  'Anton Yelchin, Bérénice Marlohe, Olivia Thirlby, Lambert Wilson, Frank Langella, Glenn Close',
  'United States',
  'March 16, 2017',
  '2014',
  'R',
  '97 min',
  'Comedies, Dramas, Romantic Movies',
  "A young novelist's life is turned upside down when a chance encounter outside a New York hotel leads to an intense affair with a diplomat's wife."),
 ('s125',
  'Movie',
  '5Gang',
  'Matei Dima',
  'Andrei Selaru, Dorian Popa, Julia Marcan, Ana Radu, Cosmin Nedelcu, Diana Condurache, Andrei Gavril, Luca Bogdan',
  'Romania',
  'April 27, 2020',
  '2019',
  'TV-14',
  '96 min',
  'Comedies, International Movies',
  "To keep the band together, Selly tries to earn money by making an appearance at the birthday party of a mobster's daughter — until he gets kidnapped."),
 ('s254',
  'Movie',
  'A Whisker Away',
  'Junichi Sato, Tomotaka Shibayama',
  'Mirai Shida, Natsuki Hanae, Hiroaki Ogi, Koichi Yamadera, Minako Kotobuki, Susumu Chiba, Ayako Kawasumi, Sayaka Ohara, Daisuke Namikawa',
  'Japan',
  'June 18, 2020',
  '2020',
  'TV-PG',
  '104 min',
  'Anime Features, Children & Family Movies, International Movies',
  "A peculiar girl transforms into a cat to catch her crush's attention. But before she realizes it, the line between human and animal starts to blur.")]

In [114]:
#sales_wallet = sales_RDD1.filter(lambda x: ",Ewallet," in x)
#netflix_RDD3 = netflix_RDD1.filter(lambda x: "Harry Elfont," in x)
netflix_RDD1.filter(lambda x: "Harry Elfont," in x).take(3)

['s1195,Movie,Can\'t Hardly Wait,"Harry Elfont, Deborah Kaplan","Jennifer Love Hewitt, Ethan Embry, Charlie Korsmo, Lauren Ambrose, Peter Facinelli, Seth Green, Michelle Brookhurst, Alexander Martin, Erik Palladino, Channon Roe, Sean Patrick Thomas",United States,"January 1, 2021",1998,PG-13,101 min,"Comedies, Romantic Movies","At a wild high school graduation party, aspiring writer Preston hopes to declare his love to popular girl Amanda, who just got dumped by the class jock."']

In [54]:
netflix_RDD1.filter(lambda x: "Jacques Perrin," in x).collect()

['s4561,Movie,Océans,"Jacques Perrin, Jacques Cluzaud","Pierce Brosnan, Jacques Perrin, Rie Miyazawa, Lancelot Perrin","France, Switzerland, Spain, United States, United Arab Emirates","September 19, 2019",2009,G,84 min,"Documentaries, International Movies",This documentary examines the vital role water plays in human existence and the cause-and-effect interplay between oceans and the environment.']

In [118]:
def split_4(text):
    t1 = re.sub(r'(?!(([^"]*"){2})*[^"]*$),', '@', text)        # https://stackoverflow.com/questions/38336518/remove-all-commas-between-quotes
                                                                # commas within quotes are replaced by @
    t2 = re.sub(r'"', '', t1)
    l = t2.split(",")
    l3 = re.sub(r'@', ',', l[3])                                # @ restored to commas
    l4 = re.sub(r'@', ',', l[4])
    l5 = re.sub(r'@', ',', l[5])
    return(l[0],l[1],l[2],l3,l4,l5)

netflix_RDD1.sample(False,0.02,None).map(lambda x: split_4(x)).take(3)

[('s1',
  'TV Show',
  '3%',
  '',
  'João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi',
  'Brazil'),
 ('s58',
  'Movie',
  '100% Halal',
  'Jastis Arimba',
  'Anisa Rahma, Ariyo Wahab, Anandito Dwis, Fitria Rasyidi, Arafah Rianti, Kinaryosih',
  'Indonesia'),
 ('s118',
  'Movie',
  '5 Cowok Jagoan',
  'Anggy Umbara',
  'Ario Bayu, Arifin Putra, Dwi Sasono, Muhadkly Acho, Cornelio Sunny, Tika Bravani, Nirina Zubir, Ganindra Bimo, Verdi Solaiman',
  '')]

### Director is part of Cast

In [135]:
# Filter rows where Director is part of the Cast
#
def fDirCast(text):
    t1 = re.sub(r'(?!(([^"]*"){2})*[^"]*$),', '@', text)        # https://stackoverflow.com/questions/38336518/remove-all-commas-between-quotes
    t2 = re.sub(r'"', '', t1)
    l = t2.split(",")
    if len(l) < 3:                                              # WHY DO WE NEED THIS? To eliminate badly formed lines
        return(False)
    else:
        if (l[3] == '') or (l[4] == ''):                        # WHY DO WE NEED THIS?  To eliminate rows where dir or cast is blank
            return(False)
        else:
            dirs = set(l[3].split("@"))
            cast = set(l[4].split("@"))
            common = dirs.intersection(cast)
            if len(common) > 0:
                return(True)
            else:
                return(False)


#sales_wallet = sales_RDD1.filter(lambda x: ",Ewallet," in x)
#netflix_RDD5 = netflix_RDD1.filter(lambda x: x4m11F(x))
netflix_RDD1.sample(False,0.02,None).filter(lambda x: fDirCast(x)).map(lambda x: split_4(x)).take(5)

[('s3261',
  'Movie',
  'Justine',
  'Stephanie Turner',
  'Stephanie Turner, Glynn Turman, Daisy Prescott, Darby Stanchfield, Josh Stamberg, Bridget Kallal, Ravi Cabot-Conyers, Cleo King, Melanie Hutsell',
  'United States'),
 ('s7331',
  'Movie',
  'Under an Arctic Sky',
  'Chris Burkard',
  'Chris Burkard, Sam Hammer, Heidar Logi, Elli Thor Magnusson, Ingo Olsen, Timmy Reyes, Justin Quintal, Steve Hawk, Sigurdur Jonsson, Mark Renneker',
  'United States')]

In [136]:
netflix_RDD1.sample(False,0.02,None).filter(lambda x: fDirCast(x)).map(lambda x: split_4(x)).take(5)

[('s717',
  'Movie',
  'Band of Robbers',
  'Aaron Nee, Adam Nee',
  'Kyle Gallner, Adam Nee, Matthew Gray Gubler, Melissa Benoist, Hannibal Buress, Eric Christian Olsen, Stephen Lang, Daniel Edward Mora, Johnny Pemberton, Cooper Huckabee, Lee Garlington, Beth Grant, Creed Bratton',
  'United States'),
 ('s4346',
  'Movie',
  'My Own Man',
  'David Sampliner',
  'David Sampliner',
  'United States'),
 ('s7649',
  'Movie',
  'Wives on Strike',
  'Omoni Oboli',
  'Omoni Oboli, Kenneth Okonkwo, Kalu Ikeagwu, Uche Jumbo, Ufoma Ejenobor, Julius Agu, Udoka Oyeka, Chioma Chukwuka-Akpotha, Kehinde Bankole',
  'Nigeria')]

In [138]:
#netflix_RDD1.filter(lambda x: fDirCast(x)).map(lambda x: split_4(x)).count()
netflix_RDD1.filter(lambda x: fDirCast(x)).map(lambda x: split_4(x)).count()

176

#### Trapping the Bad Data

In [126]:
def fError(text):
    t1 = re.sub(r'(?!(([^"]*"){2})*[^"]*$),', '@', text)        # https://stackoverflow.com/questions/38336518/remove-all-commas-between-quotes
    t2 = re.sub(r'"', '', t1)
    l = t2.split(",")
    if len(l) < 3:
        return(True)
    else:
        return(False)


#sales_wallet = sales_RDD1.filter(lambda x: ",Ewallet," in x)
#netflix_RDD5 = netflix_RDD1.filter(lambda x: x4m11F(x))
netflix_RDD1.filter(lambda x: fError(x)).collect()

[' and probably will."', 's6658,Movie,"The Memphis Belle: A Story of a']

In [127]:
netflix_RDD1.filter(lambda x: ' and probably will."' in x).collect()

[' and probably will."']

In [133]:
# https://unix.stackexchange.com/questions/333121/how-to-find-lines-containing-a-string-and-then-printing-those-specific-lines-and
!grep -nr ' and probably will.' /content/NetFlix.csv

6111: and probably will."

In [134]:
# spotting the two extra lines
#
!grep -nr -A2 -B2 ' and probably will.' /content/NetFlix.csv

6109-s6108,Movie,The Bad Batch,Ana Lily Amirpour,"Suki Waterhouse, Jason Momoa, Keanu Reeves, Jim Carrey, Giovanni Ribisi, Yolonda Ross",United States,"September 22, 2017",2016,R,119 min,"Dramas, Independent Movies, Thrillers","Banished to a wasteland of undesirables, a young woman struggles to find her feet among a drug-soaked desert society and an enclave of cannibals."
6110-s6109,Movie,The Bad Education Movie,Elliot Hegarty,"Jack Whitehall, Joanna Scanlan, Iain Glen, Ethan Lawrence, Layton Williams, Kae Alexander, Weruche Opia, Nikki Runeckles, Charlie Wernham, Jack Binstead",United Kingdom,"December 15, 2018",2015,TV-MA,87 min,Comedies,"Britain's most ineffective but caring teacher takes his class to Cornwall for one last school trip, where anything could happen –
6111: and probably will."
6112-s6110,Movie,The Bad Kids,"Keith Fulton, Louis Pepe",,United States,"April 1, 2017",2016,TV-MA,101 min,Documentaries,"In this documentary, teachers at a Mojave Desert high school adhere to a belief that compassion and life skills can profoundly help at-risk students."
6113-s6111,Movie,The Ballad of Buster Scruggs,"Joel Coen, Ethan Coen","Liam Neeson, James Franco, Tim Blake Nelson, Tom Waits, Zoe Kazan, Brendan Gleeson",United States,"November 16, 2018",2018,R,133 min,"Comedies, Dramas","Ranging from absurd to profound, these Western vignettes from the Coen brothers follow the adventures of outlaws and settlers on the American frontier."

In [139]:
!grep -nr -A2 -B2 ' and probably will.' /content/Headless_NetFlix.csv

6108-s6108,Movie,The Bad Batch,Ana Lily Amirpour,"Suki Waterhouse, Jason Momoa, Keanu Reeves, Jim Carrey, Giovanni Ribisi, Yolonda Ross",United States,"September 22, 2017",2016,R,119 min,"Dramas, Independent Movies, Thrillers","Banished to a wasteland of undesirables, a young woman struggles to find her feet among a drug-soaked desert society and an enclave of cannibals."
6109-s6109,Movie,The Bad Education Movie,Elliot Hegarty,"Jack Whitehall, Joanna Scanlan, Iain Glen, Ethan Lawrence, Layton Williams, Kae Alexander, Weruche Opia, Nikki Runeckles, Charlie Wernham, Jack Binstead",United Kingdom,"December 15, 2018",2015,TV-MA,87 min,Comedies,"Britain's most ineffective but caring teacher takes his class to Cornwall for one last school trip, where anything could happen –
6110: and probably will."
6111-s6110,Movie,The Bad Kids,"Keith Fulton, Louis Pepe",,United States,"April 1, 2017",2016,TV-MA,101 min,Documentaries,"In this documentary, teachers at a Mojave Desert high school adhere to a belief that compassion and life skills can profoundly help at-risk students."
6112-s6111,Movie,The Ballad of Buster Scruggs,"Joel Coen, Ethan Coen","Liam Neeson, James Franco, Tim Blake Nelson, Tom Waits, Zoe Kazan, Brendan Gleeson",United States,"November 16, 2018",2018,R,133 min,"Comedies, Dramas","Ranging from absurd to profound, these Western vignettes from the Coen brothers follow the adventures of outlaws and settlers on the American frontier."

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself.
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)