<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_D2_MongoDB_Remote_Complex_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Purpose
Here we demonstrate two things 


1.   How to connect to a remote MongoDB server on http://clever-cloud.com
2.   How to load bulk data and execute complex queries

Some output has been suppressed by commenting out the printcommands in certain cells. This was necessary to reduce the size of the file for upload to github

Additional Material https://github.com/giffy/MongoDB_PyMongo_Tutorial

#Install MongoDB

In [1]:
!apt install mongodb > /dev/null
#!apt install mongodb

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [2]:
#Local Server Need Not be started for Remote Operations
#!service mongodb start

In [3]:
from pymongo import MongoClient
import pandas as pd
import dateutil

## Test MongoClient with Remote Server

In [ ]:
# The Password is visible in this cell
# If you wish to hide this then use the next cell
#
#rhostName = 'btncgfi3a5bxyea-mongodb.services.clever-cloud.com'   # place your own credentials here
#ruserName = 'hidden'      # place your own credentials here
#rpassWord = 'hidden'      # place your own credentials here
#rdbName =  'btncgfi3a5bxyea'         # place your own credentials here
#rMongoURI = 'mongodb://unhdw2nwybcyotqt1umd:hidden@btncgfi3a5bxyea-mongodb.services.clever-cloud.com:27017/btncgfi3a5bxyea'         # place your own credentials here

### Collect Credentials from G-Drive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# copy credentials file
!ls /content/drive/'My Drive'/Praxis/WebCredentials
!cp /content/drive/'My Drive'/Praxis/WebCredentials/clevercloudMongoDB.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/sqlCredentials_020221.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/db4freeCredentials.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/cleverCloud.py credentials.py

clevercloudMongoDB.py  QuandlApiRegistrations_praxis.txt
cleverCloud.py	       QuandlApiRegistrations.txt
db4freeCredentials.py  sqlCredentials_020221.py
ngrokToken.py

In [6]:
# credential file for Prithwis Mukerjee
# this file needs to be uploaded into the VM

from credentials import rhostName,ruserName,rpassWord,rdbName,rMongoURI

#for the sake of privacy
#the following credentials need to be stored in a text file called sqlCredentials.py
#in the format given below
#in the Colab VM

#otherwise, the values can be directly placed here

#rhostName = 'btncgfi3a5bxyea-mongodb.services.clever-cloud.com'   # place your own credentials here
#ruserName = 'unhdw2nwybcyotqt1umd'      # place your own credentials here
#rpassWord = 'xxxx'      # place your own credentials here
#rdbName =  'btncgfi3a5bxyea'         # place your own credentials here
#rMongoURI = 'mongodb://unhdw2nwybcyotqt1umd:xxxx@btncgfi3a5bxyea-mongodb.services.clever-cloud.com:27017/btncgfi3a5bxyea' 

print(rhostName,ruserName,rdbName)
#print(rMongoURI)

btncgfi3a5bxyea-mongodb.services.clever-cloud.com unhdw2nwybcyotqt1umd btncgfi3a5bxyea

In [8]:
mongoURI = rMongoURI                                   # for remote server
#mongoURI = "mongodb://localhost:27017/"                 # for local server
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

['btncgfi3a5bxyea']

In [12]:
#db = client.PraxisDB
db = client.btncgfi3a5bxyea
db.list_collection_names()

['p21Charts']

In [10]:
table = db.restaurants
table.count_documents({})

3772

In [11]:
# Delete collection
db.drop_collection('restaurants')

{'$clusterTime': {'clusterTime': Timestamp(1641786923, 126),
  'signature': {'hash': b'-\xcdX\x02\x19\xe7\xe2\xc4\xe2\xf3\x80W\xa0\x10h\xce<\xfd\x8f\x1b',
   'keyId': 7017346210788802561}},
 'nIndexesWas': 1,
 'ns': 'btncgfi3a5bxyea.restaurants',
 'ok': 1.0,
 'operationTime': Timestamp(1641786923, 126)}

#MongoDB Exercise <br>
Exercise : https://docs.google.com/document/d/1q0PyJL6EgMG1V5G8mmPre8Ypq9N9dX-PRLixAHiphd8/edit?usp=sharing <br>

Data : restaurant.json https://drive.google.com/file/d/14sYJM2KwIpDRsAAk6YkapMTwLnLuBcb_/view?usp=sharing <br>

For more detailed examples, see https://colab.research.google.com/github/Giffy/MongoDB_PyMongo_Tutorial/blob/master/1_1_First_steps_with_MongoDB_PyMongo.ipynb

##Get Data

In [13]:
!gdown https://drive.google.com/uc?id=14sYJM2KwIpDRsAAk6YkapMTwLnLuBcb_

Downloading...
From: https://drive.google.com/uc?id=14sYJM2KwIpDRsAAk6YkapMTwLnLuBcb_
To: /content/restaurants.json
100% 2.03M/2.03M [00:00<00:00, 64.8MB/s]

##Load Data

In [14]:
# the restaurants.json file is available in my GDrive
# Local Server
#!mongoimport --db PraxisDB --collection restaurants --drop --file restaurants.json
# Remote Server
# mongoimport --host "hostname" --port "port" --db "databasename" --collection "collectionName" --file "filePath"
# the python variables need to be placed in {}
!mongoimport --host "{rhostName}" --port "27017" --db "{rdbName}" --collection "restaurants"  --drop --file "restaurants.json" -u "{ruserName}" -p "{rpassWord}"

2022-01-10T04:04:28.417+0000	connected to: btncgfi3a5bxyea-mongodb.services.clever-cloud.com:27017
2022-01-10T04:04:28.520+0000	dropping: btncgfi3a5bxyea.restaurants
2022-01-10T04:04:30.505+0000	imported 3772 documents

##Data Access & Manipulation

In [15]:
#mongoURI = "mongodb://localhost:27017/"    # local
mongoURI = rMongoURI                        # remote
client = MongoClient(mongoURI)
client.list_database_names()

['btncgfi3a5bxyea']

In [16]:
#db = client.PraxisDB
db = client.btncgfi3a5bxyea
db.list_collection_names()

['p21Charts', 'restaurants']

In [17]:
table = db.restaurants
table.count_documents({})

3772

# 32 Diverse Queries

1. display all the documents in the collection restaurants

In [18]:
c1 = db.restaurants.find().limit(10)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('61dbb04d6b4f85e15bb4d8a8'), 'address': {'building': '1007', 'coord': [-73.856077, 40.848447], 'street': 'Morris Park Ave', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}], 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8a9'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8aa'), 'address': {'building': '351', 'coord': [-73.98513559999999, 40.7676919], 'street': 'West   57 Street', 'zipcode': '10019'}, 'borough': 'Manhattan', 'cuisine': 'Irish', 'grades': [{'date': datetime.datetime(2014, 9, 6, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 7, 31, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 12, 29, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ab'), 'address': {'building': '2780', 'coord': [-73.98241999999999, 40.579505], 'street': 'Stillwell Avenue', 'zipcode': '11224'}, 'borough': 'Brooklyn', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 10, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Riviera Caterer', 'restaurant_id': '40356018'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ac'), 'address': {'building': '97-22', 'coord': [-73.8601152, 40.7311739], 'street': '63 Road', 'zipcode': '11374'}, 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': datetime.datetime(2014, 11, 24, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2013, 1, 17, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 8, 2, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 12, 15, 0, 0), 'grade': 'B', 'score': 25}], 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ad'), 'address': {'building': '8825', 'coord': [-73.8803827, 40.7643124], 'street': 'Astoria Boulevard', 'zipcode': '11369'}, 'borough': 'Queens', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 11, 15, 0, 0), 'grade': 'Z', 'score': 38}, {'date': datetime.datetime(2014, 5, 2, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 3, 2, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 2, 10, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Brunos On The Boulevard', 'restaurant_id': '40356151'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ae'), 'address': {'building': '2206', 'coord': [-74.1377286, 40.6119572], 'street': 'Victory Boulevard', 'zipcode': '10314'}, 'borough': 'Staten Island', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': datetime.datetime(2014, 10, 6, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 5, 20, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 4, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 1, 24, 0, 0), 'grade': 'A', 'score': 9}], 'name': 'Kosher Island', 'restaurant_id': '40356442'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8af'), 'address': {'building': '7114', 'coord': [-73.9068506, 40.6199034], 'street': 'Avenue U', 'zipcode': '11234'}, 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'grades': [{'date': datetime.datetime(2014, 5, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 8, 3, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 7, 18, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 10, 14, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8b0'), 'address': {'building': '6409', 'coord': [-74.00528899999999, 40.628886], 'street': '11 Avenue', 'zipcode': '11219'}, 'borough': 'Brooklyn', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 7, 18, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 7, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 2, 13, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 8, 16, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2011, 8, 17, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8b1'), 'address': {'building': '1839', 'coord': [-73.9482609, 40.6408271], 'street': 'Nostrand Avenue', 'zipcode': '11226'}, 'borough': 'Brooklyn', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'grades': [{'date': datetime.datetime(2014, 7, 14, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 7, 10, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 2, 23, 0, 0), 'grade': 'A', 'score': 8}], 'name': 'Taste The Tropics Ice Cream', 'restaurant_id': '40356731'}

2. display the fields restaurant_id, name, borough and cuisine for all the documents in the collection restaurant.

In [19]:
c1 = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1}).limit(10)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('61dbb04d6b4f85e15bb4d8a8'), 'borough': 'Bronx', 'cuisine': 'Bakery', 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8a9'), 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8aa'), 'borough': 'Manhattan', 'cuisine': 'Irish', 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ab'), 'borough': 'Brooklyn', 'cuisine': 'American ', 'name': 'Riviera Caterer', 'restaurant_id': '40356018'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ac'), 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ad'), 'borough': 'Queens', 'cuisine': 'American ', 'name': 'Brunos On The Boulevard', 'restaurant_id': '40356151'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ae'), 'borough': 'Staten Island', 'cuisine': 'Jewish/Kosher', 'name': 'Kosher Island', 'restaurant_id': '40356442'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8af'), 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8b0'), 'borough': 'Brooklyn', 'cuisine': 'American ', 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8b1'), 'borough': 'Brooklyn', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'name': 'Taste The Tropics Ice Cream', 'restaurant_id': '40356731'}

3. display the fields restaurant_id, name, borough and cuisine, but exclude the field _id for all the documents in the collection restaurant.

In [ ]:
c1 = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1,"_id":0}).limit(10)
for crnt in c1:
    print(crnt)

{'borough': 'Bronx', 'cuisine': 'Bakery', 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'borough': 'Manhattan', 'cuisine': 'Irish', 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}
{'borough': 'Brooklyn', 'cuisine': 'American ', 'name': 'Riviera Caterer', 'restaurant_id': '40356018'}
{'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}
{'borough': 'Staten Island', 'cuisine': 'Jewish/Kosher', 'name': 'Kosher Island', 'restaurant_id': '40356442'}
{'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'borough': 'Brooklyn', 'cuisine': 'American ', 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'borough': 'Queens', 'cuisine': 'American ', 'name': 'Brunos On The Boulevard', 'restaurant_id': '40356151'}
{'borough': 'Brooklyn', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'name': 'Taste The Tropics Ice Cream', 'restaurant_id': '40356731'}

4. display the fields restaurant_id, name, borough and zipcode, but exclude the field _id for all the documents in the collection restaurant.

In [20]:
table = db.restaurants
c1 = table.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}).limit(10)
for crnt in c1:
    print(crnt)

{'address': {'zipcode': '10462'}, 'borough': 'Bronx', 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'address': {'zipcode': '11225'}, 'borough': 'Brooklyn', 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'address': {'zipcode': '10019'}, 'borough': 'Manhattan', 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}
{'address': {'zipcode': '11224'}, 'borough': 'Brooklyn', 'name': 'Riviera Caterer', 'restaurant_id': '40356018'}
{'address': {'zipcode': '11374'}, 'borough': 'Queens', 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}
{'address': {'zipcode': '11369'}, 'borough': 'Queens', 'name': 'Brunos On The Boulevard', 'restaurant_id': '40356151'}
{'address': {'zipcode': '10314'}, 'borough': 'Staten Island', 'name': 'Kosher Island', 'restaurant_id': '40356442'}
{'address': {'zipcode': '11234'}, 'borough': 'Brooklyn', 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'address': {'zipcode': '11219'}, 'borough': 'Brooklyn', 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'address': {'zipcode': '11226'}, 'borough': 'Brooklyn', 'name': 'Taste The Tropics Ice Cream', 'restaurant_id': '40356731'}

In [21]:
#df = pd.DataFrame(list(table.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}).limit(10)))
#df
pd.DataFrame(list(table.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}).limit(10)))

                address  ... restaurant_id
0  {'zipcode': '10462'}  ...      30075445
1  {'zipcode': '11225'}  ...      30112340
2  {'zipcode': '10019'}  ...      30191841
3  {'zipcode': '11224'}  ...      40356018
4  {'zipcode': '11374'}  ...      40356068
5  {'zipcode': '11369'}  ...      40356151
6  {'zipcode': '10314'}  ...      40356442
7  {'zipcode': '11234'}  ...      40356483
8  {'zipcode': '11219'}  ...      40356649
9  {'zipcode': '11226'}  ...      40356731

[10 rows x 4 columns]

5. display all the restaurant which is in the borough Bronx

In [23]:
c1 = table.find({"borough": "Bronx"}).limit(10)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('61dbb04d6b4f85e15bb4d8a8'), 'address': {'building': '1007', 'coord': [-73.856077, 40.848447], 'street': 'Morris Park Ave', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}], 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8b2'), 'address': {'building': '2300', 'coord': [-73.8786113, 40.8502883], 'street': 'Southern Boulevard', 'zipcode': '10460'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}], 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8c6'), 'address': {'building': '1006', 'coord': [-73.84856870000002, 40.8903781], 'street': 'East 233 Street', 'zipcode': '10466'}, 'borough': 'Bronx', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'grades': [{'date': datetime.datetime(2014, 4, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 9, 5, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 2, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 7, 3, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 7, 11, 0, 0), 'grade': 'A', 'score': 5}], 'name': 'Carvel Ice Cream', 'restaurant_id': '40363093'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8ca'), 'address': {'building': '1236', 'coord': [-73.8893654, 40.81376179999999], 'street': '238 Spofford Ave', 'zipcode': '10474'}, 'borough': 'Bronx', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2013, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 1, 8, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 6, 12, 0, 0), 'grade': 'B', 'score': 15}], 'name': 'Happy Garden', 'restaurant_id': '40363289'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8dc'), 'address': {'building': '277', 'coord': [-73.8941893, 40.8634684], 'street': 'East Kingsbridge Road', 'zipcode': '10458'}, 'borough': 'Bronx', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 9, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 8, 29, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 8, 17, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Happy Garden', 'restaurant_id': '40364296'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d8e4'), 'address': {'building': '658', 'coord': [-73.81363999999999, 40.82941100000001], 'street': 'Clarence Ave', 'zipcode': '10465'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 21, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 10}], 'name': 'Manhem Club', 'restaurant_id': '40364363'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d903'), 'address': {'building': '2222', 'coord': [-73.84971759999999, 40.8304811], 'street': 'Haviland Avenue', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 12, 18, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2014, 5, 1, 0, 0), 'grade': 'B', 'score': 17}, {'date': datetime.datetime(2013, 3, 14, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 9, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 2, 8, 0, 0), 'grade': 'B', 'score': 19}], 'name': 'The New Starling Athletic Club Of The Bronx', 'restaurant_id': '40364956'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d91b'), 'address': {'building': '72', 'coord': [-73.92506, 40.8275556], 'street': 'East  161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 4, 15, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 11, 14, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2013, 7, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 12, 31, 0, 0), 'grade': 'B', 'score': 15}, {'date': datetime.datetime(2012, 5, 30, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 1, 9, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 8, 15, 0, 0), 'grade': 'C', 'score': 37}], 'name': 'Yankee Tavern', 'restaurant_id': '40365499'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d92e'), 'address': {'building': '331', 'coord': [-73.87786539999999, 40.8724377], 'street': 'East  204 Street', 'zipcode': '10467'}, 'borough': 'Bronx', 'cuisine': 'Irish', 'grades': [{'date': datetime.datetime(2014, 8, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 3, 26, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 12, 18, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2011, 10, 20, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Mcdwyers Pub', 'restaurant_id': '40365893'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4d94e'), 'address': {'building': '5820', 'coord': [-73.9002615, 40.885186], 'street': 'Broadway', 'zipcode': '10463'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 2, 26, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 10, 9, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2013, 5, 15, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 11, 20, 0, 0), 'grade': 'B', 'score': 18}, {'date': datetime.datetime(2011, 10, 17, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 6, 22, 0, 0), 'grade': 'C', 'score': 35}], 'name': 'The Punch Bowl', 'restaurant_id': '40366497'}

In [24]:
df = pd.DataFrame(list(table.find({"borough": "Bronx"}).limit(3)))
df

                        _id  ... restaurant_id
0  61dbb04d6b4f85e15bb4d8a8  ...      30075445
1  61dbb04d6b4f85e15bb4d8b2  ...      40357217
2  61dbb04d6b4f85e15bb4d8c6  ...      40363093

[3 rows x 7 columns]

7. display the next 5 restaurants after skipping first 5 which are in the borough Bronx.

In [25]:
pd.DataFrame(list(table.find({"borough": "Bronx"}).skip(5).limit(5)))

                        _id  ... restaurant_id
0  61dbb04d6b4f85e15bb4d8e4  ...      40364363
1  61dbb04d6b4f85e15bb4d903  ...      40364956
2  61dbb04d6b4f85e15bb4d91b  ...      40365499
3  61dbb04d6b4f85e15bb4d92e  ...      40365893
4  61dbb04d6b4f85e15bb4d94e  ...      40366497

[5 rows x 7 columns]

8. find the restaurants who achieved a score more than 90. <hr>
https://stackoverflow.com/questions/68772027/mongodb-with-python-on-google-colab-syntax-error-on-elemmatch/68796638#68796638

In [ ]:
c1 = db.restaurants.find({"grades" : { "$elemMatch":{"score":{"$gt" : 90}}}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e7d5'), 'address': {'building': '65', 'coord': [-73.9782725, 40.7624022], 'street': 'West   54 Street', 'zipcode': '10019'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 8, 22, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 3, 28, 0, 0), 'grade': 'C', 'score': 131}, {'date': datetime.datetime(2013, 9, 25, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 4, 8, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 15, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 10, 19, 0, 0), 'grade': 'A', 'score': 13}], 'name': "Murals On 54/Randolphs'S", 'restaurant_id': '40372466'}
{'_id': ObjectId('611fbf9e1aac54792e00e877'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('611fbf9e1aac54792e00e9dd'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}

In [28]:
c1 = db.restaurants.find({"grades" : { "$elemMatch":{"score":{"$gt" : 90}}}},{"name":1,"borough":1,"address.zipcode" :1,"_id":0})
for crnt in c1:
    print(crnt)

{'address': {'zipcode': '10019'}, 'borough': 'Manhattan', 'name': "Murals On 54/Randolphs'S"}
{'address': {'zipcode': '10003'}, 'borough': 'Manhattan', 'name': 'Gandhi'}
{'address': {'zipcode': '10016'}, 'borough': 'Manhattan', 'name': 'Bella Napoli'}

9. find the restaurants that achieved a score, more than 80 but less than 100.

In [29]:
c1 = db.restaurants.find({"grades" : { "$elemMatch":{"score":{"$gt" : 80 , "$lt" :100}}}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('61dbb04d6b4f85e15bb4dab7'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4dc1f'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'_id': ObjectId('61dbb04e6b4f85e15bb4e71f'), 'address': {'building': '', 'coord': [-74.0163793, 40.7167671], 'street': 'Hudson River', 'zipcode': '10282'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 27, 0, 0), 'grade': 'C', 'score': 89}, {'date': datetime.datetime(2013, 6, 6, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2012, 6, 19, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'West 79Th Street Boat Basin Cafe', 'restaurant_id': '40756344'}

10. find the restaurants which locates in latitude value less than -95.754168.

In [30]:
c1 = db.restaurants.find({"address.coord" : {"$lt" : -95.754168}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('61dbb04e6b4f85e15bb4e077'), 'address': {'building': '3707', 'coord': [-101.8945214, 33.5197474], 'street': '82 Street', 'zipcode': '11372'}, 'borough': 'Queens', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 4, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 11, 7, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2013, 5, 17, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 8, 29, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 4, 3, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 11, 16, 0, 0), 'grade': 'A', 'score': 7}], 'name': 'Burger King', 'restaurant_id': '40534067'}
{'_id': ObjectId('61dbb04e6b4f85e15bb4e457'), 'address': {'building': '15259', 'coord': [-119.6368672, 36.2504996], 'street': '10 Avenue', 'zipcode': '11357'}, 'borough': 'Queens', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 9, 4, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 3, 26, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 3, 4, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 9, 27, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 20, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'C', 'score': 34}], 'name': "Cascarino'S", 'restaurant_id': '40668681'}
{'_id': ObjectId('61dbb04e6b4f85e15bb4e9b6'), 'address': {'building': '60', 'coord': [-111.9975205, 42.0970258], 'street': 'West Side Highway', 'zipcode': '10006'}, 'borough': 'Manhattan', 'cuisine': 'Japanese', 'grades': [{'date': datetime.datetime(2014, 3, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 6, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 7, 5, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 7, 27, 0, 0), 'grade': 'A', 'score': 2}], 'name': 'Sports Center At Chelsea Piers (Sushi Bar)', 'restaurant_id': '40882356'}

11. find the restaurants that does not prepare any cuisine of 'American' and their grade score more than 70 and latitude less than -65.754168.

In [31]:
c1 = db.restaurants.find(
               {"$and":
                    [
                       {"cuisine" : {"$ne" :"American "}},
                       {"grades.score" : {"$gt" : 70}},
                       {"address.coord" : {"$lt" : -65.754168}}
                    ]
                }
                    );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('61dbb04d6b4f85e15bb4dab7'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4dc1f'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'_id': ObjectId('61dbb04d6b4f85e15bb4dc29'), 'address': {'building': '101', 'coord': [-73.9243061, 40.8276297], 'street': 'East 161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'grades': [{'date': datetime.datetime(2014, 4, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 1, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 4, 11, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 25, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'P', 'score': 12}, {'date': datetime.datetime(2012, 5, 25, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2011, 9, 14, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2011, 4, 25, 0, 0), 'grade': 'C', 'score': 76}], 'name': 'El Molino Rojo Restaurant', 'restaurant_id': '40393688'}
{'_id': ObjectId('61dbb04e6b4f85e15bb4deeb'), 'address': {'building': '289', 'coord': [-73.94610279999999, 40.7137587], 'street': 'Manhattan Avenue', 'zipcode': '11211'}, 'borough': 'Brooklyn', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 5, 7, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 9, 11, 0, 0), 'grade': 'B', 'score': 18}, {'date': datetime.datetime(2012, 4, 18, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 9, 27, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 5, 3, 0, 0), 'grade': 'C', 'score': 77}], 'name': 'Fortunato Bros Cafe & Bakery', 'restaurant_id': '40400561'}
{'_id': ObjectId('61dbb04e6b4f85e15bb4e58c'), 'address': {'building': '231', 'coord': [-73.9772294, 40.7527262], 'street': 'Grand Central Station', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2015, 1, 7, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2014, 7, 3, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2013, 12, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 5, 17, 0, 0), 'grade': 'C', 'score': 76}, {'date': datetime.datetime(2012, 4, 20, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Two Boots Grand Central', 'restaurant_id': '40725591'}

12. find the restaurants which does not prepare any cuisine of 'American' and achieved a score more than 70 and not located in the longitude less than -65.754168.Note : Do this query without using $and operator.

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" : {"$ne" : "American "},
                             "grades.score" :{"$gt": 70},
                             "address.coord" : {"$lt" : -65.754168}
                            }
                      });
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e877'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('611fbf9e1aac54792e00e9dd'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'_id': ObjectId('611fbf9e1aac54792e00e9e9'), 'address': {'building': '101', 'coord': [-73.9243061, 40.8276297], 'street': 'East 161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'grades': [{'date': datetime.datetime(2014, 4, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 1, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 4, 11, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 25, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'P', 'score': 12}, {'date': datetime.datetime(2012, 5, 25, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2011, 9, 14, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2011, 4, 25, 0, 0), 'grade': 'C', 'score': 76}], 'name': 'El Molino Rojo Restaurant', 'restaurant_id': '40393688'}
{'_id': ObjectId('611fbf9e1aac54792e00ec35'), 'address': {'building': '289', 'coord': [-73.94610279999999, 40.7137587], 'street': 'Manhattan Avenue', 'zipcode': '11211'}, 'borough': 'Brooklyn', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 5, 7, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 9, 11, 0, 0), 'grade': 'B', 'score': 18}, {'date': datetime.datetime(2012, 4, 18, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 9, 27, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 5, 3, 0, 0), 'grade': 'C', 'score': 77}], 'name': 'Fortunato Bros Cafe & Bakery', 'restaurant_id': '40400561'}
{'_id': ObjectId('611fbf9f1aac54792e00f31a'), 'address': {'building': '231', 'coord': [-73.9772294, 40.7527262], 'street': 'Grand Central Station', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2015, 1, 7, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2014, 7, 3, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2013, 12, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 5, 17, 0, 0), 'grade': 'C', 'score': 76}, {'date': datetime.datetime(2012, 4, 20, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Two Boots Grand Central', 'restaurant_id': '40725591'}

13. find the restaurants which does not prepare any cuisine of 'American ' and achieved a grade point 'A' not belongs to the borough Brooklyn. The document must be displayed according to the cuisine in descending order.

In [36]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" : {"$ne" : "American "},
                             "grades.grade" :"A",
                             "borough": "Brooklyn"
                            },
                              "$orderby" : {"cuisine":1}
                      } ,
                      {"name":1,"cuisine":1,"_id":0}
                    );
#for crnt in c1:
#    print(crnt)

14. find the restaurant Id, name, borough and cuisine for those restaurants which contains 'Wil' as first three letters for its name.

In [ ]:
c1 = db.restaurants.find({"name": {"$regex":"^Wil"}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e677'), 'address': {'building': '7114', 'coord': [-73.9068506, 40.6199034], 'street': 'Avenue U', 'zipcode': '11234'}, 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'grades': [{'date': datetime.datetime(2014, 5, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 8, 3, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 7, 18, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 10, 14, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'_id': ObjectId('611fbf9e1aac54792e00e67b'), 'address': {'building': '2300', 'coord': [-73.8786113, 40.8502883], 'street': 'Southern Boulevard', 'zipcode': '10460'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}], 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'_id': ObjectId('611fbf9f1aac54792e00f717'), 'address': {'building': '605', 'coord': [-73.9020967, 40.81298], 'street': 'Southern Boulevard', 'zipcode': '10455'}, 'borough': 'Bronx', 'cuisine': 'Pizza', 'grades': [{'date': datetime.datetime(2014, 9, 18, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2014, 4, 15, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 10, 8, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 9, 20, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 5, 7, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2011, 10, 13, 0, 0), 'grade': 'B', 'score': 19}], 'name': 'Wilbel Pizza', 'restaurant_id': '40871979'}

In [ ]:
c1 = db.restaurants.find(
    {"name": {"$regex":"^Wil"}},
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
    )
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e677'), 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'_id': ObjectId('611fbf9e1aac54792e00e67b'), 'borough': 'Bronx', 'cuisine': 'American ', 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'_id': ObjectId('611fbf9f1aac54792e00f717'), 'borough': 'Bronx', 'cuisine': 'Pizza', 'name': 'Wilbel Pizza', 'restaurant_id': '40871979'}

15.  find the restaurant Id, name, borough and cuisine for those restaurants which contains 'ces' as last three letters for its name.

In [ ]:
c1 = db.restaurants.find(
    {"name": {"$regex":"ces$"}},
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00ec0a'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Pieces', 'restaurant_id': '40399910'}
{'_id': ObjectId('611fbf9e1aac54792e00ecc9'), 'borough': 'Queens', 'cuisine': 'American ', 'name': 'S.M.R Restaurant Services', 'restaurant_id': '40403857'}
{'_id': ObjectId('611fbf9e1aac54792e00ecd0'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Good Shepherd Services', 'restaurant_id': '40403989'}
{'_id': ObjectId('611fbf9f1aac54792e00f23b'), 'borough': 'Queens', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'name': "The Ice Box-Ralph'S Famous Italian Ices", 'restaurant_id': '40690899'}
{'_id': ObjectId('611fbf9f1aac54792e00f510'), 'borough': 'Brooklyn', 'cuisine': 'Jewish/Kosher', 'name': 'Alices', 'restaurant_id': '40782042'}
{'_id': ObjectId('611fbf9f1aac54792e00f72f'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Re: Sources', 'restaurant_id': '40876068'}

16. find the restaurant Id, name, borough and cuisine for those restaurants which contains 'Reg' as three letters somewhere in its name.

In [ ]:
c1 = db.restaurants.find(
    {"name": {"$regex":".*Reg.*"}},    
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e678'), 'borough': 'Brooklyn', 'cuisine': 'American ', 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'_id': ObjectId('611fbf9e1aac54792e00e77c'), 'borough': 'Manhattan', 'cuisine': 'Caf/Coffee/Tea', 'name': 'Caffe Reggio', 'restaurant_id': '40369418'}
{'_id': ObjectId('611fbf9e1aac54792e00e88c'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Regency Hotel', 'restaurant_id': '40382679'}
{'_id': ObjectId('611fbf9e1aac54792e00ecae'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Regency Whist Club', 'restaurant_id': '40402377'}
{'_id': ObjectId('611fbf9e1aac54792e00ed8c'), 'borough': 'Queens', 'cuisine': 'American ', 'name': 'Rego Park Cafe', 'restaurant_id': '40523342'}
{'_id': ObjectId('611fbf9f1aac54792e00f586'), 'borough': 'Queens', 'cuisine': 'Pizza', 'name': 'Regina Pizza', 'restaurant_id': '40801325'}
{'_id': ObjectId('611fbf9f1aac54792e00f7a8'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Regal Entertainment Group', 'restaurant_id': '40891782'}

17. find the restaurants which belongs to the borough Bronx and prepared either American or Chinese dish.

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" :"Chinese",
                             "borough": "Brooklyn"
                            }
                      } ,
                      {
                        "name":1,"borough":1,
                        "cuisine" :1
                      }
                    );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e67e'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'May May Kitchen'}
{'_id': ObjectId('611fbf9e1aac54792e00e6a0'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Golden Pavillion'}
{'_id': ObjectId('611fbf9e1aac54792e00e92c'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': "Lee'S Villa Chinese Restaurant"}
{'_id': ObjectId('611fbf9e1aac54792e00e974'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Kum Kau Kitchen'}
{'_id': ObjectId('611fbf9e1aac54792e00e99b'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Szechuan Delight Restaurant'}
{'_id': ObjectId('611fbf9e1aac54792e00e9d3'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Yen Yen Restaurant'}
{'_id': ObjectId('611fbf9e1aac54792e00ebcb'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Master Wok'}
{'_id': ObjectId('611fbf9e1aac54792e00ebd5'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Choy Le Chinese Restaurant'}
{'_id': ObjectId('611fbf9e1aac54792e00edee'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': "New Ruan'S Restaurant"}
{'_id': ObjectId('611fbf9e1aac54792e00ef11'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Great Wall Restaurant'}
{'_id': ObjectId('611fbf9f1aac54792e00f07f'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': "Wah Do Mr. Chan'S Restaurant"}
{'_id': ObjectId('611fbf9f1aac54792e00f08f'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Golden Horse Chinese Rest'}
{'_id': ObjectId('611fbf9f1aac54792e00f0c3'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Lichee Nut'}
{'_id': ObjectId('611fbf9f1aac54792e00f0e0'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Hop Lee Kitchen'}
{'_id': ObjectId('611fbf9f1aac54792e00f0fd'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Glatt Kosher Family Chinese Restaurant'}
{'_id': ObjectId('611fbf9f1aac54792e00f19d'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Dynasty'}
{'_id': ObjectId('611fbf9f1aac54792e00f19e'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Lucky House Chinese Kitchen'}
{'_id': ObjectId('611fbf9f1aac54792e00f1ed'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Me & My Eggroll'}
{'_id': ObjectId('611fbf9f1aac54792e00f54a'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Mr. Wonton'}
{'_id': ObjectId('611fbf9f1aac54792e00f580'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Panda Restuarant'}
{'_id': ObjectId('611fbf9f1aac54792e00f67d'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Panda Kitchen'}
{'_id': ObjectId('611fbf9f1aac54792e00f6c6'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'New Victory Restaurant'}
{'_id': ObjectId('611fbf9f1aac54792e00f79c'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Happy Restaurant'}
{'_id': ObjectId('611fbf9f1aac54792e00f79e'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'China New Star'}
{'_id': ObjectId('611fbf9f1aac54792e00f7a5'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'New No 1 Chinese Restaurant'}
{'_id': ObjectId('611fbf9f1aac54792e00f7c4'), 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'name': 'Chopstix Restaurant'}

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" : {"$in" :["American","Chinese"]},
                             "borough": "Brooklyn"
                            }
                      } 
                    );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e67e'), 'address': {'building': '1269', 'coord': [-73.871194, 40.6730975], 'street': 'Sutter Avenue', 'zipcode': '11208'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 9, 16, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2013, 8, 28, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 4, 2, 0, 0), 'grade': 'C', 'score': 56}, {'date': datetime.datetime(2012, 8, 15, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2012, 3, 28, 0, 0), 'grade': 'B', 'score': 27}], 'name': 'May May Kitchen', 'restaurant_id': '40358429'}
{'_id': ObjectId('611fbf9e1aac54792e00e6a0'), 'address': {'building': '976', 'coord': [-73.92701509999999, 40.6620192], 'street': 'Rutland Road', 'zipcode': '11212'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 4, 23, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 3, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 13, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2011, 11, 16, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Golden Pavillion', 'restaurant_id': '40363920'}
{'_id': ObjectId('611fbf9e1aac54792e00e92c'), 'address': {'building': '152', 'coord': [-73.986446, 40.6915505], 'street': 'Lawrence Street', 'zipcode': '11201'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 27, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 4, 22, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 8, 22, 0, 0), 'grade': 'C', 'score': 52}, {'date': datetime.datetime(2012, 12, 27, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 12, 23, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Lee'S Villa Chinese Restaurant", 'restaurant_id': '40388386'}
{'_id': ObjectId('611fbf9e1aac54792e00e974'), 'address': {'building': '463', 'coord': [-73.9667463, 40.6935651], 'street': 'Myrtle Avenue', 'zipcode': '11205'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 2, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 10, 8, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 9, 24, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Kum Kau Kitchen', 'restaurant_id': '40390653'}
{'_id': ObjectId('611fbf9e1aac54792e00e99b'), 'address': {'building': '152', 'coord': [-73.9771312, 40.67257840000001], 'street': '7 Avenue', 'zipcode': '11215'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 3, 11, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 2, 6, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 1, 26, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Szechuan Delight Restaurant', 'restaurant_id': '40391528'}
{'_id': ObjectId('611fbf9e1aac54792e00e9d3'), 'address': {'building': '404', 'coord': [-73.97635439999999, 40.6438997], 'street': 'Church Avenue', 'zipcode': '11218'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 29, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2014, 3, 24, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 10, 25, 0, 0), 'grade': 'C', 'score': 3}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 5, 9, 0, 0), 'grade': 'C', 'score': 2}], 'name': 'Yen Yen Restaurant', 'restaurant_id': '40393181'}
{'_id': ObjectId('611fbf9e1aac54792e00ebcb'), 'address': {'building': '5100', 'coord': [80.361767, 26.4669033], 'street': 'Kings Plaza Shopping Ct', 'zipcode': '11234'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 4, 9, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 4, 4, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'B', 'score': 17}, {'date': datetime.datetime(2012, 5, 10, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 10, 20, 0, 0), 'grade': 'B', 'score': 22}], 'name': 'Master Wok', 'restaurant_id': '40398688'}
{'_id': ObjectId('611fbf9e1aac54792e00ebd5'), 'address': {'building': '425', 'coord': [-73.96837599999999, 40.59775399999999], 'street': 'Avenue U', 'zipcode': '11223'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 9, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 10, 25, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Choy Le Chinese Restaurant', 'restaurant_id': '40398904'}
{'_id': ObjectId('611fbf9e1aac54792e00edee'), 'address': {'building': '1955', 'coord': [-73.9988983, 40.6052988], 'street': '86 Street', 'zipcode': '11214'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 31, 0, 0), 'grade': 'B', 'score': 17}, {'date': datetime.datetime(2013, 9, 17, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 9, 5, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2012, 2, 7, 0, 0), 'grade': 'B', 'score': 20}], 'name': "New Ruan'S Restaurant", 'restaurant_id': '40537963'}
{'_id': ObjectId('611fbf9e1aac54792e00ef11'), 'address': {'building': '6820', 'coord': [-74.0122391, 40.6289332], 'street': 'Fort Hamilton Parkway', 'zipcode': '11219'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 11, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2013, 12, 9, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 12, 5, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 5, 22, 0, 0), 'grade': 'A', 'score': 10}], 'name': 'Great Wall Restaurant', 'restaurant_id': '40574067'}
{'_id': ObjectId('611fbf9f1aac54792e00f07f'), 'address': {'building': '395', 'coord': [-73.9232217, 40.6560986], 'street': 'Remsen Avenue', 'zipcode': '11212'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 2, 24, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 8, 15, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 1, 17, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 2, 6, 0, 0), 'grade': 'B', 'score': 17}], 'name': "Wah Do Mr. Chan'S Restaurant", 'restaurant_id': '40597250'}
{'_id': ObjectId('611fbf9f1aac54792e00f08f'), 'address': {'building': '792', 'coord': [-73.8812598, 40.6667731], 'street': 'New Lots Ave', 'zipcode': '11208'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 9, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2014, 4, 25, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 8, 27, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 1, 23, 0, 0), 'grade': 'B', 'score': 25}], 'name': 'Golden Horse Chinese Rest', 'restaurant_id': '40599302'}
{'_id': ObjectId('611fbf9f1aac54792e00f0c3'), 'address': {'building': '162', 'coord': [-73.992818, 40.69415300000001], 'street': 'Montague Street', 'zipcode': '11201'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2013, 11, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 6, 27, 0, 0), 'grade': 'C', 'score': 35}, {'date': datetime.datetime(2012, 12, 17, 0, 0), 'grade': 'B', 'score': 22}, {'date': datetime.datetime(2012, 6, 20, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Lichee Nut', 'restaurant_id': '40605862'}
{'_id': ObjectId('611fbf9f1aac54792e00f0e0'), 'address': {'building': '992', 'coord': [-73.9544931, 40.7329212], 'street': 'Manhattan Avenue', 'zipcode': '11222'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 7, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2014, 4, 23, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 3, 4, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 9, 24, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 2, 22, 0, 0), 'grade': 'B', 'score': 24}], 'name': 'Hop Lee Kitchen', 'restaurant_id': '40610000'}
{'_id': ObjectId('611fbf9f1aac54792e00f0fd'), 'address': {'building': '4305', 'coord': [-73.9760372, 40.6309706], 'street': '18 Avenue', 'zipcode': '11218'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 8, 12, 0, 0), 'grade': 'B', 'score': 20}, {'date': datetime.datetime(2014, 1, 27, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2014, 1, 9, 0, 0), 'grade': 'P', 'score': 9}, {'date': datetime.datetime(2013, 8, 8, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 11, 19, 0, 0), 'grade': 'B', 'score': 17}, {'date': datetime.datetime(2012, 6, 1, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 1, 3, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Glatt Kosher Family Chinese Restaurant', 'restaurant_id': '40616388'}
{'_id': ObjectId('611fbf9f1aac54792e00f19d'), 'address': {'building': '1669', 'coord': [-73.9441088, 40.629756], 'street': 'Flatbush Avenue', 'zipcode': '11210'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2015, 1, 5, 0, 0), 'grade': 'Z', 'score': 18}, {'date': datetime.datetime(2014, 7, 2, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2014, 1, 6, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 12, 6, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 8, 7, 0, 0), 'grade': 'C', 'score': 56}], 'name': 'Dynasty', 'restaurant_id': '40658944'}
{'_id': ObjectId('611fbf9f1aac54792e00f19e'), 'address': {'building': '343345', 'coord': [-73.9348637, 40.68203219999999], 'street': 'Lewis Avenue', 'zipcode': '11233'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2013, 11, 19, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 5, 28, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 1, 24, 0, 0), 'grade': 'A', 'score': 10}], 'name': 'Lucky House Chinese Kitchen', 'restaurant_id': '40659101'}
{'_id': ObjectId('611fbf9f1aac54792e00f1ed'), 'address': {'building': '407', 'coord': [-73.9972324, 40.6792233], 'street': 'Court Street', 'zipcode': '11231'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 8, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 6, 26, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 15, 0, 0), 'grade': 'B', 'score': 17}, {'date': datetime.datetime(2012, 3, 15, 0, 0), 'grade': 'B', 'score': 17}, {'date': datetime.datetime(2011, 10, 31, 0, 0), 'grade': 'A', 'score': 10}], 'name': 'Me & My Eggroll', 'restaurant_id': '40670874'}
{'_id': ObjectId('611fbf9f1aac54792e00f54a'), 'address': {'building': '73', 'coord': [-73.97468599999999, 40.675083], 'street': '7 Avenue', 'zipcode': '11217'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2015, 1, 13, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2014, 6, 16, 0, 0), 'grade': 'B', 'score': 16}, {'date': datetime.datetime(2013, 10, 15, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2013, 1, 29, 0, 0), 'grade': 'B', 'score': 27}], 'name': 'Mr. Wonton', 'restaurant_id': '40790869'}
{'_id': ObjectId('611fbf9f1aac54792e00f580'), 'address': {'building': '7018', 'coord': [-74.02685, 40.634533], 'street': '3 Avenue', 'zipcode': '11209'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 11, 24, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 6, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 10, 16, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 5, 9, 0, 0), 'grade': 'A', 'score': 9}], 'name': 'Panda Restuarant', 'restaurant_id': '40800339'}
{'_id': ObjectId('611fbf9f1aac54792e00f67d'), 'address': {'building': '943', 'coord': [-73.8881505, 40.6554256], 'street': 'Pennsylvania Avenue', 'zipcode': '11207'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 7, 15, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2014, 1, 15, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 4, 4, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 9, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 2, 23, 0, 0), 'grade': 'A', 'score': 10}], 'name': 'Panda Kitchen', 'restaurant_id': '40850369'}
{'_id': ObjectId('611fbf9f1aac54792e00f6c6'), 'address': {'building': '4803', 'coord': [-74.00911909999999, 40.6459807], 'street': '5 Avenue', 'zipcode': '11220'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 8, 20, 0, 0), 'grade': 'C', 'score': 40}, {'date': datetime.datetime(2014, 4, 9, 0, 0), 'grade': 'C', 'score': 28}, {'date': datetime.datetime(2013, 2, 12, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 6, 14, 0, 0), 'grade': 'A', 'score': 9}], 'name': 'New Victory Restaurant', 'restaurant_id': '40861669'}
{'_id': ObjectId('611fbf9f1aac54792e00f79c'), 'address': {'building': '957', 'coord': [-73.9645915, 40.6832138], 'street': 'Fulton Street', 'zipcode': '11238'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 9, 8, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2014, 2, 26, 0, 0), 'grade': 'B', 'score': 16}, {'date': datetime.datetime(2013, 7, 10, 0, 0), 'grade': 'C', 'score': 31}, {'date': datetime.datetime(2013, 1, 31, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2012, 7, 19, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2011, 12, 1, 0, 0), 'grade': 'B', 'score': 15}], 'name': 'Happy Restaurant', 'restaurant_id': '40890246'}
{'_id': ObjectId('611fbf9f1aac54792e00f79e'), 'address': {'building': '2212', 'coord': [-73.9296582, 40.6160532], 'street': 'Flatbush Avenue', 'zipcode': '11234'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 30, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 11, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 6, 13, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 12, 13, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'China New Star', 'restaurant_id': '40890510'}
{'_id': ObjectId('611fbf9f1aac54792e00f7a5'), 'address': {'building': '1007', 'coord': [-73.924643, 40.658507], 'street': 'Clarkson Avenue', 'zipcode': '11212'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 10, 20, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 5, 7, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 3, 23, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 1, 24, 0, 0), 'grade': 'A', 'score': 3}], 'name': 'New No 1 Chinese Restaurant', 'restaurant_id': '40892468'}
{'_id': ObjectId('611fbf9f1aac54792e00f7c4'), 'address': {'building': '8405', 'coord': [-74.02521709999999, 40.6224629], 'street': '5 Avenue', 'zipcode': '11209'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 2, 25, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 8, 14, 0, 0), 'grade': 'C', 'score': 28}, {'date': datetime.datetime(2012, 7, 18, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 10, 27, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 5, 19, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Chopstix Restaurant', 'restaurant_id': '40900694'}

18. find the restaurant Id, name, borough and cuisine for those restaurants which belongs to the borough Staten Island or Queens or Bronxor Brooklyn.

In [ ]:
c1 = db.restaurants.find(
    {"borough" :{"$in" :["Staten Island","Queens"]}},
        {
        #"restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
#for crnt in c1:
#    print(crnt)

19. find the restaurant Id, name, borough and cuisine for those restaurants which are not belonging to the borough Staten Island or Queens or Bronxor Brooklyn.

In [ ]:
c1 = db.restaurants.find(
    {"borough" :{"$nin" :["Staten Island","Queens","Bronx","Brooklyn"]}},
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
#for crnt in c1:
#    print(crnt)

20. find the restaurant Id, name, borough and cuisine for those restaurants which achieved a score which is not more than 10.

In [ ]:
c1 = db.restaurants.find(
    {"grades.score" : 
        { "$not": {"$gt" : 10}}
    },
    {
    "restaurant_id" : 1,
    "name":1,"borough":1,
    "cuisine" :1
    }
);
#for crnt in c1:
#    print(crnt)

21. find the restaurant Id, name, borough and cuisine for those restaurants which prepared dish except 'American' and 'Chinese' or restaurant's name begins with letter 'Wil'.

In [ ]:
c1 = db.restaurants.find(
{"$or": [
  {"name": {"$regex":"^Wil"}}, 
  {"$and": [
       {"cuisine" : {"$ne" :"American "}}, 
       {"cuisine" : {"$ne" :"Chinese"}}
   ]}
]}
,{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1}
);

#for crnt in c1:
#    print(crnt)

22. find the restaurant Id, name and grades for those restaurants which achieved a grade of "A" and scored 11 on an ISODate "2014-08-11T00:00:00Z" among many of survey dates. <br>
https://stackoverflow.com/questions/43731016/pymongo-name-isodate-is-not-defined

In [ ]:
import dateutil
dateStr = '2014-08-11T00:00:00Z'
myDatetime = dateutil.parser.parse(dateStr)

In [ ]:
c1 = db.restaurants.find( 
                {
                 "grades.date": myDatetime, 
                 "grades.grade":"A" , 
                 "grades.score" : 11
                }, 
                {"restaurant_id" : 1,"name":1,"grades":1}
             );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e6f7'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 3, 14, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 7, 2, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 2, 2, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 8, 24, 0, 0), 'grade': 'A', 'score': 11}], 'name': "Neary'S Pub", 'restaurant_id': '40365871'}
{'_id': ObjectId('611fbf9e1aac54792e00e7d0'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 12, 10, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 6, 10, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 6, 8, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 1, 25, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 9, 13, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Don Filippo Restaurant', 'restaurant_id': '40372417'}
{'_id': ObjectId('611fbf9e1aac54792e00eb97'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 8, 29, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 25, 0, 0), 'grade': 'C', 'score': 2}, {'date': datetime.datetime(2012, 10, 23, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 4, 16, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 11, 15, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Mustang Sally'S Restaurant", 'restaurant_id': '40397374'}
{'_id': ObjectId('611fbf9e1aac54792e00eda4'), 'grades': [{'date': datetime.datetime(2015, 1, 12, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 2, 7, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Club Macanudo (Cigar Bar)', 'restaurant_id': '40526406'}
{'_id': ObjectId('611fbf9e1aac54792e00ee9a'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 1, 9, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2013, 6, 11, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 10, 9, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2012, 5, 10, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Marino'S Pizza & Restaurant", 'restaurant_id': '40560917'}
{'_id': ObjectId('611fbf9f1aac54792e00f0f7'), 'grades': [{'date': datetime.datetime(2015, 1, 5, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 3, 4, 0, 0), 'grade': 'B', 'score': 22}, {'date': datetime.datetime(2013, 9, 13, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 1, 16, 0, 0), 'grade': 'A', 'score': 11}], 'name': "Gene'S Coffee Shop", 'restaurant_id': '40614916'}
{'_id': ObjectId('611fbf9f1aac54792e00f266'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 2, 20, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 8, 29, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 3, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 7, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 11, 18, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'P', 'score': 4}], 'name': 'Union Cafe Restaurant', 'restaurant_id': '40698823'}
{'_id': ObjectId('611fbf9f1aac54792e00f7ac'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 8, 28, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 9, 5, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 8, 25, 0, 0), 'grade': 'A', 'score': 7}], 'name': "Jojo'S Pizza", 'restaurant_id': '40892913'}

23. find the restaurant Id, name and grades for those restaurants where 2nd element of grades array contains a grade of "A" and score 9 on an ISODate "2014-08-11T00:00:00Z".

In [ ]:
import dateutil
dateStr = '2014-08-11T00:00:00Z'
myDatetime = dateutil.parser.parse(dateStr)

c1 = db.restaurants.find( 
                      { "grades.1.date": myDatetime, 
                        "grades.1.grade":"A" , 
                        "grades.1.score" : 9
                      }, 
                       {"restaurant_id" : 1,"name":1,"grades":1}
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00eda4'), 'grades': [{'date': datetime.datetime(2015, 1, 12, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 2, 7, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Club Macanudo (Cigar Bar)', 'restaurant_id': '40526406'}

24. find the restaurant Id, name, address and geographical location for those restaurants where 2nd element of coord array contains a value which is more than 42 and upto 52.

In [ ]:
c1 = db.restaurants.find( 
                      { 
                        "address.coord.1": {"$gt" : 42, "$lte" : 52}
                      },
                        {"restaurant_id" : 1,"name":1,"address":1,"coord":1}
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e91b'), 'address': {'building': '47', 'coord': [-78.877224, 42.89546199999999], 'street': 'Broadway @ Trinity Pl', 'zipcode': '10006'}, 'name': "T.G.I. Friday'S", 'restaurant_id': '40387990'}
{'_id': ObjectId('611fbf9e1aac54792e00e948'), 'address': {'building': '1', 'coord': [-0.7119979, 51.6514664], 'street': 'Pennplaza E, Penn Sta', 'zipcode': '10001'}, 'name': 'T.G.I. Fridays', 'restaurant_id': '40388936'}
{'_id': ObjectId('611fbf9e1aac54792e00ec9e'), 'address': {'building': '3000', 'coord': [-87.86567699999999, 42.61150920000001], 'street': '47 Avenue', 'zipcode': '11101'}, 'name': "Di Luvio'S Deli", 'restaurant_id': '40402284'}
{'_id': ObjectId('611fbf9e1aac54792e00eed7'), 'address': {'building': '21972199', 'coord': [-78.589606, 42.8912372], 'street': 'Broadway', 'zipcode': '10024'}, 'name': 'La Caridad 78', 'restaurant_id': '40568285'}
{'_id': ObjectId('611fbf9f1aac54792e00f734'), 'address': {'building': '7981', 'coord': [-84.9751215, 45.4713351], 'street': 'Hoyt Street', 'zipcode': '11201'}, 'name': "Bijan'S", 'restaurant_id': '40876618'}
{'_id': ObjectId('611fbf9f1aac54792e00f74b'), 'address': {'building': '0', 'coord': [-88.0778799, 42.4154769], 'street': '& Grand Central', 'zipcode': '10017'}, 'name': 'Hyatt, Ny Central/Room Service', 'restaurant_id': '40879243'}
{'_id': ObjectId('611fbf9f1aac54792e00f761'), 'address': {'building': '60', 'coord': [-111.9975205, 42.0970258], 'street': 'West Side Highway', 'zipcode': '10006'}, 'name': 'Sports Center At Chelsea Piers (Sushi Bar)', 'restaurant_id': '40882356'}

25. arrange the name of the restaurants in ascending order along with all the columns. <hr>

https://stackoverflow.com/questions/57778658/typeerror-if-no-direction-is-specified-key-or-list-must-be-an-instance-of-list

In [ ]:
c1 = db.restaurants.find().sort("name", 1).limit(10);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9f1aac54792e00f595'), 'address': {'building': '129', 'coord': [-73.962943, 40.685007], 'street': 'Gates Avenue', 'zipcode': '11238'}, 'borough': 'Brooklyn', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 3, 6, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 8, 29, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 3, 8, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 6, 27, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2011, 11, 17, 0, 0), 'grade': 'A', 'score': 12}], 'name': '(Lewis Drug Store) Locanda Vini E Olii', 'restaurant_id': '40804423'}
{'_id': ObjectId('611fbf9e1aac54792e00e67d'), 'address': {'building': '1', 'coord': [-73.96926909999999, 40.7685235], 'street': 'East   66 Street', 'zipcode': '10065'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 5, 7, 0, 0), 'grade': 'A', 'score': 3}, {'date': datetime.datetime(2013, 5, 3, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2011, 12, 27, 0, 0), 'grade': 'A', 'score': 0}], 'name': '1 East 66Th Street Kitchen', 'restaurant_id': '40359480'}
{'_id': ObjectId('611fbf9f1aac54792e00f04d'), 'address': {'building': '10016', 'coord': [-73.8216636, 40.5838155], 'street': 'Rockaway Beach Boulevard', 'zipcode': '11694'}, 'borough': 'Queens', 'cuisine': 'Delicatessen', 'grades': [{'date': datetime.datetime(2014, 1, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 8, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 6, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 3, 1, 0, 0), 'grade': 'A', 'score': 12}], 'name': '101 Deli', 'restaurant_id': '40591271'}
{'_id': ObjectId('611fbf9e1aac54792e00ee8e'), 'address': {'building': '10018', 'coord': [-74.0343092, 40.6125569], 'street': '4 Avenue', 'zipcode': '11209'}, 'borough': 'Brooklyn', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 12, 1, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 11, 29, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 6, 3, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 6, 5, 0, 0), 'grade': 'B', 'score': 15}, {'date': datetime.datetime(2012, 1, 10, 0, 0), 'grade': 'A', 'score': 10}], 'name': '101 Restaurant And Bar', 'restaurant_id': '40560108'}
{'_id': ObjectId('611fbf9e1aac54792e00ec56'), 'address': {'building': '1020', 'coord': [-73.96396419999999, 40.8032642], 'street': 'Amsterdam Avenue', 'zipcode': '10025'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 12, 27, 0, 0), 'grade': 'C', 'score': 38}], 'name': '1020 Bar', 'restaurant_id': '40401104'}
{'_id': ObjectId('611fbf9f1aac54792e00f149'), 'address': {'building': '10401', 'coord': [-73.9004264, 40.6520939], 'street': 'Foster Avenue', 'zipcode': '11236'}, 'borough': 'Brooklyn', 'cuisine': 'Caf/Coffee/Tea', 'grades': [{'date': datetime.datetime(2014, 12, 8, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2014, 4, 8, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2013, 3, 7, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 4, 0, 0), 'grade': 'A', 'score': 8}], 'name': '104-01 Foster Avenue Coffee Shop(Ups)', 'restaurant_id': '40639261'}
{'_id': ObjectId('611fbf9f1aac54792e00f1f5'), 'address': {'building': '256', 'coord': [-73.998993, 40.74718060000001], 'street': '10Th Ave Bet 24 & 25 St )', 'zipcode': '10001'}, 'borough': 'Manhattan', 'cuisine': 'Pizza', 'grades': [{'date': datetime.datetime(2014, 11, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 5, 31, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 12, 14, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 7, 9, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 2, 3, 0, 0), 'grade': 'A', 'score': 9}], 'name': '10Th Avenue Pizza & Cafe', 'restaurant_id': '40673117'}
{'_id': ObjectId('611fbf9f1aac54792e00f770'), 'address': {'building': '0', 'coord': [-73.7889689, 40.6433507], 'street': 'Central Taxi Hold', 'zipcode': '11430'}, 'borough': 'Queens', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 3, 6, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 9, 18, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 8, 21, 0, 0), 'grade': 'A', 'score': 3}, {'date': datetime.datetime(2012, 2, 6, 0, 0), 'grade': 'B', 'score': 15}], 'name': '111 Restaurant', 'restaurant_id': '40884354'}
{'_id': ObjectId('611fbf9f1aac54792e00f268'), 'address': {'building': '15', 'coord': [-73.9921155, 40.7364657], 'street': 'East   15 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Japanese', 'grades': [{'date': datetime.datetime(2014, 6, 28, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 22, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 3, 22, 0, 0), 'grade': 'C', 'score': 64}, {'date': datetime.datetime(2012, 7, 5, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 2, 3, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 6, 30, 0, 0), 'grade': 'A', 'score': 10}], 'name': '15 East Restaurant', 'restaurant_id': '40698892'}
{'_id': ObjectId('611fbf9e1aac54792e00e8cc'), 'address': {'building': '200', 'coord': [-73.9804898, 40.6768216], 'street': '5 Avenue', 'zipcode': '11217'}, 'borough': 'Brooklyn', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 7, 3, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2013, 10, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 3, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 8, 7, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'C', 'score': 42}, {'date': datetime.datetime(2011, 10, 13, 0, 0), 'grade': 'A', 'score': 13}], 'name': '200 Fifth Avenue Restaurant & Sports Bar', 'restaurant_id': '40385555'}

26.  arrange the name of the restaurants in descending along with all the columns.

In [ ]:
c1 = db.restaurants.find().sort("name", -1).limit(10);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e736'), 'address': {'building': '6946', 'coord': [-73.8811834, 40.7017759], 'street': 'Myrtle Avenue', 'zipcode': '11385'}, 'borough': 'Queens', 'cuisine': 'German', 'grades': [{'date': datetime.datetime(2014, 9, 24, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 4, 17, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 3, 12, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 10, 2, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 5, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 12, 28, 0, 0), 'grade': 'B', 'score': 24}], 'name': 'Zum Stammtisch', 'restaurant_id': '40367377'}
{'_id': ObjectId('611fbf9f1aac54792e00f4fb'), 'address': {'building': '107109', 'coord': [-73.9744668, 40.731155], 'street': 'Avenue C', 'zipcode': '10009'}, 'borough': 'Manhattan', 'cuisine': 'German', 'grades': [{'date': datetime.datetime(2014, 3, 4, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 8, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 2, 27, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 6, 5, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 12, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 7, 15, 0, 0), 'grade': 'A', 'score': 6}], 'name': 'Zum Schneider', 'restaurant_id': '40763382'}
{'_id': ObjectId('611fbf9f1aac54792e00f73a'), 'address': {'building': '2905', 'coord': [-73.91337299999999, 40.775064], 'street': '23 Avenue', 'zipcode': '11105'}, 'borough': 'Queens', 'cuisine': 'Greek', 'grades': [{'date': datetime.datetime(2014, 9, 29, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2014, 4, 18, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 3, 19, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 3, 0, 0), 'grade': 'B', 'score': 20}, {'date': datetime.datetime(2012, 5, 7, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Zorba'S", 'restaurant_id': '40877247'}
{'_id': ObjectId('611fbf9f1aac54792e00f57f'), 'address': {'building': '305', 'coord': [-73.94830499999999, 40.781662], 'street': 'East 92 Street', 'zipcode': '10128'}, 'borough': 'Manhattan', 'cuisine': 'Brazilian', 'grades': [{'date': datetime.datetime(2015, 1, 9, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 7, 16, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 4, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 21, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Zebu Grill', 'restaurant_id': '40800325'}
{'_id': ObjectId('611fbf9e1aac54792e00ebac'), 'address': {'building': '29', 'coord': [-73.86119219999999, 40.8338023], 'street': 'Hugh Grant Circle', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 8, 27, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 9, 10, 0, 0), 'grade': 'A', 'score': 0}, {'date': datetime.datetime(2013, 5, 7, 0, 0), 'grade': 'C', 'score': 2}, {'date': datetime.datetime(2013, 3, 23, 0, 0), 'grade': 'P', 'score': 13}, {'date': datetime.datetime(2012, 10, 24, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 11, 1, 0, 0), 'grade': 'A', 'score': 13}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40397863'}
{'_id': ObjectId('611fbf9e1aac54792e00ed28'), 'address': {'building': '1', 'coord': [-76.878256, 40.26205], 'street': 'Pennsylvania Station (Amtrack)', 'zipcode': '10001'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 2, 7, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 2, 11, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 9, 18, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 4, 5, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2011, 11, 17, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2011, 7, 5, 0, 0), 'grade': 'A', 'score': 4}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40510389'}
{'_id': ObjectId('611fbf9e1aac54792e00ed53'), 'address': {'building': '89', 'coord': [-73.97729919999999, 40.7524958], 'street': 'East   42 Street', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 12, 23, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2014, 1, 13, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2013, 1, 23, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2012, 8, 20, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 3, 30, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40512617'}
{'_id': ObjectId('611fbf9f1aac54792e00f029'), 'address': {'building': '89', 'coord': [-73.97729919999999, 40.7524958], 'street': 'East   42 Street', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 12, 11, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 17, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 6, 26, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 1, 29, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 7, 16, 0, 0), 'grade': 'A', 'score': 13}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40586000'}
{'_id': ObjectId('611fbf9f1aac54792e00f3e1'), 'address': {'building': '2', 'coord': [-73.992255, 40.749712], 'street': 'Penn Plaza', 'zipcode': '10121'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 2, 18, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 1, 22, 0, 0), 'grade': 'A', 'score': 3}, {'date': datetime.datetime(2012, 3, 21, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 9, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 7, 25, 0, 0), 'grade': 'B', 'score': 18}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40750766'}
{'_id': ObjectId('611fbf9e1aac54792e00ece8'), 'address': {'building': '89', 'coord': [-73.97729919999999, 40.7524958], 'street': 'East   42 Street', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 9, 29, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 9, 14, 0, 0), 'grade': 'A', 'score': 10}], 'name': "Zaro'S Bakery", 'restaurant_id': '40423705'}

28. Write a MongoDB query to know whether all the addresses contains the street or not.

In [ ]:
c1 = db.restaurants.find(
                     {"address.street" : 
                         { "$exists" : "true" } 
                     } 
                   );
#for crnt in c1:
#    print(crnt)

29. Write a MongoDB query which will select all documents in the restaurants collection where the coord field value is Double.

In [ ]:
c1 = db.restaurants.find(
                    {"address.coord" : 
                       {"$type" : 1}
                    }
                   );
#for crnt in c1:
#    print(crnt)

30. select the restaurant Id, name and grades for those restaurants which returns 0 as a remainder after dividing the score by 7.

In [ ]:
c1 = db.restaurants.find(
                      {"grades.score" :
                         {"$mod" : [7,0]}
                      },
                         {"restaurant_id" : 1,"name":1,"grades":1}
                    );
#for crnt in c1:
#    print(crnt)

31. find the restaurant name, borough, longitude and attitude and cuisine for those restaurants which contains 'mon' as three letters somewhere in its name.

In [ ]:
c1 = db.restaurants.find(
                   { "name" : 
                     { "$regex" : "mon.*", "$options": "i" } 
                   },
                       {
                         "name":1,
                         "borough":1,
                         "address.coord":1,
                         "cuisine" :1
                        }
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00e70b'), 'address': {'coord': [-73.98306099999999, 40.7441419]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': "Desmond'S Tavern"}
{'_id': ObjectId('611fbf9e1aac54792e00e714'), 'address': {'coord': [-73.8221418, 40.7272376]}, 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'name': 'Shimons Kosher Pizza'}
{'_id': ObjectId('611fbf9e1aac54792e00e71f'), 'address': {'coord': [-74.10465599999999, 40.58834]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club'}
{'_id': ObjectId('611fbf9e1aac54792e00e74b'), 'address': {'coord': [-73.9812843, 40.5947365]}, 'borough': 'Brooklyn', 'cuisine': 'Pizza/Italian', 'name': 'Lb Spumoni Gardens'}
{'_id': ObjectId('611fbf9e1aac54792e00e79c'), 'address': {'coord': [-73.951199, 40.7166026]}, 'borough': 'Brooklyn', 'cuisine': 'Italian', 'name': "Bamonte'S Restaurant"}
{'_id': ObjectId('611fbf9e1aac54792e00e7d4'), 'address': {'coord': [-73.924072, 40.76108900000001]}, 'borough': 'Queens', 'cuisine': 'Greek', 'name': 'Omonia Cafe'}
{'_id': ObjectId('611fbf9e1aac54792e00e825'), 'address': {'coord': [-74.0023353, 40.7333573]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Manhattan Monster'}
{'_id': ObjectId('611fbf9e1aac54792e00e854'), 'address': {'coord': [-74.001094, 40.729583]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'name': "Monte'S"}
{'_id': ObjectId('611fbf9e1aac54792e00e858'), 'address': {'coord': [-73.9901605, 40.7526176]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': "Delmonico'S Kitchen"}
{'_id': ObjectId('611fbf9e1aac54792e00e86e'), 'address': {'coord': [-73.9979536, 40.6914024]}, 'borough': 'Brooklyn', 'cuisine': 'Bottled beverages, including water, sodas, juices, etc.', 'name': 'Montero Bar & Grill'}
{'_id': ObjectId('611fbf9e1aac54792e00e9fd'), 'address': {'coord': [-73.9707505, 40.7635651]}, 'borough': 'Manhattan', 'cuisine': 'Delicatessen', 'name': 'Delmonico Gourmet'}
{'_id': ObjectId('611fbf9e1aac54792e00eb63'), 'address': {'coord': [-73.9760637, 40.7508686]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Delmonico Gourmet'}
{'_id': ObjectId('611fbf9e1aac54792e00eb78'), 'address': {'coord': [-73.9705633, 40.7605759]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'name': 'Montebello Restaurant'}
{'_id': ObjectId('611fbf9e1aac54792e00ec0f'), 'address': {'coord': [-74.1914658, 40.55274360000001]}, 'borough': 'Staten Island', 'cuisine': 'Italian', 'name': 'Villa Monte Pizzeria'}
{'_id': ObjectId('611fbf9e1aac54792e00ecbb'), 'address': {'coord': [-73.97198209999999, 40.764464]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Harmonie Club'}
{'_id': ObjectId('611fbf9e1aac54792e00ed82'), 'address': {'coord': [-73.79571990000001, 40.7095637]}, 'borough': 'Queens', 'cuisine': 'Bakery', 'name': "Ramona'S Bakery"}
{'_id': ObjectId('611fbf9e1aac54792e00edb6'), 'address': {'coord': [-73.97852100000001, 40.729192]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': "Mona'S"}
{'_id': ObjectId('611fbf9e1aac54792e00edda'), 'address': {'coord': [-73.98463480000001, 40.7630755]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Neil Simon Theatre'}
{'_id': ObjectId('611fbf9e1aac54792e00ee17'), 'address': {'coord': [-73.9938361, 40.6091317]}, 'borough': 'Brooklyn', 'cuisine': 'Bakery', 'name': 'Mondial Bakery'}
{'_id': ObjectId('611fbf9e1aac54792e00ee3e'), 'address': {'coord': [-74.028486, 40.630438]}, 'borough': 'Brooklyn', 'cuisine': 'Mediterranean', 'name': 'Omonia Cafe'}
{'_id': ObjectId('611fbf9e1aac54792e00ee52'), 'address': {'coord': [-73.902048, 40.868898]}, 'borough': 'Bronx', 'cuisine': 'Mexican', 'name': 'Montezuma Restaurant'}
{'_id': ObjectId('611fbf9f1aac54792e00f072'), 'address': {'coord': [-73.9950905, 40.7435489]}, 'borough': 'Manhattan', 'cuisine': 'Japanese', 'name': 'Monster Sushi'}
{'_id': ObjectId('611fbf9f1aac54792e00f0a5'), 'address': {'coord': [-73.9849976, 40.7276766]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Simone Bar Cafe'}
{'_id': ObjectId('611fbf9f1aac54792e00f0fc'), 'address': {'coord': [-73.992991, 40.694197]}, 'borough': 'Brooklyn', 'cuisine': 'Pizza/Italian', 'name': "Monty Q'S"}
{'_id': ObjectId('611fbf9f1aac54792e00f1eb'), 'address': {'coord': [-73.9657651, 40.8056669]}, 'borough': 'Manhattan', 'cuisine': 'French', 'name': 'Le Monde'}
{'_id': ObjectId('611fbf9f1aac54792e00f2da'), 'address': {'coord': [-74.01032339999999, 40.7050156]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'name': 'Delmonicos'}
{'_id': ObjectId('611fbf9f1aac54792e00f521'), 'address': {'coord': [-73.8706606, 40.7342757]}, 'borough': 'Queens', 'cuisine': 'American ', 'name': 'Cinnabon World Famous Cinnamon Rolls'}
{'_id': ObjectId('611fbf9f1aac54792e00f545'), 'address': {'coord': [-73.9640299, 40.807001]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Ferris Booth Commons - Alfred Lerner Hall'}
{'_id': ObjectId('611fbf9f1aac54792e00f59f'), 'address': {'coord': [-74.10465599999999, 40.58834]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club - Pool Snack Bar'}
{'_id': ObjectId('611fbf9f1aac54792e00f5a1'), 'address': {'coord': [-74.1110561, 40.5884772]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club(10Th Hole)'}
{'_id': ObjectId('611fbf9f1aac54792e00f5a2'), 'address': {'coord': [-74.112758, 40.5833299]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club'}
{'_id': ObjectId('611fbf9f1aac54792e00f7b6'), 'address': {'coord': [-73.9410809, 40.7036157]}, 'borough': 'Brooklyn', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'name': "Ramonita'S Restaurant"}

32. find the restaurant name, borough, longitude and latitude and cuisine for those restaurants which contains 'Mad' as first three letters of its name.

In [ ]:
c1 = db.restaurants.find(
                   { "name" : 
                     { "$regex" : "^Mad", } 
                   },
                       {
                         "name":1,
                         "borough":1,
                         "address.coord":1,
                         "cuisine" :1
                        }
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('611fbf9e1aac54792e00ecb3'), 'address': {'coord': [-73.9860597, 40.7431194]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Madison Square'}
{'_id': ObjectId('611fbf9e1aac54792e00ed83'), 'address': {'coord': [-73.98302199999999, 40.742313]}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'name': 'Madras Mahal'}
{'_id': ObjectId('611fbf9f1aac54792e00f0e7'), 'address': {'coord': [-74.000002, 40.72735]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Madame X'}
{'_id': ObjectId('611fbf9f1aac54792e00f197'), 'address': {'coord': [-73.98171959999999, 40.7499406]}, 'borough': 'Manhattan', 'cuisine': 'French', 'name': 'Madison Bistro'}
{'_id': ObjectId('611fbf9f1aac54792e00f222'), 'address': {'coord': [-73.9717845, 40.6897199]}, 'borough': 'Brooklyn', 'cuisine': 'African', 'name': 'Madiba'}
{'_id': ObjectId('611fbf9f1aac54792e00f5fb'), 'address': {'coord': [-73.9040753, 40.9069011]}, 'borough': 'Bronx', 'cuisine': 'Italian', 'name': "Madison'S"}
{'_id': ObjectId('611fbf9f1aac54792e00f67b'), 'address': {'coord': [-73.9886598, 40.7565811]}, 'borough': 'Manhattan', 'cuisine': 'Hotdogs', 'name': "Madame Tussaud'S"}
{'_id': ObjectId('611fbf9f1aac54792e00f6b2'), 'address': {'coord': [-73.95623719999999, 40.7761697]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Mad River Bar & Grille'}

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)