<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_D2_MongoDB_Local_Complex_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Purpose
Here we demonstrate two things 


1.   How to connect to a local mongodb
2.   How to load bulk data and execute complex queries

Some output has been suppressed by commenting out the printcommands in certain cells. This was necessary to reduce the size of the file for upload to github

Additional Material https://github.com/giffy/MongoDB_PyMongo_Tutorial

In [1]:
from datetime import datetime
import pytz
print('Tested on ',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

Tested on  2023-05-29 14:14:02.137928+05:30
Python 3.10.11
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.5 LTS
Release:	20.04
Codename:	focal

#Install MongoDB

In [2]:
!pip -qq install pymongo                                    # Required for Mongo client
!apt install mongodb > /dev/null

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 9.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 25.5 MB/s eta 0:00:00

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [3]:
from pymongo import MongoClient
import pandas as pd
import dateutil

In [4]:
#Local Server Need Not be started for Remote Operations
!service mongodb start

 * Starting database mongodb
   ...done.

### Test Connection

In [5]:
#mongoURI = rMongoURI                                   # for remote server
mongoURI = "mongodb://localhost:27017/"                 # for local server
#client = MongoClient(mongoURI, server_api=ServerApi('1'))
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local']

In [11]:
#db = client.PraxisDB
#db = client.test
db = client.PraxisDB
db.list_collection_names()

['restaurants']

In [12]:
table = db.restaurants
table.count_documents({})

3772

In [8]:
# Delete collection
db.drop_collection('restaurants')

{'ok': 0.0,
 'errmsg': 'ns not found',
 'code': 26,
 'codeName': 'NamespaceNotFound'}

#MongoDB Exercise <br>
Exercise : https://docs.google.com/document/d/1q0PyJL6EgMG1V5G8mmPre8Ypq9N9dX-PRLixAHiphd8/edit?usp=sharing <br>

Data : restaurant.json https://drive.google.com/file/d/14sYJM2KwIpDRsAAk6YkapMTwLnLuBcb_/view?usp=sharing <br>

For more detailed examples, see https://colab.research.google.com/github/Giffy/MongoDB_PyMongo_Tutorial/blob/master/1_1_First_steps_with_MongoDB_PyMongo.ipynb

##Get Data

In [9]:
#!gdown https://drive.google.com/uc?id=14sYJM2KwIpDRsAAk6YkapMTwLnLuBcb_
#!gdown 14sYJM2KwIpDRsAAk6YkapMTwLnLuBcb_
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/4130bfe8fb17529bbeae32351dab982b4a8b53ea/data/restaurants.json

##Load Data

In [10]:
# the restaurants.json file is available in my GDrive
# Local Server
!mongoimport --db PraxisDB --collection restaurants --drop --file restaurants.json
# Remote Server
# mongoimport --host "hostname" --port "port" --db "databasename" --collection "collectionName" --file "filePath"
# the python variables need to be placed in {}
#!mongoimport --host "{rhostName}" --port "27017" --db "{rdbName}" --collection "restaurants"  --drop --file "restaurants.json" -u "{ruserName}" -p "{rpassWord}" --- THIS DOES NOT WORK
#!mongoimport --uri "{rMongoURI}"  --collection "restaurants"  --drop --file "restaurants.json"



# https://stackoverflow.com/questions/63224330/where-do-i-find-my-dbname-for-mongodb-connection-string
#mongoURI2 = mongoURI
#print(mongoURI)
#mongoURI2 = mongoURI.replace("/?retryWrites=true&w=majority","/PraxisDB?")
#print(mongoURI2)
#!mongoimport --uri "{mongoURI2}"  --collection "restaurants"  --drop --file "restaurants.json"

2023-05-29T08:50:27.818+0000	connected to: localhost
2023-05-29T08:50:27.818+0000	dropping: PraxisDB.restaurants
2023-05-29T08:50:28.266+0000	imported 3772 documents

##Data Access & Manipulation

In [13]:
#mongoURI = "mongodb://localhost:27017/"    # local
#mongoURI = rMongoURI                        # remote
client = MongoClient(mongoURI)
client.list_database_names()

['PraxisDB', 'admin', 'config', 'local']

In [14]:
#db = client.PraxisDB
#db = client.btncgfi3a5bxyea
db = client.PraxisDB
db.list_collection_names()

['restaurants']

In [15]:
table = db.restaurants
table.count_documents({})

3772

# 32 Diverse Queries

1. display all the documents in the collection restaurants

In [ ]:
c1 = db.restaurants.find().limit(3)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc4e6'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'_id': ObjectId('6472c913a9e8eff3f21dc4e7'), 'address': {'building': '1007', 'coord': [-73.856077, 40.848447], 'street': 'Morris Park Ave', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}], 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'_id': ObjectId('6472c913a9e8eff3f21dc4e8'), 'address': {'building': '351', 'coord': [-73.98513559999999, 40.7676919], 'street': 'West   57 Street', 'zipcode': '10019'}, 'borough': 'Manhattan', 'cuisine': 'Irish', 'grades': [{'date': datetime.datetime(2014, 9, 6, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 7, 31, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 12, 29, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}

2. display the fields restaurant_id, name, borough and cuisine for all the documents in the collection restaurant.

In [ ]:
c1 = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1}).limit(3)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc4e6'), 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'_id': ObjectId('6472c913a9e8eff3f21dc4e7'), 'borough': 'Bronx', 'cuisine': 'Bakery', 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'_id': ObjectId('6472c913a9e8eff3f21dc4e8'), 'borough': 'Manhattan', 'cuisine': 'Irish', 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}

3. display the fields restaurant_id, name, borough and cuisine, but exclude the field _id for all the documents in the collection restaurant.

In [ ]:
c1 = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1,"_id":0}).limit(3)
for crnt in c1:
    print(crnt)

{'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'borough': 'Bronx', 'cuisine': 'Bakery', 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'borough': 'Manhattan', 'cuisine': 'Irish', 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}

4. display the fields restaurant_id, name, borough and zipcode, but exclude the field _id for all the documents in the collection restaurant.

In [ ]:
table = db.restaurants
c1 = table.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}).limit(3)
for crnt in c1:
    print(crnt)

{'address': {'zipcode': '11225'}, 'borough': 'Brooklyn', 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'address': {'zipcode': '10462'}, 'borough': 'Bronx', 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'address': {'zipcode': '10019'}, 'borough': 'Manhattan', 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}

In [ ]:
#df = pd.DataFrame(list(table.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}).limit(10)))
#df
pd.DataFrame(list(table.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}).limit(10)))

,address,borough,name,restaurant_id
0,{'zipcode': '11225'},Brooklyn,Wendy'S,30112340
1,{'zipcode': '10462'},Bronx,Morris Park Bake Shop,30075445
2,{'zipcode': '10019'},Manhattan,Dj Reynolds Pub And Restaurant,30191841
3,{'zipcode': '11224'},Brooklyn,Riviera Caterer,40356018
4,{'zipcode': '11374'},Queens,Tov Kosher Kitchen,40356068
5,{'zipcode': '11369'},Queens,Brunos On The Boulevard,40356151
6,{'zipcode': '10314'},Staten Island,Kosher Island,40356442
7,{'zipcode': '11234'},Brooklyn,Wilken'S Fine Food,40356483
8,{'zipcode': '11219'},Brooklyn,Regina Caterers,40356649
9,{'zipcode': '10460'},Bronx,Wild Asia,40357217

5. display all the restaurant which is in the borough Bronx

In [ ]:
c1 = table.find({"borough": "Bronx"}).limit(3)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc4e7'), 'address': {'building': '1007', 'coord': [-73.856077, 40.848447], 'street': 'Morris Park Ave', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}], 'name': 'Morris Park Bake Shop', 'restaurant_id': '30075445'}
{'_id': ObjectId('6472c913a9e8eff3f21dc4ef'), 'address': {'building': '2300', 'coord': [-73.8786113, 40.8502883], 'street': 'Southern Boulevard', 'zipcode': '10460'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}], 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'_id': ObjectId('6472c913a9e8eff3f21dc505'), 'address': {'building': '1006', 'coord': [-73.84856870000002, 40.8903781], 'street': 'East 233 Street', 'zipcode': '10466'}, 'borough': 'Bronx', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'grades': [{'date': datetime.datetime(2014, 4, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 9, 5, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 2, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 7, 3, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 7, 11, 0, 0), 'grade': 'A', 'score': 5}], 'name': 'Carvel Ice Cream', 'restaurant_id': '40363093'}

In [ ]:
df = pd.DataFrame(list(table.find({"borough": "Bronx"}).limit(3)))
df

,_id,address,borough,cuisine,grades,name,restaurant_id
0,6472c913a9e8eff3f21dc4e7,"{'building': '1007', 'coord': [-73.856077, 40....",Bronx,Bakery,"[{'date': 2014-03-03 00:00:00, 'grade': 'A', '...",Morris Park Bake Shop,30075445
1,6472c913a9e8eff3f21dc4ef,"{'building': '2300', 'coord': [-73.8786113, 40...",Bronx,American,"[{'date': 2014-05-28 00:00:00, 'grade': 'A', '...",Wild Asia,40357217
2,6472c913a9e8eff3f21dc505,"{'building': '1006', 'coord': [-73.84856870000...",Bronx,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-04-24 00:00:00, 'grade': 'A', '...",Carvel Ice Cream,40363093

7. display the next 5 restaurants after skipping first 5 which are in the borough Bronx.

In [ ]:
pd.DataFrame(list(table.find({"borough": "Bronx"}).skip(5).limit(3)))

,_id,address,borough,cuisine,grades,name,restaurant_id
0,6472c913a9e8eff3f21dc523,"{'building': '658', 'coord': [-73.813639999999...",Bronx,American,"[{'date': 2014-06-21 00:00:00, 'grade': 'A', '...",Manhem Club,40364363
1,6472c913a9e8eff3f21dc53d,"{'building': '2222', 'coord': [-73.84971759999...",Bronx,American,"[{'date': 2014-12-18 00:00:00, 'grade': 'A', '...",The New Starling Athletic Club Of The Bronx,40364956
2,6472c913a9e8eff3f21dc553,"{'building': '72', 'coord': [-73.92506, 40.827...",Bronx,American,"[{'date': 2014-04-15 00:00:00, 'grade': 'A', '...",Yankee Tavern,40365499

8. find the restaurants who achieved a score more than 90. <hr>
https://stackoverflow.com/questions/68772027/mongodb-with-python-on-google-colab-syntax-error-on-elemmatch/68796638#68796638

In [ ]:
c1 = db.restaurants.find({"grades" : { "$elemMatch":{"score":{"$gt" : 90}}}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc645'), 'address': {'building': '65', 'coord': [-73.9782725, 40.7624022], 'street': 'West   54 Street', 'zipcode': '10019'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 8, 22, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 3, 28, 0, 0), 'grade': 'C', 'score': 131}, {'date': datetime.datetime(2013, 9, 25, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 4, 8, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 15, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 10, 19, 0, 0), 'grade': 'A', 'score': 13}], 'name': "Murals On 54/Randolphs'S", 'restaurant_id': '40372466'}
{'_id': ObjectId('6472c913a9e8eff3f21dc6e4'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('6472c913a9e8eff3f21dc848'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}

In [ ]:
c1 = db.restaurants.find({"grades" : { "$elemMatch":{"score":{"$gt" : 90}}}},{"name":1,"borough":1,"address.zipcode" :1,"_id":0})
for crnt in c1:
    print(crnt)

{'address': {'zipcode': '10019'}, 'borough': 'Manhattan', 'name': "Murals On 54/Randolphs'S"}
{'address': {'zipcode': '10003'}, 'borough': 'Manhattan', 'name': 'Gandhi'}
{'address': {'zipcode': '10016'}, 'borough': 'Manhattan', 'name': 'Bella Napoli'}

9. find the restaurants that achieved a score, more than 80 but less than 100.

In [ ]:
c1 = db.restaurants.find({"grades" : { "$elemMatch":{"score":{"$gt" : 80 , "$lt" :100}}}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc6e4'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('6472c913a9e8eff3f21dc848'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd0b3'), 'address': {'building': '', 'coord': [-74.0163793, 40.7167671], 'street': 'Hudson River', 'zipcode': '10282'}, 'borough': 'Manhattan', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 27, 0, 0), 'grade': 'C', 'score': 89}, {'date': datetime.datetime(2013, 6, 6, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2012, 6, 19, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'West 79Th Street Boat Basin Cafe', 'restaurant_id': '40756344'}

10. find the restaurants which locates in latitude value less than -95.754168.

In [ ]:
c1 = db.restaurants.find({"address.coord" : {"$lt" : -95.754168}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c917a9e8eff3f21dcb2f'), 'address': {'building': '3707', 'coord': [-101.8945214, 33.5197474], 'street': '82 Street', 'zipcode': '11372'}, 'borough': 'Queens', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 6, 4, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 11, 7, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2013, 5, 17, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 8, 29, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 4, 3, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 11, 16, 0, 0), 'grade': 'A', 'score': 7}], 'name': 'Burger King', 'restaurant_id': '40534067'}
{'_id': ObjectId('6472c91ba9e8eff3f21dce99'), 'address': {'building': '15259', 'coord': [-119.6368672, 36.2504996], 'street': '10 Avenue', 'zipcode': '11357'}, 'borough': 'Queens', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 9, 4, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 3, 26, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 3, 4, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 9, 27, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 20, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'C', 'score': 34}], 'name': "Cascarino'S", 'restaurant_id': '40668681'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd33f'), 'address': {'building': '60', 'coord': [-111.9975205, 42.0970258], 'street': 'West Side Highway', 'zipcode': '10006'}, 'borough': 'Manhattan', 'cuisine': 'Japanese', 'grades': [{'date': datetime.datetime(2014, 3, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 6, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 7, 5, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 7, 27, 0, 0), 'grade': 'A', 'score': 2}], 'name': 'Sports Center At Chelsea Piers (Sushi Bar)', 'restaurant_id': '40882356'}

11. find the restaurants that does not prepare any cuisine of 'American' and their grade score more than 70 and latitude less than -65.754168.

In [ ]:
c1 = db.restaurants.find(
               {"$and":
                    [
                       {"cuisine" : {"$ne" :"American "}},
                       {"grades.score" : {"$gt" : 70}},
                       {"address.coord" : {"$lt" : -65.754168}}
                    ]
                },
                {"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0}
                    );
for crnt in c1:
    print(crnt)

{'address': {'zipcode': '10003'}, 'borough': 'Manhattan', 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'address': {'zipcode': '10016'}, 'borough': 'Manhattan', 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'address': {'zipcode': '10451'}, 'borough': 'Bronx', 'name': 'El Molino Rojo Restaurant', 'restaurant_id': '40393688'}
{'address': {'zipcode': '11211'}, 'borough': 'Brooklyn', 'name': 'Fortunato Bros Cafe & Bakery', 'restaurant_id': '40400561'}
{'address': {'zipcode': '10017'}, 'borough': 'Manhattan', 'name': 'Two Boots Grand Central', 'restaurant_id': '40725591'}

In [ ]:
whereCond = {"$and":
                    [
                       {"cuisine" : {"$ne" :"American "}},
                       {"grades.score" : {"$gt" : 70}},
                       {"address.coord" : {"$lt" : -65.754168}}
                    ]
                }
selFields = {
    "restaurant_id" : 1,
    "name":1,
    "borough":1,
    "address.zipcode" :1,
    "_id":0}

df = pd.DataFrame(db.restaurants.find(whereCond,selFields))
df

                address    borough                          name restaurant_id
0  {'zipcode': '10003'}  Manhattan                        Gandhi      40381295
1  {'zipcode': '10016'}  Manhattan                  Bella Napoli      40393488
2  {'zipcode': '10451'}      Bronx     El Molino Rojo Restaurant      40393688
3  {'zipcode': '11211'}   Brooklyn  Fortunato Bros Cafe & Bakery      40400561
4  {'zipcode': '10017'}  Manhattan       Two Boots Grand Central      40725591

In [ ]:
c1 = db.restaurants.find(
               {"$and":
                    [
                       {"cuisine" : {"$ne" :"American "}},
                       {"grades.score" : {"$gt" : 70}},
                       {"address.coord" : {"$lt" : -65.754168}}
                    ]
                }
                    );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc6e4'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('6472c913a9e8eff3f21dc848'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'_id': ObjectId('6472c913a9e8eff3f21dc853'), 'address': {'building': '101', 'coord': [-73.9243061, 40.8276297], 'street': 'East 161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'grades': [{'date': datetime.datetime(2014, 4, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 1, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 4, 11, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 25, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'P', 'score': 12}, {'date': datetime.datetime(2012, 5, 25, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2011, 9, 14, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2011, 4, 25, 0, 0), 'grade': 'C', 'score': 76}], 'name': 'El Molino Rojo Restaurant', 'restaurant_id': '40393688'}
{'_id': ObjectId('6472c917a9e8eff3f21dc9a4'), 'address': {'building': '289', 'coord': [-73.94610279999999, 40.7137587], 'street': 'Manhattan Avenue', 'zipcode': '11211'}, 'borough': 'Brooklyn', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 5, 7, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 9, 11, 0, 0), 'grade': 'B', 'score': 18}, {'date': datetime.datetime(2012, 4, 18, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 9, 27, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 5, 3, 0, 0), 'grade': 'C', 'score': 77}], 'name': 'Fortunato Bros Cafe & Bakery', 'restaurant_id': '40400561'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcfcd'), 'address': {'building': '231', 'coord': [-73.9772294, 40.7527262], 'street': 'Grand Central Station', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2015, 1, 7, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2014, 7, 3, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2013, 12, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 5, 17, 0, 0), 'grade': 'C', 'score': 76}, {'date': datetime.datetime(2012, 4, 20, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Two Boots Grand Central', 'restaurant_id': '40725591'}

12. find the restaurants which does not prepare any cuisine of 'American' and achieved a score more than 70 and not located in the longitude less than -65.754168.
Note : Do this query without using $and operator.

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" : {"$ne" : "American "},
                             "grades.score" :{"$gt": 70},
                             "address.coord" : {"$lt" : -65.754168}
                            }
                      });
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc6e4'), 'address': {'building': '345', 'coord': [-73.9864626, 40.7266739], 'street': 'East 6 Street', 'zipcode': '10003'}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2}, {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92}, {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}], 'name': 'Gandhi', 'restaurant_id': '40381295'}
{'_id': ObjectId('6472c913a9e8eff3f21dc848'), 'address': {'building': '130', 'coord': [-73.984758, 40.7457939], 'street': 'Madison Avenue', 'zipcode': '10016'}, 'borough': 'Manhattan', 'cuisine': 'Pizza/Italian', 'grades': [{'date': datetime.datetime(2014, 12, 24, 0, 0), 'grade': 'Z', 'score': 31}, {'date': datetime.datetime(2014, 6, 17, 0, 0), 'grade': 'C', 'score': 98}, {'date': datetime.datetime(2013, 12, 12, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 5, 22, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2012, 5, 2, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Bella Napoli', 'restaurant_id': '40393488'}
{'_id': ObjectId('6472c913a9e8eff3f21dc853'), 'address': {'building': '101', 'coord': [-73.9243061, 40.8276297], 'street': 'East 161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'grades': [{'date': datetime.datetime(2014, 4, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 1, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 4, 11, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 25, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'P', 'score': 12}, {'date': datetime.datetime(2012, 5, 25, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2011, 9, 14, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2011, 4, 25, 0, 0), 'grade': 'C', 'score': 76}], 'name': 'El Molino Rojo Restaurant', 'restaurant_id': '40393688'}
{'_id': ObjectId('6472c917a9e8eff3f21dc9a4'), 'address': {'building': '289', 'coord': [-73.94610279999999, 40.7137587], 'street': 'Manhattan Avenue', 'zipcode': '11211'}, 'borough': 'Brooklyn', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 5, 7, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 9, 11, 0, 0), 'grade': 'B', 'score': 18}, {'date': datetime.datetime(2012, 4, 18, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 9, 27, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 5, 3, 0, 0), 'grade': 'C', 'score': 77}], 'name': 'Fortunato Bros Cafe & Bakery', 'restaurant_id': '40400561'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcfcd'), 'address': {'building': '231', 'coord': [-73.9772294, 40.7527262], 'street': 'Grand Central Station', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2015, 1, 7, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2014, 7, 3, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2013, 12, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 5, 17, 0, 0), 'grade': 'C', 'score': 76}, {'date': datetime.datetime(2012, 4, 20, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Two Boots Grand Central', 'restaurant_id': '40725591'}

13. find the restaurants which does not prepare any cuisine of 'American ' and achieved a grade point 'A' not belongs to the borough Brooklyn. The document must be displayed according to the cuisine in descending order.

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" : {"$ne" : "American "},
                             "grades.grade" :"A",
                             "borough": "Brooklyn"
                            },
                              "$orderby" : {"cuisine":1}
                      } ,
                      {"name":1,"cuisine":1,"_id":0}
                    );
#for crnt in c1:
#    print(crnt)

14. find the restaurant Id, name, borough and cuisine for those restaurants which contains 'Wil' as first three letters for its name.

In [ ]:
c1 = db.restaurants.find({"name": {"$regex":"^Wil"}})
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc4ed'), 'address': {'building': '7114', 'coord': [-73.9068506, 40.6199034], 'street': 'Avenue U', 'zipcode': '11234'}, 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'grades': [{'date': datetime.datetime(2014, 5, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 8, 3, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 7, 18, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 10, 14, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'_id': ObjectId('6472c913a9e8eff3f21dc4ef'), 'address': {'building': '2300', 'coord': [-73.8786113, 40.8502883], 'street': 'Southern Boulevard', 'zipcode': '10460'}, 'borough': 'Bronx', 'cuisine': 'American ', 'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}], 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd2f6'), 'address': {'building': '605', 'coord': [-73.9020967, 40.81298], 'street': 'Southern Boulevard', 'zipcode': '10455'}, 'borough': 'Bronx', 'cuisine': 'Pizza', 'grades': [{'date': datetime.datetime(2014, 9, 18, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2014, 4, 15, 0, 0), 'grade': 'C', 'score': 32}, {'date': datetime.datetime(2013, 10, 8, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 9, 20, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 5, 7, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2011, 10, 13, 0, 0), 'grade': 'B', 'score': 19}], 'name': 'Wilbel Pizza', 'restaurant_id': '40871979'}

In [ ]:
whereCond = {"name": {"$regex":"^Wil"}}
selFields = {
        "restaurant_id" : 2,
        "name":1,"borough":1,
        "cuisine" :1,
         "_id":0
        }
c1 = db.restaurants.find(whereCond,selFields)
for crnt in c1:
    print(crnt)

{'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'borough': 'Bronx', 'cuisine': 'American ', 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'borough': 'Bronx', 'cuisine': 'Pizza', 'name': 'Wilbel Pizza', 'restaurant_id': '40871979'}

15.  find the restaurant Id, name, borough and cuisine for those restaurants which contains 'ces' as last three letters for its name.

In [ ]:
c1 = db.restaurants.find(
    {"name": {"$regex":"ces$"}},
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c917a9e8eff3f21dc979'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Pieces', 'restaurant_id': '40399910'}
{'_id': ObjectId('6472c917a9e8eff3f21dca39'), 'borough': 'Queens', 'cuisine': 'American ', 'name': 'S.M.R Restaurant Services', 'restaurant_id': '40403857'}
{'_id': ObjectId('6472c917a9e8eff3f21dca3e'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Good Shepherd Services', 'restaurant_id': '40403989'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcef0'), 'borough': 'Queens', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'name': "The Ice Box-Ralph'S Famous Italian Ices", 'restaurant_id': '40690899'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd0f4'), 'borough': 'Brooklyn', 'cuisine': 'Jewish/Kosher', 'name': 'Alices', 'restaurant_id': '40782042'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd310'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Re: Sources', 'restaurant_id': '40876068'}

16. find the restaurant Id, name, borough and cuisine for those restaurants which contains 'Reg' as three letters somewhere in its name.

In [ ]:
c1 = db.restaurants.find(
    {"name": {"$regex":".*Reg.*"}},    
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc4ee'), 'borough': 'Brooklyn', 'cuisine': 'American ', 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'_id': ObjectId('6472c913a9e8eff3f21dc5eb'), 'borough': 'Manhattan', 'cuisine': 'Café/Coffee/Tea', 'name': 'Caffe Reggio', 'restaurant_id': '40369418'}
{'_id': ObjectId('6472c913a9e8eff3f21dc6fa'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Regency Hotel', 'restaurant_id': '40382679'}
{'_id': ObjectId('6472c917a9e8eff3f21dca17'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Regency Whist Club', 'restaurant_id': '40402377'}
{'_id': ObjectId('6472c917a9e8eff3f21dcaf9'), 'borough': 'Queens', 'cuisine': 'American ', 'name': 'Rego Park Cafe', 'restaurant_id': '40523342'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd168'), 'borough': 'Queens', 'cuisine': 'Pizza', 'name': 'Regina Pizza', 'restaurant_id': '40801325'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd37f'), 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Regal Entertainment Group', 'restaurant_id': '40891782'}

17. find the restaurants which belongs to the borough Bronx and prepared either American or Chinese dish.

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" :"Chinese",
                             "borough": "Brooklyn"
                            }
                      } ,
                      {
                        "name":1,"borough":1,
                        "cuisine" :1,
                       "_id":0
                      }
                    );
#for crnt in c1:
#    print(crnt)

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "cuisine" : {"$in" :["Chinese","American "]},
                             "borough": "Brooklyn"
                            }
                      }, 
                      {
                        "name":1,"borough":1,
                        "cuisine" :1,
                       "_id":0
                      }
                    );
#for crnt in c1:
#    print(crnt)

18. find the restaurant Id, name, borough and cuisine for those restaurants which belongs to the borough Staten Island or Queens or Bronxor Brooklyn.

In [ ]:
c1 = db.restaurants.find(
    {"borough" :{"$in" :["Staten Island","Queens"]}},
        {
        #"restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
#for crnt in c1:
#    print(crnt)

19. find the restaurant Id, name, borough and cuisine for those restaurants which are not belonging to the borough Staten Island or Queens or Bronxor Brooklyn.

In [ ]:
c1 = db.restaurants.find(
    {"borough" :{"$nin" :["Staten Island","Queens","Bronx","Brooklyn"]}},
        {
        "restaurant_id" : 1,
        "name":1,"borough":1,
        "cuisine" :1
        }
);
#for crnt in c1:
#    print(crnt)

20. find the restaurant Id, name, borough and cuisine for those restaurants which achieved a score which is not more than 10.

In [ ]:
c1 = db.restaurants.find(
    {"grades.score" : 
        { "$not": {"$gt" : 10}}
    },
    {
    "restaurant_id" : 1,
    "name":1,"borough":1,
    "cuisine" :1
    }
);
#for crnt in c1:
#    print(crnt)

21. find the restaurant Id, name, borough and cuisine for those restaurants which prepared dish except 'American' and 'Chinese' or restaurant's name begins with letter 'Wil'.

In [ ]:
c1 = db.restaurants.find(
{"$or": [
  {"name": {"$regex":"^Wil"}}, 
  {"$and": [
       {"cuisine" : {"$ne" :"American "}}, 
       {"cuisine" : {"$ne" :"Chinese"}}
   ]}
]}
,{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1}
);

#for crnt in c1:
#    print(crnt)

22. find the restaurant Id, name and grades for those restaurants which achieved a grade of "A" and scored 11 on an ISODate "2014-08-11T00:00:00Z" among many of survey dates. <br>
https://stackoverflow.com/questions/43731016/pymongo-name-isodate-is-not-defined

In [ ]:
import dateutil
dateStr = '2014-08-11T00:00:00Z'
myDatetime = dateutil.parser.parse(dateStr)

In [ ]:
c1 = db.restaurants.find( 
                {
                 "grades.date": myDatetime, 
                 "grades.grade":"A" , 
                 "grades.score" : 11
                }, 
                {"restaurant_id" : 1,"name":1,"grades":1}
             );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc563'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 3, 14, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 7, 2, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 2, 2, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 8, 24, 0, 0), 'grade': 'A', 'score': 11}], 'name': "Neary'S Pub", 'restaurant_id': '40365871'}
{'_id': ObjectId('6472c913a9e8eff3f21dc640'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 12, 10, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 6, 10, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 6, 8, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 1, 25, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 9, 13, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Don Filippo Restaurant', 'restaurant_id': '40372417'}
{'_id': ObjectId('6472c917a9e8eff3f21dc906'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 8, 29, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 25, 0, 0), 'grade': 'C', 'score': 2}, {'date': datetime.datetime(2012, 10, 23, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 4, 16, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 11, 15, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Mustang Sally'S Restaurant", 'restaurant_id': '40397374'}
{'_id': ObjectId('6472c917a9e8eff3f21dcb11'), 'grades': [{'date': datetime.datetime(2015, 1, 12, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 2, 7, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Club Macanudo (Cigar Bar)', 'restaurant_id': '40526406'}
{'_id': ObjectId('6472c917a9e8eff3f21dcc06'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 1, 9, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2013, 6, 11, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 10, 9, 0, 0), 'grade': 'B', 'score': 19}, {'date': datetime.datetime(2012, 5, 10, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Marino'S Pizza & Restaurant", 'restaurant_id': '40560917'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcdae'), 'grades': [{'date': datetime.datetime(2015, 1, 5, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 3, 4, 0, 0), 'grade': 'B', 'score': 22}, {'date': datetime.datetime(2013, 9, 13, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 1, 16, 0, 0), 'grade': 'A', 'score': 11}], 'name': "Gene'S Coffee Shop", 'restaurant_id': '40614916'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcf1c'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 2, 20, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 8, 29, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 3, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 7, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 11, 18, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'P', 'score': 4}], 'name': 'Union Cafe Restaurant', 'restaurant_id': '40698823'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd389'), 'grades': [{'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 8, 28, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 9, 5, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 8, 25, 0, 0), 'grade': 'A', 'score': 7}], 'name': "Jojo'S Pizza", 'restaurant_id': '40892913'}

23. find the restaurant Id, name and grades for those restaurants where 2nd element of grades array contains a grade of "A" and score 9 on an ISODate "2014-08-11T00:00:00Z".

In [ ]:
import dateutil
dateStr = '2014-08-11T00:00:00Z'
myDatetime = dateutil.parser.parse(dateStr)

c1 = db.restaurants.find( 
                      { "grades.1.date": myDatetime, 
                        "grades.1.grade":"A" , 
                        "grades.1.score" : 9
                      }, 
                       {"restaurant_id" : 1,"name":1,"grades":1}
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c917a9e8eff3f21dcb11'), 'grades': [{'date': datetime.datetime(2015, 1, 12, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 8, 11, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 2, 7, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Club Macanudo (Cigar Bar)', 'restaurant_id': '40526406'}

24. find the restaurant Id, name, address and geographical location for those restaurants where 2nd element of coord array contains a value which is more than 42 and upto 52.

In [ ]:
c1 = db.restaurants.find( 
                      { 
                        "address.coord.1": {"$gt" : 42, "$lte" : 52}
                      },
                        {"restaurant_id" : 1,"name":1,"address":1,"coord":1}
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc789'), 'address': {'building': '47', 'coord': [-78.877224, 42.89546199999999], 'street': 'Broadway @ Trinity Pl', 'zipcode': '10006'}, 'name': "T.G.I. Friday'S", 'restaurant_id': '40387990'}
{'_id': ObjectId('6472c913a9e8eff3f21dc7b3'), 'address': {'building': '1', 'coord': [-0.7119979, 51.6514664], 'street': 'Pennplaza E, Penn Sta', 'zipcode': '10001'}, 'name': 'T.G.I. Fridays', 'restaurant_id': '40388936'}
{'_id': ObjectId('6472c917a9e8eff3f21dca0c'), 'address': {'building': '3000', 'coord': [-87.86567699999999, 42.61150920000001], 'street': '47 Avenue', 'zipcode': '11101'}, 'name': "Di Luvio'S Deli", 'restaurant_id': '40402284'}
{'_id': ObjectId('6472c917a9e8eff3f21dcc43'), 'address': {'building': '21972199', 'coord': [-78.589606, 42.8912372], 'street': 'Broadway', 'zipcode': '10024'}, 'name': 'La Caridad 78', 'restaurant_id': '40568285'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd315'), 'address': {'building': '7981', 'coord': [-84.9751215, 45.4713351], 'street': 'Hoyt Street', 'zipcode': '11201'}, 'name': "Bijan'S", 'restaurant_id': '40876618'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd32a'), 'address': {'building': '0', 'coord': [-88.0778799, 42.4154769], 'street': '& Grand Central', 'zipcode': '10017'}, 'name': 'Hyatt, Ny Central/Room Service', 'restaurant_id': '40879243'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd33f'), 'address': {'building': '60', 'coord': [-111.9975205, 42.0970258], 'street': 'West Side Highway', 'zipcode': '10006'}, 'name': 'Sports Center At Chelsea Piers (Sushi Bar)', 'restaurant_id': '40882356'}

25. arrange the name of the restaurants in ascending order along with all the columns. <hr>

https://stackoverflow.com/questions/57778658/typeerror-if-no-direction-is-specified-key-or-list-must-be-an-instance-of-list

In [ ]:
c1 = db.restaurants.find({},{"restaurant_id" : 2,"name":1,"_id":0}).sort("name", -1).limit(20);
for crnt in c1:
    print(crnt)

{'name': 'Zum Stammtisch', 'restaurant_id': '40367377'}
{'name': 'Zum Schneider', 'restaurant_id': '40763382'}
{'name': "Zorba'S", 'restaurant_id': '40877247'}
{'name': 'Zebu Grill', 'restaurant_id': '40800325'}
{'name': "Zaro'S Bread Basket", 'restaurant_id': '40510389'}
{'name': "Zaro'S Bread Basket", 'restaurant_id': '40512617'}
{'name': "Zaro'S Bread Basket", 'restaurant_id': '40750766'}
{'name': "Zaro'S Bread Basket", 'restaurant_id': '40586000'}
{'name': "Zaro'S Bread Basket", 'restaurant_id': '40397863'}
{'name': "Zaro'S Bakery", 'restaurant_id': '40686674'}
{'name': "Zaro'S Bakery", 'restaurant_id': '40423705'}
{'name': "Zafi'S Luncheonette", 'restaurant_id': '40371718'}
{'name': 'Yvonne Yvonne Restaurant', 'restaurant_id': '40875849'}
{'name': 'Yura & Company On Madison', 'restaurant_id': '40646987'}
{'name': 'Yummy Kitchen', 'restaurant_id': '40763160'}
{'name': 'Your Bakery', 'restaurant_id': '40529415'}
{'name': 'Yonah Shimmels Knishes', 'restaurant_id': '40544576'}
{'name': 'Yolanda Pizzeria Restaurant', 'restaurant_id': '40594879'}
{'name': "Yip'S", 'restaurant_id': '40388209'}
{'name': 'Yen Yen Restaurant', 'restaurant_id': '40393181'}

26.  arrange the name of the restaurants in descending along with all the columns.

In [ ]:
c1 = db.restaurants.find().sort("name", -1).limit(10);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc5a5'), 'address': {'building': '6946', 'coord': [-73.8811834, 40.7017759], 'street': 'Myrtle Avenue', 'zipcode': '11385'}, 'borough': 'Queens', 'cuisine': 'German', 'grades': [{'date': datetime.datetime(2014, 9, 24, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 4, 17, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 3, 12, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 10, 2, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 5, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 12, 28, 0, 0), 'grade': 'B', 'score': 24}], 'name': 'Zum Stammtisch', 'restaurant_id': '40367377'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd0de'), 'address': {'building': '107109', 'coord': [-73.9744668, 40.731155], 'street': 'Avenue C', 'zipcode': '10009'}, 'borough': 'Manhattan', 'cuisine': 'German', 'grades': [{'date': datetime.datetime(2014, 3, 4, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 8, 21, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 2, 27, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 6, 5, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 12, 20, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 7, 15, 0, 0), 'grade': 'A', 'score': 6}], 'name': 'Zum Schneider', 'restaurant_id': '40763382'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd319'), 'address': {'building': '2905', 'coord': [-73.91337299999999, 40.775064], 'street': '23 Avenue', 'zipcode': '11105'}, 'borough': 'Queens', 'cuisine': 'Greek', 'grades': [{'date': datetime.datetime(2014, 9, 29, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2014, 4, 18, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 3, 19, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 3, 0, 0), 'grade': 'B', 'score': 20}, {'date': datetime.datetime(2012, 5, 7, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Zorba'S", 'restaurant_id': '40877247'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd161'), 'address': {'building': '305', 'coord': [-73.94830499999999, 40.781662], 'street': 'East 92 Street', 'zipcode': '10128'}, 'borough': 'Manhattan', 'cuisine': 'Brazilian', 'grades': [{'date': datetime.datetime(2015, 1, 9, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 7, 16, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 4, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 4, 21, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Zebu Grill', 'restaurant_id': '40800325'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcce1'), 'address': {'building': '89', 'coord': [-73.97729919999999, 40.7524958], 'street': 'East   42 Street', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 12, 11, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 17, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2013, 6, 26, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 1, 29, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 7, 16, 0, 0), 'grade': 'A', 'score': 13}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40586000'}
{'_id': ObjectId('6472c917a9e8eff3f21dc920'), 'address': {'building': '29', 'coord': [-73.86119219999999, 40.8338023], 'street': 'Hugh Grant Circle', 'zipcode': '10462'}, 'borough': 'Bronx', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 8, 27, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 9, 10, 0, 0), 'grade': 'A', 'score': 0}, {'date': datetime.datetime(2013, 5, 7, 0, 0), 'grade': 'C', 'score': 2}, {'date': datetime.datetime(2013, 3, 23, 0, 0), 'grade': 'P', 'score': 13}, {'date': datetime.datetime(2012, 10, 24, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 11, 1, 0, 0), 'grade': 'A', 'score': 13}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40397863'}
{'_id': ObjectId('6472c91ba9e8eff3f21dd092'), 'address': {'building': '2', 'coord': [-73.992255, 40.749712], 'street': 'Penn Plaza', 'zipcode': '10121'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 2, 18, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 1, 22, 0, 0), 'grade': 'A', 'score': 3}, {'date': datetime.datetime(2012, 3, 21, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 9, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 7, 25, 0, 0), 'grade': 'B', 'score': 18}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40750766'}
{'_id': ObjectId('6472c917a9e8eff3f21dca97'), 'address': {'building': '1', 'coord': [-76.878256, 40.26205], 'street': 'Pennsylvania Station (Amtrack)', 'zipcode': '10001'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 2, 7, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 2, 11, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 9, 18, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 4, 5, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2011, 11, 17, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2011, 7, 5, 0, 0), 'grade': 'A', 'score': 4}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40510389'}
{'_id': ObjectId('6472c917a9e8eff3f21dcac1'), 'address': {'building': '89', 'coord': [-73.97729919999999, 40.7524958], 'street': 'East   42 Street', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 12, 23, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2014, 1, 13, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2013, 1, 23, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2012, 8, 20, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 3, 30, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Zaro'S Bread Basket", 'restaurant_id': '40512617'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcee1'), 'address': {'building': '370', 'coord': [-73.9768121, 40.7507385], 'street': 'Lexington Avenue', 'zipcode': '10017'}, 'borough': 'Manhattan', 'cuisine': 'Bakery', 'grades': [{'date': datetime.datetime(2014, 9, 18, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 9, 9, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 8, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2012, 10, 15, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 24, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2011, 10, 31, 0, 0), 'grade': 'B', 'score': 25}], 'name': "Zaro'S Bakery", 'restaurant_id': '40686674'}

28. Write a MongoDB query to know whether all the addresses contains the street or not.

In [ ]:
c1 = db.restaurants.find(
                     {"address.street" : 
                         { "$exists" : "true" } 
                     } 
                   );
#for crnt in c1:
#    print(crnt)

29. Write a MongoDB query which will select all documents in the restaurants collection where the coord field value is Double.

In [ ]:
c1 = db.restaurants.find(
                    {"address.coord" : 
                       {"$type" : 1}
                    }
                   );
#for crnt in c1:
#    print(crnt)

30. select the restaurant Id, name and grades for those restaurants which returns 0 as a remainder after dividing the score by 7.

In [ ]:
c1 = db.restaurants.find(
                      {"grades.score" :
                         {"$mod" : [7,0]}
                      },
                         {"restaurant_id" : 1,"name":1,"grades":1}
                    );
#for crnt in c1:
#    print(crnt)

31. find the restaurant name, borough, longitude and attitude and cuisine for those restaurants which contains 'mon' as three letters somewhere in its name.

In [ ]:
c1 = db.restaurants.find(
                   { "name" : 
                     { "$regex" : "mon.*", "$options": "i" } 
                   },
                       {
                         "name":1,
                         "borough":1,
                         "address.coord":1,
                         "cuisine" :1
                        }
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c913a9e8eff3f21dc57a'), 'address': {'coord': [-73.98306099999999, 40.7441419]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': "Desmond'S Tavern"}
{'_id': ObjectId('6472c913a9e8eff3f21dc582'), 'address': {'coord': [-73.8221418, 40.7272376]}, 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'name': 'Shimons Kosher Pizza'}
{'_id': ObjectId('6472c913a9e8eff3f21dc58e'), 'address': {'coord': [-74.10465599999999, 40.58834]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club'}
{'_id': ObjectId('6472c913a9e8eff3f21dc5ba'), 'address': {'coord': [-73.9812843, 40.5947365]}, 'borough': 'Brooklyn', 'cuisine': 'Pizza/Italian', 'name': 'Lb Spumoni Gardens'}
{'_id': ObjectId('6472c913a9e8eff3f21dc60c'), 'address': {'coord': [-73.951199, 40.7166026]}, 'borough': 'Brooklyn', 'cuisine': 'Italian', 'name': "Bamonte'S Restaurant"}
{'_id': ObjectId('6472c913a9e8eff3f21dc643'), 'address': {'coord': [-73.924072, 40.76108900000001]}, 'borough': 'Queens', 'cuisine': 'Greek', 'name': 'Omonia Cafe'}
{'_id': ObjectId('6472c913a9e8eff3f21dc693'), 'address': {'coord': [-74.0023353, 40.7333573]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Manhattan Monster'}
{'_id': ObjectId('6472c913a9e8eff3f21dc6c1'), 'address': {'coord': [-74.001094, 40.729583]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'name': "Monte'S"}
{'_id': ObjectId('6472c913a9e8eff3f21dc6c5'), 'address': {'coord': [-73.9901605, 40.7526176]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': "Delmonico'S Kitchen"}
{'_id': ObjectId('6472c913a9e8eff3f21dc6db'), 'address': {'coord': [-73.9979536, 40.6914024]}, 'borough': 'Brooklyn', 'cuisine': 'Bottled beverages, including water, sodas, juices, etc.', 'name': 'Montero Bar & Grill'}
{'_id': ObjectId('6472c913a9e8eff3f21dc867'), 'address': {'coord': [-73.9707505, 40.7635651]}, 'borough': 'Manhattan', 'cuisine': 'Delicatessen', 'name': 'Delmonico Gourmet'}
{'_id': ObjectId('6472c917a9e8eff3f21dc8d3'), 'address': {'coord': [-73.9760637, 40.7508686]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Delmonico Gourmet'}
{'_id': ObjectId('6472c917a9e8eff3f21dc8e8'), 'address': {'coord': [-73.9705633, 40.7605759]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'name': 'Montebello Restaurant'}
{'_id': ObjectId('6472c917a9e8eff3f21dc97f'), 'address': {'coord': [-74.1914658, 40.55274360000001]}, 'borough': 'Staten Island', 'cuisine': 'Italian', 'name': 'Villa Monte Pizzeria'}
{'_id': ObjectId('6472c917a9e8eff3f21dca2c'), 'address': {'coord': [-73.97198209999999, 40.764464]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Harmonie Club'}
{'_id': ObjectId('6472c917a9e8eff3f21dcaf2'), 'address': {'coord': [-73.79571990000001, 40.7095637]}, 'borough': 'Queens', 'cuisine': 'Bakery', 'name': "Ramona'S Bakery"}
{'_id': ObjectId('6472c917a9e8eff3f21dcb23'), 'address': {'coord': [-73.97852100000001, 40.729192]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': "Mona'S"}
{'_id': ObjectId('6472c917a9e8eff3f21dcb48'), 'address': {'coord': [-73.98463480000001, 40.7630755]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Neil Simon Theatre'}
{'_id': ObjectId('6472c917a9e8eff3f21dcb83'), 'address': {'coord': [-73.9938361, 40.6091317]}, 'borough': 'Brooklyn', 'cuisine': 'Bakery', 'name': 'Mondial Bakery'}
{'_id': ObjectId('6472c917a9e8eff3f21dcba9'), 'address': {'coord': [-74.028486, 40.630438]}, 'borough': 'Brooklyn', 'cuisine': 'Mediterranean', 'name': 'Omonia Cafe'}
{'_id': ObjectId('6472c917a9e8eff3f21dcbbe'), 'address': {'coord': [-73.902048, 40.868898]}, 'borough': 'Bronx', 'cuisine': 'Mexican', 'name': 'Montezuma Restaurant'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcd29'), 'address': {'coord': [-73.9950905, 40.7435489]}, 'borough': 'Manhattan', 'cuisine': 'Japanese', 'name': 'Monster Sushi'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcd5c'), 'address': {'coord': [-73.9849976, 40.7276766]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Simone Bar Cafe'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcdb4'), 'address': {'coord': [-73.992991, 40.694197]}, 'borough': 'Brooklyn', 'cuisine': 'Pizza/Italian', 'name': "Monty Q'S"}
{'_id': ObjectId('6472c91ba9e8eff3f21dcea0'), 'address': {'coord': [-73.9657651, 40.8056669]}, 'borough': 'Manhattan', 'cuisine': 'French', 'name': 'Le Monde'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcf8e'), 'address': {'coord': [-74.01032339999999, 40.7050156]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'name': 'Delmonicos'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd104'), 'address': {'coord': [-73.8706606, 40.7342757]}, 'borough': 'Queens', 'cuisine': 'American ', 'name': 'Cinnabon World Famous Cinnamon Rolls'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd128'), 'address': {'coord': [-73.9640299, 40.807001]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Ferris Booth Commons - Alfred Lerner Hall'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd182'), 'address': {'coord': [-74.10465599999999, 40.58834]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club - Pool Snack Bar'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd183'), 'address': {'coord': [-74.1110561, 40.5884772]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club(10Th Hole)'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd184'), 'address': {'coord': [-74.112758, 40.5833299]}, 'borough': 'Staten Island', 'cuisine': 'American ', 'name': 'Richmond County Country Club'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd393'), 'address': {'coord': [-73.9410809, 40.7036157]}, 'borough': 'Brooklyn', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'name': "Ramonita'S Restaurant"}

32. find the restaurant name, borough, longitude and latitude and cuisine for those restaurants which contains 'Mad' as first three letters of its name.

In [ ]:
c1 = db.restaurants.find(
                   { "name" : 
                     { "$regex" : "^Mad", } 
                   },
                       {
                         "name":1,
                         "borough":1,
                         "address.coord":1,
                         "cuisine" :1
                        }
                   );
for crnt in c1:
    print(crnt)

{'_id': ObjectId('6472c917a9e8eff3f21dca21'), 'address': {'coord': [-73.9860597, 40.7431194]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Madison Square'}
{'_id': ObjectId('6472c917a9e8eff3f21dcaef'), 'address': {'coord': [-73.98302199999999, 40.742313]}, 'borough': 'Manhattan', 'cuisine': 'Indian', 'name': 'Madras Mahal'}
{'_id': ObjectId('6472c91ba9e8eff3f21dcd9e'), 'address': {'coord': [-74.000002, 40.72735]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Madame X'}
{'_id': ObjectId('6472c91ba9e8eff3f21dce4d'), 'address': {'coord': [-73.98171959999999, 40.7499406]}, 'borough': 'Manhattan', 'cuisine': 'French', 'name': 'Madison Bistro'}
{'_id': ObjectId('6472c91ba9e8eff3f21dced7'), 'address': {'coord': [-73.9717845, 40.6897199]}, 'borough': 'Brooklyn', 'cuisine': 'African', 'name': 'Madiba'}
{'_id': ObjectId('6472c91fa9e8eff3f21dd1db'), 'address': {'coord': [-73.9040753, 40.9069011]}, 'borough': 'Bronx', 'cuisine': 'Italian', 'name': "Madison'S"}
{'_id': ObjectId('6472c91fa9e8eff3f21dd25a'), 'address': {'coord': [-73.9886598, 40.7565811]}, 'borough': 'Manhattan', 'cuisine': 'Hotdogs', 'name': "Madame Tussaud'S"}
{'_id': ObjectId('6472c91fa9e8eff3f21dd292'), 'address': {'coord': [-73.95623719999999, 40.7761697]}, 'borough': 'Manhattan', 'cuisine': 'American ', 'name': 'Mad River Bar & Grille'}

# Checked by

In [ ]:
from datetime import datetime
import pytz
print('last tested  ',datetime.now(pytz.timezone('Asia/Kolkata')))

last tested   2023-05-28 08:53:52.613991+05:30

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)