<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_D3_MongoDB_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('Tested',datetime.now(pytz.timezone('Asia/Calcutta')))

Tested 2023-11-23 14:18:28.711964+05:30

##References
https://stackoverflow.com/questions/45142629/cant-connect-to-mongo-db-via-spark <br>
https://docs.mongodb.com/spark-connector/current/python-api/

#Install & Test LOCAL MongoDB

In [2]:
#!apt install mongodb > /dev/null
#!service mongodb start
# Updated Install Sequence for MongoDB
# https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-ubuntu/
# Note Ubuntu versio 'jammy'
!curl -fsSL https://pgp.mongodb.com/server-6.0.asc | \
   sudo gpg -o /usr/share/keyrings/mongodb-server-6.0.gpg \
   --dearmor
# -----------------------
# Note reference to jammy
!echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list
# -----------------------
!sudo apt-get update > /dev/null
!sudo apt-get install -y mongodb-org > /dev/null              # ignore error and warning messages
#!sudo service mongodb start --- this should work but does not
# -----------------------
# https://unix.stackexchange.com/questions/715119/system-v-init-service-cant-recongnise-mongod
!sudo mkdir -p /var/log/mongodb /var/lib/mongodb
!sudo chown `whoami` /var/lib/mongodb /var/log/mongodb/
# -----------------------
# Manually start MongoDB in background mode, to free up the terminal
!nohup mongod --config /etc/mongod.conf &
!mongod --version

deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 9.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
nohup: appending output to 'nohup.out'
db version v6.0.11
Build Info: {
    "version": "6.0.11",
    "gitVersion": "f797f841eaf1759c770271ae00c88b92b2766eed",
    "openSSLVersion": "OpenSSL 3.0.2 15 Mar 2022",
    "modules": [],
    "allocator": "tcmalloc",
    "environment": {
        "distmod": "ubuntu2204",
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

In [3]:
!mongod -version

db version v6.0.11
Build Info: {
    "version": "6.0.11",
    "gitVersion": "f797f841eaf1759c770271ae00c88b92b2766eed",
    "openSSLVersion": "OpenSSL 3.0.2 15 Mar 2022",
    "modules": [],
    "allocator": "tcmalloc",
    "environment": {
        "distmod": "ubuntu2204",
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

In [4]:
!pip3 -qq install pymongo
from pymongo import MongoClient
import pandas as pd
import os

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 10.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 26.2 MB/s eta 0:00:00

In [5]:
mongoURI = "mongodb://localhost:27017/"
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local']

In [6]:
db = client.local
#db = client.sparkDB
#db = client.people
db.list_collection_names()

['startup_log']

In [7]:
table = db.startup_log
#table = db.coll01
#table = db.contacts
#table.count_documents({}) #gives the number of documents in the table
#table.find_one()

#Connect to Local MongoDB

#Install Spark

## Deprecated - dont use these commands

In [ ]:
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

#!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
#
# if the current version of Spark is not used, there may be errors
# check here for current versions http://apache.osuosl.org/spark
#

#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark              --- no more required,  replaced by pyspark
!pip install -q pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

#os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

     |████████████████████████████████| 281.3 MB 38 kB/s
     |████████████████████████████████| 198 kB 55.3 MB/s
  Building wheel for pyspark (setup.py) ... done

## Simple PIP3 install

In [8]:
!pip3 install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

#Spark2Mongo

In [9]:
#import findspark
#findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.mongodb.input.uri", "mongodb://localhost:27017/sparkDB.coll01") \
    .config("spark.mongodb.output.uri", "mongodb://localhost:27017/sparkDB.coll01") \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
    .getOrCreate()

In [ ]:
#sc.stop()

In [10]:
sc = spark.sparkContext
sc

##Write to MongoDB

In [11]:
people = spark.createDataFrame([("Bilbo Baggins",  50), ("Gandalf", 1000), ("Thorin", 195), ("Balin", 178), ("Kili", 77),
   ("Dwalin", 169), ("Oin", 167), ("Gloin", 158), ("Fili", 82), ("Bombur", None)], ["name", "age"])

In [12]:
people.show()

+-------------+----+
|         name| age|
+-------------+----+
|Bilbo Baggins|  50|
|      Gandalf|1000|
|       Thorin| 195|
|        Balin| 178|
|         Kili|  77|
|       Dwalin| 169|
|          Oin| 167|
|        Gloin| 158|
|         Fili|  82|
|       Bombur|NULL|
+-------------+----+

In [13]:
# this will send the data to the default database / collection specified during startup
people.write.format("mongo").mode("append").save()

In [14]:
# this will send the data to a new database / collection specified in this command
people.write.format("mongo").mode("append").option("database","people").option("collection", "contacts").save()

In [15]:
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local', 'people', 'sparkDB']

##Check with MongoDB client

In [16]:
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local', 'people', 'sparkDB']

In [17]:
db = client.people
list(db.list_collections())

[{'name': 'contacts',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'\xd6\x18A\xbd\x80uI^\xb3\x1f1\x0c\x87\x90A\x17', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [18]:
db2 = client.sparkDB
list(db2.list_collections())

[{'name': 'coll01',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'\xad\x7f\xad\xc1\x93\x9dM`\xab\xb7\xdag\xfe\x91\xfdZ', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [19]:
kollection = db.contacts
c = kollection.find({},{"_id":0})
for crnt in c:
    print(crnt)

{'name': 'Bilbo Baggins', 'age': 50}
{'name': 'Gandalf', 'age': 1000}
{'name': 'Thorin', 'age': 195}
{'name': 'Balin', 'age': 178}
{'name': 'Kili', 'age': 77}
{'name': 'Dwalin', 'age': 169}
{'name': 'Oin', 'age': 167}
{'name': 'Gloin', 'age': 158}
{'name': 'Fili', 'age': 82}
{'name': 'Bombur'}

In [20]:
pandasDF = pd.DataFrame(kollection.find({},{"_id":0}))
pandasDF

            name     age
0  Bilbo Baggins    50.0
1        Gandalf  1000.0
2         Thorin   195.0
3          Balin   178.0
4           Kili    77.0
5         Dwalin   169.0
6            Oin   167.0
7          Gloin   158.0
8           Fili    82.0
9         Bombur     NaN

##Read from MongoDB

In [21]:
sparkDF = spark.read.format("mongo").option("uri","mongodb://127.0.0.1/people.contacts").load()
sparkDF.show()

+--------------------+----+-------------+
|                 _id| age|         name|
+--------------------+----+-------------+
|{655f12d92eac4867...|  50|Bilbo Baggins|
|{655f12d92eac4867...|1000|      Gandalf|
|{655f12d92eac4867...| 195|       Thorin|
|{655f12d92eac4867...| 178|        Balin|
|{655f12d92eac4867...|  77|         Kili|
|{655f12d92eac4867...| 169|       Dwalin|
|{655f12d92eac4867...| 167|          Oin|
|{655f12d92eac4867...| 158|        Gloin|
|{655f12d92eac4867...|  82|         Fili|
|{655f12d92eac4867...|NULL|       Bombur|
+--------------------+----+-------------+

# Read from Remote MongoDB

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
# copy credentials file

#!cp /content/drive/'My Drive'/Praxis/WebCredentials/clevercloudMongoDB_jun22.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/cleverCloudMongo51Sep22.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/CCPraxisMongoDB16Oct22.py credentials.py

!cp /content/drive/'My Drive'/Praxis/WebCredentials/AtlasCredentials_Jun22.py credentials.py

In [48]:
# credential file for Prithwis Mukerjee
# this file needs to be uploaded into the VM

#from credentials import rhostName,ruserName,rpassWord,rdbName,rMongoURI
from credentials import RegCalURI
rMongoURI = RegCalURI

#for the sake of privacy
#the following credentials need to be stored in a text file called sqlCredentials.py
#in the format given below
#in the Colab VM

#otherwise, the values can be directly placed here

#rhostName = 'rs0/n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017'   # place your own credentials here
#ruserName = 'ubdzzfg3r4qhpu0kg1vd'      # place your own credentials here
#rpassWord = 'YzIIYhyTJjOJNCkkntPp'      # place your own credentials here
#rdbName =  'bcgygtzxy3oqpm3'         # place your own credentials here


#print(rhostName,ruserName,rdbName)
#print(rMongoURI)

In [42]:
#rMongoURI2 = 'mongodb+srv://Calcutta:pass2009word@cluster0.yarln.mongodb.net/PraxisDB.restaurants'
mongoURI2 = rMongoURI.replace("/?retryWrites=true&w=majority","/PraxisDB.restaurants")

In [47]:
#print(mongoURI2)

In [44]:
spark.stop()

In [45]:
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.mongodb.input.uri",  mongoURI2) \
    .config("spark.mongodb.output.uri", mongoURI2) \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
    .getOrCreate()

In [46]:
sparkDF = spark.read.format("mongo").option("uri",mongoURI2).load()
sparkDF.show()

+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-------------+
|                 _id|             address|  borough|             cuisine|              grades|                name|restaurant_id|
+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-------------+
|{655ef7670efac098...|{97-22, [-73.8601...|   Queens|       Jewish/Kosher|[{2014-11-24 00:0...|  Tov Kosher Kitchen|     40356068|
|{655ef7670efac098...|{469, [-73.961704...| Brooklyn|          Hamburgers|[{2014-12-30 00:0...|             Wendy'S|     30112340|
|{655ef7670efac098...|{6409, [-74.00528...| Brooklyn|           American |[{2014-07-18 00:0...|     Regina Caterers|     40356649|
|{655ef7670efac098...|{1269, [-73.87119...| Brooklyn|             Chinese|[{2014-09-16 00:0...|     May May Kitchen|     40358429|
|{655ef7670efac098...|{705, [-73.965396...| Brooklyn|       Jewish/Kosher|[{2014-11-10 00:0...|         Seuda Foods|     40360045|
|{655ef7670efac098...|{6909, [-74.02595...| Brooklyn|        Delicatessen|[{2014-08-21 00:0...|   Nordic Delicacies|     40361390|
|{655ef7670efac098...|{129-08, [-73.839...|   Queens|        Delicatessen|[{2014-08-16 00:0...|          Sal'S Deli|     40361618|
|{655ef7670efac098...|{107, [-74.009208...|Manhattan|           American |[{2014-07-18 00:0...|       Downtown Deli|     40363021|
|{655ef7670efac098...|{1006, [-73.84856...|    Bronx|Ice Cream, Gelato...|[{2014-04-24 00:0...|    Carvel Ice Cream|     40363093|
|{655ef7670efac098...|{56, [-73.991495,...| Brooklyn|              Donuts|[{2014-12-30 00:0...|      Dunkin' Donuts|     40363098|
|{655ef7670efac098...|{1069, [-73.90246...|   Queens|        Delicatessen|[{2014-05-08 00:0...|         Tony'S Deli|     40363333|
|{655ef7670efac098...|{405, [-73.975349...|Manhattan|Sandwiches/Salads...|[{2014-02-21 00:0...|         Lexler Deli|     40363426|
|{655ef7670efac098...|{437, [-73.975393...|Manhattan|           American |[{2014-06-03 00:0...|             Berkely|     40363685|
|{655ef7670efac098...|{1031, [-73.90755...| Brooklyn|           American |[{2014-02-05 00:0...|       Sonny'S Heros|     40363744|
|{655ef7670efac098...|{45, [-73.9891878...|Manhattan|           American |[{2014-10-08 00:0...|Old Town Bar & Re...|     40364389|
|{655ef7670efac098...|{100, [-74.001048...|Manhattan|           American |[{2014-03-03 00:0...|Criminal Court Bl...|     40364443|
|{655ef7670efac098...|{56, [-74.004758,...|Manhattan|           American |[{2014-06-10 00:0...|       Old Homestead|     40364715|
|{655ef7670efac098...|{156-71, [-73.840...|   Queens|       Pizza/Italian|[{2014-10-29 00:0...|New Park Pizzeria...|     40364744|
|{655ef7670efac098...|{225, [-73.964857...|Manhattan|           American |[{2014-08-11 00:0...|       Serendipity 3|     40364863|
|{655ef7670efac098...|{30-13, [-73.9151...|   Queens|               Pizza|[{2014-10-06 00:0...|  Rizzo'S Fine Pizza|     40364920|
+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-------------+
only showing top 20 rows

In [22]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2023-11-23 14:23:47.396400+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)