<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_D3_MongoDB_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('Tested',datetime.now(pytz.timezone('Asia/Calcutta')))

Tested 2024-09-18 08:22:43.652396+05:30

##References
https://stackoverflow.com/questions/45142629/cant-connect-to-mongo-db-via-spark <br>
https://docs.mongodb.com/spark-connector/current/python-api/

#Install & Test LOCAL MongoDB

In [2]:
#!apt install mongodb > /dev/null
#!service mongodb start
# Updated Install Sequence for MongoDB
# https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-ubuntu/
# Note Ubuntu versio 'jammy'
!curl -fsSL https://pgp.mongodb.com/server-6.0.asc | \
   sudo gpg -o /usr/share/keyrings/mongodb-server-6.0.gpg \
   --dearmor
# -----------------------
# Note reference to jammy
!echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list
# -----------------------
!sudo apt-get update > /dev/null
!sudo apt-get install -y mongodb-org > /dev/null              # ignore error and warning messages
#!sudo service mongodb start --- this should work but does not
# -----------------------
# https://unix.stackexchange.com/questions/715119/system-v-init-service-cant-recongnise-mongod
!sudo mkdir -p /var/log/mongodb /var/lib/mongodb
!sudo chown `whoami` /var/lib/mongodb /var/log/mongodb/
# -----------------------
# Manually start MongoDB in background mode, to free up the terminal
!nohup mongod --config /etc/mongod.conf &
!mongod --version

deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 9.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
nohup: appending output to 'nohup.out'
db version v6.0.17
Build Info: {
    "version": "6.0.17",
    "gitVersion": "1b0ca02043c6d35d5cfdc91e21fc00a05d901539",
    "openSSLVersion": "OpenSSL 3.0.2 15 Mar 2022",
    "modules": [],
    "allocator": "tcmalloc",
    "environment": {
        "distmod": "ubuntu2204",
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

In [3]:
#!mongod -version

In [4]:
!pip3 -qq install pymongo
from pymongo import MongoClient
import pandas as pd
import os

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 13.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 16.2 MB/s eta 0:00:00

In [5]:
mongoURI = "mongodb://localhost:27017/"
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local']

In [6]:
db = client.local
#db = client.sparkDB
#db = client.people
db.list_collection_names()

['startup_log']

In [7]:
table = db.startup_log
#table = db.coll01
#table = db.contacts
#table.count_documents({}) #gives the number of documents in the table
#table.find_one()

#Connect to Local MongoDB

#Install Spark

## Deprecated - dont use these commands

In [8]:
#!apt-get update > /dev/null
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null

#!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
#
# if the current version of Spark is not used, there may be errors
# check here for current versions http://apache.osuosl.org/spark
#

#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark              --- no more required,  replaced by pyspark
#!pip install -q pyspark
#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

#os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
#os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

## Simple PIP3 install

In [9]:
!pip3 install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

#Spark2Mongo

In [10]:
#import findspark
#findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.mongodb.input.uri", "mongodb://localhost:27017/sparkDB.coll01") \
    .config("spark.mongodb.output.uri", "mongodb://localhost:27017/sparkDB.coll01") \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
    .getOrCreate()

In [11]:
#sc.stop()

In [12]:
sc = spark.sparkContext
sc

##Write to MongoDB

In [13]:
people = spark.createDataFrame([("Bilbo Baggins",  50), ("Gandalf", 1000), ("Thorin", 195), ("Balin", 178), ("Kili", 77),
   ("Dwalin", 169), ("Oin", 167), ("Gloin", 158), ("Fili", 82), ("Bombur", None)], ["name", "age"])

In [14]:
people.show()

+-------------+----+
|         name| age|
+-------------+----+
|Bilbo Baggins|  50|
|      Gandalf|1000|
|       Thorin| 195|
|        Balin| 178|
|         Kili|  77|
|       Dwalin| 169|
|          Oin| 167|
|        Gloin| 158|
|         Fili|  82|
|       Bombur|NULL|
+-------------+----+

In [15]:
# this will send the data to the default database / collection specified during startup
people.write.format("mongo").mode("append").save()

In [16]:
# this will send the data to a new database / collection specified in this command
people.write.format("mongo").mode("append").option("database","people").option("collection", "contacts").save()

In [17]:
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local', 'people', 'sparkDB']

##Check with MongoDB client

In [18]:
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local', 'people', 'sparkDB']

In [19]:
db = client.people
list(db.list_collections())

[{'name': 'contacts',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'd\x135\x08I\x12C:\x9b\n\x0e\\\x9eP\xb5\x10', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [20]:
db2 = client.sparkDB
list(db2.list_collections())

[{'name': 'coll01',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b';\x14e\xb1\x8f8E\x8b\x98k\x11\xfal\xea;E', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [21]:
kollection = db.contacts
c = kollection.find({},{"_id":0})
for crnt in c:
    print(crnt)

{'name': 'Bilbo Baggins', 'age': 50}
{'name': 'Gandalf', 'age': 1000}
{'name': 'Thorin', 'age': 195}
{'name': 'Balin', 'age': 178}
{'name': 'Kili', 'age': 77}
{'name': 'Dwalin', 'age': 169}
{'name': 'Oin', 'age': 167}
{'name': 'Gloin', 'age': 158}
{'name': 'Fili', 'age': 82}
{'name': 'Bombur'}

In [22]:
pandasDF = pd.DataFrame(kollection.find({},{"_id":0}))
pandasDF

            name     age
0  Bilbo Baggins    50.0
1        Gandalf  1000.0
2         Thorin   195.0
3          Balin   178.0
4           Kili    77.0
5         Dwalin   169.0
6            Oin   167.0
7          Gloin   158.0
8           Fili    82.0
9         Bombur     NaN

##Read from MongoDB

In [23]:
sparkDF = spark.read.format("mongo").option("uri","mongodb://127.0.0.1/people.contacts").load()
sparkDF.show()

+--------------------+----+-------------+
|                 _id| age|         name|
+--------------------+----+-------------+
|{66ea41064a87ff3c...|  50|Bilbo Baggins|
|{66ea41064a87ff3c...|1000|      Gandalf|
|{66ea41064a87ff3c...| 195|       Thorin|
|{66ea41064a87ff3c...| 178|        Balin|
|{66ea41064a87ff3c...|  77|         Kili|
|{66ea41074a87ff3c...| 169|       Dwalin|
|{66ea41074a87ff3c...| 167|          Oin|
|{66ea41074a87ff3c...| 158|        Gloin|
|{66ea41074a87ff3c...|  82|         Fili|
|{66ea41074a87ff3c...|NULL|       Bombur|
+--------------------+----+-------------+

# Read from Remote MongoDB

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
# copy credentials file

#!cp /content/drive/'My Drive'/Praxis/WebCredentials/clevercloudMongoDB_jun22.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/cleverCloudMongo51Sep22.py credentials.py
#!cp /content/drive/'My Drive'/Praxis/WebCredentials/CCPraxisMongoDB16Oct22.py credentials.py

!cp /content/drive/'My Drive'/Praxis/WebCredentials/AtlasCredentials_Jun22.py credentials.py

In [26]:
# credential file for Prithwis Mukerjee
# this file needs to be uploaded into the VM

#from credentials import rhostName,ruserName,rpassWord,rdbName,rMongoURI
from credentials import RegCalURI
rMongoURI = RegCalURI

#for the sake of privacy
#the following credentials need to be stored in a text file called sqlCredentials.py
#in the format given below
#in the Colab VM

#otherwise, the values can be directly placed here

#rhostName = 'rs0/n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017'   # place your own credentials here
#ruserName = 'ubdzzfg3r4qhpu0kg1vd'      # place your own credentials here
#rpassWord = 'YzIIYhyTJjOJNCkkntPp'      # place your own credentials here
#rdbName =  'bcgygtzxy3oqpm3'         # place your own credentials here


#print(rhostName,ruserName,rdbName)
#print(rMongoURI)

In [27]:
#rMongoURI2 = 'mongodb+srv://Calcutta:pass2009word@cluster0.yarln.mongodb.net/PraxisDB.restaurants'
mongoURI2 = rMongoURI.replace("/?retryWrites=true&w=majority","/PraxisDB.restaurants")

In [28]:
#print(mongoURI2)

In [29]:
spark.stop()

In [30]:
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.mongodb.input.uri",  mongoURI2) \
    .config("spark.mongodb.output.uri", mongoURI2) \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
    .getOrCreate()

In [31]:
sparkDF = spark.read.format("mongo").option("uri",mongoURI2).load()
sparkDF.show()

+--------------------+--------------------+-------------+---------------+--------------------+--------------------+-------------+
|                 _id|             address|      borough|        cuisine|              grades|                name|restaurant_id|
+--------------------+--------------------+-------------+---------------+--------------------+--------------------+-------------+
|{66dff4d2dd0feb88...|{103-05, [-73.864...|       Queens|        Chinese|[{2014-04-21 00:0...|   Ho Mei Restaurant|     40362432|
|{66dff4d2dd0feb88...|{1007, [-73.85607...|        Bronx|         Bakery|[{2014-03-03 00:0...|Morris Park Bake ...|     30075445|
|{66dff4d2dd0feb88...|{7715, [-73.99733...|     Brooklyn|      American |[{2014-04-16 00:0...|C & C Catering Se...|     40357437|
|{66dff4d2dd0feb88...|{351, [-73.985135...|    Manhattan|          Irish|[{2014-09-06 00:0...|Dj Reynolds Pub A...|     30191841|
|{66dff4d2dd0feb88...|{7615, [-74.02284...|     Brooklyn|      American |[{2014-12-04 00:0...|Mejlander & Mulga...|     40363117|
|{66dff4d2dd0feb88...|{2491, [-74.14593...|Staten Island|   Delicatessen|[{2015-01-09 00:0...|       Bagels N Buns|     40363427|
|{66dff4d2dd0feb88...|{1031, [-73.90755...|     Brooklyn|      American |[{2014-02-05 00:0...|       Sonny'S Heros|     40363744|
|{66dff4d2dd0feb88...|{2780, [-73.98241...|     Brooklyn|      American |[{2014-06-10 00:0...|     Riviera Caterer|     40356018|
|{66dff4d2dd0feb88...|{502, [-73.976112...|    Manhattan|        Chicken|[{2014-09-15 00:0...|   Harriet'S Kitchen|     40362098|
|{66dff4d2dd0feb88...|{7905, [-73.87402...|       Queens|Bagels/Pretzels|[{2014-09-17 00:0...|          Hot Bagels|     40363565|
|{66dff4d2dd0feb88...|{73, [-74.1178949...|Staten Island|   Delicatessen|[{2014-11-18 00:0...| Plaza Bagels & Deli|     40364286|
|{66dff4d2dd0feb88...|{1269, [-73.87119...|     Brooklyn|        Chinese|[{2014-09-16 00:0...|     May May Kitchen|     40358429|
|{66dff4d2dd0feb88...|{3406, [-73.94024...|       Queens|   Delicatessen|[{2014-03-19 00:0...|Steve Chu'S Deli ...|     40361998|
|{66dff4d2dd0feb88...|{625, [-73.990494...|    Manhattan|      American |[{2014-06-09 00:0...|          Cafe Metro|     40363298|
|{66dff4d2dd0feb88...|{87-69, [-73.8309...|       Queens|      American |[{2014-02-25 00:0...|    Snack Time Grill|     40363590|
|{66dff4d2dd0feb88...|{1028, [-73.96603...|    Manhattan|        Italian|[{2014-09-16 00:0...|Isle Of Capri Res...|     40364373|
|{66dff4d2dd0feb88...|{364, [-73.960841...|    Manhattan|      American |[{2014-09-04 00:0...|Spoon Bread Catering|     40364179|
|{66dff4d2dd0feb88...|{0, [-84.2040813,...|       Queens|      American |[{2014-05-16 00:0...|Terminal Cafe/Yan...|     40364262|
|{66dff4d2dd0feb88...|{6909, [-74.02595...|     Brooklyn|   Delicatessen|[{2014-08-21 00:0...|   Nordic Delicacies|     40361390|
|{66dff4d2dd0feb88...|{2300, [-73.87861...|        Bronx|      American |[{2014-05-28 00:0...|           Wild Asia|     40357217|
+--------------------+--------------------+-------------+---------------+--------------------+--------------------+-------------+
only showing top 20 rows

In [32]:
spark.stop()
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2024-09-18 08:25:59.650742+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)