<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_E1_Cassandra_Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Install Cassandra

install https://phoenixnap.com/kb/install-cassandra-on-ubuntu

In [1]:
!apt update > /dev/null
!apt install openjdk-8-jdk -y > /dev/null
#!java -version
!apt install apt-transport-https > /dev/null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [2]:
!sh -c 'echo "deb http://www.apache.org/dist/cassandra/debian 40x main" > /etc/apt/sources.list.d/cassandra.list'
!wget -q -O - https://www.apache.org/dist/cassandra/KEYS | sudo apt-key add -

OK

In [3]:
#!cat /etc/apt/sources.list.d/cassandra.list

In [4]:
!apt update > /dev/null
!apt install cassandra > /dev/null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

## Start the Service

In [5]:
#!service cassandra stop
# the ulimit error does not matter
!service cassandra restart

 * Restarting Cassandra cassandra
/etc/init.d/cassandra: 72: ulimit: error setting limit (Operation not permitted)
   ...done.

In [6]:
# keep checking service status until you see [+] next to cassandra
# then wait for at least 60 seconds MORE .... count 1 to 60 if you are feeling impatient
!service  --status-all

 [ + ]  cassandra
 [ - ]  dbus
 [ ? ]  hwclock.sh
 [ ? ]  kmod
 [ - ]  ntp
 [ - ]  procps
 [ - ]  rsync
 [ - ]  udev
 [ - ]  x11-common

In [8]:
# this will give an error if the cassandra service has not started
# Wait for some time for the service to start
# If required reboot system or stop, restart cassandra service
!nodetool status

Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address    Load       Tokens  Owns (effective)  Host ID                               Rack
UN  127.0.0.1  69.08 KiB  16      100.0%            6c7e1a57-4fdb-47a8-ab56-05eaab1ae5a8  rack1

In [9]:
# basic test
#!cqlsh

# Basic Commands 
how to execute commands through scripts https://stackoverflow.com/questions/25286253/executing-cql-through-shell-script <br>
some examples https://techfossguru.com/apache-cassandra-python-step-step-guide-ubuntu-example/

In [10]:
!cqlsh -e "help"

Documented shell commands:
===========================
CAPTURE  CLS          COPY  DESCRIBE  EXPAND  LOGIN   SERIAL  SOURCE   UNICODE
CLEAR    CONSISTENCY  DESC  EXIT      HELP    PAGING  SHOW    TRACING

CQL help topics:
================
AGGREGATES               CREATE_KEYSPACE           DROP_TRIGGER      TEXT
ALTER_KEYSPACE           CREATE_MATERIALIZED_VIEW  DROP_TYPE         TIME
ALTER_MATERIALIZED_VIEW  CREATE_ROLE               DROP_USER         TIMESTAMP
ALTER_TABLE              CREATE_TABLE              FUNCTIONS         TRUNCATE
ALTER_TYPE               CREATE_TRIGGER            GRANT             TYPES
ALTER_USER               CREATE_TYPE               INSERT            UPDATE
APPLY                    CREATE_USER               INSERT_JSON       USE
ASCII                    DATE                      INT               UUID
BATCH                    DELETE                    JSON
BEGIN                    DROP_AGGREGATE            KEYWORDS
BLOB                     DROP_COLUMNFAMILY         LIST_PERMISSIONS
BOOLEAN                  DROP_FUNCTION             LIST_ROLES
COUNTER                  DROP_INDEX                LIST_USERS
CREATE_AGGREGATE         DROP_KEYSPACE             PERMISSIONS
CREATE_COLUMNFAMILY      DROP_MATERIALIZED_VIEW    REVOKE
CREATE_FUNCTION          DROP_ROLE                 SELECT
CREATE_INDEX             DROP_TABLE                SELECT_JSON

In [11]:
!cqlsh -e "CREATE KEYSPACE praxis WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 };"

Warnings :
Your replication factor 3 for keyspace praxis is higher than the number of nodes 1

In [12]:
# since we are not specifying keyspace separately, we have to prefix table name with keyspace
!cqlsh -e "CREATE TABLE praxis.users (user_id int PRIMARY KEY, first_name text, last_name text );"

In [13]:
!cqlsh -e "INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (1, 'Prithwis', 'Mukerjee');"
!cqlsh -e "INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (2, 'Sanniti', 'Chatterjee');"
!cqlsh -e "INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (3, 'Amrita', 'Ghosh');"

In [14]:
!cqlsh -e "select * from praxis.users;"

 user_id | first_name | last_name
---------+------------+------------
       1 |   Prithwis |   Mukerjee
       2 |    Sanniti | Chatterjee
       3 |     Amrita |      Ghosh

(3 rows)

In [15]:
#another way to specifiy keyspace
!cqlsh -e "use praxis;\
           select * from users;"

 user_id | first_name | last_name
---------+------------+------------
       1 |   Prithwis |   Mukerjee
       2 |    Sanniti | Chatterjee
       3 |     Amrita |      Ghosh

(3 rows)

In [16]:
# easier way to specify keyspace, similar specifying database in mysql
!cqlsh -k praxis -e "select * from users;"

 user_id | first_name | last_name
---------+------------+------------
       1 |   Prithwis |   Mukerjee
       2 |    Sanniti | Chatterjee
       3 |     Amrita |      Ghosh

(3 rows)

# Python
https://docs.datastax.com/en/developer/python-driver/3.25/

In [17]:
!pip install cassandra-driver > /dev/null
from cassandra.cluster import ExecutionProfile
from cassandra.policies import WhiteListRoundRobinPolicy, DCAwareRoundRobinPolicy
node1_profile = ExecutionProfile(load_balancing_policy=WhiteListRoundRobinPolicy(['127.0.0.1']))
profiles = {'node1': node1_profile}

In [18]:
from cassandra.cluster import Cluster
#cluster = Cluster(['127.0.0.1'],port=9042)
#cluster = Cluster(['127.0.0.1'],load_balancing_policy=DCAwareRoundRobinPolicy(local_dc='datacenter1'),port=9042,)
#session = cluster.connect('praxis',wait_for_all_pools=True)
session = Cluster(execution_profiles=profiles).connect()
session.execute('USE praxis')

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 127.0.0.1:9042. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 127.0.0.1:9042. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

In [19]:
rows = session.execute('SELECT * FROM users')
for row in rows:
        print(row.user_id,row.first_name,row.last_name)

1 Prithwis Mukerjee
2 Sanniti Chatterjee
3 Amrita Ghosh

In [20]:
session.execute("INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (4, 'Charanpreet', 'Singh');")

In [21]:
rows = session.execute('SELECT * FROM users')
for row in rows:
        print(row.user_id,row.first_name,row.last_name)

1 Prithwis Mukerjee
2 Sanniti Chatterjee
4 Charanpreet Singh
3 Amrita Ghosh

In [22]:
session.execute("update praxis.users set first_name = 'Dr Prithwis' where user_id = 1;")

In [23]:
rows = session.execute('SELECT * FROM users')
for row in rows:
        print(row.user_id,row.first_name,row.last_name)

1 Dr Prithwis Mukerjee
2 Sanniti Chatterjee
4 Charanpreet Singh
3 Amrita Ghosh

#Tutorial from FreeCodeCamp <br>
https://www.freecodecamp.org/news/the-apache-cassandra-beginner-tutorial/ <br>
alternatively from this [saved file](https://github.com/Praxis-QR/BDSN/blob/main/Documents/The%20Apache%20Cassandra%20Beginner%20Tutorial.pdf)

In [ ]:
#!cqlsh -e "CREATE KEYSPACE learn_cassandra WITH REPLICATION = { 'class' : 'NetworkTopologyStrategy','datacenter1' : 3  };"

In [25]:
!cqlsh -k praxis -e "drop table users_by_country;"
!cqlsh -k praxis -e "CREATE TABLE users_by_country \
(country text,\
 user_email text,\
 first_name text,\
 last_name text,\
 age smallint,\
 PRIMARY KEY ((country), user_email));"

In [26]:
!cqlsh -k praxis -e "\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age)  VALUES('US', 'john@email.com', 'John','Wick',55); \
INSERT INTO users_by_country (country,user_email,first_name,last_name,age) VALUES('UK', 'peter@email.com', 'Peter','Clark',65);\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age)  VALUES('UK', 'bob@email.com', 'Bob','Sandler',23);\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age)  VALUES('UK', 'alice@email.com', 'Alice','Brown',26);"

In [27]:
!cqlsh -k praxis -e "SELECT * FROM users_by_country;"

 country | user_email      | age | first_name | last_name
---------+-----------------+-----+------------+-----------
      US |  john@email.com |  55 |       John |      Wick
      UK | alice@email.com |  26 |      Alice |     Brown
      UK |   bob@email.com |  23 |        Bob |   Sandler
      UK | peter@email.com |  65 |      Peter |     Clark

(4 rows)

In [28]:
!cqlsh -k praxis -e "SELECT * FROM users_by_country WHERE country='UK';"

 country | user_email      | age | first_name | last_name
---------+-----------------+-----+------------+-----------
      UK | alice@email.com |  26 |      Alice |     Brown
      UK |   bob@email.com |  23 |        Bob |   Sandler
      UK | peter@email.com |  65 |      Peter |     Clark

(3 rows)

In [30]:
!cqlsh -k praxis -e "drop table users_by_email;"
!cqlsh -k praxis -e "CREATE TABLE users_by_email (\
  user_email text,\
  country text,\
  first_name text,\
  last_name text,\
  age smallint,\
  PRIMARY KEY (user_email));"

In [31]:
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email, country,first_name,last_name,age)  VALUES('john@email.com', 'US', 'John','Wick',55);"
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email,country,first_name,last_name,age)  VALUES('peter@email.com', 'UK', 'Peter','Clark',65);"
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email,country,first_name,last_name,age)  VALUES('bob@email.com', 'UK', 'Bob','Sandler',23);"
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email,country,first_name,last_name,age)  VALUES('alice@email.com', 'UK', 'Alice','Brown',26);"

In [32]:
!cqlsh -k praxis -e "SELECT * FROM users_by_email WHERE user_email='alice@email.com';"

 user_email      | age | country | first_name | last_name
-----------------+-----+---------+------------+-----------
 alice@email.com |  26 |      UK |      Alice |     Brown

(1 rows)

In [33]:
!cqlsh -k praxis -e "SELECT * FROM users_by_email WHERE age=26 ALLOW FILTERING;"
!cqlsh -k praxis -e "SELECT * FROM users_by_email WHERE age=26;"

 user_email      | age | country | first_name | last_name
-----------------+-----+---------+------------+-----------
 alice@email.com |  26 |      UK |      Alice |     Brown

(1 rows)
<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [34]:
!cqlsh -k praxis -e "CREATE TABLE todo_by_user_email (user_email text,name text,creation_date timestamp,PRIMARY KEY ((user_email), creation_date)) WITH CLUSTERING ORDER BY (creation_date DESC) AND compaction = { 'class' :  'LeveledCompactionStrategy'};"

In [35]:
!cqlsh -k praxis -e "\
CREATE TABLE todos_shared_by_target_user_email ( \
    target_user_email text, \
    source_user_email text, \
    creation_date timestamp, \
    name text, \
    PRIMARY KEY ((target_user_email), creation_date) \
) WITH CLUSTERING ORDER BY (creation_date DESC) \
AND compaction = { 'class' :  'LeveledCompactionStrategy'  };"

In [36]:
!cqlsh -k praxis -e "\
CREATE TABLE todos_shared_by_source_user_email ( \
    target_user_email text, \
    source_user_email text, \
    creation_date timestamp, \
    name text, \
    PRIMARY KEY ((source_user_email), creation_date) \
) WITH CLUSTERING ORDER BY (creation_date DESC) \
AND compaction = { 'class' :  'LeveledCompactionStrategy'  };"

In [37]:
!cqlsh -k praxis -e "\
BEGIN BATCH \
  INSERT INTO todo_by_user_email (user_email,creation_date,name) VALUES('alice@email.com', toTimestamp(now()), 'My first todo entry') \
  INSERT INTO todos_shared_by_target_user_email (target_user_email, source_user_email,creation_date,name) VALUES('bob@email.com', 'alice@email.com',toTimestamp(now()), 'My first todo entry') \
  INSERT INTO todos_shared_by_source_user_email (target_user_email, source_user_email,creation_date,name) VALUES('alice@email.com', 'bob@email.com', toTimestamp(now()), 'My first todo entry') \
APPLY BATCH;"

In [38]:
!cqlsh -k praxis -e "SELECT * FROM todos_shared_by_target_user_email WHERE target_user_email='bob@email.com';"

 target_user_email | creation_date                   | name                | source_user_email
-------------------+---------------------------------+---------------------+-------------------
     bob@email.com | 2023-01-08 07:01:20.578000+0000 | My first todo entry |   alice@email.com

(1 rows)

In [39]:
!cqlsh -k praxis -e "SELECT * FROM todo_by_user_email WHERE user_email='alice@email.com';"

 user_email      | creation_date                   | name
-----------------+---------------------------------+---------------------
 alice@email.com | 2023-01-08 07:01:20.577000+0000 | My first todo entry

(1 rows)

#Cassandra Collections <br>
Set, List & Map in CQL with Example <br>
https://www.guru99.com/cassandra-collections-tutorial-set-list-map.html

## Set

In [40]:
#!cqlsh -k praxis -e "drop table teacher01;"
!cqlsh -k praxis -e "\
Create table Teacher01 \
( \
id int, \
Name text, \
Email set<text>, \
Primary key(id) \
);\
"

<stdin>:1:SyntaxException: line 1:0 no viable alternative at input ';' ([;])

In [41]:
!cqlsh -k praxis  -e "insert into Teacher01(id,Name,Email) \
 values(1,'prithwis',{{'abc@gmail.com','xyz@hotmail.com'}});"

In [42]:
!cqlsh -k praxis  -e "insert into Teacher01(id,Name,Email) \
values(2,'charan',{{'abc1@gmail.com','xyz1@hotmail.com','xyz2@hotmail.com'}});"

In [43]:
!cqlsh -k praxis -e " select * from Teacher01;"

 id | email                                                      | name
----+------------------------------------------------------------+----------
  1 |                       {'abc@gmail.com', 'xyz@hotmail.com'} | prithwis
  2 | {'abc1@gmail.com', 'xyz1@hotmail.com', 'xyz2@hotmail.com'} |   charan

(2 rows)

## List

In [44]:
!cqlsh -k praxis -e "drop table teacher02;"
!cqlsh -k praxis -e "\
Create table Teacher02 \
( \
id int, \
Name text, \
Courses list<text>, \
Primary key(id) \
);\
"

<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Table 'praxis.teacher02' doesn't exist"
<stdin>:1:SyntaxException: line 1:0 no viable alternative at input ';' ([;])

In [45]:
!cqlsh -k praxis  -e "insert into Teacher02(id,Name,Courses) values(1,'prithwis',{['FDS','Python']});"
!cqlsh -k praxis  -e "insert into Teacher02(id,Name,Courses) values(2,'charan',{['Comms','English','Interview']});"

In [46]:
!cqlsh -k praxis -e "select * from teacher02;"

 id | courses                           | name
----+-----------------------------------+----------
  1 |                 ['FDS', 'Python'] | prithwis
  2 | ['Comms', 'English', 'Interview'] |   charan

(2 rows)

## Maps

In [47]:
!cqlsh -k praxis -e "drop table if exists courses;"
!cqlsh -k praxis -e "\
Create table courses \
( \
id int, \
Name text, \
Teachers map<text,text>, \
Primary key(id) \
);\
"

<stdin>:1:SyntaxException: line 1:0 no viable alternative at input ';' ([;])

In [48]:
!cqlsh -k praxis  -e "insert into courses(id,Name,Teachers) values(100,'PGDM',{{'Stats':'SRC','FDM':'Atanu'}});"
!cqlsh -k praxis  -e "insert into courses(id,Name,Teachers) values(200,'PGDS',{{'Stats':'SRC','ML':'SDG', 'BDSM':'PM'}});"
!cqlsh -k praxis -e "select * from courses;"

 id  | name | teachers
-----+------+---------------------------------------------
 200 | PGDS | {'BDSM': 'PM', 'ML': 'SDG', 'Stats': 'SRC'}
 100 | PGDM |            {'FDM': 'Atanu', 'Stats': 'SRC'}

(2 rows)

In [ ]:
#!cqlsh -k praxis -e "describe Teacher02;"

## Python

In [49]:
rows = session.execute('SELECT * FROM teacher01')
for row in rows:
        print(row)
        emails = row.email
        print(emails)
        emails2 = list(emails)
        for im in emails2:
            print(im)

Row(id=1, email=SortedSet(['abc@gmail.com', 'xyz@hotmail.com']), name='prithwis')
SortedSet(['abc@gmail.com', 'xyz@hotmail.com'])
abc@gmail.com
xyz@hotmail.com
Row(id=2, email=SortedSet(['abc1@gmail.com', 'xyz1@hotmail.com', 'xyz2@hotmail.com']), name='charan')
SortedSet(['abc1@gmail.com', 'xyz1@hotmail.com', 'xyz2@hotmail.com'])
abc1@gmail.com
xyz1@hotmail.com
xyz2@hotmail.com

In [50]:
rows = session.execute('SELECT * FROM teacher02')
for row in rows:
        print(row)
        courses = row.courses
        print(courses)
        for c in courses:
            print(c)

Row(id=1, courses=['FDS', 'Python'], name='prithwis')
['FDS', 'Python']
FDS
Python
Row(id=2, courses=['Comms', 'English', 'Interview'], name='charan')
['Comms', 'English', 'Interview']
Comms
English
Interview

In [51]:
rows = session.execute('SELECT * FROM courses')
for row in rows:
        print(row)
        print(row.teachers) # this is a dictionary and can be used as such
        for k,v in row.teachers.items():
            print(k,v)

Row(id=200, name='PGDS', teachers=OrderedMapSerializedKey([('BDSM', 'PM'), ('ML', 'SDG'), ('Stats', 'SRC')]))
{'BDSM': 'PM', 'ML': 'SDG', 'Stats': 'SRC'}
BDSM PM
ML SDG
Stats SRC
Row(id=100, name='PGDM', teachers=OrderedMapSerializedKey([('FDM', 'Atanu'), ('Stats', 'SRC')]))
{'FDM': 'Atanu', 'Stats': 'SRC'}
FDM Atanu
Stats SRC

# Bulk Data Load

In [53]:
#!gdown https://drive.google.com/uc?id=1T7teYg1_SXzZLbh8SOF0UIzpyK-L1aZL
!wget -q https://raw.githubusercontent.com/Praxis-QR/BDSN/main/data/cassandra/Employee.csv
!cat Employee.csv

EmpID,LastName,FirstName,JobDesc,JoinDate,Salary,Comm,DeptID
742866,Bacchan,Amitabh,Executive,2003-03-10,50000,0.1,10
349870,Mukherjee,Rani,Manager,2005-05-04,25000,0.06,40
865477,Dikshit,Madhuri,Clerk,2002-04-04,10000,0.02,20
239456,Khan,Shahrukh,Manager,2004-01-03,30000,0.07,20
897889,Sehwag,Virender,Cus_Rep,2005-01-02,15000,0.05,20
123980,Dhoni,Mahender,Clerk,2004-10-09,9000,0.02,40
822134,Dravid,Rahul,Sr Manager,2000-06-04,40000,0.08,30
997445,Dalmia,Jagmohan,Clerk,2001-07-01,12000,0.02,30
989007,Ganguly,Sourav,Cus_Rep,2002-01-01,20000,0.03,40
299034,Ganesan,Rekha,Director,2002-10-10,60000,0.11,10
546223,Karthikeyan,Narayan,Secretary,2005-12-04,40000,0.09,10
223112,Mirza,Sania,Cus_Rep,2001-11-19,25000,0.04,30

In [55]:
!cqlsh -k praxis -e "drop table if exists emp;"
!cqlsh -k praxis -e "\
    CREATE TABLE emp (\
    empid int PRIMARY KEY, \
    lastname text,\
    firsname text,\
    jobdesc text,\
    joindate text,\
    salary int,\
    comm decimal,\
    deptid text \
    );\
"

<stdin>:1:SyntaxException: line 1:0 no viable alternative at input ';' ([;])

In [56]:
!cqlsh -k praxis -e "select * from emp;"

 empid | comm | deptid | firsname | jobdesc | joindate | lastname | salary
-------+------+--------+----------+---------+----------+----------+--------


(0 rows)

In [57]:
!cqlsh -k praxis -e "\
    COPY emp (empid,lastname,firsname,jobdesc,joindate,salary,comm,deptid) \
    FROM 'Employee.csv' \
    WITH HEADER = TRUE;\
"

Using 1 child processes

Starting copy of praxis.emp with columns [empid, lastname, firsname, jobdesc, joindate, salary, comm, deptid].
Processed: 12 rows; Rate:      18 rows/s; Avg. rate:      28 rows/s
12 rows imported from 1 files in 0.436 seconds (0 skipped).
<stdin>:1:SyntaxException: line 1:0 no viable alternative at input ';' ([;])

In [58]:
!cqlsh -k praxis -e "select * from emp;"

 empid  | comm | deptid | firsname | jobdesc    | joindate   | lastname    | salary
--------+------+--------+----------+------------+------------+-------------+--------
 546223 | 0.09 |     10 |  Narayan |  Secretary | 2005-12-04 | Karthikeyan |  40000
 223112 | 0.04 |     30 |    Sania |    Cus_Rep | 2001-11-19 |       Mirza |  25000
 989007 | 0.03 |     40 |   Sourav |    Cus_Rep | 2002-01-01 |     Ganguly |  20000
 865477 | 0.02 |     20 |  Madhuri |      Clerk | 2002-04-04 |     Dikshit |  10000
 123980 | 0.02 |     40 | Mahender |      Clerk | 2004-10-09 |       Dhoni |   9000
 897889 | 0.05 |     20 | Virender |    Cus_Rep | 2005-01-02 |      Sehwag |  15000
 349870 | 0.06 |     40 |     Rani |    Manager | 2005-05-04 |   Mukherjee |  25000
 239456 | 0.07 |     20 | Shahrukh |    Manager | 2004-01-03 |        Khan |  30000
 742866 |  0.1 |     10 |  Amitabh |  Executive | 2003-03-10 |     Bacchan |  50000
 997445 | 0.02 |     30 | Jagmohan |      Clerk | 2001-07-01 |      Dalmia |  12000
 822134 | 0.08 |     30 |    Rahul | Sr Manager | 2000-06-04 |      Dravid |  40000
 299034 | 0.11 |     10 |    Rekha |   Director | 2002-10-10 |     Ganesan |  60000

(12 rows)

In [59]:
rows = session.execute("SELECT * from emp where jobdesc = 'Cus_Rep'")
for row in rows:
        print(row)
        LastName = row.lastname
        FirstName = row.firsname
        print(LastName, FirstName)

InvalidRequest: ignored

In [ ]:
#Create index IndexName on KeyspaceName.TableName(ColumnName);
!cqlsh -k praxis -e "create index IndexName on emp (jobdesc);"

In [ ]:
rows = session.execute("SELECT * from emp where jobdesc = 'Cus_Rep'")
for row in rows:
        print(row)
        LastName = row.lastname
        FirstName = row.firsname
        print(LastName, FirstName)
        #emails2 = list(emails)
        #for im in emails2:
        #    print(im)

InvalidRequest: ignored

In [ ]:
rows = session.execute("SELECT * from emp where jobdesc like '%Manager%'")
for row in rows:
        print(row)
        LastName = row.lastname
        FirstName = row.firsname
        print(LastName, FirstName)
        #emails2 = list(emails)
        #for im in emails2:
        #    print(im)

InvalidRequest: ignored

In [ ]:
!cqlsh -k praxis -e "\
CREATE CUSTOM INDEX  fn_prefix ON emp (jobdesc) USING 'org.apache.cassandra.index.sasi.SASIIndex';\
"

<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="SASI indexes are disabled. Enable in cassandra.yaml to use."

In [60]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2023-01-08 12:37:49.557921+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)