<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/Parquet_Files_Superstore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

In [1]:
from datetime import datetime
import pytz
print('ॐ श्री सरस्वत्यै नमः',datetime.now(pytz.timezone('Asia/Calcutta')))
!python --version
!lsb_release -a

ॐ श्री सरस्वत्यै नमः 2023-09-12 05:50:24.670424+05:30
Python 3.10.12
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.2 LTS
Release:	22.04
Codename:	jammy

For a more detailed exploration of Pivot Tables please look at this [Notebook : Analysis of Retail Sales Data](https://github.com/Praxis-QR/PythonForManagers/blob/main/Retail_Sales_Data_Analysis.ipynb)

#SuperStore Data
Super Store Order Data https://drive.google.com/file/d/13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ/view?usp=sharing <br>
Original Data from [Tableau](https://community.tableau.com/docs/DOC-1236)

In [1]:
#!wget -O SS_Orders2.csv 'https://drive.google.com/uc?export=download&id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ'
#!gdown https://drive.google.com/uc?id=13MKOpo8iD-tMkeMLw-4IPFi5-xWhmqFZ
#!wget -q -O Orders.csv 'https://raw.githubusercontent.com/Praxis-QR/RDWH/main/data/SS_Orders.csv'
!wget -q -O BigOrders.zip 'https://github.com/Praxis-QR/PythonForManagers/raw/main/Data/SuperStoreSalesKaggle.zip'

In [3]:
#!tail Orders.csv

#Read CSV into Pandas Dataframe

In [4]:
import numpy as np
import pandas as pd

In [5]:
#df = pd.read_csv('Orders.csv', delimiter = ',')
df = pd.read_csv('BigOrders.zip', delimiter = ',')
#df.head(2)

In [6]:
df.info()
#df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  object
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 8.2+ MB

##Comma, Double Quotes look good

In [7]:
#df.iloc[9993]['Product Name']
df.iloc[9993]['product_name']

'Boston Canvas, Water Color'

In [8]:
#df.iloc[9992]['Product Name']
df.iloc[9992]['product_name']

'Hon Racetrack Conference Tables'

In [9]:
#
# df.sales has been automatically interpreted as string because of the presence of commma,
# so replace comma and convert to numeric
#

df['sales'] = df['sales'].str.replace(',', '')    # replace , with blank
df['sales'] = pd.to_numeric(df['sales'])          # convert column "a" of a DataFrame

##Date looks Bad, need to be fixed

In [10]:
# what is the first and last order date ?
# we have four years of data, but date format changes ...
#df['Order Date'].describe
df['order_date'].describe
#df['ship_date'].describe

<bound method NDFrame.describe of 0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    31-12-2014
51286    31-12-2014
51287    31-12-2014
51288    31-12-2014
51289    31-12-2014
Name: order_date, Length: 51290, dtype: object>

In [11]:
# Some of the dates are string like dd/mm/yyyy while others are dd-mm-yyyy
# this will cause problems in converting string to real dates
# So we move all dd-mm-yyyy to dd/mm/yyyy -- could have been the other way round also
#
#df['Order Date'] = df['Order Date'].str.replace('-','/')
#df['Ship Date'] = df['Ship Date'].str.replace('-','/')

df['order_date'] = df['order_date'].str.replace('-','/')
df['ship_date'] = df['ship_date'].str.replace('-','/')

In [12]:
# convert all dates to dd/mm/yyyy format
#
df['ship_date'] = pd.to_datetime(df['ship_date'],format='%d/%m/%Y')
df['order_date'] = pd.to_datetime(df['order_date'],format='%d/%m/%Y')
#df['order_date'].describe

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  int64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 8.2+ MB

In [14]:
df.to_csv('Orders2.csv', index=False)

#Pandas Dataframe to Parquet Format
Ref https://mungingdata.com/pyarrow/parquet-metadata-min-max-statistics/

In [15]:
df.to_parquet('Orders2.parquet')

In [17]:
# Note that parquet files are much smaller
#!ls -al Orders2.*
!ls -al

total 14404
drwxr-xr-x 1 root root     4096 Sep 12 02:12 .
drwxr-xr-x 1 root root     4096 Sep 12 02:09 ..
-rw-r--r-- 1 root root  2283831 Sep 12 02:11 BigOrders.zip
drwxr-xr-x 4 root root     4096 Sep  8 13:23 .config
-rw-r--r-- 1 root root 10865023 Sep 12 02:12 Orders2.csv
-rw-r--r-- 1 root root  1578615 Sep 12 02:12 Orders2.parquet
drwxr-xr-x 1 root root     4096 Sep  8 13:24 sample_data

In [18]:
import pyarrow.csv as pv
import pyarrow.parquet as pq

In [19]:
pf = pq.ParquetFile('Orders2.parquet')

In [20]:
pf.metadata

<pyarrow._parquet.FileMetaData object at 0x7a33c1ebd8f0>
  created_by: parquet-cpp-arrow version 9.0.0
  num_columns: 21
  num_rows: 51290
  num_row_groups: 1
  format_version: 2.6
  serialized_size: 10836

In [21]:
pf.metadata.row_group(0)

<pyarrow._parquet.RowGroupMetaData object at 0x7a33c1f0dd00>
  num_columns: 21
  num_rows: 51290
  total_byte_size: 2104669

In [22]:
pf.metadata.row_group(0).column(1)

<pyarrow._parquet.ColumnChunkMetaData object at 0x7a33c1f153a0>
  file_offset: 310458
  file_path:
  physical_type: INT64
  num_values: 51290
  path_in_schema: order_date
  is_stats_set: True
  statistics:
    <pyarrow._parquet.Statistics object at 0x7a33c1f15440>
      has_min_max: True
      min: 2011-01-01 00:00:00
      max: 2014-12-31 00:00:00
      null_count: 0
      distinct_count: 0
      num_values: 51290
      physical_type: INT64
      logical_type: Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false)
      converted_type (legacy): NONE
  compression: SNAPPY
  encodings: ('RLE_DICTIONARY', 'PLAIN', 'RLE')
  has_dictionary_page: True
  dictionary_page_offset: 294520
  data_page_offset: 304575
  total_compressed_size: 15938
  total_uncompressed_size: 17356

In [23]:
pf.metadata.row_group(0).column(20)

<pyarrow._parquet.ColumnChunkMetaData object at 0x7a33c1f157b0>
  file_offset: 1567667
  file_path:
  physical_type: INT64
  num_values: 51290
  path_in_schema: year
  is_stats_set: True
  statistics:
    <pyarrow._parquet.Statistics object at 0x7a33c1f149f0>
      has_min_max: True
      min: 2011
      max: 2014
      null_count: 0
      distinct_count: 0
      num_values: 51290
      physical_type: INT64
      logical_type: None
      converted_type (legacy): NONE
  compression: SNAPPY
  encodings: ('RLE_DICTIONARY', 'PLAIN', 'RLE')
  has_dictionary_page: True
  dictionary_page_offset: 1567535
  data_page_offset: 1567577
  total_compressed_size: 132
  total_uncompressed_size: 134

#Parquet to Pandas Dataframe

In [24]:
dfFull = pd.read_parquet('Orders2.parquet')
dfFull.head(2)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011

In [26]:
#selCols = ['Order ID','Order Date','Segment','Region','Category','Sales','Quantity','Profit']
selCols = ['order_id','order_date','segment','region','category','sales','quantity','profit','year']
dfSelect = pd.read_parquet('Orders2.parquet', columns=selCols)
dfSelect.head(2)

,order_id,order_date,segment,region,category,sales,quantity,profit,year
0,AG-2011-2040,2011-01-01,Consumer,Africa,Office Supplies,408,2,106.140,2011
1,IN-2011-47883,2011-01-01,Consumer,Oceania,Office Supplies,120,3,36.036,2011

In [27]:
dfSelect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    51290 non-null  object
 1   order_date  51290 non-null  datetime64[ns]
 2   segment     51290 non-null  object
 3   region      51290 non-null  object
 4   category    51290 non-null  object
 5   sales       51290 non-null  int64
 6   quantity    51290 non-null  int64
 7   profit      51290 non-null  float64
 8   year        51290 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 3.5+ MB

#PyArrow

In [28]:
import pyarrow.csv as pv
import pyarrow.parquet as pq

In [29]:
table = pv.read_csv('Orders2.csv')

In [30]:
table_df = table.to_pandas()
table_df.head(2)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011

In [31]:
# Date is still not clean
table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  int64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(3), object(15)
memory usage: 8.2+ MB

In [32]:
# convert all dates to dd/mm/yyyy format
#
#df['ship_date'] = pd.to_datetime(df['ship_date']).dt.strftime('%d/%m/%Y')
#df['order_date'] = pd.to_datetime(df['order_date']).dt.strftime('%d/%m/%Y')
#
#table_df['Ship Date'] = pd.to_datetime(table_df['Ship Date'],format='%Y-%m-%d')
#table_df['Order Date'] = pd.to_datetime(table_df['Order Date'],format='%Y-%m-%d')

table_df['ship_date'] = pd.to_datetime(table_df['ship_date'],format='%Y-%m-%d')
table_df['order_date'] = pd.to_datetime(table_df['order_date'],format='%Y-%m-%d')

In [33]:
table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  int64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 8.2+ MB

In [35]:
df5A = pd.read_csv('Orders2.csv')
#df9.dtypes
df5A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  int64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(3), object(15)
memory usage: 8.2+ MB

In [36]:
df5B = pd.read_parquet('Orders2.parquet')
#df9.dtypes
df5B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  int64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 8.2+ MB

#Spark
https://davidadrian.cc/python-hadoop/

In [38]:
!pip3 -q install pyspark
from pyspark.sql import SparkSession
#spark9 = SparkSession.builder.master("local[*]").getOrCreate()
# note UI port switched from default 4040 to 4050 to avoid clash with ngrok
spark9 = SparkSession.builder.master("local[*]").config('spark.ui.port', '4050').getOrCreate()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
#pdfSS.to_csv('SS_Orders_Clean2.csv')

In [39]:
!tail Orders2.csv
#!tail Orders2.parquet --- unreadable

TZ-2014-8220,2014-12-31,2015-01-06,Standard Class,Christine Kargatis,Home Office,Dar Es Salaam,Tanzania,Africa,Africa,OFF-HAR-10001531,Office Supplies,Labels,"Harbour Creations Removable Labels, Adjustable",50,6,0.0,6.84,2.15,Medium,2014
CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,OFF-BI-10004632,Office Supplies,Binders,GBC Binding covers,21,2,0.2,6.475,2.06,Medium,2014
UP-2014-4410,2014-12-31,2015-01-04,Standard Class,Guy Thornton,Consumer,Zaporizhzhya,Ukraine,EMEA,EMEA,OFF-AVE-10003558,Office Supplies,Labels,"Avery Round Labels, Alphabetical",28,4,0.0,6.12,1.7,Medium,2014
IN-2014-23754,2014-12-31,2015-01-07,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,OFF-PA-10004727,Office Supplies,Paper,"Eaton Note Cards, 8.5 x 11",79,3,0.0,25.38,1.41,Medium,2014
MX-2014-108574,2014-12-31,2015-01-04,Standard Class,Julia Barnett,Home Office,Tamaulipas,Mexico,LATAM,North,OFF-LA-10004969,Office Supplies,Labels,"Novimex Legal Exhibit Labels, Adjustable",17,3,0.0,0.66,1.32,Medium,2014
CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,OFF-WIL-10001069,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.42,0.49,Medium,2014
MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,OFF-LA-10004182,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.36,0.35,Medium,2014
MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,OFF-LA-10000413,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.56,0.2,Medium,2014
CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [40]:
#Inferred INCORRECTLY, from CSV file
sdf9A = spark9.read.csv('Orders2.csv', inferSchema=True,header = True, quote = '"')
sdf9A.dtypes

[('order_id', 'string'),
 ('order_date', 'date'),
 ('ship_date', 'date'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'string'),
 ('quantity', 'string'),
 ('discount', 'string'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'string')]

In [41]:
#Inferred CORRECTLY, from parquet file
sdf9B = spark9.read.parquet('Orders2.parquet', inferSchema=True,header = True, quote = '"')
sdf9B.dtypes

[('order_id', 'string'),
 ('order_date', 'timestamp_ntz'),
 ('ship_date', 'timestamp_ntz'),
 ('ship_mode', 'string'),
 ('customer_name', 'string'),
 ('segment', 'string'),
 ('state', 'string'),
 ('country', 'string'),
 ('market', 'string'),
 ('region', 'string'),
 ('product_id', 'string'),
 ('category', 'string'),
 ('sub_category', 'string'),
 ('product_name', 'string'),
 ('sales', 'bigint'),
 ('quantity', 'bigint'),
 ('discount', 'double'),
 ('profit', 'double'),
 ('shipping_cost', 'double'),
 ('order_priority', 'string'),
 ('year', 'bigint')]

In [42]:
#selCols = ['Order ID','Order Date','Segment','Region','Category','Sales','Quantity','Profit']
selCols = ['order_id','order_date','segment','region','category','sales','quantity','profit','year']
#df9C = spark9.read.parquet('Orders2.parquet',inferSchema=True,header = True, quote = '"').select('Order ID','Order Date','Segment','Region','Category','Sales','Quantity','Profit')
sdf9C = spark9.read.parquet('Orders2.parquet',inferSchema=True,header = True, quote = '"').select(selCols)
#df9.dtypes
sdf9C.dtypes

[('order_id', 'string'),
 ('order_date', 'timestamp_ntz'),
 ('segment', 'string'),
 ('region', 'string'),
 ('category', 'string'),
 ('sales', 'bigint'),
 ('quantity', 'bigint'),
 ('profit', 'double'),
 ('year', 'bigint')]

In [ ]:
#we remove the CRLF character from the end of the row if it exists
!sed 's/\r//g' /content/SS_Orders_Clean.csv > SSdatafile.csv
# remove the first line containing headers from the file
#!sed -i -e "1d" datafile.csv
!head SSdatafile.csv

Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,3,0.0,219.582
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.62,2,0.0,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,"Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood",48.86,7,0.0,14.1694
7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0.0,1.9656
8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by Samsill,18.504,3,0.2,5.7825

In [ ]:
# remove , and " from data
import pandas as pd
p_df = pd.read_csv('SSdatafile.csv')
#p_df = pd.read_csv('datafile.csv')
p_df2 = p_df.replace(',', ' ', regex=True)
p_df3 = p_df2.replace('"', '', regex=True)
p_df3.to_csv('SSdatafile2.csv',index=False,sep=',')
!head SSdatafile2.csv

Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs  Rounded Back,731.94,3,0.0,219.582
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.62,2,0.0,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Accessories  Cherry Wood,48.86,7,0.0,14.1694
7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0.0,1.9656
8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by Samsill,18.504,3,0.2,5.7825

In [ ]:
data_file = 'SSdatafile2.csv'
sdfSS2 = spark9.read.csv(data_file,inferSchema=True, header=True)
sdfSS2.dtypes

[('Row ID', 'int'),
 ('Order ID', 'string'),
 ('Order Date', 'date'),
 ('Ship Date', 'date'),
 ('Ship Mode', 'string'),
 ('Customer ID', 'string'),
 ('Customer Name', 'string'),
 ('Segment', 'string'),
 ('Country', 'string'),
 ('City', 'string'),
 ('State', 'string'),
 ('Postal Code', 'int'),
 ('Region', 'string'),
 ('Product ID', 'string'),
 ('Category', 'string'),
 ('Sub-Category', 'string'),
 ('Product Name', 'string'),
 ('Sales', 'double'),
 ('Quantity', 'int'),
 ('Discount', 'double'),
 ('Profit', 'double')]

##Spark SQL

In [43]:
spark9.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [44]:
#air_quality_sdf.createOrReplaceTempView("air_quality_sdf")
sdf9C.createOrReplaceTempView("orders_temp")

In [45]:
spark9.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |orders_temp|       true|
+---------+-----------+-----------+

In [46]:
spark9.sql('select * from Orders_Temp limit 5').show()

+---------------+-------------------+-----------+-------+---------------+-----+--------+-------+----+
|       order_id|         order_date|    segment| region|       category|sales|quantity| profit|year|
+---------------+-------------------+-----------+-------+---------------+-----+--------+-------+----+
|   AG-2011-2040|2011-01-01 00:00:00|   Consumer| Africa|Office Supplies|  408|       2| 106.14|2011|
|  IN-2011-47883|2011-01-01 00:00:00|   Consumer|Oceania|Office Supplies|  120|       3| 36.036|2011|
|   HU-2011-1220|2011-01-01 00:00:00|   Consumer|   EMEA|Office Supplies|   66|       4|  29.64|2011|
|IT-2011-3647632|2011-01-01 00:00:00|Home Office|  North|Office Supplies|   45|       3|-26.055|2011|
|  IN-2011-47883|2011-01-01 00:00:00|   Consumer|Oceania|      Furniture|  114|       5|  37.77|2011|
+---------------+-------------------+-----------+-------+---------------+-----+--------+-------+----+

In [48]:
sql_drop_table = """
drop table if exists praxisdb.orders_sparkhive
"""

sql_drop_database = """
drop database if exists praxisdb cascade
"""

sql_create_database = """
create database if not exists praxisdb
location '/content/praxisdb/'
"""

sql_create_table = """
create table if not exists praxisdb.orders_sparkhive
using parquet
as select  * from Orders_Temp
"""

#as select to_timestamp(date) as date_parsed, *

print("dropping database...")
result_drop_db = spark9.sql(sql_drop_database)

print("creating database...")
result_create_db = spark9.sql(sql_create_database)

print("dropping table...")
result_droptable = spark9.sql(sql_drop_table)

print("creating table...")
result_create_table = spark9.sql(sql_create_table)

dropping database...
creating database...
dropping table...
creating table...

In [49]:
spark9.sql("select * from praxisdb.orders_sparkhive").show(5)
#.select("date_parsed", "O_3").show(5)

+---------------+-------------------+-----------+-------+---------------+-----+--------+-------+----+
|       order_id|         order_date|    segment| region|       category|sales|quantity| profit|year|
+---------------+-------------------+-----------+-------+---------------+-----+--------+-------+----+
|   AG-2011-2040|2011-01-01 00:00:00|   Consumer| Africa|Office Supplies|  408|       2| 106.14|2011|
|  IN-2011-47883|2011-01-01 00:00:00|   Consumer|Oceania|Office Supplies|  120|       3| 36.036|2011|
|   HU-2011-1220|2011-01-01 00:00:00|   Consumer|   EMEA|Office Supplies|   66|       4|  29.64|2011|
|IT-2011-3647632|2011-01-01 00:00:00|Home Office|  North|Office Supplies|   45|       3|-26.055|2011|
|  IN-2011-47883|2011-01-01 00:00:00|   Consumer|Oceania|      Furniture|  114|       5|  37.77|2011|
+---------------+-------------------+-----------+-------+---------------+-----+--------+-------+----+
only showing top 5 rows

In [50]:
spark9.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |orders_temp|       true|
+---------+-----------+-----------+

In [51]:
spark9.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
| praxisdb|
+---------+

In [52]:
spark9.sql("use praxisdb").show()

++
||
++
++

In [53]:
spark9.sql("show tables").show()

+---------+----------------+-----------+
|namespace|       tableName|isTemporary|
+---------+----------------+-----------+
| praxisdb|orders_sparkhive|      false|
|         |     orders_temp|       true|
+---------+----------------+-----------+

##CrossTab

###Inner Query

In [55]:
sums_df = spark9.sql("""
    SELECT
        Segment,
        SUM(IF(Region='Central',Sales,0)) As Central,
        SUM(IF(Region='East',Sales,0)) As East,
        SUM(IF(Region='West',Sales,0)) As West,
        SUM(IF(Region='South',Sales,0)) As South
    FROM praxisdb.orders_sparkhive
        GROUP BY Segment WITH ROLLUP
""")
sums_df.show()

+-----------+-------+------+------+-------+
|    Segment|Central|  East|  West|  South|
+-----------+-------+------+------+-------+
|Home Office| 491961|127465|136736| 280016|
|  Corporate| 850405|200422|225870| 496029|
|       null|2822399|678834|725514|1600960|
|   Consumer|1480033|350947|362908| 824915|
+-----------+-------+------+------+-------+

###Outer Query

In [57]:
#sums_df.registerTempTable("sums")
sums_df.createOrReplaceTempView("sums_T")
#CrossTab = sqlContext.sql("""
CrossTab = spark9.sql("""
 SELECT
  IFNULL(Segment,'#Totals') Dims,
  sums_t.Central, sums_t.East, sums_t.West,sums_t.South,
  sums_t.Central + sums_t.East + sums_t.West + sums_t.South Totals
FROM sums_t
order by Dims desc
""")
CrossTab.show()

+-----------+-------+------+------+-------+-------+
|       Dims|Central|  East|  West|  South| Totals|
+-----------+-------+------+------+-------+-------+
|Home Office| 491961|127465|136736| 280016|1036178|
|  Corporate| 850405|200422|225870| 496029|1772726|
|   Consumer|1480033|350947|362908| 824915|3018803|
|    #Totals|2822399|678834|725514|1600960|5827707|
+-----------+-------+------+------+-------+-------+

###Using Subquery

In [58]:
CrossTab2 = spark9.sql("""
 SELECT
  IFNULL(Segment,'#Totals') Dims,
  sums_t.Central, sums_t.East, sums_t.West,sums_t.South,
  sums_t.Central + sums_t.East + sums_t.West + sums_t.South Totals
FROM (
SELECT
        Segment,
        SUM(IF(Region='Central',Sales,0)) As Central,
        SUM(IF(Region='East',Sales,0)) As East,
        SUM(IF(Region='West',Sales,0)) As West,
        SUM(IF(Region='South',Sales,0)) As South
    FROM praxisdb.orders_sparkhive
        GROUP BY Segment WITH ROLLUP
    )
as sums_t
order by Dims desc
""")
CrossTab2.show()

+-----------+-------+------+------+-------+-------+
|       Dims|Central|  East|  West|  South| Totals|
+-----------+-------+------+------+-------+-------+
|Home Office| 491961|127465|136736| 280016|1036178|
|  Corporate| 850405|200422|225870| 496029|1772726|
|   Consumer|1480033|350947|362908| 824915|3018803|
|    #Totals|2822399|678834|725514|1600960|5827707|
+-----------+-------+------+------+-------+-------+

##Parquet to Pandas again

In [59]:
!ls /content/praxisdb/orders_sparkhive

part-00000-b9d23469-9cbe-48a3-aa19-12cafc673758-c000.snappy.parquet  _SUCCESS

In [60]:
df7 = pd.read_parquet('/content/praxisdb/orders_sparkhive/part-00000-b9d23469-9cbe-48a3-aa19-12cafc673758-c000.snappy.parquet')
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    51290 non-null  object
 1   order_date  51290 non-null  datetime64[ns]
 2   segment     51290 non-null  object
 3   region      51290 non-null  object
 4   category    51290 non-null  object
 5   sales       51290 non-null  int64
 6   quantity    51290 non-null  int64
 7   profit      51290 non-null  float64
 8   year        51290 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 3.5+ MB

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself.
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)