<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/Spark_RDD_Climate_Trace_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/YantraJaalBanner.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

Apache Spark: An Introduction
https://www.dataquest.io/blog/apache-spark/

#Get Data

In [5]:
# Climate Trace Data stored in github
!wget -O firesData.csv -q  'https://github.com/Praxis-QR/BDSN/raw/main/Data2/cropland-fires_country_emissions.csv'
!wget -O feedData.csv -q  'https://github.com/Praxis-QR/BDSN/raw/main/Data2/enteric-fermentation-cattle-feedlot_country_emissions.csv'
!wget -O pastureData.csv -q  'https://github.com/Praxis-QR/BDSN/raw/main/Data2/enteric-fermentation-cattle-pasture_country_emissions.csv'

# Setup

## Install

In [2]:
!pip3 -q install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [8]:
baseData = sc.textFile("/content/*.csv")
baseData.take(5)

['iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date',
 'AND,2019-01-01 00:00:00,2019-12-31 00:00:00,cropland-fires,co2e_100yr,94.5674014716331,tonnes,annual,2023-10-06 00:00:00,',
 'AND,2019-01-01 00:00:00,2019-12-31 00:00:00,cropland-fires,co2e_20yr,103.08083034790656,tonnes,annual,2023-10-06 00:00:00,',
 'ARE,2019-01-01 00:00:00,2019-12-31 00:00:00,cropland-fires,co2,9013.33384477539,tonnes,annual,2023-10-06 00:00:00,',
 'ARE,2019-01-01 00:00:00,2019-12-31 00:00:00,cropland-fires,ch4,16.0633661376748,tonnes,annual,2023-10-06 00:00:00,']

In [9]:
baseData.count()

33284

# Daily Show

In [ ]:
#
# non Pythonic, non Spark of doing things
#
import csv

f = open('daily_show_guests.csv')
tally_D = dict()
for line in f:
    data_line = line.split(',')
    year = data_line[0]
    if year in tally_D.keys():
       tally_D[year] = tally_D[year] + 1
    else:
       tally_D[year] = 1

print(tally_D)

{'YEAR': 1, '1999': 166, '2000': 169, '2001': 157, '2002': 159, '2003': 166, '2004': 164, '2005': 162, '2006': 161, '2007': 141, '2008': 164, '2009': 163, '2010': 165, '2011': 163, '2012': 164, '2013': 166, '2014': 163, '2015': 100}

## Introducing Spark

In [ ]:
daily_show = raw_data.map(lambda line: line.split(','))
daily_show.take(5)

[['YEAR', 'GoogleKnowlege_Occupation', 'Show', 'Group', 'Raw_Guest_List'],
 ['1999', 'actor', '1/11/99', 'Acting', 'Michael J. Fox'],
 ['1999', 'Comedian', '1/12/99', 'Comedy', 'Sandra Bernhard'],
 ['1999', 'television actress', '1/13/99', 'Acting', 'Tracey Ullman'],
 ['1999', 'film actress', '1/14/99', 'Acting', 'Gillian Anderson']]

In [ ]:
tallyMap = daily_show.map(lambda x: (x[0], 1))
tallyMap.take(5)

[('YEAR', 1), ('1999', 1), ('1999', 1), ('1999', 1), ('1999', 1)]

In [ ]:
tallyRed = tallyMap.reduceByKey(lambda x,y: x+y)
tallyRed.take(5)

[('YEAR', 1), ('2002', 159), ('2003', 166), ('2004', 164), ('2007', 141)]

In [ ]:
tally = daily_show.map(lambda x: (x[0], 1)).reduceByKey(lambda x,y: x+y)
print(tally)

PythonRDD[14] at RDD at PythonRDD.scala:53

In [ ]:
tally.count()

18

In [ ]:
tally.take(tally.count())

[('YEAR', 1),
 ('2002', 159),
 ('2003', 166),
 ('2004', 164),
 ('2007', 141),
 ('2010', 165),
 ('2011', 163),
 ('2012', 164),
 ('2013', 166),
 ('2014', 163),
 ('2015', 100),
 ('1999', 166),
 ('2000', 169),
 ('2001', 157),
 ('2005', 162),
 ('2006', 161),
 ('2008', 164),
 ('2009', 163)]

In [ ]:
def filter_year(line):
    if line[0] == 'YEAR':
        return False
    else:
        return True
filtered_daily_show = daily_show.filter(lambda line: filter_year(line))

In [ ]:
tally2 = filtered_daily_show.map(lambda x: (x[0], 1)).reduceByKey(lambda x,y: x+y)
print(tally2)

PythonRDD[23] at RDD at PythonRDD.scala:53

In [ ]:
tally2.take(tally2.count())

[('2002', 159),
 ('2003', 166),
 ('2004', 164),
 ('2007', 141),
 ('2010', 165),
 ('2011', 163),
 ('2012', 164),
 ('2013', 166),
 ('2014', 163),
 ('2015', 100),
 ('1999', 166),
 ('2000', 169),
 ('2001', 157),
 ('2005', 162),
 ('2006', 161),
 ('2008', 164),
 ('2009', 163)]

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .take(20)

[('actor', 596),
 ('film actress', 21),
 ('model', 9),
 ('stand-up comedian', 44),
 ('actress', 271),
 ('television personality', 13),
 ('comic', 2),
 ('musician', 19),
 ('film actor', 19),
 ('journalist', 253),
 ('us senator', 50),
 ('vocalist', 2),
 ('film director', 24),
 ('singer', 23),
 ('muppet', 2),
 ('american television personality', 3),
 ('rapper', 10),
 ('football player', 1),
 ('former mayor of cincinatti', 2),
 ('businesswoman', 2)]

## Extra Sorting

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .take(20)

[('actor', 596),
 ('film actress', 21),
 ('model', 9),
 ('stand-up comedian', 44),
 ('actress', 271),
 ('television personality', 13),
 ('comic', 2),
 ('musician', 19),
 ('film actor', 19),
 ('journalist', 253),
 ('us senator', 50),
 ('vocalist', 2),
 ('film director', 24),
 ('singer', 23),
 ('muppet', 2),
 ('american television personality', 3),
 ('rapper', 10),
 ('football player', 1),
 ('former mayor of cincinatti', 2),
 ('businesswoman', 2)]

In [ ]:
#sorted by profession
#not sorted by number of appearances
# in sortbykey, 1st parameter determines direction of sort, second parameter is optional)
# in sortbykey, 2nd parameter determines number of partition in output RDD
# see next two cells
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortByKey(0, 1) \
                   .take(20)

[('writer', 52),
 ('white house sommunications director', 5),
 ('white house official', 1),
 ('vocalist', 2),
 ('vice president', 2),
 ('us senator', 50),
 ('us secretary of energy', 1),
 ('us secretary of defense', 1),
 ('us secetary of education', 1),
 ('us representative', 9),
 ('us president', 10),
 ('us permanent representative to nato', 1),
 ('us official', 1),
 ('us assistant attorney', 1),
 ('university professor', 2),
 ('united states senator', 15),
 ('united states senate member', 4),
 ('united states secretary of the navy', 1),
 ('united states secretary of housing and urban development', 1),
 ('united states secretary of defense', 1)]

In [ ]:
#sorted by profession
#not sorted by number of appearances
# in sortbykey, 1st parameter determines direction of sort, second parameter is optional)
# in sortbykey, 2nd parameter determines number of partition in output RDD
# see next two cells
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortByKey(1, 1) \
                   .take(20)

[('-', 1),
 ('0', 4),
 ('academic', 6),
 ('accountant', 1),
 ('activist', 14),
 ('actor', 596),
 ('actress', 271),
 ('administrator', 1),
 ('admiral', 2),
 ('adviser', 4),
 ('advocate', 1),
 ('aei president', 1),
 ('afghan politician', 1),
 ('american football quarterback', 3),
 ('american football running back', 1),
 ('american football wide receiver', 2),
 ('american football wide reciever', 1),
 ('american political figure', 2),
 ('american politician', 8),
 ('american television personality', 3)]

In [ ]:
!rm -r dumpDir
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortByKey(0,2)\
                   .saveAsTextFile("dumpDir")

rm: cannot remove 'dumpDir': No such file or directory

In [ ]:
# The original output
#
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .take(10)

[('actor', 596),
 ('film actress', 21),
 ('model', 9),
 ('stand-up comedian', 44),
 ('actress', 271),
 ('television personality', 13),
 ('comic', 2),
 ('musician', 19),
 ('film actor', 19),
 ('journalist', 253)]

In [ ]:
# Flip the key and value
#
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .map(lambda x: (x[1],x[0]))\
                   .take(10)

[(596, 'actor'),
 (21, 'film actress'),
 (9, 'model'),
 (44, 'stand-up comedian'),
 (271, 'actress'),
 (13, 'television personality'),
 (2, 'comic'),
 (19, 'musician'),
 (19, 'film actor'),
 (253, 'journalist')]

In [ ]:
# Flip the key and value
#
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .map(lambda x: (x[1],x[0]))\
                   .sortByKey(0, 1) \
                   .take(10)

[(596, 'actor'),
 (271, 'actress'),
 (253, 'journalist'),
 (152, 'author'),
 (103, 'comedian'),
 (52, 'writer'),
 (50, 'us senator'),
 (44, 'stand-up comedian'),
 (39, 'television host'),
 (37, 'professor')]

In [ ]:
#to sort by number of appearances, we first need to flip the key and value
#

# sort 1st arg configures ascending sort, 2nd configures 1 task
# https://stackoverflow.com/questions/38569052/how-do-i-invert-key-and-value-in-rdd-in-python-3-pyspark

filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .map(lambda x: (x[1],x[0]))\
                   .sortByKey(0, 1) \
                   .map(lambda x: (x[1],x[0])) \
                   .take(10)

[('actor', 596),
 ('actress', 271),
 ('journalist', 253),
 ('author', 152),
 ('comedian', 103),
 ('writer', 52),
 ('us senator', 50),
 ('stand-up comedian', 44),
 ('television host', 39),
 ('professor', 37)]

In [ ]:
topTen = \
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .map(lambda x: (x[1],x[0]))\
                   .sortByKey(0, 1) \
                   .map(lambda x: (x[1],x[0])) \
                   .take(10)

In [ ]:
for t in topTen:
    print(t[0],t[1])

actor 596
actress 271
journalist 253
author 152
comedian 103
writer 52
us senator 50
stand-up comedian 44
television host 39
professor 37

#Other Sort Methods

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortBy(lambda x : -1*x[1])\
                   .take(10)

[('actor', 596),
 ('actress', 271),
 ('journalist', 253),
 ('author', 152),
 ('comedian', 103),
 ('writer', 52),
 ('us senator', 50),
 ('stand-up comedian', 44),
 ('television host', 39),
 ('professor', 37)]

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .takeOrdered(10, lambda aTuple:-1*aTuple[1])

[('actor', 596),
 ('actress', 271),
 ('journalist', 253),
 ('author', 152),
 ('comedian', 103),
 ('writer', 52),
 ('us senator', 50),
 ('stand-up comedian', 44),
 ('television host', 39),
 ('professor', 37)]

In [ ]:
from datetime import datetime
import pytz
print('signed off at  ',datetime.now(pytz.timezone('Asia/Kolkata')))

signed off at   2023-11-17 07:03:33.192292+05:30

#Chronobooks <br>
Two science fiction novels by Prithwis Mukerjee. A dystopian Earth. A technocratic society managed by artificial intelligence. Escape and epiphany on Mars. Can man and machine, carbon and silicon explore and escape into other dimensions of existence? An Indic perspective rooted in Advaita Vedanta and the Divine Feminine.  [More information](http://bit.ly/chronobooks) <br>
![alt text](https://github.com/Praxis-QR/RDWH/raw/main/images/CTCYFooter-1.png)